<div id="editprofile" class="col-sm-12">
    <div role="tabpanel">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <!-- <li role="presentation" class="active"><a href="#profile" aria-controls="home" role="tab" data-toggle="tab">Profile</a></li>
            <li role="presentation"><a href="#addresses" aria-controls="profile" role="tab" data-toggle="tab">Addresses</a></li>
            <li role="presentation"><a href="#payment" aria-controls="messages" role="tab" data-toggle="tab">Payment Options</a></li>
            <li role="presentation"><a href="#notifications" aria-controls="settings" role="tab" data-toggle="tab">Notifications</a></li>
            <li role="presentation"><a href="#changepassword" aria-controls="settings" role="tab" data-toggle="tab">Change Password</a></li> -->
            <li role="presentation"><a href="#orderhistory" aria-controls="settings" role="tab" data-toggle="tab">Order History</a></li>
            <!-- <li role="presentation"><a href="#closeaccount" aria-controls="settings" role="tab" data-toggle="tab">Close Account</a></li> -->
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="profile">
                <ng-include src="'/partials/account/profile.html'"/>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="addresses">
                <ng-include src="'/partials/account/addresses.html'"/>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="payment">
                <ng-include src="'/partials/account/payment.html'"/>
                <!-- <ng-include src="'/partials/checkout/payment.html'"/> -->
            </div>
            <div role="tabpanel" class="tab-pane fade" id="closeaccount">
                <ng-include src="'/partials/account/close-account.html'"/>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="orderhistory">
                <ng-include src="'/partials/account/orderhistory.html'"/>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="notifications">
                <ng-include src="'/partials/account/notifications.html'"/>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="changepassword">
                <ng-include src="'/partials/account/changepassword.html'"/>
            </div>
          </div><!-- End Tab panes -->

    </div><!--end tab panel-->
</div>

    <script type="text/javascript">
        $('.nav-tabs').on('click',function(e){
            e.preventDefault();
        })
    </script>
    
    
    <!-- <form name="" class="form-horizontal" role="form">
        <div class="form-group">
            <label for="firstName" class="col-md-3 control-label"><span ng-bind-html="'OS-NAME' | translate | unsafe"></span></label>
            <div class="col-sm-3" ng-class="{ 'has-error' : signInForm.firstName.$invalid && (signInForm.firstName.$touched || signInForm.firstName.$dirty) }">
              <input name="firstName" ng-pattern="/^[A-Za-z]'?[- a-zA-Z]+$/" ng-model="profile.firstName" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" class="form-control" id="firstName" placeholder="{{'CHECKOUT-FIRST-PLACEHOLDER' | translate | unsafe}}" required="isOnlineSponsoring" autofocus="" maxlength="40">
              <span ng-show="signInForm.firstName.$invalid && (signInForm.firstName.$touched || signInForm.firstName.$dirty)" class="help-block" ng-class="{ 'text-danger' : signInForm.firstName.$invalid }"><span ng-bind-html="'REQUIRE-FIRSTNAME-LENGTH' | translate | unsafe"></span></span>
            </div>

            <div class="col-sm-3" ng-class="{ 'has-error' : signInForm.lastName.$invalid && (signInForm.lastName.$dirty || signInForm.lastName.$touched) }">
              <input name="lastName" ng-pattern="/^[A-Za-z]'?[- a-zA-Z]+$/" ng-model="profile.lastName" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" class="form-control" id="lastName" placeholder="{{'CHECKOUT-LAST-PLACEHOLDER' | translate | unsafe}}" required="isOnlineSponsoring" maxlength="40">
              <span ng-show="signInForm.lastName.$invalid && (signInForm.lastName.$dirty || signInForm.lastName.$touched)" class="help-block" ng-class="{ 'text-danger' : signInForm.lastName.$invalid }"><span ng-bind-html="'REQUIRE-LASTNAME-LENGTH' | translate | unsafe"></span></span>
            </div>
        </div>


        <div class="form-group">
          <label for="loginEmail" class="col-md-3 control-label"><span ng-bind-html="'EMAIL_ADD' | translate | unsafe"></span></label>
          <div class="col-sm-6" ng-class="{ 'has-error' : signInForm.loginEmail.$invalid && (signInForm.loginEmail.$dirty || signInForm.loginEmail.$touched) }">
            <input name="loginEmail" ng-pattern="/[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/" ng-model="profile.email" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" type="email" class="form-control" id="loginEmail" placeholder="{{ 'EXAMPLE-EMAIL-PLACEHOLDER' | translate | unsafe }}" required>
            <span ng-show="signInForm.loginEmail.$invalid && (signInForm.loginEmail.$dirty || signInForm.loginEmail.$touched)" class="help-block" ng-class="{ 'text-danger' : signInForm.loginEmail.$invalid }">
              <span ng-bind-html="'REQUIRES-VALID-EMAIL-ADDRESS' | translate | unsafe"></span>.
            </span>
          </div>
        </div>





        <div class="form-group" ng-if="!isOnlineSponsoring">
          <label for="inputPassword3" class="col-md-3 control-label"><span ng-bind-html="'PASSWORD' | translate | unsafe"></span></label>
          <div class="col-sm-4" ng-class="{ 'has-error' : signInForm.loginPassword.$dirty && signInForm.loginPassword.$invalid }">
            <input name="loginPassword" ng-model="profile.loginPassword" type="password" class="form-control" id="inputPassword3" placeholder="{{ 'EXAMPLE-PASSWORD-PLACEHOLDER' | translate | unsafe }}" ng-minlength="8" minlength="8" required>
            <span ng-show="signInForm.loginPassword.$invalid && (signInForm.loginPassword.$touched || signInForm.loginPassword.$dirty)" class="help-block" ng-class="{ 'text-danger' : signInForm.loginPassword.$dirty && signInForm.loginPassword.$invalid }">
              <span ng-bind-html="'INVALID-PASSWORD-LENGTH' | translate | unsafe"></span>.
            </span>
          </div>
        </div>

        <div class="form-group" ng-if="!isOnlineSponsoring && profile.customerStatus !== 'existing'">
          <label for="inputPassword4" class="col-md-3 control-label"><span ng-bind-html="'PASSWORD_VERIFY' | translate | unsafe"></span></label>
          <div class="col-sm-4" ng-class="{ 'has-error' : signInForm.loginPasswordVerify.$invalid && (signInForm.loginPasswordVerify.$touched || signInForm.loginPasswordVerify.$dirty) }">
            <input name="loginPasswordVerify" ng-model="profile.loginPasswordVerify" type="password" class="form-control" id="inputPassword4" placeholder="{{ 'EXAMPLE-PASSWORD-PLACEHOLDER-VERIFY' | translate | unsafe }}" data-ui-validate="'$value == profile.loginPassword'" required>
            <span ng-show="signInForm.loginPasswordVerify.$invalid && (signInForm.loginPasswordVerify.$touched || signInForm.loginPasswordVerify.$dirty) && profile.loginPassword !== profile.loginPasswordVerify" class="help-block" ng-class="{ 'text-danger' : profile.loginPassword !== profile.loginPasswordVerify }">
              <span ng-bind-html="'PASSWORDS-DONT-MATCH' | translate | unsafe"></span>
            </span>
          </div>
        </div>




    </form> -->
    
    
    










<!-- <div id="signin" class="col-sm-12">

  <form name="signInForm" class="form-horizontal" role="form"> -->



    <!-- <div class="form-group" ng-if="profile.customerStatus == 'new' || isOnlineSponsoring">
      <label for="firstName" class="col-md-3 control-label"><span ng-bind-html="'OS-NAME' | translate | unsafe"></span></label>
      <div class="col-sm-3" ng-class="{ 'has-error' : signInForm.firstName.$invalid && (signInForm.firstName.$touched || signInForm.firstName.$dirty) }">
        <input name="firstName" ng-pattern="/^[A-Za-z]'?[- a-zA-Z]+$/" ng-model="profile.firstName" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" class="form-control" id="firstName" placeholder="{{'CHECKOUT-FIRST-PLACEHOLDER' | translate | unsafe}}" required="isOnlineSponsoring" autofocus="" maxlength="40">
        <span ng-show="signInForm.firstName.$invalid && (signInForm.firstName.$touched || signInForm.firstName.$dirty)" class="help-block" ng-class="{ 'text-danger' : signInForm.firstName.$invalid }"><span ng-bind-html="'REQUIRE-FIRSTNAME-LENGTH' | translate | unsafe"></span></span>
      </div>
      <div class="col-sm-3" ng-class="{ 'has-error' : signInForm.lastName.$invalid && (signInForm.lastName.$dirty || signInForm.lastName.$touched) }">
        <input name="lastName" ng-pattern="/^[A-Za-z]'?[- a-zA-Z]+$/" ng-model="profile.lastName" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" class="form-control" id="lastName" placeholder="{{'CHECKOUT-LAST-PLACEHOLDER' | translate | unsafe}}" required="isOnlineSponsoring" maxlength="40">
        <span ng-show="signInForm.lastName.$invalid && (signInForm.lastName.$dirty || signInForm.lastName.$touched)" class="help-block" ng-class="{ 'text-danger' : signInForm.lastName.$invalid }"><span ng-bind-html="'REQUIRE-LASTNAME-LENGTH' | translate | unsafe"></span></span>
      </div>
    </div> -->

    <!-- <div class="form-group">
      <label for="loginEmail" class="col-md-3 control-label"><span ng-bind-html="'EMAIL_ADD' | translate | unsafe"></span></label>
      <div class="col-sm-6" ng-class="{ 'has-error' : signInForm.loginEmail.$invalid && (signInForm.loginEmail.$dirty || signInForm.loginEmail.$touched) }">
        <input name="loginEmail" ng-pattern="/[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/" ng-model="profile.loginEmail" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" type="email" class="form-control" id="loginEmail" placeholder="{{ 'EXAMPLE-EMAIL-PLACEHOLDER' | translate | unsafe }}" required>
        <span ng-show="signInForm.loginEmail.$invalid && (signInForm.loginEmail.$dirty || signInForm.loginEmail.$touched)" class="help-block" ng-class="{ 'text-danger' : signInForm.loginEmail.$invalid }">
          <span ng-bind-html="'REQUIRES-VALID-EMAIL-ADDRESS' | translate | unsafe"></span>.
        </span>
      </div>
    </div> -->

    <!-- <div class="form-group" ng-if="isOnlineSponsoring">
      <label for="phoneNumber" class="col-md-3 control-label"><span ng-bind-html="'PHONE-NUMBER' | translate | unsafe"></span></label>
      <div class="col-sm-3" ng-class="{ 'has-error' :  signInForm.phoneNumber.$invalid && (signInForm.phoneNumber.$dirty || signInForm.phoneNumber.$touched) }">
        <input name="phoneNumber" type="tel" ui-mask="(999) 999-9999" ng-model="profile.phoneNumber" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" ng-minlength="13" class="form-control" id="phoneNumber" placeholder="(___) ___-____" required>
        <span ng-show="signInForm.phoneNumber.$invalid && (signInForm.phoneNumber.$dirty || signInForm.phoneNumber.$touched)" class="help-block" ng-class="{ 'text-danger' : signInForm.phoneNumber.$invalid && (signInForm.phoneNumber.$touched || signInForm.phoneNumber.$dirty) }"><span ng-bind-html="'INVALID-TELEPHONE-NUMBER' | translate | unsafe"></span>.</span>
      </div>
    </div> -->

    <!-- <div class="form-group" ng-if="!isOnlineSponsoring">
      <label for="inputPassword3" class="col-md-3 control-label"><span ng-bind-html="'PASSWORD' | translate | unsafe"></span></label>
      <div class="col-sm-4" ng-class="{ 'has-error' : signInForm.loginPassword.$dirty && signInForm.loginPassword.$invalid }">
        <input name="loginPassword" ng-model="profile.loginPassword" type="password" class="form-control" id="inputPassword3" placeholder="{{ 'EXAMPLE-PASSWORD-PLACEHOLDER' | translate | unsafe }}" ng-minlength="8" minlength="8" required>
        <span ng-show="signInForm.loginPassword.$invalid && (signInForm.loginPassword.$touched || signInForm.loginPassword.$dirty)" class="help-block" ng-class="{ 'text-danger' : signInForm.loginPassword.$dirty && signInForm.loginPassword.$invalid }">
          <span ng-bind-html="'INVALID-PASSWORD-LENGTH' | translate | unsafe"></span>.
        </span>
      </div>
    </div>

    <div class="form-group" ng-if="!isOnlineSponsoring && profile.customerStatus !== 'existing'">
      <label for="inputPassword4" class="col-md-3 control-label"><span ng-bind-html="'PASSWORD_VERIFY' | translate | unsafe"></span></label>
      <div class="col-sm-4" ng-class="{ 'has-error' : signInForm.loginPasswordVerify.$invalid && (signInForm.loginPasswordVerify.$touched || signInForm.loginPasswordVerify.$dirty) }">
        <input name="loginPasswordVerify" ng-model="profile.loginPasswordVerify" type="password" class="form-control" id="inputPassword4" placeholder="{{ 'EXAMPLE-PASSWORD-PLACEHOLDER-VERIFY' | translate | unsafe }}" data-ui-validate="'$value == profile.loginPassword'" required>
        <span ng-show="signInForm.loginPasswordVerify.$invalid && (signInForm.loginPasswordVerify.$touched || signInForm.loginPasswordVerify.$dirty) && profile.loginPassword !== profile.loginPasswordVerify" class="help-block" ng-class="{ 'text-danger' : profile.loginPassword !== profile.loginPasswordVerify }">
          <span ng-bind-html="'PASSWORDS-DONT-MATCH' | translate | unsafe"></span>
        </span>
      </div>
    </div> -->



    <!-- <div class="form-group" ng-if="!isOnlineSponsoring">
      <div class="col-md-offset-3 col-sm-9">
        <div class="row"><div class="col-sm-6"><hr></div></div>
        <p ng-if="profile.customerStatus == 'existing'"><a href="" ng-click="forgotPassword()"><span ng-bind-html="'I-FORGOT-MY-PASSWORD' | translate | unsafe"></span></a><br><br></p>
      </div>
    </div>

  </form>
</div> -->












<!-- <div class="col-sm-12">

<div class="col-md-offset-3">
  <h1 ng-show="session.client.creditCards && session.client.creditCards.length > 0">
    <span ng-bind-html="'TIT_PAY_OPTION' | translate |unsafe"></span>
    <span class="store-heading-description" ng-bind-html="'PAY_OPTION_DES' | translate | unsafe"></span>
  </h1>
  <h1 ng-show="!session.client.creditCards">
    <span ng-bind-html="'ENTER-PAYMENT-INFO' | translate | unsafe"></span>
    <span class="store-heading-description" ng-bind-html="'PAY_OPTION_DES' | translate | unsafe"></span>
  </h1>
</div>

<div class="col-md-offset-3" ng-if="profile.customerStatus=='existing'">
  <div class="row">

    <div class="col-xs-6 col-lg-4" ng-repeat="ccData in session.client.creditCards">
      <div class="checkout-card clearfix" ng-class="{active: ((ccData.id == profile.card.id) || profile.card.id == null)}">
        <span class="pull-left">{{ccData.name}}</span>
        <img class="pull-right img-responsive cardImg" src="/img/visa.png" ng-show="ccData.cardType=='Visa'">
        <img class="pull-right img-responsive cardImg" src="/img/mastercard.png" ng-show="ccData.cardType=='MasterCard'">
        <img class="pull-right img-responsive cardImg" src="/img/discover.png" ng-show="ccData.cardType=='Discover Card'">
        <img class="pull-right img-responsive cardImg" src="/img/americanexpress.png" ng-show="ccData.cardType=='American Express'">
        <p class="card-number">
          <span>&bull;&bull;&bull;&bull;</span>
          <span>&bull;&bull;&bull;&bull;</span>
          <span>&bull;&bull;&bull;&bull;</span>
          <span>{{ccData.lastFour|substr}}</span>
        </p>
        <p class="card-expiry pull-left">
          <small>EXP:</small>
          {{ccData.expMonth}}/{{ccData.expYear|substr:2:2}}
        </p>
        <button class="btn btn-primary pull-right card-use-btn" ng-disabled="processing" ng-click="selectCardAndContinue(ccData)">
          <span ng-bind-html="'SELECT-OPTION-BUTTON' | translate | unsafe"></span> <i class="fa fa-caret-right"></i>
        </button>
      </div>
      <div class="card-actions">
        <a ng-click="removeCreditCard(ccData.id)"><i class="fa fa-times-circle"></i> <span ng-bind-html="'Remove' | translate | unsafe"></span></a>
      </div>
    </div>

  </div>
</div>

<div class="row" ng-if="profile.customerStatus=='existing'">
  <div class="col-md-offset-3 col-lg-8">
    <hr>
    <h2 class=" "><span ng-bind-html="'ENTER-PAYMENT-INFORMATION' | translate | unsafe"></span></h2>
  </div>
</div>


</div> -->
