
<form name='forms.changePasswordForm' class='form-horizontal' role='form'>
  <div class='form-group'>
    <div class='col-sm-6'>
      <h1><span>Change Password</span></h1>
    </div>
  </div>
  <div class='form-group'>
    <div class='col-sm-6' ng-if='passwordUpdateError'>
      <div class='alert alert-danger' role='alert' data-ng-bind-html='passwordUpdateError'></div>
    </div>
    <div class='col-sm-6' ng-if='passwordUpdateSuccess'>
      <div class='alert alert-success' role='alert' data-ng-bind-html='passwordUpdateSuccess'></div>
    </div>
  </div>
  <div class='form-group'>
    <label for='password' class='col-md-2'><span ng-bind-html="'PASSWORD' | translate | unsafe"></span></label>
    <div class='col-sm-4' ng-class="{ 'has-error' : forms.changePasswordForm.password.$dirty && forms.changePasswordForm.password.$invalid }">
      <input name='password' ng-model='profile.password' type='password' class='form-control' id='password' placeholder="{{ 'EXAMPLE-PASSWORD-PLACEHOLDER' | translate | unsafe }}" ng-minlength='8' minlength='8' required />
      <span ng-show='forms.changePasswordForm.password.$invalid && (forms.changePasswordForm.password.$touched || forms.changePasswordForm.password.$dirty)' class='help-block' ng-class="{ 'text-danger' : forms.changePasswordForm.password.$dirty && forms.changePasswordForm.password.$invalid }">
        <span ng-bind-html="'INVALID-PASSWORD-LENGTH' | translate | unsafe"></span>.
      </span>
    </div>
  </div>
  <div class='form-group' ng-if='!isOnlineSponsoring && profile.customerStatus !== "existing"'>
    <label for='verifyPassword' class='col-md-2'><span ng-bind-html="'PASSWORD_VERIFY' | translate | unsafe"></span></label>
    <div class='col-sm-4' ng-class="{ 'has-error' : forms.changePasswordForm.verifyPassword.$invalid && (forms.changePasswordForm.verifyPassword.$touched || signInForm.verifyPassword.$dirty) }">
      <input name='verifyPassword' ng-model='profile.verifyPassword' type='password' class='form-control' id='verifyPassword' placeholder="{{ 'EXAMPLE-PASSWORD-PLACEHOLDER-VERIFY' | translate | unsafe }}" data-ui-validate="'$value == profile.password'" required />
      <span ng-show='forms.changePasswordForm.verifyPassword.$invalid && (forms.changePasswordForm.verifyPassword.$touched || forms.changePasswordForm.verifyPassword.$dirty) && profile.password !== profile.verifyPassword' class='help-block' ng-class="{ 'text-danger' : profile.password !== profile.verifyPassword }">
        <span ng-bind-html="'PASSWORDS-DONT-MATCH' | translate | unsafe"></span>
      </span>
    </div>
  </div>
  <div class='form-group'>
    <div class='col-sm-6'>
      <button type='button' class='btn btn-primary pull-right' ng-disabled='processing || forms.changePasswordForm.$invalid' ng-click='updatePassword(profile.password)'>
        <span>UPDATE PASSWORD</span>
      </button>
    </div>
  </div>
</form>
