<!-- <div class="col-sm-12">
<h1 ng-if="session.client.addresses.length > 0"><span ng-bind-html="'CHOOSE-SHIPPING-ADDRESS' | translate | unsafe"></span></h1>
</div> -->

<form name='changePasswordForm' class='form-horizontal' role='form'>    
  <div class='form-group'>
    <label for='password' class='col-md-3 control-label'><span ng-bind-html="'PASSWORD' | translate | unsafe"></span></label>
    <div class='col-sm-4' ng-class="{ 'has-error' : changePasswordForm.password.$dirty && changePasswordForm.password.$invalid }">
      <input name='loginPassword' ng-model='profile.password' type='password' class='form-control' id='password' placeholder="{{ 'EXAMPLE-PASSWORD-PLACEHOLDER' | translate | unsafe }}" ng-minlength='8' minlength='8' required />
      <span ng-show='changePasswordForm.password.$invalid && (changePasswordForm.password.$touched || changePasswordForm.loginPassword.$dirty)' class='help-block' ng-class="{ 'text-danger' : changePasswordForm.password.$dirty && changePasswordForm.password.$invalid }">
        <span ng-bind-html="'INVALID-PASSWORD-LENGTH' | translate | unsafe"></span>.
      </span>
    </div>
  </div>
  <div class='form-group' ng-if='!isOnlineSponsoring && profile.customerStatus !== "existing"'>
    <label for='verifyPassword' class='col-md-3 control-label'><span ng-bind-html="'PASSWORD_VERIFY' | translate | unsafe"></span></label>
    <div class='col-sm-4' ng-class="{ 'has-error' : changePasswordForm.verifyPassword.$invalid && (changePasswordForm.verifyPassword.$touched || signInForm.verifyPassword.$dirty) }">
      <input name='verifyPassword' ng-model='profile.verifyPassword' type='password' class='form-control' id='verifyPassword' placeholder="{{ 'EXAMPLE-PASSWORD-PLACEHOLDER-VERIFY' | translate | unsafe }}" data-ui-validate="'$value == profile.password'" required />
      <span ng-show='changePasswordForm.verifyPassword.$invalid && (changePasswordForm.verifyPassword.$touched || changePasswordForm.verifyPassword.$dirty) && profile.password !== profile.verifyPassword' class='help-block' ng-class="{ 'text-danger' : profile.password !== profile.verifyPassword }">
        <span ng-bind-html="'PASSWORDS-DONT-MATCH' | translate | unsafe"></span>
      </span>
    </div>
  </div>
  <div class='form-group'>
    <div class='col-sm-offset-3 col-sm-5'>
      <button type='button' class='btn btn-primary' ng-disabled='processing || changePasswordForm.$invalid' ng-click='updatePassword(profile.password)'>
        <span>UPDATE PASSWORD</span>
      </button>
    </div>
  </div>
</form>
