
<!--

SAMPLE ORDER HISTORY DATA:
===========================

{
  "id": 12029275,
  "firstName": "edward",
  "lastName": "hotchkisssss",
  "clientId": 50000098,
  "consultantId": 66556,
  "language": "en_US",
  "billingAddressId": {
    "id": 0,
    "name": "edward hotchkisssss",
    "address1": "306 S El Molino Ave",
    "address2": "Apt 303",
    "city": "Pasadena",
    "state": "CA",
    "stateDescription": "CA",
    "zip": "91101",
    "geocode": "",
    "county": "Los Angeles",
    "country": "US",
    "phone": ""
  },
  "shippingAddressId": {
    "id": 0,
    "name": "Edward H Hotchkiss",
    "address1": "306 S El Molino Ave",
    "address2": "Apt 303",
    "city": "Pasadena",
    "state": "CA",
    "stateDescription": "CA",
    "zip": "91101",
    "geocode": "050372570",
    "county": "Los Angeles",
    "country": "US",
    "phone": "213-333-3333"
  },
  "creditCardId": {
    "id": 0,
    "name": "TEST NAME",
    "lastFour": "1111",
    "cardType": "VISA",
    "expMonth": "2",
    "expYear": "2019"
  },
  "source": "web",
  "total": 32.93,
  "products": [
    {
      "sku": "25631",
      "name": "BRIGHTENING DYN BRGH LTN SPF15",
      "qty": 1,
      "price": 25,
      "extendedprice": 25
    }
  ],
  "tracking": "",
  "carrier": "",
  "orderDate": "04/17/2015",
  "shipDate": "01/01/1970",
  "shippingCost": 5,
  "taxCost": 2.93,
  "status": "Ordered"
}

-->

<div id="order-history">
  <div ng-if="orderHistory.length == 0"><span ng-bind-html="'NO-ORDERS-FOUND' | translate | unsafe"></span></div>
  <div ng-if="orderHistory.length > 0" id="order-{{order.id}}" class="panel panel-default" ng-repeat="order in orderHistory">
    <div class="panel-heading">
		<button type="button" class="close jaf-collapse" aria-label="Close" data-toggle="collapse" data-target="#collapse-{{$index + 1}}" aria-expanded="true" aria-controls="collapse-{{$index + 1}}"><i class="fa"></i></button>        
		<div class="row">
			<div class="col-md-3">
				<h3 class="cart-item-prod-title">ORDER#: {{ order.id }}</h3>
				<strong>Order Date:</strong> {{ order.orderDate }}
			</div>
			<div class="col-md-3">
				<h3 class="cart-item-prod-title">TOTAL: {{ order.total | currency }}</h3>
				<strong>Status:</strong> {{ order.status }}
			</div>
		</div>
	</div>		
	<div id="collapse-{{$index + 1}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapse-{{$index + 1}}">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
				  <strong>Ship To:</strong> 
          <span ng-bind='order.shippingAddressId.name'></span>
          <span ng-bind='order.shippingAddressId.address1'></span>,
          <span ng-bind='order.shippingAddressId.address2 + ","' ng-if='order.shippingAddressId.address2 && order.shippingAddressId.address2 !== ""'></span>
          <span ng-bind='order.shippingAddressId.city + ","'></span> 
          <span ng-bind='order.shippingAddressId.state'></span> 
          <span ng-bind='order.shippingAddressId.zip'></span>
        </div>
      </div>
		  <br/>
		  <div class="panel panel-default">
			<div class="panel-body cart-item-orders">
				<table class="table">
				  <thead>
				  <tr>
					<th>Product</th>
					<th class="text-right"><span ng-bind-html="'QTY' | translate | unsafe"></span></th>
					<th class="text-right" width="100px"><span ng-bind-html="'UNIT-PRICE' | translate | unsafe"></span></th>
				  </tr>
				  </thead>
				  <tbody>
					<tr ng-repeat="item in order.products">
					<td>
					  <div class="cart-item-info">
						<a ng-href="{{STORE_BASE_URL}}/products/{{ item.sku}}#top" class="col-xs-5 col-sm-3 col-md-2 col-lg-2">
						  <img class="cart-item-image" ng-src="{{ getImagePath({ localPath: '/img/products/' + item.sku + '_0.jpg'})}}" onError="this.onerror=null;this.src='/img/product_placeholder.gif';">
						</a>
						<div class="col-sm-9 col-md-8 col-lg-8">
						  <h3 class="cart-item-prod-title">
							<a ng-href="{{STORE_BASE_URL}}/products/{{ item.sku }}#top">{{item.name}}</a>
						  </h3>
						  <p><label>{{ item.product.sku || item.sku }}</label></p>						  
						  <ul class="cart-item-description" ng-if="item.components.length > 0">
							<li ng-repeat="component in item.components">
							  {{component.name}} - {{component.sku}} ({{component.qty}})
							</li>
						  </ul>
						  <p class="cart-item-actions">
							<a ng-if="item.product.type == 'kit' && item.product.kitGroups.length > 0" class="btn btn-primary btn-lg" ng-click="configureKit(item)">
							  <i class="fa fa-cogs"></i> <span ng-bind-html="'BTN_CONFIGURE' | translate | unsafe"></span>
							</a>
						  </p>
						</div>
					  </div>
					</td>
					<td align=right>
						{{item.qty}}
					</td>
					<td class="text-right" nowrap="true">
						{{item.price | currency}}
					</td>
				  </tr>
				  <tr>
					<td>&nbsp;</td>
					<td colspan="2" align="right">
						<table>
							<tr><td align="right">Tax:&nbsp;</td><td align="right">{{order.taxCost | currency}}</td></tr>
							<tr><td align="right">Shipping:&nbsp;</td><td align="right">{{order.shippingCost | currency}}</td></tr>
							<tr><td align="right">Total:&nbsp;</td><td align="right">{{order.total | currency}}</td></tr>
						</table>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>	  
  </div>    
  </div>
</div>
