<div class="ccol-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3"></div>

  <div id="forgot" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="col-md-offset-3">
      <h1 class="checkouth1"><span ng-bind-html="'FORGOT-PASSWORD' | translate | unsafe"></span></h1>
    </div>

    <div class="col-md-offset-3 col-sm-6">
      <div ng-if="passwordResetError" class="alert alert-danger" role="alert" data-ng-bind-html="passwordResetError"></div>
    </div>

    <br>

    <form name="forgotPassword" class="form-horizontal" role="form">
      <div class="form-group">
        <label for="inputEmail3" class="col-md-4 control-label"><span ng-bind-html="'EMAIL-ADDRESS' | translate | unsafe"></span></label>
        <div class="col-sm-6">
          <input name="loginEmail2" ng-model="loginEmail2" type="email" class="form-control" id="inputEmail3" placeholder="Email" required>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-4 col-sm-9">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <button type="button" class="btn btn-primary btn-lg" ng-class="{ 'processing' : processing }" ng-click="resetPasswordRequest(loginEmail2)" ng-disabled="!forgotPassword.$valid">
              <span ng-bind-html="'RESET-PASSWORD' | translate | unsafe"></span> &nbsp;<i class="fa fa-caret-right"></i>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div><!--/span-->

  <div id="thanks" class="col-sm-12" style="display: none;">
    <div class="col-md-offset-3">
      <h1 class="checkouth1"><span ng-bind-html="'THANK-YOU' | translate | unsafe"></span></h1>
    </div>
    <form name="" class="form-horizontal" role="form">
      <div class="form-group">
        <div class="col-md-offset-3 col-sm-9">
          <p><span ng-bind-html="'RESET-PASSWORD-INSTRUCTIONS' | translate | unsafe"></span></p>
          <div class="row"><div class="col-sm-6"><hr></div></div>
          <p><a ng-href="{{STORE_BASE_URL}}/cart"><span ng-bind-html="'BACK-TO-CART' | translate | unsafe"></span></a></p>
        </div>
      </div>
    </form>
  </div><!--/span-->

  <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3"></div>
</div>