      
      <!-- Hero Section -->

        <section class="row store-section">
            <div class="col-xs-12 col-sm-8 col-lg-8">
              <div id="carousel-product-generic" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="item active">
                    <a href="/shop/products?category=2">
                      <img class="img-responsive" src="/img/141101_usa_bannerProd_s6_en.jpg">
                    </a>
                  </div>
                  <div class="item">
                    <a href="/shop/products/19372">
                      <img class="img-responsive" src="/img/141101_usa_bannerProd_inegale_en.jpg">
                    </a>
                  </div>
                  <div class="item">
                    <a href="/shop/products?category=8432">
                      <img class="img-responsive" src="/img/140301_usa_bannerProd_s2_en.jpg">
                    </a>
                  </div>
                  <div class="item">
                    <a href="/shop/products?category=114">
                      <img class="img-responsive" src="/img/140301_usa_bannerProd_advDynamics_en.jpg">
                    </a>
                  </div>
                  <div class="item">
                    <a href="/shop/products?category=8391">
                      <img class="img-responsive" src="/img/121001-usa-bannerProd-pro-en.jpg">
                    </a>
                  </div>
                  <div class="item">
                    <a href="/shop/products?category=113">
                      <img class="img-responsive" src="/img/121001-usa-bannerProd-RJ-en.jpg">
                    </a>
                  </div>
                </div>
                <a class="left carousel-control" href="#carousel-product-generic" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-product-generic" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </div>
              <p>&nbsp;</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-lg-4 pull-right">
                <a ng-href="{{STORE_BASE_URL}}/products?category=310"><img class="img-responsive" src="/img/jafra-color.jpg"></a>
                <br><br>
                <a href="http://www.jafra.com/corporate/products/skin-care-test" target="_blank"><img class="img-responsive" src="/img/skincare_profile.jpg"></a>
            </div>
            <div class="col-xs-12 col-sm-8 col-lg-8">
              <p class="lead">
                <span ng-bind-html="'HOME-BOTTOM-TAGLINE' | translate | unsafe"></span>
              </p>
              <p>
                <span ng-bind-html="'HOME-BOTTOM-TAGLINE-BODY' | translate | unsafe"></span>
              </p>
            </div><!--/span-->
        </section><!--/row-->

      <!-- /Hero Section -->

<!-- Loading -->
  <div class="loader" ng-show="loading"></div>
<!-- /Loading -->
