      <!-- Hero Section -->

        <section class="row store-section">
            <div class="col-xs-12 col-sm-8 col-lg-8">
              <img class="img-responsive" src="/img/140301_usa_bannerProd_s2_en.jpg">
              <p>&nbsp;</p>
            </div><!--/span-->
            <div class="col-xs-12 col-sm-4 col-lg-4 pull-right">
                <a ng-href="#/products?category=310"><img class="img-responsive" src="/img/jafra-color.jpg"></a>
                <br><br>
                <a href="http://www.jafra.com/corporate/products/skin-care-test" target="_blank"><img class="img-responsive" src="/img/skincare_profile.jpg"></a>
            </div>
            <div class="col-xs-12 col-sm-8 col-lg-8">
              <p class="lead">The science of beauty, naturally.</p>
              <p>JAFRA® blends cutting edge science with the best nature has to offer. The results are highly effective, wonderfully luxurious and irresistibly aromatic skin & body care formulas. Products that help women look their best.</p>
            </div><!--/span-->
        </section><!--/row-->

      <!-- /Hero Section -->

<!-- Loading -->
  <div class="loader" ng-show="loading"></div>
<!-- /Loading -->
