<div id="resetpass" class="col-sm-12" style="display: none;">
  <div class="col-md-offset-3">
    <h1 class="checkouth1"><span ng-bind-html="'RESET-PASSWORD' | translate | unsafe"></span></h1>
  </div>
  <!--valid={{signInForm.$valid}}-->
  <form name="resetPassword" class="form-horizontal" role="form">
    <div class="form-group">
      <label for="newPassword" class="col-md-3 control-label">New Password</label>
      <div class="col-sm-4">
        <input name="newPassword" ng-model="newPassword" pw-check="newpassword2" type="password" class="form-control" id="newPassword" placeholder="Password" required>
      </div>
    </div>

    <div class="form-group">
      <label for="newPassword2" class="col-md-3 control-label">Confirm New Password</label>
      <div class="col-sm-4">
        <input name="newPassword2" ng-model="newPassword2" ng-change="checkoutUpdated();" type="password" class="form-control" id="newPassword2" placeholder="Confirm Password" required>
      </div>
      <span class="error" ng-show="resetPassword.password.$error.pwmatch"> Passwords don't match. </span>
    </div>

    <div class="form-group">
      <div class="col-md-offset-3 col-sm-9">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <button type="button" class="btn btn-primary btn-lg" onclick="$('#resetpass').css('display','none');$('#signin').css('display','block')" ng-disabled="!resetPassword.$valid">Reset Password &nbsp;<i class="fa fa-caret-right"></i></button>

        </div>
      </div>
    </div>
  </form>
</div><!--/span-->