<div class="start_inside">
                  <strong>{{ 'OS-KIT-PRODUCT1-VALUE' | translate }}</strong>
                  <ul class="modal_lists">
                  	<li>Advanced Dynamics Balancing Cleanser</li>
                  	<li>Advanced Dynamics Balancing Toner</li>
                  	<li>Advanced Dynamics Balancing Day Moisture</li>
                  	<li>Advanced Dynamics Balancing Night Moisture</li>
                  	<li>Royal Jelly Milk Balm Advanced</li>
                  	<li>Elasticity Recovery Hydrogel + Firmiplex Complex</li>
                  	<li>Optimeyes Eye Treatment</li>
                  	<li>Royal Almond Rich Body Oil</li>
                  	<li>LEGEND EDT</li>
				  	<li>Vesen EDT</li>
				  	<li>Eau d'Arômes Fragrance Spray</li>
				  	<li>Skid EDT</li>
                  </ul>
               </div>
               <div class="start_inside">
               <strong>Plus you get DYNAMIC TOOLS!</strong>
               	<ul class="modal_lists">
				  	<li>Black JAFRA Tote</li>
				  	<li>Clear JAFRA Tote</li>
				  	<li>Welcome to JAFRA Literature Set</li>
				  	<li>Product Catalogs (5)</li>
				  	<li>Seasonal Brochures (10)</li>
				  	<li>Hostess Brochure</li>
				  	<li>Advanced Dynamic Profiles (10)</li>
				  	<li>Skin Care Profiles (10)</li>
				  	<li>Women’s Fragrance Profiles (10)</li>
				  	<li>Business Cards (50)</li>
				  	<li>Client Order Form (10)</li>
				</ul>
			</div>