<div class="start_inside">
                  <strong><span ng-bind-html="'OS-KIT-PRODUCT2-VALUE' | translate | unsafe"></span></strong>
				  <ul class="modal_lists">
                  	<li>Advanced Dynamics Limpiador Facial Equilibrante</li>
                  	<li>Advanced Dynamics Loción Facial Equilibrante</li>
                  	<li>Advanced Dynamics Crema Facial Equilibrante de Día</li>
                  	<li>Advanced Dynamics Crema Facial Humectante Equilibrante de Noche</li>
                  	<li>Royal Jelly Milk Balm Advanced</li>
					<li>Optimeyes Eye Treatment</li>
                  </ul>
               <strong>Además Productos Gratis…</strong>
	               <ul class="modal_lists">
					<li>Royal Jelly Milk Balm, Fórmula Original en Envase Especial</li>
					<li>Sachet Advanced Dynamics Hydrating (3)</li>
					<li>Sachet Advanced Dynamics Balancing (3)</li>
					<li>Sachet Advanced Dynamics Mattifying (3)</li>
					<li>Sachet Advanced Dynamics Soothing (3)</li>
				   </ul>
                </div>
                <div class="start_inside">
               <strong>Además recibes ¡HERRAMIENTAS DINÁMICAS!</strong>
                <ul class="modal_lists">
				  	<li>Bolso ROJO de Negocios</li>
				  	<li>Juego de Material Impreso Bienvenida a JAFRA</li>
				  	<li>Catálogo de Productos (5)</li>
				  	<li>Folleto de Temporada (10)</li>
				  	<li>Folleto de la Anfitriona</li>
				  	<li>Forma de Pedido del Cliente (10)</li>
				 </ul>
				</div>