<div class="start_inside">
                  <strong>{{ 'OS-KIT-PRODUCT2-VALUE' | translate }}</strong>
                 
                  <ul class="modal_lists">
                  	<li>Royal Jelly Milk Balm Advanced</li>
                  	<li>Gel Facial Reafirmante + con Complejo Firmiplex</li>
                  	<li>Optimeyes Eye Treatment</li>
                  </ul>
                </div>
                <div class="start_inside">
               <strong>Además recibes ¡HERRAMIENTAS DINÁMICAS!</strong>
                <ul class="modal_lists">
				  	<li>Bolso ROJO de Negocios</li>
				  	<li>Juego de Material Impreso Bienvenida a JAFRA</li>
				  	<li>Catálogo de Productos (5)</li>
				  	<li>Folleto de Temporada (10)</li>
				  	<li>Folleto de la Anfitriona</li>
				  	<li>Perfil Advanced Dynamics (10)</li>
				  	<li>Perfil del Cuidado del Cutis (10)</li>
				  	<li>Perfil de Fragancias (10)</li>
				  	<li>Forma de Pedido del Cliente (10)</li>
				 </ul>
				</div>