<div class="start_inside">
                  <strong><span ng-bind-html="'OS-KIT-PRODUCT2-VALUE' | translate | unsafe"></span></strong>
                  <ul class="modal_lists">
					<li>Advanced Dynamics Balancing Cleanser</li>
					<li>Advanced Dynamics Balancing Toner</li>
					<li>Advanced Dynamics Balancing Day Moisture</li>
					<li>Advanced Dynamics Balancing Night Moisture</li>
					<li>Royal Jelly Milk Balm Advanced</li>
					<li>Optimeyes Eye Treatment</li>
                  </ul>
               <strong>Plus Free products…</strong>
	               <ul class="modal_lists">
					<li>Royal Jelly Milk Balm Original Formula in a Special Decanter</li>
					<li>Advanced Dynamics Hydrating Sachet (3)</li>
					<li>Advanced Dynamics Balancing Sachet (3)</li>
					<li>Advanced Dynamics Mattifying Sachet (3)</li>
					<li>Advanced Dynamics Soothing Sachet (3)</li>
				   </ul>
                </div>
                <div class="start_inside">
               <strong>Plus you get DYNAMIC Tools!</strong>
                <ul class="modal_lists">
				  	<li>Tote</li>
				  	<li>Welcome to JAFRA Literature Set</li>
				  	<li>Product Catalogs (5)</li>
				  	<li>Seasonal Brochures (10)</li>
				  	<li>Hostess Brochure</li>
				  	<li>Advanced Dynamic Profiles (10)</li>
				  	<li>Skin Care Profiles (10)</li>
				  	<li>Women’s Fragrance Profiles (10)</li>
				  	<li>Client Order Form (10)</li>
				 </ul>
				</div>