<!-- about.html -->
<section class="subsection" id="freedom_flexibility">
        <div class="container subcontainer">
            <div class="row">
                <div class="col-md-12 section-copy_bound_box ">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 text-center">
                          <h3 class="hero-header-title-freedom_flexibility">The Beauty of JAFRA</h3>
                          <p class="freedom_flexibility_description">
                              Earn money in a fun and rewarding way, set your own hours, and help empower women everywhere. Join over <b>500,000 consultants</b> in <b>18 countries</b> who live fulfilled, happy lives.
                          </p>
                          <p>
                              <a href="#more_freedom" data-toggle="collapse" class="more-link collapsed"><span>LIFE WITH JAFRA</span></a>
                          </p>
                        </div>
                    </div>
                    <div id="more_freedom" class="row collapse">
                        <div class="col-md-10 col-md-offset-1">
                          <div class="row text-center">
                            
                              <span class="titlify color-purple DidotLTPro-Italic">join the <span class="sans-serif-title color-gold HelveticaNeueLTStd-BdCn">LEGACY</span></span>

                              <div class="legacy_wrapper text-center clearfix">
                                <div class="timeline-photo pull-left">
                                  <img src="/img/1956.jpg" class="img-circle img-responsive" /><br />
                                  <span class="biggify color-grey HelveticaNeueLTStd-BdCn">1956</span>
                                </div>
                                <div class="timeline-photo pull-right">
                                  <img src="/img/today.jpg" class="img-circle img-responsive" /><br />
                                  <span class="biggify color-grey HelveticaNeueLTStd-BdCn">TODAY</span>
                                </div>
                              </div>

                              <p class="timeline-description">
                                  It began over 58 years ago in 1956 in Malibu, California, when Jan and Frank Day launched JAFRA so a woman could own her own business. Since then, hundreds of thousands of women have successfully realized their entrepreneurial dreams, first as a Consultant, then as a Leader with their own JAFRA Team.
                              </p>
                          </div>
                          <div class="row padbottom padtop">
                            <div class="col-md-4">
                              <div class="text-center">
                                <h3 class="titlify DidotLTPro-Italic">share the <span class="color-gold HelveticaNeueLTStd-BdCn">INNOVATION</span></h3>
                                <p>Be a member of one of the top 5 direct selling families worldwide, and sell advanced skin care, on-trend colors, luxurious toiletries, plus exclusive women's and men's fragrances.</p>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="text-center">
                                <h3 class="titlify DidotLTPro-Italic">enjoy the <span class="color-gold HelveticaNeueLTStd-BdCn">REWARDS</span></h3>
                                <p><b>Earn up to 50% commission</b>, exciting trips and incentive rewards like cash bonuses and jewelry. Plus, as a Leader, you can realize more income potential through team sales.!</p>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="text-center">
                                <h3 class="titlify DidotLTPro-Italic">experience the <span class="color-gold HelveticaNeueLTStd-BdCn">EMPOWERMENT</span></h3>
                                <p>Get powerful, ongoing training for a great start, continued success, and becoming a JAFRA Leader. Learn a world of business expertise including customer service.</p>
                              </div>
                            </div>
                          </div>
                          <div class="row text-center">
                            <span class="titlify color-purple DidotLTPro-Italic">Make <span class="color-red HelveticaNeueLTStd-BdCn">today</span> the day you begin the life you imagine!</span>
                          </div>
                        </div>
                    </div>
                    <div class="row text-center">
                      <a class="btn btn-primary HelveticaNeueLTStd-BdCn btn-lg dropdown-toggle " data-toggle="modal" role="button" href="#JOIN_NOW">JOIN JAFRA TODAY</a>
                    </div>
                </div><!-- /.section-copy --> <!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>