<!-- about.html -->
<section class="subsection" id="freedom_flexibility">
        <div class="container subcontainer">
            <div class="row">
                <div class="col-md-12 section-copy_bound_box ">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                          <h3 class="hero-header-title-freedom_flexibility text-center">La belleza de JAFRA</h3>
                          <p class="freedom_flexibility_description text-center">
                              Gana dinero de un modo divertido y provechoso, t&uacute; fijas tu horario de trabajo y ayudas a otras mujeres a lograr independencia econ&oacute;mica. &Uacute;nete a m&aacute;s de <b>500,000 Consultoras</b> en <b>18 pa&iacute;ses que</b> viven una vida plena y feliz.
                          </p>
                          <p class="text-center">
                              <a href="#more_freedom" data-toggle="collapse" class="more-link collapsed"><span>LA VIDA CON JAFRA</span></a>
                          </p>
                        </div>
                    </div>
                    <div id="more_freedom" class="row collapse">
                        <div class="col-md-10 col-md-offset-1">
                          <div class="row text-center">
                            
                              <span class="titlify color-purple DidotLTPro-Italic">&uacute;nete al <span class="sans-serif-title color-gold HelveticaNeueLTStd-BdCn">LEGADO</span></span>

                              <div class="legacy_wrapper text-center clearfix">
                                <div class="timeline-photo pull-left">
                                  <img src="/img/1956.jpg" class="img-circle img-responsive" /><br />
                                  <span class="biggify color-grey HelveticaNeueLTStd-BdCn">1956</span>
                                </div>
                                <div class="timeline-photo pull-right">
                                  <img src="/img/today.jpg" class="img-circle img-responsive" /><br />
                                  <span class="biggify color-grey HelveticaNeueLTStd-BdCn">TODAY</span>
                                </div>
                              </div>

                              <p class="timeline-description">
                                  Todo comenzó hace más de 58 años en 1956 en Malibu, California, cuando Jan y Frank Day abrieron JAFRA para que la mujer pudiera tener su propio negocio. Desde entonces, miles de mujeres han alcanzado con éxito sus sueños empresariales, primero como Consultoras, y después como Líderes con su propio Equipo JAFRA.
                              </p>
                          </div>
                          <div class="row">
                            <div class="col-md-4">
                              <div class="text-center">
                                <h3 class="titlify DidotLTPro-Italic">comparte la <span class="color-gold HelveticaNeueLTStd-BdCn">INNOVACIÓN</span></h3>
                                <p>Forma parte de una de las 5 familias más importantes de ventas directas a nivel mundial, y vende cuidado del cutis avanzado, colores de moda, lujoso cuidado personal, más exclusivas fragancias para damas y caballeros.</p>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="text-center">
                                <h3 class="titlify DidotLTPro-Italic">disfruta las <span class="color-gold HelveticaNeueLTStd-BdCn">RECOMPENSAS</span></h3>
                                <p><b>Gana hasta un 50% de comisión</b>, viajes fabulosos e incentivos como bonos en efectivo y joyas. Además, como Líder, puedes obtener más ingresos a través de las ventas de tu Equipo.</p>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="text-center">
                                <h3 class="titlify DidotLTPro-Italic">vive el <span class="color-gold HelveticaNeueLTStd-BdCn">EMPODERAMIENTO</span></h3>
                                <p>Una capacitación constante y efectiva te enseña a lograr un inicio fabuloso, a continuar teniendo éxito y a ser una Líder de JAFRA. Adquiere la mejor experiencia en el negocio, incluyendo servicio al cliente.</p>
                              </div>
                            </div>
                          </div>
                          <div class="row text-center">
                            <span class="titlify color-purple DidotLTPro-Italic">¡Empieza a vivir hoy <span class="color-red HelveticaNeueLTStd-BdCn">la vida</span> que has soñado!</span>
                            <a class="btn btn-primary HelveticaNeueLTStd-BdCn btn-med dropdown-toggle" data-toggle="modal" data-target=".bs-example-modal-lg" role="button" href="">Ingresa a JAFRA Hoy</a>
                          </div>
                        </div>
                    </div>
                </div><!-- /.section-copy --> <!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>