<!-- about.html -->
<span id="freedom_flexibility" style="position:relative; float: left; top:-65px;"></span>
<section class="subsection" id="freedom_flexibility_section">
        <div class="container subcontainer">
            <div class="row">
                <div class="col-md-12 section-copy_bound_box ">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 text-center">
                          <h3 class="hero-header-title-freedom_flexibility"><span ng-bind-html="'OS-ABOUT-TITLE' | translate | unsafe"></span> </h3>
                          <p class="freedom_flexibility_description">
                            <span ng-bind-html="'OS-ABOUT-DESCRIPTION' | translate | unsafe"></span>
                          </p>
                          <p>
                              <a data-target="#more_freedom" data-toggle="collapse" class="more-link more-link-alt collapsed" analytics-on="click" analytics-event="Expand About" analytics-category="Content"><span><span ng-bind-html="'OS-ABOUT-MORE-LINK' | translate | unsafe"></span> </span></a>
                          </p>
                        </div>
                    </div>
                    <div id="more_freedom" class="row collapse">
                        <div class="col-md-10 col-md-offset-1">
                          <div class="row text-center">
                            
                              <span class="titlify color-purple DidotLTPro-Italic"><span ng-bind-html="'OS-ABOUT-JOIN-THE' | translate | unsafe"></span>  <span class="sans-serif-title color-gold HelveticaNeueLTStd-BdCn"><span ng-bind-html="'OS-ABOUT-LEGACY' | translate | unsafe"></span> </span></span>

                              <div class="legacy_wrapper text-center clearfix">
                                <div class="timeline-photo pull-left">
                                  <img src="/img/1956.jpg" class="img-circle img-responsive" /><br />
                                  <span class="biggify color-grey HelveticaNeueLTStd-BdCn">1956</span>
                                </div>
                                <div class="timeline-photo pull-right">
                                  <img src="/img/today.jpg" class="img-circle img-responsive" /><br />
                                  <span class="biggify color-grey HelveticaNeueLTStd-BdCn"><span ng-bind-html="'OS-ABOUT-TODAY' | translate | unsafe"></span></span>
                                </div>
                              </div>

                              <p class="timeline-description">
                                <span ng-bind-html="'OS-ABOUT-TIMELINE-DESCRIPTION' | translate | unsafe"></span>
                              </p>
                          </div>
                          <div class="row padbottom padtop subrow">
                            <div class="col-md-4">
                              <div class="text-center">
                                <h3 class="titlify DidotLTPro-Italic"><span ng-bind-html="'OS-ABOUT-SHARE-THE' | translate | unsafe"></span> <span class="color-gold HelveticaNeueLTStd-BdCn"><span ng-bind-html="'OS-ABOUT-INNOVATION' | translate | unsafe"></span> </span></h3>
                                <p><span ng-bind-html="'OS-ABOUT-SHARE-THE-INNOVATION-DESC' | translate | unsafe"></span> </p>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="text-center">
                                <h3 class="titlify DidotLTPro-Italic"><span ng-bind-html="'OS-ABOUT-ENJOY-THE' | translate | unsafe"></span> <span class="color-gold HelveticaNeueLTStd-BdCn"><span ng-bind-html="'OS-ABOUT-REWARDS' | translate | unsafe"></span> </span></h3>
                                <p><span ng-bind-html="'OS-ABOUT-ENJOY-THE-REWARDS-DESC' | translate | unsafe"></span> </p>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="text-center">
                                <h3 class="titlify DidotLTPro-Italic"><span ng-bind-html="'OS-ABOUT-EXPERIENCE-THE' | translate | unsafe"></span> <span class="color-gold HelveticaNeueLTStd-BdCn"><span ng-bind-html="'OS-ABOUT-EMPOWERMENT' | translate | unsafe"></span></span></h3>
                                <p><span ng-bind-html="'OS-ABOUT-EXPERIENCE-THE-EMPOWERMENT-DESC' | translate | unsafe"></span></p>
                              </div>
                            </div>
                          </div>
                          <div class="row text-center subrow">
                            <span class="titlify color-purple DidotLTPro-Italic"><span ng-bind-html="'OS-ABOUT-MAKE' | translate | unsafe"></span> <span class="color-red HelveticaNeueLTStd-BdCn"><span ng-bind-html="'OS-ABOUT-MAKE-TODAY' | translate | unsafe"></span></span> <span ng-bind-html="'OS-ABOUT-THE-DAY-YOU-BEGIN' | translate | unsafe"></span></span>
                            <p><a class="btn btn-primary HelveticaNeueLTStd-BdCn btn-lg dropdown-toggle" analytics-on="click" analytics-event="About CTA" analytics-category="Buttons" data-toggle="modal" role="button" data-target=".bs-example-modal-lg"><span ng-bind-html="'JOIN-JAFRA-TODAY' | translate | unsafe"></span></a></p>
                          </div>
                        </div>
                    </div>
                </div><!-- /.section-copy --> <!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>
    <script>
      $(function(){ 

        $('a.more-link').on('click', function() {
          $(this).closest('section').toggleClass('expanded');
        });

      });
    </script>
