<!-- business.html -->
<section class="subsection" id="why_jafra_lifestyle">
        <div class="container subcontainer">
            <!--img class="hidden-xs hidden-sm" src="/img/liner_black.png" id="liner_black" style="max-width:170px;"-->
            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive" src="/img/tiled-images.png">
                </div><!-- /.col -->
                <div class="col-md-6">
                    <div class="section-copy">
                        <h3 class="hero-header-title"><small class="color-gold DidotLTPro-Italic">it&rsquo;s</small><span class="color-violet">YOUR CALL</span>
                        </h3>
                        <p>Opportunities abound with JAFRA’s direct selling format. It lets you sell in your own way. You set your own hours, plan around family and lifestyle, and achieve financial independence while doing what you love.</p>
                        <p class="text-right"><a href="#more_call" data-toggle="collapse" class="more-link collapsed"><span>OPPORTUNITIES</span></a></p>
                    </div><!-- /.section-copy -->
                </div><!-- /.col -->
            </div><!-- /.row -->

            <!-- collapsed section content (default collapsed) -->
            <div id="more_call" class="row collapse">
                <div class="col-md-6">
                    <h3>
                        <span class="you_choose">YOU CHOOSE</span><br />
                        <span class="how_to">how to build your own</span><br />
                        <span class="business">BUSINESS</span>
                    </h3>
                    <ul class="golden_bullets">
                        <li>Share JAFRA catalogs and brochures</li>
                        <li>Host a Party and showcase products</li>
                        <li>Sell online with your own website</li>
                        <li>Reach more Clients with social media</li>
                    </ul>
                </div>
                <div class="col-md-6">
                        <div class="invest-icons-bg text-center">
                            <span>INVEST</span><br />
                            <span>in yourself</span>
                        </div>
                        <p>With one party you can easily regain your initial investment and more. Super sales tools are packed into your kits for fast results.  Remember, you can earn two ways:</p>
                        <div class="sales-equation">
                            EARN UP TO <span>50%</span> <span>SALES COMMISSION</span> + Leaders earn through <span>TEAM SALES</span>
                        </div>
                        <div class="training-icons-bg text-center">
                            <span>TRAINING</span><br />
                            <span>at your fingertips</span>
                        </div>
                        <p>We&lsquo;re always here for you with constant, caring support: online training, sales tools, and a family of Leaders upon whom you can depend. You also have a reliable Customer Relationships Team with knowledgeable backup for you and your business.</p>
                </div>
            <div class="col-md-12 text-center cta-section">
                <a class="btn btn-primary HelveticaNeueLTStd-BdCn btn-lg dropdown-toggle" data-toggle="modal" data-target=".bs-example-modal-lg" role="button" href="">MAKE THE CALL</a>
            </div>
            </div>
        </div><!-- /.container -->
    </section><!-- /.subsection -->