<!-- business.html -->
<section class="subsection" id="why_jafra_lifestyle">
        <div class="container subcontainer">
            <!--img class="hidden-xs hidden-sm" src="/img/liner_black.png" id="liner_black" style="max-width:170px;"-->
            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive" src="/img/tiled-images.png" style="margin-top: 7px;">
                </div><!-- /.col -->
                <div class="col-md-6">
                    <div class="section-copy">
                        <h3 class="hero-header-title"><small class="color-gold DidotLTPro-Italic">Es tu</small><br /><span class="color-violet">Decisión</span>
                        <img src="/img/fpo-itsyourcall.jpg" class="pull-right fpo-itsyourcall hidden-sm hidden-xs" />
                        </h3>
                        <p>Las oportunidades bajo el formato de venta directa en JAFRA son ilimitadas. Te permiten vender a tu manera. Tú fijas tu horario de acuerdo con el de tu familia y estilo de vida, y logras tu independencia económica haciendo lo que amas.</p>
                        <!-- <p class="text-right"><a data-target="#more_call" data-toggle="collapse" class="more-link more-link-alt collapsed" analytics-on="click" analytics-event="Expand Opportunity" analytics-category="Content"><span>OPORTUNIDADES</span></a></p> -->
                    </div><!-- /.section-copy -->   
                </div><!-- /.col -->
            </div><!-- /.row -->

            <!-- collapsed section content (default collapsed) -->
            <div id="more_call" class="row collapse in subrow">
                <div class="col-md-6">
                    <h3>
                        <span class="you_choose">Tú Eliges</span><br />
                        <span class="how_to">cómo construir tu</span><br />
                        <span class="business">Propio Negocio</span>
                    </h3>
                    <ul class="golden_bullets">
                        <li>Comparte catálogos y folletos JAFRA</li>
                        <li>Organiza una Clase para demostrar tus productos</li>
                        <li>Vende en línea en tu propio sitio web</li>
                        <li>Llega a más Clientes a través de las redes sociales</li>
                    </ul>
                </div>
                <div class="col-md-6 business-right-col">
                    <div class="row">
                        <div class="invest-icons-bg text-center">
                            <span class="invest">Invierte</span><br />
                            <span class="yourself">en ti</span>
                        </div>
                        <p class="col-md-offset-2 col-md-8 text-center">En una Clase puedes fácilmente recuperar tu inversión inicial y hasta más. Utiliza las súper herramientas de ventas que vienen en tu kit para obtener resultados más rápido. Recuerda que tú puedes ganar de dos maneras:</p>
                    </div>
                    <div class="row sales-equation bg-color-honeyflower color-cesoir">
                        <div class="col-md-6 col-xs-6">HACÉ CLICK AQUÍ PARA<br />
                            <span class="color-bostonblue HelveticaNeueLTStd-BdCn titlify percent">50%</span><br />
                            <span class="color-husk HelveticaNeueLTStd-BdCn biggify">COMISIÓN DE VENTAS</span>
                        </div>
                        <div class="col-md-1 col-xs-1 color-bostonblue titlify plus">+</div>
                        <div class="col-md-6 col-xs-6 leaders_col">
                            <span class="color-chatelle">Los líderes ganan a través de</span><br />
                            <span class="color-bostonblue HelveticaNeueLTStd-BdCn biggify team_sales">VENTAS DE EQUIPO</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="training-icons-bg text-center">
                            <span class="invest">Capacitación</span><br />
                            <span class="yourself">a tu alcance</span>
                        </div>
                        <p class="col-md-offset-2 col-md-8 text-center">Siempre estamos aquí para brindarte un apoyo constante y dedicado: capacitación en línea, herramientas de ventas, y una familia de Líderes con quienes puedes contar. También tienes al Equipo de Relaciones con el Cliente con los conocimientos que te respaldan a ti y a tu negocio.</p>
                    </div>
                </div>
            <div class="col-md-12 text-center cta-section">
                <a class="btn btn-primary HelveticaNeueLTStd-BdCn btn-med dropdown-toggle" analytics-on="click" analytics-event="Opportunity CTA" analytics-category="Buttons" data-toggle="modal" data-target=".bs-example-modal-lg" role="button" href="">Decídete Ahora</a>
            </div>
            </div>
        </div><!-- /.container -->
    </section><!-- /.subsection -->