<!-- business.html -->
<section class="subsection" id="why_jafra_lifestyle">
        <div class="container subcontainer">
            <!--img class="hidden-xs hidden-sm" src="/img/liner_black.png" id="liner_black" style="max-width:170px;"-->
            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive" src="/img/tiled-images.png">
                </div><!-- /.col -->
                <div class="col-md-6">
                    <div class="section-copy">
                        <h3 class="hero-header-title"><small class="color-red DidotLTPro-Italic">Es tu</small><span class="color-purple">Decisión</span>
                        </h3>
                        <p>Las oportunidades bajo el formato de venta directa en JAFRA son ilimitadas. Te permiten vender a tu manera. Tú fijas tu horario de acuerdo con el de tu familia y estilo de vida, y logras tu independencia económica haciendo lo que amas.</p>
                        <p class="text-right"><a href="#more_call" data-toggle="collapse" class="more-link collapsed"><span>OPORTUNIDADES</span></a></p>
                    </div><!-- /.section-copy -->
                </div><!-- /.col -->
            </div><!-- /.row -->

            <!-- collapsed section content (default collapsed) -->
            <div id="more_call" class="row collapse">
                <div class="col-md-6">
                    <h3>
                        <span class="you_choose">Tú Eliges</span><br />
                        <span class="how_to">cómo construir tu</span><br />
                        <span class="business">Propio Negocio</span>
                    </h3>
                    <ul class="golden_bullets">
                        <li>Comparte catálogos y folletos JAFRA</li>
                        <li>Organiza una Clase para demostrar tus productos</li>
                        <li>Vende en línea en tu propio sitio web</li>
                        <li>Llega a más Clientes a través de las redes sociales</li>
                    </ul>
                </div>
                <div class="col-md-6">
                        <div class="invest-icons-bg text-center">
                            <span style="text-transform:uppercase">Invierte</span><br />
                            <span>en ti</span>
                        </div>
                        <p>En una Clase puedes fácilmente recuperar tu inversión inicial y hasta más. Utiliza las súper herramientas de ventas que vienen en tu kit para obtener resultados más rápido. Recuerda que tú puedes ganar de dos maneras:</p>
                        <div class="sales-equation">
                            <!-- TODO - spanish translation not working in design -->
                            EARN UP TO <span>50%</span> <span>SALES COMMISSION</span> + Leaders earn through <span>TEAM SALES</span>
                        </div>
                        <div class="training-icons-bg text-center">
                            <span style="text-transform:uppercase">Capacitación</span><br />
                            <span>a tu alcance</span>
                        </div>
                        <p>Siempre estamos aquí para brindarte un apoyo constante y dedicado: capacitación en línea, herramientas de ventas, y una familia de Líderes con quienes puedes contar. También tienes al Equipo de Relaciones con el Cliente con los conocimientos que te respaldan a ti y a tu negocio.</p>
                </div>
            </div>
            <div class="row text-center">
                <a class="btn btn-primary HelveticaNeueLTStd-BdCn btn-med dropdown-toggle" data-toggle="dropdown" role="button" href="">Decídete Ahora</a>
            </div>
        </div><!-- /.container -->
    </section><!-- /.subsection -->