<!-- faqs.html -->
<!-- FAQs -->
<section id="FAQs">
    <div class="container">
        <h2 class="h1 section-title"></h2>
    </div>
    <div class="subsection">
        <div class="container">
            <div class="col-md-6">
                <div class="faqs-item">
                    <div class="faqs-item-question">
                        Q. What does it mean to be a JAFRA Consultant? <a class="h4 more-link collapsed" data-toggle="collapse" href="#FAQcollapse1"></a>
                    </div>
                    <div class="faqs-item-answer">
                        <!-- collapsed section content (default collapsed) -->
                        <p id="FAQcollapse1" class="collapse" ng-bind-html="'OS-A1' | translate | unsafe"></p>
                    </div>
                </div>
                <hr>
                <div class="faqs-item">
                    <div class="faqs-item-question">
                        Q. What do I need to know about JAFRA products?<a class="h4 more-link collapsed" data-toggle="collapse" href="#FAQcollapse2"></a>
                    </div>
                    <div class="faqs-item-answer">
                        <!-- collapsed section content (default collapsed) -->
                        <p id="FAQcollapse2" class="collapse" ng-bind-html="'OS-A2' | translate | unsafe"></p>
                    </div>
                </div>
                <hr>
                <div class="faqs-item">
                    <div class="faqs-item-question">
                        Q. How do I begin to share JAFRA products?<a class="h4 more-link collapsed" data-toggle="collapse" href="#FAQcollapse3"></a>
                    </div>
                    <div class="faqs-item-answer">
                        <!-- collapsed section content (default collapsed) -->
                        <p id="FAQcollapse3" class="collapse" ng-bind-html="'OS-A3' | translate | unsafe"></p>
                    </div>
                </div>
                <hr>
                <div class="faqs-item">
                    <div class="faqs-item-question">
                        Q. How much can I expect to earn?<a class="h4 more-link collapsed" data-toggle="collapse" href="#FAQcollapse4"></a>
                    </div>
                    <div class="faqs-item-answer">
                        <!-- collapsed section content (default collapsed) -->
                        <p id="FAQcollapse4" class="collapse" ng-bind-html="'OS-A4' | translate | unsafe"></p>
                    </div>
                </div>
                <hr>
                <div class="faqs-item">
                    <div class="faqs-item-question">
                        Q. How will I get paid for bonuses and commissions?<a class="h4 more-link collapsed" data-toggle="collapse" href="#FAQcollapse5"></a>
                    </div>
                    <div class="faqs-item-answer">
                        <!-- collapsed section content (default collapsed) -->
                        <p id="FAQcollapse5" class="collapse" ng-bind-html="'OS-A5' | translate | unsafe"></p>
                    </div>
                </div>
                <hr>
                <div class="faqs-item">
                    <div class="faqs-item-question">
                        Q. Will I receive training from JAFRA?<a class="h4 more-link collapsed" data-toggle="collapse" href="#FAQcollapse6"></a>
                    </div>
                    <div class="faqs-item-answer">
                        <!-- collapsed section content (default collapsed) -->
                        <p id="FAQcollapse6" class="collapse" ng-bind-html="'OS-A6' | translate | unsafe"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <hr class="hidden-md hidden-lg">
                <div class="faqs-item">
                    <div class="faqs-item-question">
                        Q. Do I need to work a certain amount of hours?<a class="h4 more-link collapsed" data-toggle="collapse" href="#FAQcollapse7"></a>
                    </div>
                    <div class="faqs-item-answer">
                        <!-- collapsed section content (default collapsed) -->
                        <p id="FAQcollapse7" class="collapse" ng-bind-html="'OS-A7' | translate | unsafe"></p>
                    </div>
                </div>
                <hr>
                <div class="faqs-item">
                    <div class="faqs-item-question">
                        Q. Do I need to achieve a minimum number of sales?<a class="h4 more-link collapsed" data-toggle="collapse" href="#FAQcollapse8"></a>
                    </div>
                    <div class="faqs-item-answer">
                        <!-- collapsed section content (default collapsed) -->
                        <p id="FAQcollapse8" class="collapse" ng-bind-html="'OS-A8' | translate | unsafe"></p>
                    </div>
                </div>
                <hr>
                <div class="faqs-item">
                    <div class="faqs-item-question">
                        Q. How much do I have to invest?<a class="h4 more-link collapsed" data-toggle="collapse" href="#FAQcollapse9"></a>
                    </div>
                    <div class="faqs-item-answer">
                        <!-- collapsed section content (default collapsed) -->
                        <p id="FAQcollapse9" class="collapse" ng-bind-html="'OS-A9' | translate | unsafe"></p>
                    </div>
                </div>
                <hr>
                <div class="faqs-item">
                    <div class="faqs-item-question">
                        Q. Does JAFRA offer a product guarantee?<a class="h4 more-link collapsed" data-toggle="collapse" href="#FAQcollapse10"></a>
                    </div>
                    <div class="faqs-item-answer">
                        <!-- collapsed section content (default collapsed) -->
                        <p id="FAQcollapse10" class="collapse" ng-bind-html="'OS-A10' | translate | unsafe"></p>
                    </div>
                </div>
                <hr>
                <div class="faqs-item">
                    <div class="faqs-item-question">
                        Q. How is JAFRA different from other direct sales cosmetic companies?<a class="h4 more-link collapsed" data-toggle="collapse" href="#FAQcollapse11"></a>
                    </div>
                    <div class="faqs-item-answer">
                        <!-- collapsed section content (default collapsed) -->
                        <p id="FAQcollapse11" class="collapse" ng-bind-html="'OS-A11' | translate | unsafe"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <div class="well">
                    <a class="btn btn-primary btn-lg HelveticaNeueLTStd-BdCn" role="button" href="#" data-toggle="modal" data-target=".bs-example-modal-lg"></a>
                </div>
            </div>
        </div>
    </div>
</section>