<!-- faqs.html -->
<!-- FAQs -->
<section id="FAQs">
    <div class="container">
        <h2 class="h1 section-title">PREGUNTAS FRECUENTES</h2>
    </div>
    <div class="subsection">
        <div class="container">
            <div class="col-md-6">
                <div class="faqs-item">
                    <div class="faqs-item-question">
                        P: ¿Qué significa ser una Consultora de JAFFRA? <a class="h4 more-link collapsed" data-toggle="collapse" href="#FAQcollapse1"></a>
                    </div>
                    <div class="faqs-item-answer">
                        <!-- collapsed section content (default collapsed) -->
                        <p id="FAQcollapse1" class="collapse" ng-bind-html="'OS-A1' | translate | unsafe"></p>
                    </div>
                </div>
                <hr>
                <div class="faqs-item">
                    <div class="faqs-item-question">
                        P: ¿Qué necesito saber sobre los productos JAFRA?<a class="h4 more-link collapsed" data-toggle="collapse" href="#FAQcollapse2"></a>
                    </div>
                    <div class="faqs-item-answer">
                        <!-- collapsed section content (default collapsed) -->
                        <p id="FAQcollapse2" class="collapse" ng-bind-html="'OS-A2' | translate | unsafe"></p>
                    </div>
                </div>
                <hr>
                <div class="faqs-item">
                    <div class="faqs-item-question">
                        P: ¿Cómo empiezo a compartir los productos JAFRA?<a class="h4 more-link collapsed" data-toggle="collapse" href="#FAQcollapse3"></a>
                    </div>
                    <div class="faqs-item-answer">
                        <!-- collapsed section content (default collapsed) -->
                        <p id="FAQcollapse3" class="collapse" ng-bind-html="'OS-A3' | translate | unsafe"></p>
                    </div>
                </div>
                <hr>
                <div class="faqs-item">
                    <div class="faqs-item-question">
                        P: ¿Cuánto puedo ganar?<a class="h4 more-link collapsed" data-toggle="collapse" href="#FAQcollapse4"></a>
                    </div>
                    <div class="faqs-item-answer">
                        <!-- collapsed section content (default collapsed) -->
                        <p id="FAQcollapse4" class="collapse" ng-bind-html="'OS-A4' | translate | unsafe"></p>
                    </div>
                </div>
                <hr>
                <div class="faqs-item">
                    <div class="faqs-item-question">
                        P: ¿Cómo me pagan los bonos y comisiones?<a class="h4 more-link collapsed" data-toggle="collapse" href="#FAQcollapse5"></a>
                    </div>
                    <div class="faqs-item-answer">
                        <!-- collapsed section content (default collapsed) -->
                        <p id="FAQcollapse5" class="collapse" ng-bind-html="'OS-A5' | translate | unsafe"></p>
                    </div>
                </div>
                <hr>
                <div class="faqs-item">
                    <div class="faqs-item-question">
                        P: ¿Recibiré capacitación de JAFRA?<a class="h4 more-link collapsed" data-toggle="collapse" href="#FAQcollapse6"></a>
                    </div>
                    <div class="faqs-item-answer">
                        <!-- collapsed section content (default collapsed) -->
                        <p id="FAQcollapse6" class="collapse" ng-bind-html="'OS-A6' | translate | unsafe"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <hr class="hidden-md hidden-lg">
                <div class="faqs-item">
                    <div class="faqs-item-question">
                        P: ¿Necesito trabajar cierto número de horas?<a class="h4 more-link collapsed" data-toggle="collapse" href="#FAQcollapse7"></a>
                    </div>
                    <div class="faqs-item-answer">
                        <!-- collapsed section content (default collapsed) -->
                        <p id="FAQcollapse7" class="collapse" ng-bind-html="'OS-A7' | translate | unsafe"></p>
                    </div>
                </div>
                <hr>
                <div class="faqs-item">
                    <div class="faqs-item-question">
                        P: ¿Necesito lograr un número mínimo de ventas?<a class="h4 more-link collapsed" data-toggle="collapse" href="#FAQcollapse8"></a>
                    </div>
                    <div class="faqs-item-answer">
                        <!-- collapsed section content (default collapsed) -->
                        <p id="FAQcollapse8" class="collapse" ng-bind-html="'OS-A8' | translate | unsafe"></p>
                    </div>
                </div>
                <hr>
                <div class="faqs-item">
                    <div class="faqs-item-question">
                        P: ¿Cuánto dinero tengo que invertir?<a class="h4 more-link collapsed" data-toggle="collapse" href="#FAQcollapse9"></a>
                    </div>
                    <div class="faqs-item-answer">
                        <!-- collapsed section content (default collapsed) -->
                        <p id="FAQcollapse9" class="collapse" ng-bind-html="'OS-A9' | translate | unsafe"></p>
                    </div>
                </div>
                <hr>
                <div class="faqs-item">
                    <div class="faqs-item-question">
                        P: ¿Ofrece JAFRA una garantía del producto?<a class="h4 more-link collapsed" data-toggle="collapse" href="#FAQcollapse10"></a>
                    </div>
                    <div class="faqs-item-answer">
                        <!-- collapsed section content (default collapsed) -->
                        <p id="FAQcollapse10" class="collapse" ng-bind-html="'OS-A10' | translate | unsafe"></p>
                    </div>
                </div>
                <hr>
                <div class="faqs-item">
                    <div class="faqs-item-question">
                        P: ¿En qué se diferencia JAFRA de otras compañías de cosméticos en ventas directas?<a class="h4 more-link collapsed" data-toggle="collapse" href="#FAQcollapse11"></a>
                    </div>
                    <div class="faqs-item-answer">
                        <!-- collapsed section content (default collapsed) -->
                        <p id="FAQcollapse11" class="collapse" ng-bind-html="'OS-A11' | translate | unsafe"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <div class="well">
                    <a class="btn btn-primary btn-lg HelveticaNeueLTStd-BdCn" role="button" href="#" data-toggle="modal" data-target=".bs-example-modal-lg"></a>
                </div>
            </div>
        </div>
    </div>
</section>