<!-- faqs.html -->
<span id="FAQs" style="position:relative; float: left; top:-40px;"></span>
<!-- FAQs -->
<section id="FAQs_section">
    <div class="container">
        <div class="row text-center">
            <h2 class="h1 section-title"><span ng-bind-html="'OS-FAQ-TITLE' | translate | unsafe"></span></h2>
        </div>
    </div>
    <div class="subsection">
        <div class="container">
            <div class="col-md-6">
                <div class="faqs-item">
                    <div class="faqs-item-question collapsed" data-toggle="collapse" data-target="#FAQcollapse1">
                        <span ng-bind-html="'OS-FAQ-QUESTION1' | translate | unsafe"></span> <a class="h4 more-link"></a>
                    </div>
                    <div class="faqs-item-answer">
                        <!-- collapsed section content (default collapsed) -->
                        <p id="FAQcollapse1" class="collapse" ng-bind-html="'OS-FAQ-QUESTION1-ANSWER' | translate | unsafe"></p>
                    </div>
                </div>
                <hr>
                <div class="faqs-item">
                    <div class="faqs-item-question collapsed" data-toggle="collapse" data-target="#FAQcollapse2">
                        <span ng-bind-html="'OS-FAQ-QUESTION2' | translate | unsafe"></span> <a class="h4 more-link"></a>
                    </div>
                    <div class="faqs-item-answer">
                        <!-- collapsed section content (default collapsed) -->
                        <p id="FAQcollapse2" class="collapse" ng-bind-html="'OS-FAQ-QUESTION2-ANSWER' | translate | unsafe"></p>
                    </div>
                </div>
                <hr>
                <div class="faqs-item">
                    <div class="faqs-item-question collapsed" data-toggle="collapse" data-target="#FAQcollapse3">
                        <span ng-bind-html="'OS-FAQ-QUESTION3' | translate | unsafe"></span> <a class="h4 more-link"></a>
                    </div>
                    <div class="faqs-item-answer">
                        <!-- collapsed section content (default collapsed) -->
                        <p id="FAQcollapse3" class="collapse" ng-bind-html="'OS-FAQ-QUESTION3-ANSWER' | translate | unsafe"></p>
                    </div>
                </div>
                <hr>
                <div class="faqs-item">
                    <div class="faqs-item-question collapsed" data-toggle="collapse" data-target="#FAQcollapse4">
                        <span ng-bind-html="'OS-FAQ-QUESTION4' | translate | unsafe"></span> <a class="h4 more-link"></a>
                    </div>
                    <div class="faqs-item-answer">
                        <!-- collapsed section content (default collapsed) -->
                        <p id="FAQcollapse4" class="collapse" ng-bind-html="'OS-FAQ-QUESTION4-ANSWER' | translate | unsafe"></p>
                    </div>
                </div>
                <hr>
                <div class="faqs-item">
                    <div class="faqs-item-question collapsed" data-toggle="collapse" data-target="#FAQcollapse5">
                        <span ng-bind-html="'OS-FAQ-QUESTION5' | translate | unsafe"></span> <a class="h4 more-link"></a>
                    </div>
                    <div class="faqs-item-answer">
                        <!-- collapsed section content (default collapsed) -->
                        <p id="FAQcollapse5" class="collapse" ng-bind-html="'OS-FAQ-QUESTION5-ANSWER' | translate | unsafe"></p>
                    </div>
                </div>
                <hr>
                <div class="faqs-item">
                    <div class="faqs-item-question collapsed" data-toggle="collapse" data-target="#FAQcollapse6">
                        <span ng-bind-html="'OS-FAQ-QUESTION6' | translate | unsafe"></span> <a class="h4 more-link"></a>
                    </div>
                    <div class="faqs-item-answer">
                        <!-- collapsed section content (default collapsed) -->
                        <p id="FAQcollapse6" class="collapse" ng-bind-html="'OS-FAQ-QUESTION6-ANSWER' | translate | unsafe"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <hr class="hidden-md hidden-lg">
                <div class="faqs-item">
                    <div class="faqs-item-question collapsed" data-toggle="collapse" data-target="#FAQcollapse7">
                        <span ng-bind-html="'OS-FAQ-QUESTION7' | translate | unsafe"></span> <a class="h4 more-link"></a>
                    </div>
                    <div class="faqs-item-answer">
                        <!-- collapsed section content (default collapsed) -->
                        <p id="FAQcollapse7" class="collapse" ng-bind-html="'OS-FAQ-QUESTION7-ANSWER' | translate | unsafe"></p>
                    </div>
                </div>
                <hr>
                <div class="faqs-item">
                    <div class="faqs-item-question collapsed" data-toggle="collapse" data-target="#FAQcollapse8">
                        <span ng-bind-html="'OS-FAQ-QUESTION8' | translate | unsafe"></span> <a class="h4 more-link"></a>
                    </div>
                    <div class="faqs-item-answer">
                        <!-- collapsed section content (default collapsed) -->
                        <p id="FAQcollapse8" class="collapse" ng-bind-html="'OS-FAQ-QUESTION8-ANSWER' | translate | unsafe"></p>
                    </div>
                </div>
                <hr>
                <div class="faqs-item">
                    <div class="faqs-item-question collapsed" data-toggle="collapse" data-target="#FAQcollapse9">
                        <span ng-bind-html="'OS-FAQ-QUESTION9' | translate | unsafe"></span> <a class="h4 more-link"></a>
                    </div>
                    <div class="faqs-item-answer">
                        <!-- collapsed section content (default collapsed) -->
                        <p id="FAQcollapse9" class="collapse" ng-bind-html="'OS-FAQ-QUESTION9-ANSWER' | translate | unsafe"></p>
                    </div>
                </div>
                <hr>
                <div class="faqs-item">
                    <div class="faqs-item-question collapsed" data-toggle="collapse" data-target="#FAQcollapse10">
                        <span ng-bind-html="'OS-FAQ-QUESTION10' | translate | unsafe"></span> <a class="h4 more-link"></a>
                    </div>
                    <div class="faqs-item-answer">
                        <!-- collapsed section content (default collapsed) -->
                        <p id="FAQcollapse10" class="collapse" ng-bind-html="'OS-FAQ-QUESTION10-ANSWER' | translate | unsafe"></p>
                    </div>
                </div>
                <hr>
                <div class="faqs-item">
                    <div class="faqs-item-question collapsed" data-toggle="collapse" data-target="#FAQcollapse11">
                        <span ng-bind-html="'OS-FAQ-QUESTION11' | translate | unsafe"></span> <a class="h4 more-link"></a>
                    </div>
                    <div class="faqs-item-answer">
                        <!-- collapsed section content (default collapsed) -->
                        <p id="FAQcollapse11" class="collapse" ng-bind-html="'OS-FAQ-QUESTION11-ANSWER' | translate | unsafe"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <div class="well">
                    <a class="btn btn-primary btn-lg HelveticaNeueLTStd-BdCn" analytics-on="click" analytics-event="FAQs CTA" analytics-category="Buttons" role="button" data-toggle="modal" data-target=".bs-example-modal-lg"><span ng-bind-html="'OS-JOIN-BTN' | translate | unsafe"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>