<!-- faqs.html -->
<!-- FAQs -->
<section id="FAQs">
    <div class="container">
        <h2 class="h1 section-title"><span ng-bind-html="'OS-FAQ-TITLE' | translate | unsafe"></span></h2>
    </div>
    <div class="subsection">
        <div class="container">
            <div class="col-md-6">
                <div class="faqs-item">
                    <div class="faqs-item-question">
                        <span ng-bind-html="'OS-FAQ-QUESTION1' | translate | unsafe"></span> <a class="h4 more-link collapsed" data-toggle="collapse" href="#FAQcollapse1"></a>
                    </div>
                    <div class="faqs-item-answer">
                        <!-- collapsed section content (default collapsed) -->
                        <p id="FAQcollapse1" class="collapse" ng-bind-html="'OS-FAQ-QUESTION1-ANSWER' | translate | unsafe"></p>
                    </div>
                </div>
                <hr>
                <div class="faqs-item">
                    <div class="faqs-item-question">
                        <span ng-bind-html="'OS-FAQ-QUESTION2' | translate | unsafe"></span> <a class="h4 more-link collapsed" data-toggle="collapse" href="#FAQcollapse2"></a>
                    </div>
                    <div class="faqs-item-answer">
                        <!-- collapsed section content (default collapsed) -->
                        <p id="FAQcollapse2" class="collapse" ng-bind-html="'OS-FAQ-QUESTION2-ANSWER' | translate | unsafe"></p>
                    </div>
                </div>
                <hr>
                <div class="faqs-item">
                    <div class="faqs-item-question">
                        <span ng-bind-html="'OS-FAQ-QUESTION3' | translate | unsafe"></span> <a class="h4 more-link collapsed" data-toggle="collapse" href="#FAQcollapse3"></a>
                    </div>
                    <div class="faqs-item-answer">
                        <!-- collapsed section content (default collapsed) -->
                        <p id="FAQcollapse3" class="collapse" ng-bind-html="'OS-FAQ-QUESTION3-ANSWER' | translate | unsafe"></p>
                    </div>
                </div>
                <hr>
                <div class="faqs-item">
                    <div class="faqs-item-question">
                        <span ng-bind-html="'OS-FAQ-QUESTION4' | translate | unsafe"></span> <a class="h4 more-link collapsed" data-toggle="collapse" href="#FAQcollapse4"></a>
                    </div>
                    <div class="faqs-item-answer">
                        <!-- collapsed section content (default collapsed) -->
                        <p id="FAQcollapse4" class="collapse" ng-bind-html="'OS-FAQ-QUESTION4-ANSWER' | translate | unsafe"></p>
                    </div>
                </div>
                <hr>
                <div class="faqs-item">
                    <div class="faqs-item-question">
                        <span ng-bind-html="'OS-FAQ-QUESTION5' | translate | unsafe"></span> <a class="h4 more-link collapsed" data-toggle="collapse" href="#FAQcollapse5"></a>
                    </div>
                    <div class="faqs-item-answer">
                        <!-- collapsed section content (default collapsed) -->
                        <p id="FAQcollapse5" class="collapse" ng-bind-html="'OS-FAQ-QUESTION5-ANSWER' | translate | unsafe"></p>
                    </div>
                </div>
                <hr>
                <div class="faqs-item">
                    <div class="faqs-item-question">
                        <span ng-bind-html="'OS-FAQ-QUESTION6' | translate | unsafe"></span> <a class="h4 more-link collapsed" data-toggle="collapse" href="#FAQcollapse6"></a>
                    </div>
                    <div class="faqs-item-answer">
                        <!-- collapsed section content (default collapsed) -->
                        <p id="FAQcollapse6" class="collapse" ng-bind-html="'OS-FAQ-QUESTION6-ANSWER' | translate | unsafe"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <hr class="hidden-md hidden-lg">
                <div class="faqs-item">
                    <div class="faqs-item-question">
                        <span ng-bind-html="'OS-FAQ-QUESTION7' | translate | unsafe"></span> <a class="h4 more-link collapsed" data-toggle="collapse" href="#FAQcollapse7"></a>
                    </div>
                    <div class="faqs-item-answer">
                        <!-- collapsed section content (default collapsed) -->
                        <p id="FAQcollapse7" class="collapse" ng-bind-html="'OS-FAQ-QUESTION7-ANSWER' | translate | unsafe"></p>
                    </div>
                </div>
                <hr>
                <div class="faqs-item">
                    <div class="faqs-item-question">
                        <span ng-bind-html="'OS-FAQ-QUESTION8' | translate | unsafe"></span> <a class="h4 more-link collapsed" data-toggle="collapse" href="#FAQcollapse8"></a>
                    </div>
                    <div class="faqs-item-answer">
                        <!-- collapsed section content (default collapsed) -->
                        <p id="FAQcollapse8" class="collapse" ng-bind-html="'OS-FAQ-QUESTION8-ANSWER' | translate | unsafe"></p>
                    </div>
                </div>
                <hr>
                <div class="faqs-item">
                    <div class="faqs-item-question">
                        <span ng-bind-html="'OS-FAQ-QUESTION9' | translate | unsafe"></span> <a class="h4 more-link collapsed" data-toggle="collapse" href="#FAQcollapse9"></a>
                    </div>
                    <div class="faqs-item-answer">
                        <!-- collapsed section content (default collapsed) -->
                        <p id="FAQcollapse9" class="collapse" ng-bind-html="'OS-FAQ-QUESTION9-ANSWER' | translate | unsafe"></p>
                    </div>
                </div>
                <hr>
                <div class="faqs-item">
                    <div class="faqs-item-question">
                        <span ng-bind-html="'OS-FAQ-QUESTION10' | translate | unsafe"></span> <a class="h4 more-link collapsed" data-toggle="collapse" href="#FAQcollapse10"></a>
                    </div>
                    <div class="faqs-item-answer">
                        <!-- collapsed section content (default collapsed) -->
                        <p id="FAQcollapse10" class="collapse" ng-bind-html="'OS-FAQ-QUESTION10_ANSWER' | translate | unsafe"></p>
                    </div>
                </div>
                <hr>
                <div class="faqs-item">
                    <div class="faqs-item-question">
                        <span ng-bind-html="'OS-FAQ-QUESTION11' | translate | unsafe"></span> <a class="h4 more-link collapsed" data-toggle="collapse" href="#FAQcollapse11"></a>
                    </div>
                    <div class="faqs-item-answer">
                        <!-- collapsed section content (default collapsed) -->
                        <p id="FAQcollapse11" class="collapse" ng-bind-html="'OS-FAQ-QUESTION11_ANSWER' | translate | unsafe"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <div class="well">
                    <a class="btn btn-primary btn-lg HelveticaNeueLTStd-BdCn" role="button" href="#" data-toggle="modal" data-target=".bs-example-modal-lg">JOIN NOW</a>
                </div>
            </div>
        </div>
    </div>
</section>