<!-- kits.html -->
<span id="starter_kits" style="position:relative; float: left; z-index:9999; top:-50px;"></span>
<!-- Starter Packages -->
<section id="starter_kits_section">
    <div class="kit-heading-wrapper">
        <div class="container">
                <h2 class="h1 section-title">Elige tu Kit de Inicio</h2>
        </div>
    </div>
    <section id="royal_starter_kit" class="subsection">
        <div class="container subcontainer">
            <div class="row">
              <div class="kit-encapsulate clearfix">
                <div class="hidden-md hidden-lg col-md-6">
                    <img class="img-responsive" src="/img/99kit-2x.jpg">
                </div>
                <div class="col-md-6">
                    <div class="section-copy">
                        <h3 class="titlify DidotLTPro-Roman kit-title">
                          <small class="color-purple" ng-bind-html="'OS-KIT-PRODUCT1-NAME' | translate | unsafe"></small>
                        </h3>

                        <p class="color-gold HelveticaNeueLTStd-BdCn kit-desc">Recibe todo lo que necesitas</p>
                        <p class="HelveticaNeueLTStd-Th kit-value">Un Valor al Público de más de $490</p>
                        <p>Alegra tus fiestas con el Kit Royal del Negocio. Incluye todo lo necesario para iniciar tu nuevo negocio de inmediato.</p>

                        <p>
                            <a data-target="#more_royal" data-toggle="collapse" class="more-link more-link-alt collapsed"><span>Mira lo que Incluye</span> </a>
                        </p>
                        <div class="product-action pull-right">
                            <span class="product-price"><small>Sólo<br></small> $99</span>
                            <button type="button" class="btn btn-primary btn-lg" ng-click="join('19635')">Cómpralo <small>(español)</small></button>
                            <a href="" ng-click="join('19634')" class="color-red text-center" style="display:block; margin-top:15px;">Compra el Kit de $99 en Ingl&eacute;s</a>
                        </div>
                    </div>
                </div>
                <div class="hidden-xs hidden-sm col-md-6">
                    <img class="img-responsive" src="/img/99kit-2x.jpg">
                    <span class="pull-right color-purple" style="margin-right: 15px;"><span style="text-decoration:none; margin-right: 10px;"><img src="/img/icons-video.gif" width="25px" /> <img src="/img/icons-booklets.gif" width="25px" /></span> Incluye Capacitación!</span>
                </div><!-- collapsed section content (default collapsed) -->
                <div id="more_royal" class="col-md-12 collapse">
                    <div class="section-copy">
                        <p ng-bind-html="'OS-KIT-PRODUCT1-DESCRIPTION' | translate | unsafe"></p>
                    </div>
                </div>
                <div class="promo pull-left">
                    <span><strong>GRATIS</strong><br />
                      POR TIEMPO LIMITADO</span>
                    <a data-target="#more_promo" data-toggle="modal" data-target="#more_promo" class="more-link more-link-alt collapsed">M&Aacute;S </a>
                </div>
            </div>
          </div>
        </div>
    </section>

<!-- Modal -->
<div class="modal fade" id="more_promo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">GRATIS POR TIEMPO LIMITADO</h4>
      </div>
      <div class="modal-body">
        <ul>
            <li>Royal Jelly Milk Balm, F&oacute;rmula Original en Envase Especial</li>
            <li>Sachet Advanced Dynamics Hydrating (3)</li>
            <li>Sachet Advanced Dynamics Balancing(3)</li>
            <li>Sachet Advanced Dynamics Mattifying(3)</li>
            <li>Sachet Advanced Dynamics Soothing(3)</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

    <section id="skincare_starter_kit" class="subsection">
        <div class="container subcontainer">
            <div class="row mobile_tablet_centerfix">
                <div class="col-md-5">
                    <img class="img-responsive" src="/img/49kit-2x.jpg">
                </div>
                <div class="col-md-6">
                    <div class="section-copy">
                        <h3 class="titlify DidotLTPro-Roman kit-title">
                          <small class="color-purple">Kit Especial del Negocio</small>
                        </h3>

                        <p class="color-gold HelveticaNeueLTStd-BdCn kit-desc">Un Inicio Rápido</p>
                        <p class="HelveticaNeueLTStd-Th kit-value">Un Valor al Público de $290</p>

                        <p>Inicia una nueva temporada de ingresos con este Kit Especial del Negocio. Ideal para Consultoras con un presupuesto limitado que desean incrementarlo.</p>

                        <span class="pull-right color-purple" style="margin: 30px 15px 0 0;"><span style="text-decoration:none; margin-right: 10px;"><img src="/img/icons-video.gif" width="25px" /> <img src="/img/icons-booklets.gif" width="25px" /></span> Incluye Capacitación!</span>

                        <a data-target="#more_skincare" data-toggle="collapse" class="more-link more-link-alt collapsed" style="margin-top: 30px;"><span>Mira Adentro</span></a>

                            
                        <p class="starter_kits-retail_value"></p>

                        <div class="product-action">
                            <span class="product-price"><small>Sólo<br></small> $49</span>
                            <button type="button" class="btn btn-primary btn-lg" ng-click="join('19823')">Cómpralo <small>(español)</small></button>
                            <a href="" ng-click="join('19822')" class="color-red text-center" style="margin-left: 20px">Compra el Kit de $49 en inglés</a>
                        </div>

                    </div>
                </div><!-- collapsed section content (default collapsed) -->
                <div id="more_skincare" class="col-md-12 collapse">
                    
                        <div class="section-copy">
                            <p ng-bind-html="'OS-KIT-PRODUCT2-DESCRIPTION' | translate | unsafe"></p>
                        </div>
                    
                </div>
            </div>
        </div>
    </section>
</section>