<!-- kits.html -->
<span id="starter_kits" style="position:relative; float: left; top:-50px;"></span>
<!-- Starter Packages -->
<section id="starter_kits_section">
    <div class="kit-heading-wrapper">
        <div class="container">
                <h2 class="h1 section-title">Select your starter kit</h2>
        </div>
    </div>
    <section id="royal_starter_kit" class="subsection">
        <div class="container subcontainer">
            <div class="row">
              <div class="kit-encapsulate clearfix">
                <div class="hidden-md hidden-lg col-md-6">
                    <img class="img-responsive" src="/img/99kit-2x.jpg">
                </div>
                <div class="col-md-6">
                    <div class="section-copy">
                        <h3 class="titlify DidotLTPro-Roman kit-title">
                          <small class="color-purple" ng-bind-html="'OS-KIT-PRODUCT1-NAME' | translate | unsafe"></small>
                        </h3>

                        <p class="color-gold HelveticaNeueLTStd-BdCn kit-desc">GET EVERYTHING YOU NEED</p>
                        <p class="HelveticaNeueLTStd-Th kit-value">Over $490 retail value</p>
                        <p>Make your holidays bright with the Royal Business Kit. Includes everything you need to jumpstart your new business.</p>

                        <p>
                            <a href="#more_royal" data-toggle="collapse" class="more-link more-link-alt collapsed"><span>SEE WHAT&rsquo;S INCLUDED</span> </a>
                        </p>
                        <div class="product-action pull-right">
                            <span class="product-price"><small>Only<br></small> $99</span>
                            <button type="button" class="btn btn-primary btn-lg" ng-click="join('19634')">Buy <small>(english)</small></button>
                            <a href="#" ng-click="join('19635')" class="color-red text-center text-underline" style="display:block; margin-top:15px;">Buy $99 kit in spanish</a>
                        </div>
                        <div id="free-limited-offer">
                            <span><strong>FREE</strong><br />
                              FOR A LIMITED TIME</span>
                            <a href="#more_free" data-toggle="collapse" class="more-link more-link-alt collapsed">MORE </a>
                        </div>
                    </div>
                </div>
                <div class="hidden-xs hidden-sm col-md-6">
                    <img class="img-responsive" src="/img/99kit-2x.jpg">
                    <span class="pull-right color-gold" style="margin-right: 15px;"><span style="text-decoration:none; margin-right: 10px;"><img src="/img/icons-video.gif" width="25px" /> <img src="/img/icons-booklets.gif" width="25px" /></span> TRAINING INCLUDED!</span>
                </div><!-- collapsed section content (default collapsed) -->
                <div id="more_royal" class="col-md-12 collapse">
                    <div class="section-copy">
                        <p ng-bind-html="'OS-KIT-PRODUCT1-DESCRIPTION' | translate | unsafe"></p>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </section>
    <section id="skincare_starter_kit" class="subsection">
        <div class="container subcontainer">
            <div class="row">
                <div class="col-md-5">
                    <img class="img-responsive" src="/img/49kit-2x.jpg">
                </div>
                <div class="col-md-6">
                    <div class="section-copy">
                        <h3 class="titlify DidotLTPro-Roman kit-title">
                          <small class="color-purple" ng-bind-html="'OS-KIT-PRODUCT2-NAME' | translate | unsafe"></small>
                        </h3>

                        <p class="color-gold HelveticaNeueLTStd-BdCn kit-desc">GET A QUICK START</p>
                        <p class="HelveticaNeueLTStd-Th kit-value">$290 retail value</p>

                        <p>Start a new season of income with this Special Business Kit. Perfect for consultants on a budget who want to ramp up.</p>

                        <span class="pull-right color-gold" style="margin: 30px 15px 0 0;"><span style="text-decoration:none; margin-right: 10px;"><img src="/img/icons-video.gif" width="25px" /> <img src="/img/icons-booklets.gif" width="25px" /></span> TRAINING INCLUDED!</span>

                        <a href="#more_skincare" data-toggle="collapse" class="more-link more-link-alt collapsed" style="margin-top: 30px;"><span>SEE INSIDE</span></a>

                            
                        <p class="starter_kits-retail_value"></p>

                        <div class="product-action">
                            <span class="product-price"><small>Only<br></small> $49</span>
                            <button type="button" class="btn btn-primary btn-lg" ng-click="join('19822')">Buy <small>(english)</small></button>
                            <a href="#" ng-click="join('19823')" class="color-red text-center" style="margin-left: 20px">Buy $49 kit in spanish</a>
                        </div>

                    </div>
                </div><!-- collapsed section content (default collapsed) -->
                <div id="more_skincare" class="col-md-12 collapse">
                    
                        <div class="section-copy">
                            <p ng-bind-html="'OS-KIT-PRODUCT2-DESCRIPTION' | translate | unsafe"></p>
                        </div>
                    
                </div>
            </div>
        </div>
    </section>
</section>