<!-- products.html -->
<section class="subsection" id="why_jafra_products">
        <div class="container subcontainer">
            <div class="row">
                <div class="col-md-6">
                    <div class="section-copy">
                        <h3 class="titlify color-purple DidotLTPro-Italic">
                            products<br><span class="color-gold HelveticaNeueLTStd-BdCn">TO LOVE</span>
                        </h3>
                        <p>
                            It is love at &ldquo;first try&rdquo; with our unique JAFRA product lines that combine the best of science and nature. Treat your clients to results-driven skin care, fashionable colors, deluxe toiletries, plus luxurious women’s and men’s fragrances.
                        </p>
                        <!-- collapsed section toggle (default collapsed) -->
                        <p class="text-right prod_more_link"><a class="more-link collapsed" data-toggle="collapse" href="#more_products"><span>OUR PRODUCTS</span></a></p>
                    </div><!-- /.section-copy -->
                </div><!-- /.col -->
                <div class="col-md-6">
                    <div class="carousel">
                        <div id="carousel-product-generic" class="slide" data-ride="carousel">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="img-responsive" src="/img/products_royalJelly.jpg">
                                </div>
                                <div class="item">
                                    <img class="img-responsive" src="/img/products_PRO.jpg">
                                </div>
                                <div class="item">
                                    <img class="img-responsive" src="/img/products-toiletries.jpg">
                                </div>
                                <div class="item">
                                    <img class="img-responsive" src="/img/products_fragranceWomen.jpg">
                                </div>
                                <div class="item">
                                    <img class="img-responsive" src="/img/products_fragranceMen.jpg">
                                </div>
                                <div class="item">
                                    <img class="img-responsive" src="/img/products_color.jpg">
                                </div>
                            </div><!-- Controls -->
                             <a class="left carousel-control" href="#carousel-product-generic" role="button" data-slide="prev"> <!--  ** left control hidden (angular bug) **  --></a> <a class="right carousel-control" href="#carousel-product-generic" role="button" data-slide="next"></a>
                        </div>
                    </div><!-- /.carousel -->
                </div><!-- /.col -->
            </div><!-- /.row -->
            <div id="more_products" class="row collapse">
                <div class="col-md-10 col-md-offset-1 padtop">
                  <h3 class="titlify text-center">PURITY  +  PERFORMANCE</h3>
                  <p class="freedom_flexibility_description text-center padbottom">
                      The finest ingredients, blended and formulated through a state-of-the-art, cruelty-free process. Samples are taken at every step to test purity, effectiveness, and performance. This passion for quality and integrity in our products has proven to keep customers coming back for more.
                  </p>
                </div>

                <div class="row padtop padbottom">
                    <div class="col-md-3">
                        <img src="/img/products-skincare.png" class="img-responsive" />
                    </div>
                    <div class="col-md-8">
                        <h3 class="titlify color-gold HelveticaNeueLTStd-BdCn">SKINCARE</h3>
                        <p>Our skin care heritage began with Royal Jelly, an all-natural ingredient super-rich in proteins and vitamins. Today, it is featured in all our legendary Royal Jelly skin care treatments. We are also known for innovative skin care such as Advanced Dynamics regimens and JAFRA PRO cosmeceuticals.</p>
                    </div>
                </div>

                <div class="row padbottom">
                    <div class="col-md-3">
                        <img src="/img/products-fragrance.png" class="img-responsive" />
                    </div>
                    <div class="col-md-5">
                        <h3 class="titlify color-gold HelveticaNeueLTStd-BdCn">FRAGRANCE</h3>
                        <p>World-renowned European perfumers develop JAFRA scents with superior ingredients. They also understand a fragrance must create memories, evoke moments in time, and reflect our personality. We offer extensive lines for women and men of all ages, even babies.</p>
                    </div>
                </div>

                <div class="row padbottom">
                    <div class="col-md-3">
                        <img src="/img/products-color.png" class="img-responsive" />
                    </div>
                    <div class="col-md-5">
                        <h3 class="titlify color-gold HelveticaNeueLTStd-BdCn">COLOR</h3>
                        <p>When you see JAFRA color, you’ll see why our products are on top of trends and fashionably inspired. Choose from flawless-look foundations, full coverage lipsticks in luscious colors, high fashion eyeshadows and eyeliners, and must-have nail lacquers.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <img src="/img/products-toiletries.png" class="img-responsive" />
                    </div>
                    <div class="col-md-5">
                        <h3 class="titlify color-gold HelveticaNeueLTStd-BdCn">TOILETRIES</h3>
                        <p>You&lsquo;ll be proud to sell JAFRA’s irresistible and extraordinary aromatic body and hair care products. No one is forgotten because there are toiletry lines created for the entire family.</p>
                    </div>
                </div>

               <div class="col-md-12 text-center cta-section">
                    <span class="titlify color-purple DidotLTPro-Italic">Results are <span class="color-red HelveticaNeueLTStd-BdCn">guaranteed</span>, all you have to do is share!</span><br /><br /><br />
                    <a class="btn btn-primary HelveticaNeueLTStd-BdCn btn-lg dropdown-toggle" data-toggle="modal" data-target=".bs-example-modal-lg" role="button" href="#JOIN_NOW">GET YOUR STARTER KIT</a>
               </div>
            </div>
        </div><!-- /.container -->
    </section>