<!-- products.html -->
<section class="subsection" id="why_jafra_products">
        <div class="container subcontainer">
            <div class="row">
                <div class="col-md-6">
                    <div class="section-copy">
                        <h3 class="titlify color-purple DidotLTPro-Italic">
                            productos<br><span class="color-gold HelveticaNeueLTStd-BdCn">FASCINANTES:</span>
                        </h3>
                        <p>
                            ¡Te fascinan desde la primera vez que los pruebas! Nuestras líneas de productos JAFRA son únicas ya que combinan lo mejor de la ciencia con la naturaleza. Ofréceles a tus Clientes resultados comprobados en el cuidado de la piel, colores de moda, artículos de tocador, y las lujosas fragancias para damas y caballeros.
                        </p>
                        <!-- collapsed section toggle (default collapsed) -->
                        <p class="text-right prod_more_link"><a class="more-link collapsed" data-toggle="collapse" href="#more_products"><span>NUESTROS PRODUCTOS</span></a></p>
                    </div><!-- /.section-copy -->
                </div><!-- /.col -->
                <div class="col-md-6">
                    <div class="carousel">
                        <div id="carousel-product-generic" class="slide" data-ride="carousel">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="img-responsive" src="/img/products_royalJelly.jpg">
                                </div>
                                <div class="item">
                                    <img class="img-responsive" src="/img/products_PRO.jpg">
                                </div>
                                <div class="item">
                                    <img class="img-responsive" src="/img/products_marineBotanicals.jpg">
                                </div>
                                <div class="item">
                                    <img class="img-responsive" src="/img/products_fragranceWomen.jpg">
                                </div>
                                <div class="item">
                                    <img class="img-responsive" src="/img/products_fragranceMen.jpg">
                                </div>
                                <div class="item">
                                    <img class="img-responsive" src="/img/products_color.jpg">
                                </div>
                            </div><!-- Controls -->
                             <a class="left carousel-control" href="#carousel-product-generic" role="button" data-slide="prev"> <!--  ** left control hidden (angular bug) **  --></a> <a class="right carousel-control" href="#carousel-product-generic" role="button" data-slide="next"></a>
                        </div>
                    </div><!-- /.carousel -->
                </div><!-- /.col -->
            </div><!-- /.row -->
            <div id="more_products" class="row collapse">
                <div class="col-md-10 col-md-offset-1">
                  <h3 class="hero-header-title-freedom_flexibility text-center">PUREZA y RENDIMIENTO</h3>
                  <p class="freedom_flexibility_description text-center">
                      Con los ingredientes más finos, mezclados y formulados a través de un proceso de tecnología avanzada, libre de crueldad. En cada paso de su elaboración se toman muestras para probar su pureza, eficacia y rendimiento. Esta pasión por la calidad e integridad en nuestros productos ha demostrado por qué los Clientes regresan por más.
                  </p>
                </div>
                <div class="col-md-12">
                  <div class="text-left">
                    <img src="/img/skincare.png" class="pull-left products-offleft" />
                    <h3 class="titlify color-gold HelveticaNeueLTStd-BdCn">CUIDADO DEL CUTIS</h3>
                    <p>Nuestro legado del cuidado del cutis empezó con la Jalea Real, un ingrediente natural súper rico en proteínas y vitaminas. En la actualidad, se encuentra presente en todos nuestros legendarios tratamientos Royal Jelly para el cuidado de la piel. También, somos conocidos por un innovador cuidado del cutis Advanced Dynamics y los cosmecéuticos de JAFRA PRO.</p>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="text-left">
                    <img src="/img/fragrances.png" class="pull-left products-offleft" />
                    <h3 class="titlify color-gold HelveticaNeueLTStd-BdCn">FRAGANCIAS</h3>
                    <p>Perfumeros de fama internacional elaboran los aromas de JAFRA con ingredientes de excelente calidad. Ellos saben también que una fragancia debe crear recuerdos que evoquen momentos inolvidables y reflejen nuestra personalidad. Ofrecemos extensas líneas para damas y caballeros de todas las edades, e incluso para bebés.</p>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="text-left">
                    <img src="/img/color.png" class="pull-left products-offleft" />
                    <h3 class="titlify color-gold HelveticaNeueLTStd-BdCn">COLOR</h3>
                    <p>Cuando veas los colores de JAFRA, sabrás por qué nuestros productos están a día con las tendencias e inspirados por la moda. Elige entre bases impecables de maquillaje, labiales de cobertura total en tonos de lujo, sombras y delineadores para ojos a la moda y los indispensables esmaltes para uñas.</p>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="text-left">
                    <img src="/img/products-toiletries.png" style="max-width:300px" class="pull-left products-offleft" />
                    <h3 class="titlify color-gold HelveticaNeueLTStd-BdCn">ART&iacute;CULOS DE TOCADOR</h3>
                    <p>Te sentirás orgullosa de vender los irresistibles y extraordinarios productos aromáticos para el cuidado del cuerpo y cabello. No nos hemos olvidado de nadie, tenemos líneas de artículos de tocador para toda la familia.</p>
                  </div>
                </div>

               <div class="col-md-12 text-center">
                    <span class="titlify color-purple DidotLTPro-Italic">Los resultados son <span class="color-red HelveticaNeueLTStd-BdCn">garantizados</span>. ¡Todo lo que tienes que hacer es compartir!</span><br />
                    <a class="btn btn-primary HelveticaNeueLTStd-BdCn btn-med dropdown-toggle" data-toggle="dropdown" role="button" href="http://jafrabiz.com">Adquiere tu Kit de Inicio</a>
               </div>
            </div>
        </div><!-- /.container -->
    </section>