<!-- rewards.html -->
<section class="subsection" id="why_jafra_rewards">
        <div class="container subcontainer">
            <div class="row">
                <div class="col-md-6">
                    <div class="section-copy">
                        <h3 class="titlify color-purple DidotLTPro-Italic">
                            <span ng-bind-html="'OS-SECTION4-TITLE1' | translate | unsafe"></span><br>
                            <span class="color-gold HelveticaNeueLTStd-BdCn enlarge"><span ng-bind-html="'OS-SECTION4-TITLE2' | translate | unsafe"></span></span>
                        </h3>
                        <p><span ng-bind-html="'OS-SECTION4-BODY' | translate | unsafe"></span></p>
                        <p class="text-right"><a data-target="#more_rewards" data-toggle="collapse" class="more-link more-link-alt collapsed"><span><span ng-bind-html="'OS-SECTION4-MORE' | translate | unsafe"></span></span></a></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="carousel-rewards-generic" class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive" src="/img/rewards_iPad_CoachBag.jpg">
                            </div>
                            <div class="item">
                                <img class="img-responsive" src="/img/rewards_summerTrip.jpg">
                            </div>
                        </div><!-- Controls -->
                         <a class="left carousel-control" data-target="#carousel-rewards-generic" role="button" data-slide="prev">
                             <span class="glyphicon glyphicon-chevron-left"></span>
                         </a>
                        <a class="right carousel-control" data-target="#carousel-rewards-generic" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- collapsed section content (default collapsed) -->
            <div id="more_rewards" class="row collapse padtop">
                <div class="col-md-6 text-left">
                    <div class="padleft padright">
                        <h3 class="titlify color-purple DidotLTPro-Italic"><span ng-bind-html="'OS-REWARDS-TRAVEL-PART1' | translate | unsafe"></span> <br><span class="color-gold HelveticaNeueLTStd-BdCn"><span ng-bind-html="'OS-REWARDS-TRAVEL-PART2' | translate | unsafe"></span></span></h3>
                        <p class="padbottom"><span ng-bind-html="'OS-REWARDS-TRAVEL-PART3' | translate | unsafe"></span></p>
                        <h3 class="titlify color-purple DidotLTPro-Italic"><span ng-bind-html="'OS-REWARDS-INCENTIVES-PART1' | translate | unsafe"></span> <br><span class="color-gold HelveticaNeueLTStd-BdCn"><span ng-bind-html="'OS-REWARDS-INCENTIVES-PART2' | translate | unsafe"></span></span></h3>
                        <p class="padbottom"><span ng-bind-html="'OS-REWARDS-INCENTIVES-PART3' | translate | unsafe"></span></p>
                        <h3 class="titlify color-purple DidotLTPro-Italic"><span ng-bind-html="'OS-REWARDS-FREE-PART1' | translate | unsafe"></span> <span class="color-purple HelveticaNeueLTStd-BdCn"><span ng-bind-html="'OS-REWARDS-FREE-PART2' | translate | unsafe"></span></span> <span ng-bind-html="'OS-REWARDS-FREE-PART3' | translate | unsafe"></span> <br><span class="color-gold HelveticaNeueLTStd-BdCn"><span ng-bind-html="'OS-REWARDS-FREE-PART4' | translate | unsafe"></span></span></h3>
                        <p class="padbottom"><span ng-bind-html="'OS-REWARDS-FREE-PART5' | translate | unsafe"></span></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="/img/traveltheworld.jpg" class="img-responsive padbottom">
                </div>
                <div class="text-center padbottom">
                    <a class="btn btn-primary HelveticaNeueLTStd-BdCn btn-lg dropdown-toggle " data-toggle="modal" role="button" data-target=".bs-example-modal-lg"><span ng-bind-html="'OS-REWARDS-TREAT-YOURSELF' | translate | unsafe"></span></a>
                </div>
            </div>
            
        </div>
    </section>