<!-- rewards.html -->
<section class="subsection" id="why_jafra_rewards">
        <div class="container subcontainer">
            <div class="row">
                <div class="col-md-6">
                    <div class="section-copy">
                        <h3 class="hero-header-title">
                            abundantes<br>
                            <span>Recompensas</span>
                        </h3>
                        <p>Define tus metas para ganar viajes maravillosos, recompensas fabulosas y productos de belleza JAFRA, gratis.</p>
                        <p class="text-right"><a href="#more_rewards" data-toggle="collapse" class="more-link collapsed"><span>Recompensas</span></a></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="carousel">
                        <div id="carousel-rewards-generic" class="slide" data-ride="carousel">
                            <!-- Indicators -->
                            <!-- <ol class="carousel-indicators">
                    <li data-target="#carousel-rewards-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-rewards-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-rewards-generic" data-slide-to="2"></li>
                  </ol> -->
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="img-responsive" src="/img/rewards_jewelry.jpg">
                                </div>
                                <div class="item">
                                    <img class="img-responsive" src="/img/rewards_iPad_CoachBag.jpg">
                                </div>
                                <div class="item">
                                    <img class="img-responsive" src="/img/rewards_summerTrip.jpg">
                                </div>
                            </div><!-- Controls -->
                             <a class="left carousel-control" href="#carousel-rewards-generic" role="button" data-slide="prev"></a> <a class="right carousel-control" href="#carousel-rewards-generic" role="button" data-slide="next"></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- collapsed section content (default collapsed) -->
            <div id="more_rewards" class="row collapse">
                <div class="col-md-6 text-left">
                    <h3>viaja por el<span class="titlify color-gold HelveticaNeueLTStd-BdCn">MUNDO</span></h3>
                    <p>Logra un rendimiento excepcional en ventas y patrocinio y podrás ganar vacaciones en sitios de ensueño. ¡Empieza a soñar!</p>
                    <h3>más<span class="titlify color-gold HelveticaNeueLTStd-BdCn">INCENTIVOS</span></h3>
                    <p>Mayores esfuerzos en ventas y patrocinio te brindan un reconocimiento personal junto con bonos en efectivo y joyas. Aumenta tu confianza y experiencia en el negocio ¡y también tus cualidades de liderazgo!</p>
                    <h3>más de <span class="titlify color-purple HelveticaNeueLTStd-BdCn">$1,300</span> en <span class="titlify color-gold HelveticaNeueLTStd-BdCn">PRODUCTOS GRATIS</span></h3>
                    <p>Como nueva Consultora en el Programa “Bienvenida a JAFRA”, puedes ganar gratis más de $1,300 en productos de mayor venta.</p>
                </div>
                <div class="col-md-6">
                    <img src="/img/traveltheworld.png" class="pull-right">
                </div>
            </div>
            
        </div>
    </section>