<!-- rewards.html -->
<section class="subsection" id="why_jafra_rewards">
        <div class="container subcontainer">
            <div class="row">
                <div class="col-md-6">
                    <div class="section-copy">
                        <h3 class="titlify color-purple DidotLTPro-Italic">
                            rewards<br>
                            <span class="color-gold HelveticaNeueLTStd-BdCn enlarge">GALORE</span>
                        </h3>
                        <p>Set your own goals to earn wonderful trips, cool rewards, and free JAFRA beauty products.</p>
                        <p class="text-right"><a href="#more_rewards" data-toggle="collapse" class="more-link collapsed"><span>MORE</span></a></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="carousel">
                        <div id="carousel-rewards-generic" class="slide" data-ride="carousel">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="img-responsive" src="/img/rewards_iPad_CoachBag.jpg">
                                </div>
                                <div class="item">
                                    <img class="img-responsive" src="/img/rewards_summerTrip.jpg">
                                </div>
                            </div><!-- Controls -->
                             <a class="left carousel-control" href="#carousel-rewards-generic" role="button" data-slide="prev"></a> <a class="right carousel-control" href="#carousel-rewards-generic" role="button" data-slide="next"></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- collapsed section content (default collapsed) -->
            <div id="more_rewards" class="row collapse padtop">
                <div class="col-md-6 text-left">
                    <div class="padleft padright">
                        <h3 class="titlify color-purple DidotLTPro-Italic">travel the <br><span class="color-gold HelveticaNeueLTStd-BdCn">WORLD</span></h3>
                        <p class="padbottom">Achieve exceptional performance in sales and sponsoring, and you can earn the vacation of a lifetime to a dream destination. Start dreaming!</p>
                        <h3 class="titlify color-purple DidotLTPro-Italic">more <br><span class="color-gold HelveticaNeueLTStd-BdCn">INCENTIVES</span></h3>
                        <p class="padbottom">Extra efforts in sales and sponsoring brings personal recognition along with cash bonuses and jewelry. Expect to gain confidence, business savvy, and leadership skills, too!</p>
                        <h3 class="titlify color-purple DidotLTPro-Italic">over <span class="color-purple HelveticaNeueLTStd-BdCn">$1,300</span> in <br><span class="color-gold HelveticaNeueLTStd-BdCn">FREE PRODUCTS</span></h3>
                        <p class="padbottom">As a new Consultant in the "Welcome to JAFRA" Program, you can earn over $1,300 in free top selling products.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="/img/traveltheworld.png" class="img-responsive padbottom">
                </div>
                <div class="text-center padbottom">
                    <a class="btn btn-primary HelveticaNeueLTStd-BdCn btn-lg dropdown-toggle " data-toggle="modal" role="button" data-target=".bs-example-modal-lg">TREAT YOURSELF</a>
                </div>
            </div>
            
        </div>
    </section>