<!-- testimonials.html -->
<section class="subsection" id="why_jafra_testimonials">
        <div class="container subcontainer text-center">
            <img class="hidden-xs" src="/img/pastelpatches-3.png" id="pastelpatches"> <img class="hidden-xs" src="/img/testimonials-brush.gif" id="testimonials-brush">
            <div class="row mobile_tablet_centerfix">
                <div class="col-md-12">
                    <div class="section-copy text-left padtop">
                        <h3 class="titlify color-purple DidotLTPro-Italic text-center">
                            <span class="DidotLTPro-Roman"><span ng-bind-html="'OS-SECTION5-TITLE1' | translate | unsafe"></span></span>
                            <span class="is_everything"><small class="color-gold HelveticaNeueLTStd-Th"><span ng-bind-html="'OS-SECTION5-TITLE2' | translate | unsafe"></span></small> <span ng-bind-html="'OS-SECTION5-TITLE3' | translate | unsafe"></span></span><br />
                            <span class="color-gold HelveticaNeueLTStd-BdCn enlarge"><span ng-bind-html="'OS-SECTION5-TITLE4' | translate | unsafe"></span></span><br />
                            <span class="and_more"><span ng-bind-html="'OS-SECTION5-TITLE5' | translate | unsafe"></span></span>
                        </h3>
                    </div>
                </div>
                <div class="testimonials center-block">
                    <div class="col-md-4 text-center">
                        <div class="testimonial center-block" style="max-width:320px">
                            <img class="img-responsive" src="/img/lori.png" alt="Lori Duncan Photo">
                            <h4 class="media-heading h3">
                                <span ng-bind-html="'OS-TESTIMONIAL-QUOTE1-NAME' | translate | unsafe"></span>
                            </h4>
                            <p>
                                <span ng-bind-html="'OS-TESTIMONIAL-QUOTE1' | translate | unsafe"></span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="testimonial center-block" style="max-width:320px">
                            <img class="img-responsive center-block" src="/img/jennifer.png" alt="Jennifer Knight Photo">
                            <h4 class="media-heading h3">
                                <span ng-bind-html="'OS-TESTIMONIAL-QUOTE2-NAME' | translate | unsafe"></span>
                            </h4>
                            <p>
                                <span ng-bind-html="'OS-TESTIMONIAL-QUOTE2' | translate | unsafe"></span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="testimonial center-block" style="max-width:320px">
                            <img class="img-responsive center-block" src="/img/rossy.png" alt="Rossy Argueta Photo">
                            <h4 class="media-heading h3">
                                <span ng-bind-html="'OS-TESTIMONIAL-QUOTE3-NAME' | translate | unsafe"></span>
                            </h4>
                            <p>
                                <span ng-bind-html="'OS-TESTIMONIAL-QUOTE3' | translate | unsafe"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row text-center mobile_tablet_centerfix">
                <a class="btn btn-primary HelveticaNeueLTStd-BdCn btn-lg" analytics-on="click" analytics-event="Testimonials CTA" analytics-category="Buttons" data-toggle="modal" role="button" data-target=".bs-example-modal-lg"><span ng-bind-html="'OS-TESTIMONIAL-START-A-CAREER' | translate | unsafe"></span></a>
            </div> -->
        </div>
    </section>