<!-- testimonials.html -->
<section class="subsection" id="why_jafra_testimonials">
        <div class="container subcontainer text-center">
            <img class="hidden-xs" ng-src="{{ CDN_URL }}/img/pastelpatches-3.png" id="pastelpatches"> <img class="hidden-xs" ng-src="{{ CDN_URL }}/img/testimonials-brush.gif" id="testimonials-brush">
            <div class="row mobile_tablet_centerfix">
                <div class="col-md-12">
                    <div class="section-copy text-left padtop">
                        <h3 class="titlify color-purple DidotLTPro-Italic text-center">
                            <span class="DidotLTPro-Roman"><span ng-bind-html="'OS-SECTION5-TITLE1' | translate | unsafe"></span></span>
                            <span class="is_everything"><small class="color-gold HelveticaNeueLTStd-Th"><span ng-bind-html="'OS-SECTION5-TITLE2' | translate | unsafe"></span></small> <span ng-bind-html="'OS-SECTION5-TITLE3' | translate | unsafe"></span></span><br />
                            <span class="color-gold HelveticaNeueLTStd-BdCn enlarge"><span ng-bind-html="'OS-SECTION5-TITLE4' | translate | unsafe"></span></span><br />
                            <span class="and_more"><span ng-bind-html="'OS-SECTION5-TITLE5' | translate | unsafe"></span></span>
                        </h3>
                    </div>
                </div>
                <div class="testimonials center-block">
                    <div class="col-md-4 text-center">
                        <div class="testimonial center-block" style="max-width:320px">
                            <img class="img-responsive" ng-src="{{ CDN_URL }}/img/lori.png" alt="Lori Duncan Photo">
                            <h4 class="media-heading h3">
                                <span ng-bind-html="'OS-TESTIMONIAL-QUOTE1-NAME' | translate | unsafe"></span>
                            </h4>
                            <p>
                                <span ng-bind-html="'OS-TESTIMONIAL-QUOTE1' | translate | unsafe"></span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="testimonial center-block" style="max-width:320px">
                            <img class="img-responsive center-block" ng-src="{{ CDN_URL }}/img/jennifer.png" alt="Jennifer Knight Photo">
                            <h4 class="media-heading h3">
                                <span ng-bind-html="'OS-TESTIMONIAL-QUOTE2-NAME' | translate | unsafe"></span>
                            </h4>
                            <p>
                                <span ng-bind-html="'OS-TESTIMONIAL-QUOTE2' | translate | unsafe"></span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="testimonial center-block" style="max-width:320px">
                            <img class="img-responsive center-block" ng-src="{{ CDN_URL }}/img/rossy.png" alt="Rossy Argueta Photo">
                            <h4 class="media-heading h3">
                                <span ng-bind-html="'OS-TESTIMONIAL-QUOTE3-NAME' | translate | unsafe"></span>
                            </h4>
                            <p>
                                <span ng-bind-html="'OS-TESTIMONIAL-QUOTE3' | translate | unsafe"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center mobile_tablet_centerfix">
                <a class="btn btn-primary HelveticaNeueLTStd-BdCn btn-lg" analytics-on="click" analytics-event="Testimonials Video CTA" analytics-category="Buttons" data-toggle="modal" role="button" data-target="#videoModalTestimonials"><i class="fa fa-play"><i> &nbsp;<span ng-bind-html="'BTN_WATCH_VIDEO' | translate | unsafe"></span></a>
            </div>
            <!-- Video Modal -->
            <div class="modal fade video-modal-lg" id="videoModalTestimonials" tabindex="-1" role="dialog" aria-labelledby="videoModalTestimonialsLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">

                  <a href="#" class="jaf-modal-close" data-dismiss="modal">x</a>
                  
                  <div class="modal-body">
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe ng-if="session.language == 'en_US'" class="embed-responsive-item" width="853" height="480" src="https://www.youtube.com/embed/Jws-j4F4coI" frameborder="0" allowfullscreen></iframe>
                      <iframe ng-if="session.language == 'es_US'" class="embed-responsive-item" width="853" height="480" src="https://www.youtube.com/embed/uDIEG3CLevo" frameborder="0" allowfullscreen></iframe>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
            <script>
              $(function(){ 
                // stop video from playing when modal closes
                $('#videoModalTestimonials').on('hide.bs.modal', function (e) {
                  $("#videoModalTestimonials iframe").attr("src", $("#videoModalTestimonials iframe").attr("src"));
                })

              });
            </script>
        </div>
    </section>