<!-- testimonials.html -->
<section class="subsection" id="why_jafra_testimonials">
        <div class="container subcontainer text-center">
            <img class="hidden-xs" style="max-width:340px" src="/img/pastelpatches-3.png" id="pastelpatches"> <img class="hidden-xs" style="max-width:250px" src="/img/lipsticksmears4.png" id="lipsticksmear">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-copy text-left">
                        <h3 class="hero-header-title">
                            <span>¡JAFRA</span> <span>es</span> Todo lo que<br />
                            <span class="">Imaginamos</span><br />
                            y Más!
                        </h3>
                    </div>
                </div>
                <div class="testimonials center-block">
                    <div class="col-md-4 text-center">
                        <div class="testimonial center-block" style="max-width:320px">
                            <img class="img-responsive" src="/img/lori.png" alt="Lori Duncan Photo">
                            <h4 class="media-heading h3">
                                Lori Duncan
                            </h4>
                            <p>
                                “¡Es fácil para mi vender JAFRA porque estoy apasionada con todos los productos! Su calidad es excelente”.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="testimonial center-block" style="max-width:320px">
                            <img class="img-responsive center-block" src="/img/jennifer.png" alt="Jennifer Knight Photo">
                            <h4 class="media-heading h3">
                                Jennifer Knight
                            </h4>
                            <p>
                                “¡JAFRA me ha dado la oportunidad de ganar más dinero! Además, ¡el cielo es el límite! ¡Puedo ganar tanto como quiera!”
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="testimonial center-block" style="max-width:320px">
                            <img class="img-responsive center-block" src="/img/rossy.png" alt="Rossy Argueta Photo">
                            <h4 class="media-heading h3">
                                Rossy Argueta
                            </h4>
                            <p>
                                “Amo la libertad que tengo con JAFRA. ¡Puedo disfrutar a la familia ya que yo decido mi propio horario!”
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <a class="btn btn-primary HelveticaNeueLTStd-BdCn btn-med dropdown-toggle" data-toggle="dropdown" role="button" href="">Empieza una Carrera Hoy Mismo</a>
            </div>
        </div>
    </section>