<!-- testimonials.html -->
<section class="subsection" id="why_jafra_testimonials">
        <div class="container subcontainer text-center">
            <img class="hidden-xs" style="max-width:340px" src="/img/pastelpatches-3.png" id="pastelpatches"> <img class="hidden-xs" style="max-width:250px" src="/img/lipsticksmears4.png" id="lipsticksmear">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-copy text-left padtop">
                        <h3 class="titlify color-purple DidotLTPro-Italic text-center">
                            <span class="DidotLTPro-Roman">JAFRA</span> 
                            <span style="padding-right:400px"><small class="color-gold HelveticaNeueLTStd-Th">is</small> everything</span><br />
                            <span class="color-gold HelveticaNeueLTStd-BdCn enlarge">WE IMAGINED</span><br />
                            <span style="padding-left:300px">and more!</span>
                        </h3>
                    </div>
                </div>
                <div class="testimonials center-block">
                    <div class="col-md-4 text-center">
                        <div class="testimonial center-block" style="max-width:320px">
                            <img class="img-responsive" src="/img/lori.png" alt="Lori Duncan Photo">
                            <h4 class="media-heading h3">
                                Lori Duncan
                            </h4>
                            <p>
                                “It’s easy for me to sell JAFRA because I’m so passionate about all the products! They’re such great quality.”
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="testimonial center-block" style="max-width:320px">
                            <img class="img-responsive center-block" src="/img/jennifer.png" alt="Jennifer Knight Photo">
                            <h4 class="media-heading h3">
                                Jennifer Knight
                            </h4>
                            <p>
                                “JAFRA has given me the opportunity to earn more money! Plus the sky’s the limit! I can earn as much as I want!”
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="testimonial center-block" style="max-width:320px">
                            <img class="img-responsive center-block" src="/img/rossy.png" alt="Rossy Argueta Photo">
                            <h4 class="media-heading h3">
                                Rossy Argueta
                            </h4>
                            <p>
                                “I love the freedom JAFRA gives me. I spend more time with my family because I can choose my own schedule. ”
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <a class="btn btn-primary HelveticaNeueLTStd-BdCn btn-lg dropdown-toggle" data-toggle="modal" data-target=".bs-example-modal-lg" role="button" href="">START A CAREER TODAY</a>
            </div>
        </div>
    </section>