
<div class="row store-cart">
  <div class="col-xs-12">
    <table class="table">
      <thead>
      <tr>
        <th>&nbsp;</th>
        <th class="text-right"><span ng-bind-html="'UNIT-PRICE' | translate | unsafe"></span></th>
        <th class="text-right"><span ng-bind-html="'QTY' | translate | unsafe"></span></th>
      </tr>
      </thead>
      <tbody>
      <!-- cart items -->
      <tr ng-show="cart == null">
        <td colspan="3">
          <div class="cart-item-info">
            <span ng-bind-html="'LOADING-CART' | translate | unsafe"></span>
          </div>
        </td>
      </tr>
      <tr ng-show="cart.length == 0">
        <td colspan="3">
          <div class="cart-item-info">
            <span ng-bind-html="'EMPTY_CAR' | translate | unsafe"></span>
          </div>
        </td>
      </tr>
      <tr ng-show="cart != null && cart.length > 0" ng-repeat="item in cart">
        <td>
          <div class="cart-item-info">
            <a ng-href="{{STORE_BASE_URL}}/products/{{ item.product.sku || item.sku}}#top" class="col-xs-5 col-sm-3 col-md-2 col-lg-2"
               ng-if="item.product.type != 'group'">
              <img class="img-responsive cart-item-image" ng-src="{{ getImagePath(item.product.images[0] || item.images[0]) }}" onError="this.onerror=null;this.src='/img/product_placeholder.gif';">
            </a>
            <a ng-href="{{STORE_BASE_URL}}/products/{{ item.product.sku || item.sku }}#top" class="col-xs-5 col-sm-3 col-md-2 col-lg-2"
               ng-if="item.product.type == 'group'">
              <img class="img-responsive cart-item-image" ng-src="{{ getImagePath(item.product.images[0] || item.images[0] ) }}" onError="this.onerror=null;this.src='/img/product_placeholder.gif';">
            </a>

            <div class="col-sm-9 col-md-8 col-lg-8">
              <h3>
                <a ng-href="{{STORE_BASE_URL}}/products/{{ item.product.sku || item.sku }}#top">{{ getTranslated(item.product || items).name }}</a>
              </h3>

              <p><label>{{ item.product.sku || item.sku }}</label></p>

              <p ng-if="item.product.kitGroups.length > 0"><span ng-bind-html="'KIT_INCLUDE' | translate | unsafe"></span>:</p>
              <ul ng-if="item.product.kitGroups.length > 0">
                <li ng-repeat="(kitId, kitProducts) in item.kitSelections">
                  <div ng-repeat="kitProduct in kitProducts">
                    {{ getTranslated(kitProduct).name }} #{{ kitProduct.sku }}
                  </div>
                </li>
              </ul>
              <p class="cart-item-actions">
                <a ng-if="item.product.type == 'kit' && item.product.kitGroups.length > 0" class="btn btn-primary btn-lg" ng-click="configureKit(item)">
                  <i class="fa fa-cogs"></i> <span ng-bind-html="'BTN_CONFIGURE' | translate | unsafe"></span>
                </a>
                &nbsp;&nbsp;
                <a ng-click="removeFromCart(item.product)"><i class="fa fa-times"></i> <span ng-bind-html="'BTN_REMOVE' | translate | unsafe"></span></a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <!-- <a href="#"><i class="fa fa-pencil-square-o"></i> make changes</a> TODO: Load this for kits & groups -->
              </p>
            </div>
          </div>
        </td>
        <td class="text-right">
          <span ng-repeat="detailprice in item.product.currentPrice">
            <span ng-if="detailprice.type==2" class="item-price-sale">
              {{detailprice.price | currency}}
            </span>
            <span ng-if="detailprice.type==1" class="item-price-strike">
              {{detailprice.price | currency}}
            </span>
          </span>
          <span ng-if="item.product.currentPrice.price">
            <span class="item-price">
              {{item.product.currentPrice.price | currency}}
            </span>
          </span>
        </td>
        <td align=right>
          <p>
            <form name="item.product{{item.product.sku}}" role="form" class="form-inline store-item-add">
              <div class="form-group">
                <input type="number" class="form-control qty-input" ng-model="item.quantity" one-to-ninety-nine value="{{ item.quantity }}" ng-change="recalculateSalesTax()" />
              </div>
            </form>
          </p>
        </td>
      </tr>
      <!--/table row-->

      </tbody>
    </table>
  </div>
</div><!-- /row -->

<hr>

<div class="row">
  <div class="col-lg-12">
    <p class="text-right">
      <label class="cart-subtotal"><span ng-bind-html="'SUB_BEF_TAX' | translate | unsafe"></span>: {{total() | currency}}</label>
    </p>
  </div>
</div><!-- /row -->

<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <a href="/shop" class="btn btn-link"><i class="fa fa-angle-left"></i> <span ng-bind-html="'CONT_SHOP' | translate | unsafe"></span></a>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" ng-if="cart.length > 0">
    <a ng-show="!iveBeenFramed" href="{{STORE_BASE_URL}}/checkout#top" class="btn btn-primary btn-lg pull-right"><span ng-bind-html="'BTN_CHECKOUT' | translate | unsafe"></span> <i class="fa fa-angle-right"></i></a>
    <a ng-show="iveBeenFramed" target="_blank" href="{{STORE_BASE_URL}}/checkout#top" class="btn btn-primary btn-lg pull-right"><span ng-bind-html="'BTN_CHECKOUT' | translate | unsafe"></span> <i class="fa fa-angle-right"></i></a>
  </div>
</div><!-- /row -->

<div class="row store-cart-orderbyid" id="additem">
  <div class="col-xs-12">
    <h2><span ng-bind-html="'OR_IT_DES' | translate | unsafe"></span></h2>

    <form class="form-inline" role="form">
      <div class="form-group">
        <label class="" for="orderByIdQty"><span ng-bind-html="'QTY' | translate | unsafe"></span>:</label>
        <input type="number" class="form-control qty-input" id="orderByIdQty" ng-model="orderByIdQty" one-to-ninety-nine value="{{ orderByIdQty }}" />
      </div>
      <div class="form-group">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <label class="" for="orderByIdItem"><span ng-bind-html="'ITEM' | translate | unsafe"></span>:</label>
        <autocomplete ng-model="orderByIdItem" data="searchProductsList" on-type="searchProducts" attr-id="orderByIdItemDiv" attr-input-id="orderByIdItem" attr-input-class="form-control" attr-placeholder="{{'PRODUCT-NAME' | translate | unsafe}}"></autocomplete>
      </div>
      <button type="submit" class="btn btn-default" ng-click="addToCart()"><span ng-bind-html="'BTN_ADD_CART' | translate | unsafe"></span></button>
    </form>
  </div>
</div><!-- /row -->

<br>

<div class="loader" ng-show="loading"></div>
