<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <base href="/join">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="og:title" content="{{'JOIN_JAFRA_TITLE' | translate }}"/>
    <meta property="og:image" content="/img/logo-140x44.png"/>
    <meta property="og:site_name" content="{{'JOIN_JAFRA_TITLE' | translate }}"/>
    <meta property="og:description" content="{{'JOIN_JAFRA_TITLE' | translate }}"/>
    
    <title ng-bind-html="'JOIN_JAFRA_TITLE' | translate | unsafe">Join JAFRA</title>
    
    
    <link type="image/x-icon" href="/img/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/lib/animate.css/animate.css">
    <link rel="stylesheet" href="/lib/angular-wizard/dist/angular-wizard.css">
    <!-- <link rel="stylesheet" href="/styles/offcanvas.css"> -->
    <link rel="stylesheet" href="/styles/animate.css">
    <link rel="stylesheet" href="/lib/allmighty-autocomplete/style/autocomplete.css">

    <!-- JAFRA Custom CSS -->
    <link rel="stylesheet" href="/styles/style.css">

    <!-- Prevent flickering by including angular here and ensure jquery is loaded beforehand to prevent memory leaks-->
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="/lib/jquery-ui/ui/jquery-ui.js"></script>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/purl/purl.js"></script>
      
      <script src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5435adb94c0d228e&async=1" type="text/javascript"></script>
      <script type="text/javascript">
      var addthis_config = {
          pubid : 'ra-5435adb94c0d228e',
          data_ga_property : 'UA-7560748-27'
      };
      var addthis_share = {
         url: "THE URL",
         title: "THE TITLE"
      }
      // Call this function once the rest of the document is loaded
      function loadAddThis() {
          addthis.init()
      }
      </script>


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
      .alerts .ng-enter {
        -webkit-animation: fadeInDown .2s;
        -moz-animation: fadeInDown .2s;
        -ms-animation: fadeInDown .2s;
        animation: fadeInDown .2s;
      }
      .alerts .ng-leave {
        -webkit-animation: fadeOut 1s;
        -moz-animation: fadeOut 1s;
        -ms-animation: fadeOut 1s;
        animation: fadeOut 1s;
      }
    </style>

    <!-- Custom styles for Online Sponsoring -->
    <link rel="stylesheet" type="text/css"  href="/styles/online_sponsoring/fonts.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css"  href="/styles/online_sponsoring/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css"  href="/styles/online_sponsoring/style-dk.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css"  href="/styles/jafrachat.css" rel="stylesheet">

    <!-- Google Analytics -->
    <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

     ga('create', 'UA-7560748-27', 'auto');
     ga('require', 'ecommerce');

    </script>
     <script type="text/javascript"> 
     setTimeout(function()
     {var a=document.createElement("script"); var b=document.getElementsByTagName("script")[0]; a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0032/4722.js?"+Math.floor(new Date().getTime()/3600000); a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}
     , 1); 
     </script>
    <!-- bing conversion tracking - UNIVERSAL EVENT TRACKING -->
    <script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"4018622"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script>

  </head>

  <body class="join ng-cloak translate-cloak" ng-class="{incheckout: inCheckout, es: session.language == 'es_US'}">
    <div id="pagenav" class="navbar navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" id="logo" href="/join"><img ng-src="{{ CDN_URL }}/img/logo-140x44.png" alt="logo" /></a>
        </div>
        <div class="navbar-collapse collapse">

          <div id="navbar-sections">
          <ul class="join_nav nav navbar-nav navbar-right HelveticaNeueLTStd-BdCn">
            <li ng-if="!inCheckout"><a href="#freedom_flexibility" analytics-on="click" analytics-event="Menu About" analytics-category="Content"><span ng-bind-html="'OS-NAV1' | translate | unsafe"></span></a></li>
            <li ng-if="!inCheckout"><a href="#starter_kits" analytics-on="click" analytics-event="Menu Kits" analytics-category="Content"><span ng-bind-html="'OS-NAV2' | translate | unsafe"></span></a></li>
            <li ng-if="!inCheckout"><a href="#FAQs" analytics-on="click" analytics-event="Menu FAQs" analytics-category="Content"><span ng-bind-html="'OS-NAV3' | translate | unsafe"></span></a></li>
            <li ng-if="!inCheckout"><a href class="cta" data-toggle="modal" data-target=".lead-modal-lg" analytics-on="click" analytics-event="Menu CTA" analytics-category="Buttons"><span ng-bind-html="'OS-NAV4' | translate | unsafe"></span></a></li>
            <li class="contact-dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" analytics-on="click" analytics-event="Menu Contact" analytics-category="Content"><span ng-bind-html="'OS-NAV5' | translate | unsafe"></span></a>
              <ul class="dropdown-menu dropdown_jafra contact-header" role="menu">
                <li class="contact-description" ng-bind-html="'CONTACT-INFO' | translate | unsafe">
                  1 (800) 551-2345<br/>
                  Open: M-F 8:30am-5:30pm<br>
                  Pacific
                </li>
                <li class="social_dropdown" ng-if="!inCheckout">
                      <div class="social-media-icons center-block">
                        <a target="_blank" href="http://www.facebook.com/JafraWorldwide" analytics-on="click" analytics-event="Menu JAFRA Facebook" analytics-category="External Link"><i class="fa fa-facebook-square"></i></a>
                        &nbsp;
                        <a target="_blank" href="https://plus.google.com/102586203009783197974" analytics-on="click" analytics-event="Menu JAFRA Google+" analytics-category="External Link"><i class="fa fa-google-plus-square"></i></a>
                        &nbsp;
                        <a target="_blank" href="https://www.linkedin.com/company/3077948" analytics-on="click" analytics-event="Menu JAFRA LinkedIn" analytics-category="External Link"><i class="fa fa-linkedin-square"></i></a>
                        &nbsp;
                        <a target="_blank" href="https://www.twitter.com/JAFRAWorldwide" analytics-on="click" analytics-event="Menu JAFRA Twitter" analytics-category="External Link"><i class="fa fa-twitter-square"></i></a>
                        &nbsp;
                        <a target="_blank" href="http://www.youtube.com/user/JAFRACorporate?feature=watch" analytics-on="click" analytics-event="Menu JAFRA YouTube" analytics-category="External Link"><i class="fa fa-youtube-square"></i></a>
                        &nbsp;
                        <a target="_blank" href="http://pinterest.com/jafracosmetics/" analytics-on="click" analytics-event="Menu JAFRA Pinterest" analytics-category="External Link"><i class="fa fa-pinterest-square"></i></a>
                        &nbsp;
                        <a target="_blank" href="http://instagram.com/jafracosmeticsint" analytics-on="click" analytics-event="Menu JAFRA Instagram" analytics-category="External Link"><i class="fa fa-instagram"></i></a>
                        &nbsp;
                      </div>

                </li>
              </ul>
            </li>
            <li class="language-dropdown" ng-controller="LanguageSwitcherController">
              <a class="dropdown-toggle" data-toggle="dropdown" style="white-space: nowrap"><span ng-bind-html="getCurrentLanguage() | translate | unsafe"></span> <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a ng-click="setLanguage('en_US')" analytics-on="click" analytics-event="Language English" analytics-category="Content"><span ng-bind-html="'LAN01' | translate | unsafe"></span></a></li>
                <li><a ng-click="setLanguage('es_US')" analytics-on="click" analytics-event="Language Spanish" analytics-category="Content"><span ng-bind-html="'LAN02' | translate | unsafe"></span></a></li>
              </ul>
            </li>
          </ul>
			</div>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
    <!-- start promo-->
    <div id="promo" class="navbar navbar-static-top" ng-if="!inCheckout">
      <div ng-if="session.language == 'en_US'" class="container text-center DidotLTPro-Italic">
          earn up to <span class="HelveticaNeueLTStd-BdCn">50%</span> commision <a class="HelveticaNeueLTStd-BdCn" href="#why_jafra_lifestyle">LEARN MORE</a>
      </div>
      <div ng-if="session.language == 'es_US'" class="container text-center DidotLTPro-Italic">
          Gane hasta un <span class="HelveticaNeueLTStd-BdCn">50%</span> de comisíon <a class="HelveticaNeueLTStd-BdCn" href="#why_jafra_lifestyle">APRENDA MAS</a>
      </div>
    </div>
    <!-- end promo-->
    <div id="content" ng-class="{checkout: inCheckout}" ng-controller="OnlineSponsorLandingController">
    <!-- begin content area -->
      <div ng-view class="ngview" autoscroll="true"></div>
    <!-- end content area -->

      <footer id="footer" analytics-on="scrollby" analytics-event="Footer" analytics-category="Scrolled To">
          <!-- SPACER --> <p><br></p> <!-- REPLACE WITH CSS FROM UI DESIGN ITERATIONS BEFORE LAUNCH -->

        <div class="container-fluid text-center HelveticaNeueLTStd-BdCn footer-links">
        	<div class="container text-center">
        		<div class="center-block">
        	   <ul class="nav navbar-nav HelveticaNeueLTStd-BdCn">
		       	<li ng-if="!inCheckout">
		            <a href="" role="button" data-toggle="modal" data-target=".bs-example-modal-lg" analytics-on="click" analytics-event="Footer CTA" analytics-category="Buttons"><span ng-bind-html="'OS-JOIN-BTN' | translate | unsafe"></span></a>
		        </li>
		  		 <li class="dropup"><a href="" class="dropdown-toggle dropup" data-toggle="dropdown"><span ng-bind-html="'OS-NAV5' | translate | unsafe"></span></a>
		              <ul class="dropdown-menu dropdown_jafra">
                    <li class="contact-description" ng-bind-html="'CONTACT-INFO' | translate | unsafe">
                      1 (800) 551-2345<br/>
                      Open: M-F 8:30am-5:30pm<br>
                      Pacific
                    </li>
                    <li>
                      <div class="social-media-icons center-block" ng-if="!inCheckout">
                        <a target="_blank" href="http://www.facebook.com/JafraWorldwide" analytics-on="click" analytics-event="Footer JAFRA Facebook" analytics-category="External Link"><i class="fa fa-facebook-square"></i></a>
                        &nbsp;
                        <a target="_blank" href="https://plus.google.com/102586203009783197974" analytics-on="click" analytics-event="Footer JAFRA Google+" analytics-category="External Link"><i class="fa fa-google-plus-square"></i></a>
                        &nbsp;
                        <a target="_blank" href="https://www.linkedin.com/company/3077948" analytics-on="click" analytics-event="Footer JAFRA LinkedIn" analytics-category="External Link"><i class="fa fa-linkedin-square"></i></a>
                        &nbsp;
                        <a target="_blank" href="https://www.twitter.com/JAFRAWorldwide" analytics-on="click" analytics-event="Footer JAFRA Twitter" analytics-category="External Link"><i class="fa fa-twitter-square"></i></a>
                        &nbsp;
                        <a target="_blank" href="http://www.youtube.com/user/JAFRACorporate?feature=watch" analytics-on="click" analytics-event="Footer JAFRA YouTube" analytics-category="External Link"><i class="fa fa-youtube-square"></i></a>
                        &nbsp;
                        <a target="_blank" href="http://pinterest.com/jafracosmetics/" analytics-on="click" analytics-event="Footer JAFRA Pinterest" analytics-category="External Link"><i class="fa fa-pinterest-square"></i></a>
                        &nbsp;
                        <a target="_blank" href="http://instagram.com/jafracosmeticsint" analytics-on="click" analytics-event="Footer JAFRA Instagram" analytics-category="External Link"><i class="fa fa-instagram"></i></a>
                        &nbsp;
                      </div>
                    </li>
		              </ul>
		            </li>
		        </ul>
		        </div>
	        </div>
        </div>
        <!--div class="pull-right footer-logos">
            <a href="" class="jafra-logo"><span class="sr-only">Jafra Usa</span></a>
            <a href="" class="vorwerk-logo"><span class="sr-only">Vorwerk</span></a>
            <a href="" class="dsa-logo"><span class="sr-only">DSA</span></a>
        </div-->
          <!-- SPACER --> <p><br></p> <!-- REPLACE WITH CSS FROM UI DESIGN ITERATIONS BEFORE LAUNCH -->

        <div class="container text-center legalcopy">
          <p><a href="" data-toggle="modal" data-target=".bs-terms-modal-lg" analytics-on="click" analytics-event="Footer Terms" analytics-category="Content"><span ng-bind-html="'TERMS' | translate | unsafe"></span></a> | <a href="" data-toggle="modal" data-target=".bs-privacy-modal-lg" analytics-on="click" analytics-event="Footer Privacy" analytics-category="Content"><span ng-bind-html="'PRIVACY' | translate | unsafe"></span></a></p>
          <p>
            <span ng-bind-html="'COPYRIGHT' | translate | unsafe"></span>
          </p>
        </div>
      </footer>
<!-- CONSULTANT AGREEMENT MODAL -->
<div class="modal fade agreement-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"><span ng-bind-html="'CLOSE' | translate | unsafe"></span></span></button>
        <h4 class="modal-title" id="myModalLabel"><span ng-bind-html="'CONSULTANT-AGREEMENT-TITLE' | translate | unsafe"></span></h4>
      </div>
      <div class="modal-body">
          <div class="agreement-content">
             <!--terms partial goes here-->
              <div ng-if="session.language" ng-include="'/partials/consultant-agreement-'+session.language+'.html'"></div>
          </div>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-primary" type="button"><span ng-bind-html="'CLOSE' | translate | unsafe"></span></button> 
      </div>
    </div>
  </div>
</div>
<!-- JOIN LEAD MODAL -->
<div class="modal fade lead-modal-lg" id="leadModal" tabindex="-1" role="dialog" aria-labelledby="leadModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"><span ng-bind-html="'CLOSE' | translate | unsafe"></span></span></button>
        <h4 class="modal-title text-center" id="myModalLabel"><span ng-bind-html="'JOIN-JAFRA-TODAY' | translate | unsafe" class="ng-binding">JOIN JAFRA TODAY</span></h4>
      </div>
      <!-- FIXME: figure out how to make this not crash -->
      <div class="modal-body clearfix">
        <ng-include src="'/partials/online_sponsoring/leadform.html'"/>
      </div>
    </div>
  </div>
</div>
<!-- terms modal -->
<div class="modal fade bs-terms-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"><span ng-bind-html="'CLOSE' | translate | unsafe"></span></span></button>
        <h4 class="modal-title" id="myModalLabel"><span ng-bind-html="'TERMS_OF_USE' | translate | unsafe"></span></h4>
      </div>
      <div class="modal-body">
          <div class="agreement-content">
             <!--terms partial goes here-->
              <div ng-if="session.language" ng-include="'/partials/terms-'+session.language+'.html'"></div>
          </div>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-primary" type="button"><span ng-bind-html="'CLOSE' | translate | unsafe"></span></button> 
      </div>
    </div>
  </div>
</div>
<!-- privacy modal -->
<div class="modal fade bs-privacy-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"><span ng-bind-html="'CLOSE' | translate | unsafe"></span></span></button>
        <h4 class="modal-title" id="myModalLabel"><span ng-bind-html="'PRIVACY-TITLE' | translate | unsafe"></span></h4>
      </div>
      <div class="modal-body">
          <div class="agreement-content">

              <!--privacy policy partial goes here-->
              <div ng-if="session.language" ng-include="'/partials/privacy-policy-'+session.language+'.html'"></div>
          </div>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-primary" type="button"><span ng-bind-html="'CLOSE' | translate | unsafe"></span></button> 
      </div>
    </div>
  </div>
</div>


<!-- jafra chat widget -->
<div ng-if='isChatAvailable' id="jaf_chat">
  <div class="jaf-chat-holder">
    <div class="jaf-chat-header">
      <h4 ng-if="session.language == 'en_US'" class="jaf-chat-title">Chat with us!</h4>
      <h4 ng-if="session.language == 'es_US'" class="jaf-chat-title">podemos ayudarte?</h4>
      <button class="jaf-chat-showhide"></button>
    </div>
    <div id="jaf_chat_frame" class="jaf-chat-frame">
      <iframe id="jaf_chat_frame" width="320" height="400" frameborder="0" src="https://chat.jafrausa.com/chat/chat.html"></iframe>
    </div>
  </div>
</div>

<!-- jafra chat is unavailable -->
<div ng-if='!isChatAvailable' id="jaf_chat" class='jaf_chat_unavailable'>
  <div class="jaf-chat-holder">
    <div class="jaf-chat-header">
      <h4 ng-if="session.language == 'en_US'" class="jaf-chat-title">Chat is available 8am-6pm PST</h4>
      <h4 ng-if="session.language == 'es_US'" class="jaf-chat-title">Chat is available 8am-6pm PST</h4>
    </div>
  </div>
</div>


    </div> <!-- /div #content -->

    <!-- JavaScript -->
    <script src="/js/jafrachat.js"></script>

    <script src="/lib/newrelic-timing/newrelic-timing.min.js"></script>
    <script src="/lib/newrelic-timing/newrelic-timing-angular.min.js"></script>
    <script src="/lib/jquery-resize/jquery.ba-resize.min.js"></script>

    <script src="/lib/angular-bindonce/bindonce.js"></script>
    <script src="/lib/momentjs/moment.js"></script>
    <script src="/lib/moment-timezone/builds/moment-timezone-with-data-2010-2020.js"></script>
    <script src="/lib/moment-timezone/moment-timezone-utils.js"></script>
    <script src="/lib/angular-route/angular-route.min.js"></script>
    <script src="/lib/angular-animate/angular-animate.js"></script>
    <script src="/lib/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/lib/angular-resource/angular-resource.min.js"></script>
    <script src="/lib/angular-cookies/angular-cookies.min.js"></script>
    <script src="/lib/angular-cache/dist/angular-cache.min.js"></script>
    <script src="/lib/angular-animate/angular-animate.min.js"></script>
    <script src="/lib/angular-growl-notifications/dist/growl-notifications.js"></script>
    <script src="/lib/angular-translate/angular-translate.js"></script>
    <script src="/lib/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="/lib/angular-scroll/angular-scroll.js"></script>
    <script src="/lib/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src='/lib/ngInfiniteScroll/build/ng-infinite-scroll.min.js'></script>

    <!-- angular wizard -->
    <script src="/js/angular/modules/lodash.js"></script>
    <script src="/lib/angular-wizard/dist/angular-wizard.js"></script>

    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/lib/allmighty-autocomplete/script/autocomplete.js"></script>

    <script src="/lib/angular-ui-utils/modules/mask/mask.js"></script>
    <script src="/lib/angular-ui-utils/modules/keypress/keypress.js"></script>
    <script src="/lib/angular-ui-utils/modules/jq/jq.js"></script>
    <script src="/lib/angular-ui-utils/modules/event/event.js"></script>
    <script src="/lib/angular-ui-utils/modules/validate/validate.js"></script>

    <script src="/lib/angulartics/dist/angulartics.min.js"></script>
    <script src="/lib/angulartics/dist/angulartics-ga.min.js"></script>
    <script src="/lib/angulartics/dist/angulartics-gtm.min.js"></script>
    <script src="/lib/angulartics/dist/angulartics-scroll.min.js"></script>
    <script src="/lib/angulartics/dist/angulartics-debug.min.js"></script>

    <script src="/lib/HashKeyCopier/lib/hash-key-copier.js"></script>
    <script src="/lib/string.js/lib/string.min.js"></script>
    <script src="/lib/jquery-xml2json/src/xml2json.js"></script>
    <script src="/lib/requirejs/require.js"></script>
    
    <script src="/lib/underscore/underscore-min.js"></script>

    <script src="/js/config.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/pgp_key.js"></script>

    <script src="/js/angular/controllers/controllers.js"></script>
    <script src="/js/angular/controllers/TopController.js"></script>
    <script src="/js/angular/controllers/LanguageSwitcherController.js"></script>
    <script src="/js/angular/controllers/MainController.js"></script>
    <script src="/js/angular/controllers/CategoriesController.js"></script>
    <script src="/js/angular/controllers/HomeController.js"></script>
    <script src="/js/angular/controllers/ObjectsController.js"></script>
    <script src="/js/angular/controllers/ProductsController.js"></script>
    <script src="/js/angular/controllers/ProductDetailsController.js"></script>
    <script src="/js/angular/controllers/CartController.js"></script>
    <script src="/js/angular/controllers/CheckoutController.js"></script>
    <script src="/js/angular/controllers/AddressCorrectionModalController.js"></script>
    <script src="/js/angular/controllers/RecentlyViewedController.js"></script>
    <script src="/js/angular/controllers/ConfigureKitModalController.js"></script>
    <script src="/js/angular/controllers/ZoomImageModalController.js"></script>
    <script src="/js/angular/controllers/ShippingSpeedModalController.js"></script>
    <script src="/js/angular/controllers/TaxSelectionModalController.js"></script>
    <script src="/js/angular/controllers/EditCreditCardModalController.js"></script>
    <script src="/js/angular/controllers/ScrollController.js"></script>
    <script src="/js/angular/controllers/ContactEditModalController.js"></script>
    <script src="/js/angular/controllers/AddressEditModalController.js"></script>
    <script src="/js/angular/controllers/LookupSponsorController.js"></script>
    <!-- online sponsoring home controller -->
    <script src="/js/angular/controllers/online_sponsoring/OnlineSponsorLandingController.js"></script>
    <script src="/js/angular/services.js"></script>
    <script src="/js/angular/filters.js"></script>
    <script src="/js/angular/directives.js"></script>
    <script src="/js/angular/app.js"></script>
    <script>
      $(function(){ 

        // if ($(window).width() > 768) {
          $('#pagenav').affix({
              offset: {
                top: $('.jumbotron').outerHeight()
              , bottom: function () {
                  return (this.bottom = $('footer').outerHeight(true))
                }
              }
          });
        // }

        $('a.more-link').on('click', function() {
          console.log($('this'));
          $('this').parent('section').toggleClass('expanded');
        });

      });
    </script>

    <!--  Quantcast Tag -->
    <script>
      qcdata = {} || qcdata;
      (function(){
        var elem = document.createElement('script');
        elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://pixel") + ".quantserve.com/aquant.js?a=p-eTqVryJ5yMdFg";
        elem.async = true;
        elem.type = "text/javascript";
        var scpt = document.getElementsByTagName('script')[0];
        scpt.parentNode.insertBefore(elem,scpt);
      }());
      var qcdata = {qacct: 'p-eTqVryJ5yMdFg', orderid: '', revenue: '' };
    </script>
    <noscript>
      <img src="//pixel.quantserve.com/pixel/p-eTqVryJ5yMdFg.gif?labels=_fp.event.Default" style="display: none;" border="0" height="1" width="1" alt="Quantcast"/>
    </noscript>
    <!-- End Quantcast Tag -->

    <script type="text/javascript">
   
    var google_conversion_id = 957228484;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    
    </script>
    
    
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/957228484/?value=0&amp;guid=ON&amp;script=0"/>
    </div>
    </noscript>

    <!-- Quantcast Tag -->
    <script type="text/javascript">
    var _qevents = _qevents || [];

    (function() {
    var elem = document.createElement('script');
    elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
    elem.async = true;
    elem.type = "text/javascript";
    var scpt = document.getElementsByTagName('script')[0];
    scpt.parentNode.insertBefore(elem, scpt);
    })();

    _qevents.push({
      qacct : "p-e1NPHhGKtLbj8"
    });
    </script>

    <noscript>
    <div style="display:none;">
    <img src="//pixel.quantserve.com/pixel/p-e1NPHhGKtLbj8.gif" border="0" height="1" width="1" alt="Quantcast"/>
    </div>
    </noscript>
    <!-- End Quantcast tag -->

  </body>
</html>
