<section id="top">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h1 class="jumbo-title">
                <span class="jumbo-title-span-1">Live</span> <span class="HelveticaNeueLTStd-Th jumbo-title-span-2">the Life</span><br />
                <span class="jumbo-title-span-3">You</span> <span class="DidotLTPro-Italic jumbo-title-span-4">imagine</span>
              </h1>
              <p class="jumbo-description">Join JAFRA! It’s fun, easy, and empowering. No experience is necessary. All you need is your desire to turn your dream career into a reality! </p>
              <p><a class="btn btn-primary btn-med" role="button" href="#" data-toggle="modal" data-target=".bs-example-modal-lg">Get Started</a> <!--a href="#" class="watch-video-link" data-toggle="modal" data-target=".bs-video-modal-lg"><span class="glyphicon glyphicon-play"></span> WATCH VIDEO</a--></p>
            </div>
            <div class="col-md-6">
              <!--video class="img-responsive" controls poster="video/polina.jpg" id="ctavid">
                <source src="/video/polina.webm" type="video/webm">
                <source src="/video/polina.mp4" type="video/mp4">
              </video-->  
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Modal box that pops up when user clicks on WatchVideo >
    <div class="modal fade bs-video-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="row text-center">
            <video class="img-responsive" controls poster="video/polina.jpg" id="ctavid">
                <source src="/video/polina.webm" type="video/webm">
                <source src="/video/polina.mp4" type="video/mp4">
              </video>  
          </div>
        </div>
      </div>
    </div-->
      
    <!-- Modal box that pops up when user clicks on CTA [Call To Action] -->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="row text-center" style="padding: 1em;">
            <div class="col-md-12">
              <h2>SELECT YOUR STARTER KIT</h2>
            </div>
            <div class="col-md-6" style="border-right: 1px solid #ededed;">
              <img class="img-responsive" src="/img/99_kit.jpg">
              <h3 class="hero-header-title"><span class="serif-title h1">get everything</span><br />
                YOU NEED
              </h3>
              <h3 class="h1 starter_kits-price">$99</h3>
              <p class="starter_kits-label_title">Royal Starter Kit</p>
              <p class="starter_kits-retail_value">A $490+ Retail Value</p>
              <div class="product-action">
                <!-- Split button -->
                <div class="btn-group">
                  <button type="button" class="btn btn-primary btn-lg" ng-click="join('19634', 'en_US', 'Royal Starter Kit', 99)">Buy English</button>
                  <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>

                  <ul class="dropdown-menu kit-select" role="menu">
                    <li><a href="#" ng-click="join('19634', 'en_US', 'Royal Starter Kit', 99)">Buy English</a></li>
                    <li><a href="#" ng-click="join('19635', 'es_US', '', 99)">Buy Spanish</a></li>

                  </ul>
                </div>
              </div>
              <p class="text-right"><a href="#royal_starter_info" data-toggle="collapse" data class="more-link collapsed"><span>WHAT&rsquo;S INSIDE?</span></a></p>
              <!-- collapsed section content (default collapsed) -->
              <div id="royal_starter_info" class="collapse">
                <hr>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mattis tincidunt turpis et varius. Donec sapien arcu, facilisis vitae nunc sit amet, venenatis consequat felis. Curabitur varius pretium metus. Phasellus ut tellus tempus ipsum malesuada sodales et porttitor diam.</p>
                
                  <img src="/img/99_kit_bags.jpg" class="img-responsive"/>
                
              </div>
            </div>
            <div class="col-md-6" style="border-left: 1px solid #ededed;">
              <img class="img-responsive" src="/img/39_kit.jpg">
              <h3 class="hero-header-title"><span class="serif-title h1">get a</span><br />
                QUICK START
              </h3>
              <h3 class="h1 starter_kits-price">$39</h3>
                <p class="starter_kits-label_title">Skincare Starter Kit</p>
                <p class="starter_kits-retail_value">A $198 Retail Value</p>
              <div class="product-action">
                <!-- Split button -->
                <div class="btn-group">
                  <button type="button" class="btn btn-primary btn-lg" ng-click="join('19636', 'en_US', 'Skincare Starter Kit', 39)">Buy English</button>
                  <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>

                  <ul class="dropdown-menu kit-select" role="menu">
                    <li><a href="sign-in.html" ng-click="join('19636', 'en_US', 'Skincare Starter Kit', 39)">Buy English</a></li>
                    <li><a href="sign-in.html" ng-click="join('19637', 'es_US', '', 39)">Buy Spanish</a></li>

                  </ul>
                </div>
              </div>
                <p class="text-right"><a href="#skincare_starter_info" data-toggle="collapse" data class="more-link collapsed"><span>WHAT&rsquo;S INSIDE?</span></a></p>
              <!-- collapsed section content (default collapsed) -->
              <div id="skincare_starter_info" class="collapse">
                <hr>
                  <img src="/img/39_kit_bag.jpg" class="img-responsive"/>
                
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mattis tincidunt turpis et varius. Donec sapien arcu, facilisis vitae nunc sit amet, venenatis consequat felis. Curabitur varius pretium metus. Phasellus ut tellus tempus ipsum malesuada sodales et porttitor diam.</p>
                
              </div>
            </div>
           
           
          </div>
        </div>
      </div>
    </div>



    <!-- WHY JAFRA - Features & Highlights -->

    <section id="why_jafra">

      <div class="container">
        <h2 class="h1 section-title">Why Join Jafra?</h2>
      </div> <!-- /.container -->

      <section class="subsection" id="why_jafra_products">

        <div class="container subcontainer">
      
          <div class="row">
            
            <div class="col-md-6">

              <div class="section-copy">

                <h3 class="hero-header-title"><span class="serif-title">products</span><br />TO LOVE</h3>
                <p>Advanced skin care, trendy colors, luxurious toiletries plus exclusive fragrances created by world-renowned European perfumers… you’ll love our product line up! The best part?  You can earn up to 50% commission on your product sales – one of the highest commissions in the industry!</p>

                <!-- collapsed section toggle (default collapsed) -->
                <p class="text-right prod_more_link"><a class="more-link collapsed" data-toggle="collapse" href="#more_products"><span>MORE</span></a></p>
 
                <div id="more_products" class="collapse">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mattis tincidunt turpis et varius. Donec sapien arcu, facilisis vitae nunc sit amet, venenatis consequat felis. Curabitur varius pretium metus. Phasellus ut tellus tempus ipsum malesuada sodales et porttitor diam.</p>
                  <p><br><p>
                </div>

              </div> <!-- /.section-copy -->

            </div> <!-- /.col -->

            <div class="col-md-6">

                <div class="carousel">

                  <div id="carousel-product-generic" class="slide" data-ride="carousel">

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                      <div class="item active">
                              <img class="img-responsive" src="/img/products_royalJelly.jpg">
                      </div>
                      <div class="item">
                              <img class="img-responsive" src="/img/products_PRO.jpg">
                      </div>
                      <div class="item">
                              <img class="img-responsive" src="/img/products_marineBotanicals.jpg">
                      </div>
                      <div class="item">
                              <img class="img-responsive" src="/img/products_fragranceWomen.jpg">
                      </div>
                      <div class="item">
                              <img class="img-responsive" src="/img/products_fragranceMen.jpg">
                      </div>
                      <div class="item">
                              <img class="img-responsive" src="/img/products_color.jpg">
                      </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-product-generic" role="button" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span> <!--  ** left control hidden (angular bug) **  -->
                    </a>
                    <a class="right carousel-control" href="#carousel-product-generic" role="button" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>

                  </div>

              </div> <!-- /.carousel -->

            </div> <!-- /.col -->
          
          </div> <!-- /.row -->

        </div> <!-- /.container -->

      </section> <!-- /.subsection -->


      <section class="subsection" id="why_jafra_lifestyle">

        <div class="container subcontainer">

          <img class="hidden-xs hidden-sm" src="/img/liner_black.png" id="liner_black" style="max-width:170px;">

          <div class="row">

            <div class="col-md-6">
              <img class="img-responsive" src="/img/heroshot2.jpg">
            </div> <!-- /.col -->

            <div class="col-md-6">

              <div class="section-copy">

                <h3 class="hero-header-title"><span class="serif-title">it&rsquo;s</span><br />YOUR CALL!</h3>
                <p>JAFRA’s lets you sell your way. Set your own hours, plan work around your family and achieve financial independence doing what you love.</p>
                <p class="text-right"><a href="#more_call" data-toggle="collapse" class="more-link collapsed"><span>MORE</span></a></p>
                <!-- collapsed section content (default collapsed) -->
                <div id="more_call" class="collapse">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mattis tincidunt turpis et varius. Donec sapien arcu, facilisis vitae nunc sit amet, venenatis consequat felis. Curabitur varius pretium metus. Phasellus ut tellus tempus ipsum malesuada sodales et porttitor diam.</p>
                  <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dignissim, nibh at pulvinar ornare, nisl mauris maximus nulla, at bibendum metus arcu sed orci. Morbi convallis eu dolor vitae ultricies. Mauris a porttitor tortor, id pellentesque enim. Sed odio sem, placerat eu lorem a, auctor porta enim. Vestibulum egestas, felis a dictum elementum, arcu purus elementum tellus, vel auctor elit diam ac orci. Suspendisse sollicitudin ipsum quis eros rutrum, vel gravida sapien pulvinar. Duis mattis ultricies hendrerit. Phasellus augue libero, tincidunt sit amet tortor non, mollis euismod urna. Cras erat sapien, malesuada eu enim et, bibendum luctus neque. Pellentesque eget euismod sapien. Pellentesque malesuada mauris viverra, placerat ligula id, condimentum nibh. Mauris sed rhoncus lacus, et lacinia erat. Phasellus ultricies ut felis rutrum elementum. Nulla nec ultrices quam. Donec quis congue nisi, quis placerat quam.
                  </p>
                  <p>
                  Aliquam condimentum, tortor mollis efficitur rhoncus, elit felis laoreet lectus, sed bibendum mi urna sed dui. Quisque vitae elit id nulla posuere pretium. Integer feugiat, neque vitae vestibulum convallis, quam diam feugiat nisl, a aliquet velit nunc at turpis. Cras euismod molestie scelerisque. Integer vestibulum, mauris sit amet pretium dignissim, ligula lorem mollis felis, posuere lobortis odio mi vitae dolor. Donec tempus magna nec tellus aliquet, ultrices malesuada ante volutpat. Donec imperdiet odio ut erat suscipit, sed ornare felis ultricies. Duis iaculis odio eget eros facilisis, sed cursus arcu viverra. Proin aliquam tempus vulputate.
                  </p>
                </div>

              </div> <!-- /.section-copy -->

            </div> <!-- /.col -->

          </div> <!-- /.row -->

        </div> <!-- /.container -->

      </section> <!-- /.subsection -->


      <section class="subsection" id="why_jafra_rewards">

        <div class="container subcontainer">

          <div class="row">

            <div class="col-md-6">

              <div class="section-copy">

                <h3 class="hero-header-title"><span class="serif-title">rewards</span><br />GALORE</h3>
                <p>Set your own goals to earn exciting gifts, amazing trips, and free JAFRA beauty products.</p>
                <p class="text-right"><a href="#more_rewards" data-toggle="collapse" class="more-link collapsed"><span>MORE</span></a></p>
                <!-- collapsed section content (default collapsed) -->
                <div id="more_rewards" class="collapse">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mattis tincidunt turpis et varius. Donec sapien arcu, facilisis vitae nunc sit amet, venenatis consequat felis. Curabitur varius pretium metus. Phasellus ut tellus tempus ipsum malesuada sodales et porttitor diam.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mattis tincidunt turpis et varius. Donec sapien arcu, facilisis vitae nunc sit amet, venenatis consequat felis. Curabitur varius pretium metus. Phasellus ut tellus tempus ipsum malesuada sodales et porttitor diam.</p>
                </div>

              </div>

            </div>

            <div class="col-md-6">

              <div class="carousel">
                
                <div id="carousel-rewards-generic" class="slide" data-ride="carousel">
                  <!-- Indicators -->
                  <!-- <ol class="carousel-indicators">
                    <li data-target="#carousel-rewards-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-rewards-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-rewards-generic" data-slide-to="2"></li>
                  </ol> -->

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                    <div class="item active">
                            <img class="img-responsive" src="/img/rewards_jewelry.jpg">
                    </div>
                    <div class="item">
                            <img class="img-responsive" src="/img/rewards_iPad_CoachBag.jpg">
                    </div>
                    <div class="item">
                            <img class="img-responsive" src="/img/rewards_summerTrip.jpg">
                    </div>
                  </div>

                  <!-- Controls -->
                  <a class="left carousel-control" href="#carousel-rewards-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="right carousel-control" href="#carousel-rewards-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>

                </div>

              </div>

            </div>

          </div>
          
        </div>

      </section>

      
      <section class="subsection" id="why_jafra_testimonials">

        <div class="container subcontainer text-center">

          <img class="hidden-xs" style="max-width:340px" src="/img/pastelpatches-3.png"  id="pastelpatches"/>

          <img class="hidden-xs" style="max-width:250px" src="/img/lipsticksmears4.png" id="lipsticksmear" />

          <div class="row">

            <div class="col-md-12">
              <div class="section-copy text-left">
                <h3 class="hero-header-title"><span class="serif-title">JAFRA is everything</span><br />WE IMAGINED<span class="serif-title-alt">and more!</span></h3>
              </div>
            </div>

            <div class="testimonials center-block">
            
              <div class="col-md-4 text-center">
                <div class="testimonial center-block" style="max-width:320px">
                  <img class="img-responsive" src="/img/lori.png" alt="Lori Duncan Photo">
                  <i class="fa " style="margin:0 0 0 -13px"></i>
                  <h4 class="media-heading h3">Lori Duncan</h4>
                  <p><small></small></p>
                  <p>&ldquo;It’s easy for me to sell JAFRA because I’m so passionate about all the products! They’re such great quality.&rdquo;</p>
                </div>
              </div>

              <div class="col-md-4 text-center">
                <div class="testimonial center-block" style="max-width:320px">
                  <img class="img-responsive center-block" src="/img/jennifer.png" alt="Jennifer Knight Photo">
                  <i class="fa " style="margin:0 0 0 -13px"></i>
                  <h4 class="media-heading h3">Jennifer Knight</h4>
                  <p><small></small></p>
                  <p>&ldquo;JAFRA has given me the opportunity to earn more money! Plus the sky’s the limit! I can earn as much as I want!&rdquo;</p>
                </div>
              </div>

              <div class="col-md-4 text-center">
                <div class="testimonial center-block" style="max-width:320px">
                  <img class="img-responsive center-block" src="/img/rossy.png" alt="Rossy Argueta Photo">
                  <i class="fa " style="margin:0 0 0 -13px"></i>
                  <h4 class="media-heading h3">Rossy Argueta</h4>
                  <p><small></small></p>
                  <p>&ldquo;I love the freedom JAFRA gives me. I spend more time with my family because I can choose my own schedule. &rdquo;</p>
                </div>
              </div>

            </div>

          </div>

        </div>

      </section>


    </section>



    <!-- Starter Packages -->
    <section id="starter_kits">

      <div class="container">
        <h2 class="h1 section-title">SELECT YOUR STARTER KIT</h2>
      </div>

      <section id="royal_starter_kit" class="subsection">
        <div class="container subcontainer">

          <div class="row">

            <div class="hidden-md hidden-lg col-md-6">
              <img class="img-responsive" src="/img/99_kit.jpg" />
            </div>

            <div class="col-md-6">
              <div class="section-copy">
                <h3 class="hero-header-title" style="margin-top:10px;"><span class="serif-title h1">get everything</span><br />
                  YOU NEED
                </h3>
                <h3 class="h1 starter_kits-price">$99</h3>
                <p class="starter_kits-label_title">Royal Starter Kit</p>

                <p class="pull-right"><a href="#more_royal" data-toggle="collapse" class="more-link collapsed"><span>WHAT&rsquo;S INSIDE?</span></a></p>

                <p class="starter_kits-retail_value">A $490+ Retail Value</p>
                <div class="product-action">
                    <!-- Split button -->
                    <div class="btn-group">
                      <button type="button" class="btn btn-primary btn-lg" ng-click="join('16947', 'en_US')">Buy English</button>
                      <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu kit-select" role="menu">
                        <li><a href="sign-in.html" ng-click="join('19634', 'en_US')">Buy English</a></li>
                        <li><a href="sign-in.html" ng-click="join('19635', 'es_US')">Buy Spanish</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
            </div>

            <div class="hidden-xs hidden-sm col-md-6">
              <img class="img-responsive" src="/img/99_kit.jpg" />
            </div>

            <!-- collapsed section content (default collapsed) -->
            <div id="more_royal" class="col-md-12 collapse">
              <div class="col-md-6">
                <img src="/img/99_kit_bags.jpg" class="img-responsive"/>
              </div>
              <div class="col-md-6">
                <div class="section-copy">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mattis tincidunt turpis et varius. Donec sapien arcu, facilisis vitae nunc sit amet, venenatis consequat felis. Curabitur varius pretium metus. Phasellus ut tellus tempus ipsum malesuada sodales et porttitor diam.</p>
                </div>
              </div>
            </div>

          </div>

        </div>
      </section>

      <section id="skincare_starter_kit" class="subsection">

        <div class="container subcontainer">

          <div class="row">

            <div class="col-md-6">
              <img class="img-responsive" src="/img/39_kit.jpg" />
            </div>

            <div class="col-md-6">
              <div class="section-copy">

                <h3 class="hero-header-title" style="margin-top:10px;"><span class="serif-title h1">get a</span>
                  <span style="display:block; font-size:61px;">QUICK START</span>
                </h3>
                <h3 class="h1 starter_kits-price" style="font-size:6em;">$39</h3>
                  <p class="starter_kits-label_title">Skincare Starter Kit</p>
                  <p class="pull-right"><a href="#more_skincare" data-toggle="collapse" class="more-link collapsed"><span>WHAT&rsquo;S INSIDE?</span></a></p>
                  <p class="starter_kits-retail_value">A $198 Retail Value</p>
                
                <div class="product-action">
                  <!-- Split button -->
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-lg" ng-click="join('19634', 'en_US', 'Royal Starter Kit', 99)">Buy English</button>
                    <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown">
                      <span class="caret"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>

                    <ul class="dropdown-menu kit-select" role="menu">
                      <li><a href="sign-in.html" ng-click="join('19634', 'en_US', 'Royal Starter Kit', 99)">Buy English</a></li>
                      <li><a href="sign-in.html" ng-click="join('19635', 'es_US', '', 99)">Buy Spanish</a></li>

                    </ul>
                  </div>
                </div>

              </div>
            </div>

            <!-- collapsed section content (default collapsed) -->
            <div id="more_skincare" class="col-md-12 collapse">
              <div class="col-md-6">
                <div class="section-copy">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mattis tincidunt turpis et varius. Donec sapien arcu, facilisis vitae nunc sit amet, venenatis consequat felis. Curabitur varius pretium metus. Phasellus ut tellus tempus ipsum malesuada sodales et porttitor diam.</p>
                </div>
              </div>
              <div class="col-md-6">
                <img src="/img/99_kit_bags.jpg" class="img-responsive"/>
              </div>
            </div>

          </div>
        </div>
      </section>  

    </section>


    <!-- FAQs -->
    <section id="FAQs">

      <div class="container">
        <h2 class="h1 section-title">FAQs</h2>
      </div>

      <div class="subsection">

        <div class="container">
          
          <div class="col-md-6">
            <div class="faqs-item">
              <div class="faqs-item-question">
                <a class="h4 more-link collapsed" data-toggle="collapse" href="#FAQcollapse1">
                  Q. What does it mean to be a JAFRA Consultant?
                </a>
              </div>
              <div class="faqs-item-answer">
                <!-- collapsed section content (default collapsed) -->
                <p id="FAQcollapse1" class="collapse">
                  A. You’re out there as our representative selling JAFRA’s excellent products directly to customers at hosted parties, casual get-togethers wherever you like or online. It’s up to you!
                </p>
              </div>
            </div>
            <hr>
            <div class="faqs-item">
              <div class="faqs-item-question">
                <a class="h4 more-link collapsed" data-toggle="collapse" href="#FAQcollapse2">
                  Q. How do I begin to share JAFRA products?
                </a>
              </div>
              <div class="faqs-item-answer">
                <!-- collapsed section content (default collapsed) -->
                <p id="FAQcollapse2" class="collapse">
                  A. Simply make a list of your friends, family, and neighbors, and give them a call. Let them know you’re now a JAFRA Consultant, and that you want to show them the beauty of JAFRA products.
                </p>
              </div>
            </div>
            <hr>
            <div class="faqs-item">
              <div class="faqs-item-question">
                <a class="h4 more-link collapsed" data-toggle="collapse" href="#FAQcollapse3">
                  Q. How much can I expect to earn?
                </a>
              </div>
              <div class="faqs-item-answer">
                <!-- collapsed section content (default collapsed) -->
                <p id="FAQcollapse3" class="collapse">
                  A. You’re the CEO of your business so you decide! You can earn up to 50% personal commissions on sales. The more you sell, the more you’ll earn!
                </p>
              </div>
            </div>
            <hr>
            <div class="faqs-item">
              <div class="faqs-item-question">
                <a class="h4 more-link collapsed" data-toggle="collapse" href="#FAQcollapse4">
                  Q. How will I get paid?
                </a>
              </div>
              <div class="faqs-item-answer">
                <!-- collapsed section content (default collapsed) -->
                <p id="FAQcollapse4" class="collapse">
                  A. You have two options. Payments are made: 1) Via direct deposit into your checking account 2) Loaded onto a JAFRA Debit MasterCard.
                </p>
              </div>
            </div>
            <hr>
            <div class="faqs-item">
              <div class="faqs-item-question">
                <a class="h4 more-link collapsed" data-toggle="collapse" href="#FAQcollapse5">
                  Q. Will I receive training from JAFRA?
                </a>
              </div>
              <div class="faqs-item-answer">
                <!-- collapsed section content (default collapsed) -->
                <p id="FAQcollapse5" class="collapse">
                  A. Yes! In no time, you’ll be a JAFRA expert with our convenient and powerful online training. Your JAFRA Manager can also help you learn.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="faqs-item">
              <div class="faqs-item-question">
                <a class="h4 more-link collapsed" data-toggle="collapse" href="#FAQcollapse6">
                  Q. Do I need to work a certain amount of hours?
                </a>
              </div>
              <div class="faqs-item-answer">
                <!-- collapsed section content (default collapsed) -->
                <p id="FAQcollapse6" class="collapse">
                  A. No to that. You’re the boss so you decide how much time you spend on your JAFRA business.
                </p>
              </div>
            </div>
            <hr>
            <div class="faqs-item">
              <div class="faqs-item-question">
                <a class="h4 more-link collapsed" data-toggle="collapse" href="#FAQcollapse7">
                  Q. Do I need to achieve a minimum number of sales?
                </a>
              </div>
              <div class="faqs-item-answer">
                <!-- collapsed section content (default collapsed) -->
                <p id="FAQcollapse7" class="collapse">
                  A. We have a rule for this one: To remain a JAFRA Consultant, you are required to place at least $300 or more in retail orders in a 12-month period.
                </p>
              </div>
            </div>
            <hr>
            <div class="faqs-item">
              <div class="faqs-item-question">
                <a class="h4 more-link collapsed" data-toggle="collapse" href="#FAQcollapse8">
                  Q. How much do I have to invest?
                </a>
              </div>
              <div class="faqs-item-answer">
                <!-- collapsed section content (default collapsed) -->
                <p id="FAQcollapse8" class="collapse">
                  A. You can purchase our Royal Starter Kit for $99 plus shipping and handling. It has everything you need to succeed. Look for Quick Start kits at a lower price.
                </p>
              </div>
            </div>
            <hr>
            <div class="faqs-item">
              <div class="faqs-item-question">
                <a class="h4 more-link collapsed" data-toggle="collapse" href="#FAQcollapse9">
                  Q. Does JAFRA offer a product guarantee?
                </a>
              </div>
              <div class="faqs-item-answer">
                <!-- collapsed section content (default collapsed) -->
                <p id="FAQcollapse9" class="collapse">
                  A. Of course! We offer free, no-hassle returns and exchanges within 6 months of a product’s purchase date.
                </p>
              </div>
            </div>
            <hr>
            <div class="faqs-item">
              <div class="faqs-item-question">
                <a class="h4 more-link collapsed" data-toggle="collapse" href="#FAQcollapse10">
                  Q. How is JAFRA different from other direct sale cosmetic companies?
                </a>
              </div>
              <div class="faqs-item-answer">
                <!-- collapsed section content (default collapsed) -->
                <p id="FAQcollapse10" class="collapse">
                  A. Founded in 1956 in Malibu, California, JAFRA has over 58 years in helping women achieve their dreams. Over 500,000 Consultants sell our products in 20 countries. Plus, JAFRA is ranked in the top 25 direct sales companies in the United States.
                </p>
              </div>
            </div>
          </div>

         <div class="col-md-12 text-center">

            <div class="well">

              <a class="btn btn-primary btn-lg" role="button" href="#" data-toggle="modal" data-target=".bs-example-modal-lg">Join now</a>

            </div>

          </div>

        </div>
      </div>
    </section>


    <section id="social">
      <div class="container">
        <div class="row text-center">
          <p class="h4">Share This Page:</p>
          <!-- addthis sharing tools --> 
          <div class="addthis_sharing_toolbox"></div>
        </div>
      </div>
    </section>
