
<section id="top">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="jumbo-title">
            <span class="jumbo-title-span-1"><span ng-bind-html="'OS-SECTION1-TITLE1' | translate | unsafe"></span></span>
            <span class="HelveticaNeueLTStd-Th jumbo-title-span-2"><span ng-bind-html="'OS-SECTION1-TITLE2' | translate | unsafe"></span></span><br/>
            <span class="HelveticaNeueLTStd-Th jumbo-title-span-3"><span ng-bind-html="'OS-SECTION1-TITLE3' | translate | unsafe"></span></span>
            <span class="DidotLTPro-Italic jumbo-title-span-4"><span ng-bind-html="'OS-SECTION1-TITLE4' | translate | unsafe"></span></span>
          </h1>
        </div>
      </div>
    </div>
    <div class="row jumbo-row">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p class="jumbo-description">
              <span ng-bind-html="'OS-SECTION1-BODY' | translate | unsafe"></span>
              <!-- <a href="#" class="hero-video-cta"><i class="fa fa-play-circle"></i></a> -->
            </p>
            <p class="jumboget">
              <a class="watch-video-link DidotLTPro-Italic" href="#" data-toggle="modal" data-target=".video-modal-lg" analytics-on="click" analytics-event="Hero Video" analytics-category="Content"><i class="fa fa-play"></i> <span>Watch Video</span></a>
              <!-- <a data-target="#" class="watch-video-link" data-toggle="modal" data-target=".bs-video-modal-lg"><span class="glyphicon glyphicon-play"></span> WATCH VIDEO</a> -->
            </p>
            <small class="jumbo-scroll"><i class="fa fa-angle-down"></i> Scroll Down <i class="fa fa-angle-down"></i></small>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<!-- Video Modal -->
<div class="modal fade video-modal-lg" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <a href="#" class="jaf-modal-close" data-dismiss="modal">x</a>
      
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" width="853" height="480" src="https://www.youtube.com/embed/KR2iQob2G5c" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg kit-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content clearfix">

      <div class="modal-header tex-center">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only"><span ng-bind-html="'BTN_CLOSE' | translate | unsafe"></span></span>
        </button>
        <h4 class="modal-title text-center" ng-bind-html="'OS-KIT-MODAL-TITLE' | translate | unsafe">
          SELECT YOUR STARTER KIT</h4>
      </div>

      <!-- kits.html -->
      <!-- Starter Packages -->

      <section class="subsection royal_kit">
        <div class="subcontainer">
          <div class="">
            <div class="clearfix">
              <div class="hidden-md hidden-lg col-md-6">
                <img class="img-responsive" src="/img/99kit-2x.jpg">
              </div>
              <div class="col-md-6">
                <div class="section-copy">
                  <h3 class="titlify DidotLTPro-Roman kit-title">
                    <small class="color-purple" ng-bind-html="'OS-KIT-PRODUCT1-NAME' | translate | unsafe"></small>
                  </h3>

                  <p class="color-gold HelveticaNeueLTStd-BdCn kit-desc">
                    <span ng-bind-html="'OS-KIT-PRODUCT1-TITLE1' | translate | unsafe">GET EVERYTHING</span>
                    <br class="visible-xs-*" />
                    <span ng-bind-html="'OS-KIT-PRODUCT1-TITLE2' | translate | unsafe">YOU NEED</span>
                  </p>

                  <p class="HelveticaNeueLTStd-Th kit-value" ng-bind-html="'OS-KIT-PRODUCT1-VALUE' | translate | unsafe">
                    Over $490 retail value</p>

                  <p ng-bind-html="'OS-KIT-PRODUCT1-TAG' | translate | unsafe">Make your holidays
                    bright with the Royal Business Kit. Includes everything you need to jumpstart
                    your new business.</p>

                  <p>
                    <a data-target="#more_royal_2" data-toggle="collapse" class="more-link more-link-alt collapsed" analytics-on="click" analytics-event="Modal $99 Kit Details" analytics-category="Content"><span ng-bind-html="'KIT-DETAILS-TOGGLE' | translate | unsafe">SEE WHAT&rsquo;S INCLUDED</span></a>
                  </p>

                  <div class="product-action pull-right">
                    <span class="product-price"><small>Only<br></small> $99</span>
                    <span ng-if="session.language=='en_US'">
                      <button type="button" class="btn btn-primary btn-lg" ng-click="join('20494')" analytics-on="click" analytics-event="Modal Buy $99" analytics-category="Buttons">
                        Buy <small>(English)</small>
                      </button>
                      <a data-target="#" ng-click="join('20495')" class="color-red text-center text-underline" style="display:block; margin-top:15px;">
                        Buy $99 kit in Spanish
                      </a>
                    </span>
                    <span ng-if="session.language=='es_US'">
                      <button type="button" class="btn btn-primary btn-lg" ng-click="join('20495')" analytics-on="click" analytics-event="Modal Buy $99" analytics-category="Buttons">
                        C&oacute;mpralo <small>(Espa&ntilde;ol)</small>
                      </button>
                      <a data-target="#" ng-click="join('20494')" class="color-red text-center" style="display:block; margin-top:15px;">
                        Compra el Kit de $99 en Ingl&eacute;s
                      </a>
                    </span>
                  </div>

                </div>
              </div>
              <div class="hidden-xs hidden-sm col-md-6">
                <img class="img-responsive" src="/img/99kit-2x.jpg">
                <span class="pull-right color-gold" style="margin-right: 15px;"><span style="text-decoration:none; margin-right: 10px;"><img src="/img/icons-video.gif" width="25px"/> <img src="/img/icons-booklets.gif" width="25px"/></span> <span ng-bind-html="'OS-TRAINING-INCLUDED' | translate | unsafe">TRAINING INCLUDED!</span></span>
              </div>
              <!-- collapsed section content (default collapsed) -->
              <div id="more_royal_2" class="col-md-12 collapse">
                <div class="section-copy">
                  <p ng-bind-html="'OS-KIT-PRODUCT1-DESCRIPTION' | translate | unsafe"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <hr>

      <section class="subsection skincare_kit">
        <div class="subcontainer">
          <div class="">
            <div class="col-md-5">
              <img class="img-responsive" src="/img/49kit-2x.jpg">
            </div>
            <div class="col-md-6">
              <div class="section-copy">
                <h3 class="titlify DidotLTPro-Roman kit-title">
                  <small class="color-purple" ng-bind-html="'OS-KIT-PRODUCT2-NAME' | translate | unsafe"></small>
                </h3>

                <p class="color-gold HelveticaNeueLTStd-BdCn kit-desc">
                  <span ng-bind-html="'OS-KIT-PRODUCT2-TITLE1' | translate | unsafe">GET EVERYTHING</span>
                  <span ng-bind-html="'OS-KIT-PRODUCT2-TITLE2' | translate | unsafe">YOU NEED</span>
                </p>

                <p class="HelveticaNeueLTStd-Th kit-value" ng-bind-html="'OS-KIT-PRODUCT2-VALUE' | translate | unsafe">$290 retail value</p>

                <p ng-bind-html="'OS-KIT-PRODUCT2-TAG' | translate | unsafe">Start a new season of
                  income with this Special Business Kit. Perfect for consultants on a budget who
                  want to ramp up.</p>

                <span class="pull-right color-gold" style="margin: 30px 15px 0 0;"><span style="text-decoration:none; margin-right: 10px;"><img src="/img/icons-video.gif" width="25px"/> <img src="/img/icons-booklets.gif" width="25px"/></span> <span ng-bind-html="'OS-TRAINING-INCLUDED' | translate | unsafe">TRAINING INCLUDED!</span></span>

                <a data-target="#more_skincare_2" data-toggle="collapse" class="more-link more-link-alt collapsed" style="margin-top: 30px;" analytics-on="click" analytics-event="Modal $49 Kit Details" analytics-category="Content"><span ng-bind-html="'KIT-DETAILS-TOGGLE2' | translate | unsafe">SEE INSIDE</span></a>


                <p class="starter_kits-retail_value"></p>

                <div class="product-action">
                  <span class="product-price"><small>Only<br></small> $49</span>
                  <span ng-if="session.language=='en_US'">
                    <button type="button" class="btn btn-primary btn-lg" ng-click="join('20498')" analytics-on="click" analytics-event="Modal Buy $49" analytics-category="Buttons">
                      Buy <small>(English)</small>
                    </button>
                    <a data-target="#" ng-click="join('20499')" class="color-red text-center" style="margin-left: 20px">
                      Buy $49 kit in Spanish
                    </a>
                  </span>
                  <span ng-if="session.language=='es_US'">
                    <button type="button" class="btn btn-primary btn-lg" ng-click="join('20499')" analytics-on="click" analytics-event="Modal Buy $49" analytics-category="Buttons">
                      C&oacute;mpralo <small>(Espa&ntilde;ol)</small>
                    </button>
                    <a data-target="#" ng-click="join('20498')" class="color-red text-center" style="margin-left: 20px">
                      Compra el Kit de $49 en Ingl&eacute;s
                    </a>
                  </span>
                </div>

              </div>
            </div>

            <!-- collapsed section content (default collapsed) -->
            <div id="more_skincare_2" class="col-md-12 collapse">
              <div class="section-copy">
                <p ng-bind-html="'OS-KIT-PRODUCT2-DESCRIPTION' | translate | unsafe"></p>
              </div>
            </div>

          </div>
        </div>
      </section>

    </div>
  </div>
</div>
</div>

<section id="why_jafra">
  <div ng-if="session.language" ng-include="'/partials/online_sponsoring/sections/about.html'" analytics-on="scrollby" analytics-event="About" analytics-category="Scrolled To"></div>
  <div ng-if="session.language" ng-include="'/partials/online_sponsoring/sections/products.html'" analytics-on="scrollby" analytics-event="Products" analytics-category="Scrolled To"></div>
  <div ng-if="session.language" ng-include="'/partials/online_sponsoring/sections/business-'+session.language+'.html'" analytics-on="scrollby" analytics-event="Opportunity" analytics-category="Scrolled To"></div>
  <div ng-if="session.language" ng-include="'/partials/online_sponsoring/sections/rewards.html'" analytics-on="scrollby" analytics-event="Rewards" analytics-category="Scrolled To"></div>
  <div ng-if="session.language" ng-include="'/partials/online_sponsoring/sections/testimonials.html'" analytics-on="scrollby" analytics-event="Testimonials" analytics-category="Scrolled To"></div>
</section>

<div ng-if="session.language" ng-include="'/partials/online_sponsoring/sections/kits-'+session.language+'.html'" analytics-on="scrollby" analytics-event="Kits" analytics-category="Scrolled To"></div>

<div ng-if="session.language" ng-include="'/partials/online_sponsoring/sections/faqs.html'" analytics-on="scrollby" analytics-event="FAQs" analytics-category="Scrolled To"></div>

<section id="social">
  <div class="container">
    <div class="row text-center">
      <p class="h4">
        Share This Page:
      </p><!-- addthis sharing tools -->
      <div class="addthis_sharing_toolbox"></div>
    </div>
  </div>
</section>

<script>
  $(function(){ 
    // stop video from playing when modal closes
    $('#videoModal').on('hide.bs.modal', function (e) {
      $("#videoModal iframe").attr("src", $("#videoModal iframe").attr("src"));
    })

  });
</script>
