<div class="jumbotron jumbo-videobg">
  <video autoplay="" loop="" poster="/video/polina.jpg" id="bgvid">
    <source src="/video/polina.webm" type="video/webm">
    <source src="/video/polina.mp4" type="video/mp4">
  </video>
</div>

<div id="pagenav" class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">[Logo]</a>
    </div>
    <div class="navbar-collapse collapse navbar-sections">

      <ul class="nav navbar-nav navbar-right navbar-language" style="margin-left: 40px;">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="http://static.flag-sprites.com/i/blank.gif" class="flag flag-us" alt="US English" /> US English <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">US English</a></li>
            <li><a href="#">US Spanish</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#why_jafra">Why JAFRA?</a></li>
        <li><a href="#starter_packages">Starter Packages</a></li>
        <li><a href="#FAQs">FAQs</a></li>
      </ul>

    </div><!--/.navbar-collapse -->
  </div>
</div>

<div id="content">
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Call to Action</h1>
        <p>Title and short introduction designed to provide the minimum required context to excite the target user and incentivise them to click the primary call to action.</p>
        <p><a class="btn btn-primary btn-lg" role="button" href="#starter_packages">Get Started</a></p>
      </div>
      <div class="col-md-6">
        <video class="img-responsive" controls poster="/video/polina.jpg" id="ctavid">
          <source src="/video/polina.webm" type="video/webm">
          <source src="/video/polina.mp4" type="video/mp4">
        </video>
      </div>
    </div>
  </div>
</div>

<div class="container">

<!-- Features & Highlights -->
<section id="why_jafra">
  <div class="row text-center">
    <div class="col-md-12">
      <h2 class="h1">Why Jafra?</h2>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <img class="img-responsive" src="/img/4by3.jpg">
      <!-- SPACER --> <p><br></p> <!-- REPLACE WITH CSS FROM UI DESIGN ITERATIONS BEFORE LAUNCH -->
    </div>
    <div class="col-md-4">
      <h3>World Class Products</h3>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-3 text-right">
      <h3>Earn Extra Cash</h3>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    </div>
    <div class="col-md-5">
      <img class="img-responsive" src="/img/4by3.jpg">
      <!-- SPACER --> <p><br></p> <!-- REPLACE WITH CSS FROM UI DESIGN ITERATIONS BEFORE LAUNCH -->
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <img class="img-responsive" src="/img/4by3.jpg">
      <!-- SPACER --> <p><br></p> <!-- REPLACE WITH CSS FROM UI DESIGN ITERATIONS BEFORE LAUNCH -->
    </div>
    <div class="col-md-4">
      <h3>Be Your Own Boss</h3>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-md-12">
      <h3>JAFRA Consultants Love Their Jobs</h3>
      <!-- SPACER --> <p><br></p> <!-- REPLACE WITH CSS FROM UI DESIGN ITERATIONS BEFORE LAUNCH -->
      <!-- SPACER --> <p><br></p> <!-- REPLACE WITH CSS FROM UI DESIGN ITERATIONS BEFORE LAUNCH -->
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="testimonial text-center">
        <img class="img-circle" src="/img/1by1.jpg" style="max-width: 64px;" alt="...">
        <i class="fa fa-twitter" style="margin:0 0 0 -13px"></i>
        <h4 class="media-heading">Julie Smith</h4>
        <p><small>@juliesmith</small></p>
        <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.&rdquo;</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="testimonial text-center">
        <img class="img-circle" src="/img/1by1.jpg" style="max-width: 64px;" alt="...">
        <i class="fa fa-twitter" style="margin:0 0 0 -13px"></i>
        <h4 class="media-heading">Hannah Williams</h4>
        <p><small>@hannahbanana</small></p>
        <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.&rdquo;</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="testimonial text-center">
        <img class="img-circle" src="/img/1by1.jpg" style="max-width: 64px;" alt="...">
        <i class="fa fa-twitter" style="margin:0 0 0 -13px"></i>
        <h4 class="media-heading">Rosa Mendez</h4>
        <p><small>@rosylovesjafra</small></p>
        <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.&rdquo;</p>
      </div>
    </div>
  </div>

  <div class="row text-center">
    <!-- SPACER --> <p><br></p> <!-- REPLACE WITH CSS FROM UI DESIGN ITERATIONS BEFORE LAUNCH -->
    <a class="btn btn-primary btn-lg" role="button" href="#starter_packages">Start A Career Today</a>
    <!-- SPACER --> <p><br></p> <!-- REPLACE WITH CSS FROM UI DESIGN ITERATIONS BEFORE LAUNCH -->
    <!-- SPACER --> <p><br></p> <!-- REPLACE WITH CSS FROM UI DESIGN ITERATIONS BEFORE LAUNCH -->
  </div>

</section>

<!-- Starter Packages -->
<section id="starter_packages">
  <div class="row text-center">
    <div class="col-md-12">
      <h2>Starter Packages</h2>
      <hr>
    </div>
    <div class="col-md-4">
      <div class="well">
        <img class="img-responsive" src="/img/1by1.jpg">
        <h3>Package 1</h3>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <div class="product-action">
          <!-- Split button -->
          <div class="btn-group">
            <button type="button" class="btn btn-primary btn-lg">Buy English</button>
            <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Buy English</a></li>
              <li><a href="#">Buy Spanish</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="well">
        <img class="img-responsive" src="/img/1by1.jpg">
        <h3>Package 2</h3>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <div class="product-action">
          <!-- Split button -->
          <div class="btn-group">
            <button type="button" class="btn btn-primary btn-lg">Buy English</button>
            <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Buy English</a></li>
              <li><a href="#">Buy Spanish</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="well">
        <img class="img-responsive" src="/img/1by1.jpg">
        <h3>Package 3</h3>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <div class="product-action">
          <!-- Split button -->
          <div class="btn-group">
            <button type="button" class="btn btn-primary btn-lg">Buy English</button>
            <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Buy English</a></li>
              <li><a href="#">Buy Spanish</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- SPACER --> <p><br></p> <!-- REPLACE WITH CSS FROM UI DESIGN ITERATIONS BEFORE LAUNCH -->
  <!-- SPACER --> <p><br></p> <!-- REPLACE WITH CSS FROM UI DESIGN ITERATIONS BEFORE LAUNCH -->
</section>

<!-- FAQs -->
<section id="FAQs">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>FAQs</h2>
      <hr>
    </div>
    <div class="col-md-6">
      <h3><b>Q.</b> How does it work?</h3>
      <p><b>A.</b> Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    </div>
    <div class="col-md-6">
      <h3><b>Q.</b> How much does it cost?</h3>
      <p><b>A.</b> Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    </div>
    <div class="col-md-6">
      <h3><b>Q.</b> How much can I make?</h3>
      <p><b>A.</b> Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    </div>
    <div class="col-md-6">
      <h3><b>Q.</b> Are there any puppies on this site?</h3>
      <p><b>A.</b> Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    </div>
    <div class="col-md-6">
      <h3><b>Q.</b> What about kittens?</h3>
      <p><b>A.</b> Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    </div>
    <div class="col-md-6">
      <h3><b>Q.</b> What is the meaning of life?</h3>
      <p><b>A.</b> Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    </div>
  </div>

  <div class="row text-center">
    <!-- SPACER --> <p><br></p> <!-- REPLACE WITH CSS FROM UI DESIGN ITERATIONS BEFORE LAUNCH -->
    <a class="btn btn-primary btn-lg" role="button" href="#starter_packages">I&rsquo;m Ready To Join!</a>
    <!-- SPACER --> <p><br></p> <!-- REPLACE WITH CSS FROM UI DESIGN ITERATIONS BEFORE LAUNCH -->
    <!-- SPACER --> <p><br></p> <!-- REPLACE WITH CSS FROM UI DESIGN ITERATIONS BEFORE LAUNCH -->
  </div>

</section>

<hr>

<footer>
  <div class="pull-right footer-logos">
    <a href="" class="jafra-logo"><span class="sr-only">Jafra Usa</span></a>
    <a href="" class="vorwerk-logo"><span class="sr-only">Vorwerk</span></a>
    <a href="" class="dsa-logo"><span class="sr-only">DSA</span></a>
  </div>

  <div class="legalcopy">
    <p>
      <a href="" class="btn btn-link">Terms</a>
      |
      <a href="" class="btn btn-link">Privacy</a>
    </p>
    <p>© 2014 - JAFRA Cosmetics International - All Rights Reserved</p>
  </div>
</footer>
</div> <!-- /container -->

</div> <!-- /#content -->
