  <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="false" id="myPromoModal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title" id="mySmallModalLabel">Great News!</h4>
        </div>
        <div class="modal-body">
          As a New Consultant, you get FREE shipping when you place your first product order within the next 24 hours!
        </div>
      </div>
    </div>
  </div>