<!-- Product Page Carousel -->              
<div id="carousel-product-generic" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="item active">
      <a href="/shop/products?category=2">
        <img class="img-responsive" src="/img/150201_LVI_bannerProd_s2_es.jpg">
      </a>
    </div>
    <div class="item">
      <a href="/shop/products?category=105">
        <img class="img-responsive" src="/img/150201_LVI_bannerProd_s2_valentines_es.jpg">
      </a>
    </div>
    <div class="item">
      <a href="/shop/products?category=8432">
        <img class="img-responsive" src="/img/150201_LVI_bannerProd_AdvDynamics_es.jpg">
      </a>
    </div>
    <div class="item">
      <a href="/shop/products?category=113">
        <img class="img-responsive" src="/img/150201_LVI_bannerProd_rj_es.jpg">
      </a>
    </div>
    <div class="item">
      <a href="/shop/products?category=8391">
        <img class="img-responsive" src="/img/150201_LVI_bannerProd_pro_es.jpg">
      </a>
    </div>
  </div>
  <a class="left carousel-control" ng-click="carouselPrev();">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" ng-click="carouselNext();">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>