<!-- Product Page Carousel -->              
<div id="carousel-product-generic" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="item active">
      <a href="/shop/products?category=2">
        <img class="img-responsive" src="/img/141101_usa_bannerProd_s6_en.jpg">
      </a>
    </div>
    <div class="item">
      <a href="/shop/products/19372">
        <img class="img-responsive" src="/img/141101_usa_bannerProd_inegale_en.jpg">
      </a>
    </div>
    <!--div class="item"> commented out because there's no spanish equivalent
      <a href="/shop/products?category=8432">
        <img class="img-responsive" src="/img/140301_usa_bannerProd_s2_en.jpg">
      </a>
    </div-->
    <div class="item">
      <a href="/shop/products?category=114">
        <img class="img-responsive" src="/img/140301_usa_bannerProd_advDynamics_en.jpg">
      </a>
    </div>
    <div class="item">
      <a href="/shop/products?category=8391">
        <img class="img-responsive" src="/img/121001-usa-bannerProd-pro-en.jpg">
      </a>
    </div>
    <div class="item">
      <a href="/shop/products?category=113">
        <img class="img-responsive" src="/img/121001-usa-bannerProd-RJ-en.jpg">
      </a>
    </div>
  </div>
  <a class="left carousel-control" ng-click="carouselPrev();">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" ng-click="carouselNext();">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>