
<div id="carousel-product-generic" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="item active">
      <a href="/shop/products?category=105">
        <img class="img-responsive" ng-src="{{ CDN_URL }}/img/150401_LVI_bannerProd_s4_en.jpg">
      </a>
    </div>
    <div class="item">
      <a href="/shop/products/20013">
        <img class="img-responsive" ng-src="{{ CDN_URL }}/img/150401_LVI_bannerProd_blends_en.jpg">
      </a>
    </div>
    <div class="item">
      <a href="/shop/products?category=1">
        <img class="img-responsive" ng-src="{{ CDN_URL }}/img/150301_LVI_bannerProd_s3_skinAge_en.jpg">
      </a>
    </div>
    <div class="item">
      <a href="/shop/products?category=113">
        <img class="img-responsive" ng-src="{{ CDN_URL }}/img/150201_LVI_bannerProd_rj_en.jpg">
      </a>
    </div>
    <div class="item">
      <a href="/shop/products?category=8391">
        <img class="img-responsive" ng-src="{{ CDN_URL }}/img/150201_LVI_bannerProd_pro_en.jpg">
      </a>
    </div>
  </div>
  <a class="left carousel-control" ng-click="carouselPrev();">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" ng-click="carouselNext();">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
