<div class="modal-header">
  <button type="button" class="close" ng-click="close()">&times;</button>
  <h4 class="modal-title">Configure Offer <span class="text-muted italic">- Please select a product from each group</span></h4>
</div>

<div class="modal-body queue-modal-body">

  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 kitSelections">
      <h2>Select Products &nbsp;&rarr;</h2>
      <aside id="shop_menu">
        <ul>
          <li id="kitGroupNav{{kitGroup.kitGroup.id}}" ng-repeat="kitGroup in item.product.kitGroups" ng-click="kitGroupClicked(kitGroup)">
            <a href="" ng-class="{'active': isKitGroupSelected(kitGroup.kitGroup)}">
              <span class="ng-binding kitGroupNavName">{{kitGroup.kitGroup.id}}</span>
              <!-- <i ng-if="isKitGroupSelected(kitGroup.kitGroup)" class="fa fa-angle-up pull-right ng-scope"></i>
              <i ng-if="!isKitGroupSelected(kitGroup.kitGroup)" class="fa fa-angle-down pull-right ng-scope"></i> -->
            </a>
            <!--{{item.kitSelections[kitGroup.kitGroup.id]}} {{productIdToProduct}}-->
            <span class="modal-addon-item product-image" ng-if="item.kitSelections[kitGroup.kitGroup.id] != null && productIdToProduct != null">
              <p class="product-name">1x {{productIdToProduct[item.kitSelections[kitGroup.kitGroup.id].sku][session.language=='en_US'?'name':'name_'+session.language]}}</p>
              <img ng-if="productIdToProduct[item.kitSelections[kitGroup.kitGroup.id]].images > 0" class="img-responsive" ng-src="{{productIdToProduct[item.kitSelections[kitGroup.kitGroup.id]].images[0]}}">
              <img ng-if="productIdToProduct[item.kitSelections[kitGroup.kitGroup.id]].images == 0" class="img-responsive" ng-src="/img/product_placeholder.gif">
            </span>
          </li>
        </ul>
      </aside>
      <!--<img class="img-responsive" ng-src="/{{getImagePath(product.images[0].imagePath)}}">-->
      <!--<p class="modal-addon-item-title">{{product.name}}</p>-->
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 kitSelectionList">
      <form name="kitSelectionForm" role="form" class="form-inline clearfix">
        <div ng-repeat="kitGroup in item.product.kitGroups">
          <div id="kitGroup{{kitGroup.kitGroup.id}}" class="ng-binding kitnameWrapper row">
            <h2 class="kitname">Choose one from group ({{kitGroup.kitGroup.id}}) <small class="text-muted italic pull-right" style="text-transform:none;">scroll down and click to select &nbsp;&nbsp;</small> </h2>
            <!-- <span ng-if="$index > 0" class="pull-right"><a href="" ng-click="kitGroupClicked(item.product.kitGroups[$index-1].kitGroup)">Back to {{item.product.kitGroups[$index-1].kitGroup.id}}</a></span> -->
          </div>
          <!-- products in kitgroup -->
          <div class="row hover-row" ng-repeat="component in kitGroup.kitGroup.components" ng-class="{'selected': item.kitSelections[kitGroup.kitGroup.id].sku == component.product}" ng-click="selectProduct(kitGroup.kitGroup.id, component.product)">
            <div ng-if="productIdToProduct[component.product]" class="col-lg-3 col-md-3 col-xs-3 col-sm-3 modal-addon-item product-image clearfix">
              <img ng-if="productIdToProduct[component.product].images.length > 0" class="img-responsive" ng-src="{{getImagePath(productIdToProduct[component.product].images[0])}}">
              <img ng-if="productIdToProduct[component.product].images.length == 0" class="img-responsive" ng-src="/img/product_placeholder.gif" ng-click="selectProduct(kitGroup.kitGroup.id, component.product)">
            </div>
            <div ng-if="productIdToProduct[component.product]" class="col-lg-9 col-md-9 col-xs-9 col-sm-9 modal-addon-item">
              <br>
              <i class="kit-selection-plus pull-right fa fa-plus"></i>
              <i class="kit-selection-check pull-right fa fa-check"></i>
              <p class="modal-addon-item-title">{{productIdToProduct[component.product][session.language=='en_US'?'name':'name_'+session.language]}}</p>
              <p class="modal-addon-item-description" ng-bind-html="productIdToProduct[sku].description | unsafe">Product description</p>
              <p class="modal-addon-item-quantity"><span ng-bind-html="'QUANTITY' | translate | unsafe"></span>: {{productIdToProduct[component.product].quantity}}</p>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="col-lg-6 col-md-6 col-sm-6">
    <span class="text-muted pull-left"><span ng-bind-html="'CHOOSE-OPTION-AND-SAVE-TITLE' | translate | unsafe"></span></span>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6">
    <button ng-click="close()" class="btn btn-link"><span ng-bind-html="'BTN_CANCEL' | translate | unsafe"></span></button>
    <button ng-click="save()" class="btn btn-primary" ng-show="isKitSelectionComplete()"><i class="fa fa-shopping-cart"></i> <span ng-bind-html="'BTN_SAVE_CART' | translate | unsafe"></span></button>
    <button ng-click="save()" class="btn btn-primary" ng-show="!isKitSelectionComplete()" disabled="disabled"><i class="fa fa-shopping-cart"></i> <span ng-bind-html="'BTN_SAVE_CART' | translate | unsafe"></span></button>
  </div>
</div>
