<div class="modal-header">
  <button type="button" class="close" ng-click="close()">&times;</button>
  <h4 class="modal-title">Configure Offer</h4>
</div>

<div class="modal-body queue-modal-body">

      <form name="kitSelectionForm" role="form" class="form-inline clearfix">

        <div class="col-xs-6 col-sm-4 modal-addon-item" ng-repeat="product in products">
           <label for="kitOptions{{product.itemnumber}}">
             <input name="selectedProductGroup" ng-model="selectedProduct" ng-change="selectProduct(product.itemnumber)" type="radio" id="kitOptions{{product.itemnumber}}" value="{{product.itemnumber}}" required="required">
             <img class="img-responsive" ng-src="/{{product.images.path}}">
             <p class="modal-addon-item-title">{{product.productname}}</p>
           </label>
        </div>
      </form>
</div>
<div class="modal-footer">
  <span class="text-muted pull-left">Choose an option and save.</span>
  <button ng-click="close()" class="btn btn-link">Cancel</button>
  <button ng-click="save()" class="btn btn-primary" ng-show="kitSelectionForm.$valid"><i class="fa fa-shopping-cart"></i> Save to Cart</button>
  <button ng-click="save()" class="btn btn-primary" ng-show="!kitSelectionForm.$valid" disabled="disabled"><i class="fa fa-shopping-cart"></i> Save to Cart</button>
</div>
