
      <!-- Item Detail Section -->
      <section class="row store-section">

        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
          <div class="text-center item-image-wrapper">
            <div class="clearfix">
              <small class="pull-left"><span ng-bind-html="'IMAGES' | translate | unsafe"></span></small>
              <small class="pull-right item-image-pager">
                <a href=""><i class="fa fa-caret-left"></i></a>
                <span>1 of 1</span>
                <a href=""><i class="fa fa-caret-right"></i></a>
              </small>
            </div>
            <a href="" ng-click="zoomImage()" class="image-zoom">
              <span class="responsive-container img-responsive">
                <img class="responsive-element img-responsive" ng-src="{{getImagePath(product.images[0].imagePath)}}" onError="this.onerror=null;this.src='/img/product_placeholder.gif';">
              </span>
              <small><i class="fa fa-search-plus"></i> <span ng-bind-html="'BTN_VIEW_LARGER' | translate | unsafe"></span></small>
            </a>

            <div ng-if="product.videos.videodetail.imagepath" class="item-videos">
              <hr>
              <div class="clearfix">
                <small class="pull-left"><span ng-bind-html="'VIDEOS' | translate | unsafe"></span></small>
                <small class="pull-right item-image-pager">
                  <span>1 of 1</span>
                </small>
              </div>
              <a href="javascript:alert('Current videos require flash media server and flash video player (flash development not in scope). Flash video no longer supported on many devices. Require videos encoded as h.264 (eg. YouTube).')" class="image-zoom">
                <span class="responsive-container img-responsive">
                  <img class="responsive-element img-responsive" ng-src="/{{product.videos.videodetail.imagepath}}" onError="this.onerror=null;this.src='/img/product_placeholder.gif';">
                </span>
                <small><i class="fa fa-play"></i> <span ng-bind-html="'BTN_WATCH_VIDEO' | translate | unsafe"></span></small>
              </a>
            </div>

            <div class="store-item-social">

              <!-- addthis sharing tools --> 
              <div class="addthis_sharing_toolbox"></div>
              <!-- Added from the ShareThis sharing widget >
              <span class='st_facebook_large' displayText='Facebook'></span>
              <span class='st_twitter_large' displayText='Tweet'></span>
              <span class='st_pinterest_large' displayText='Pinterest'></span>
              <span class='st_email_large' displayText='Email'></span-->
              
              <!-- TO DO: Fix with proper styling of the widgets -->
              <!--ul class="list-inline">
                <li><a href="" class="text-muted">
                  <span class="fa-stack fa-lg st_facebook_large" displayText='Facebook'>
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a></li>
                <li><a href="" class="text-muted">
                  <span class="fa-stack fa-lg st_twitter_large" displayText='Tweet'>
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a></li>
                <li><a href="" class="text-muted">
                  <span class="fa-stack fa-lg st_pinterest_large" displayText='Pinterest'>
                    <i class="fa fa-pinterest fa-2x"></i>
                  </span>
                </a></li>
                <li><a href="" class="text-muted">
                  <span class="fa-stack fa-lg st_email_large" displayText='Email'>
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                  </span>
                </a></li>
              </ul-->
            </div>

          </div>
        </div>

        <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">

          <div class="store-item-detail-info">

          <aside ng-if="product.upsellItems.length > 0" class="well store-upsell-item">

            <div class="row" ng-repeat="upsellItem in product.upsellItems">
              <div class="col-md-3">
                <img ng-show="upsellItem.product.images.length > 0" class="img-responsive img-thumbnail" ng-src="{{getImagePath(upsellItem.product.images[0].imagePath)}}" onError="this.onerror=null;this.src='/img/product_placeholder.gif';">
              </div><!-- /span -->
              <div class="col-md-9">
                <h3><span ng-bind-html="'LAB_LIM_TIM_OFF' | translate | unsafe"></span>!</h3>
                <p>
                  <label class="primary-color">{{upsellItem.product.price[0].price | currency}}</label>
                  &nbsp;&nbsp;
                  <label><span ng-bind-html="'ITEM' | translate | unsafe"></span> #{{upsellItem.product.sku}}</label>
                  &nbsp;&nbsp; {{getTranslated(upsellItem.product).name}}</p>

                <form role="form" class="form-inline store-item-add">
                  <div class="form-group">
                    <label for="qty1234"><span ng-bind-html="'QTY' | translate | unsafe"></span>:</label>
                    <input type="number" class="form-control qty-input" id="qty1234" placeholder="1" value="1" min="1" max="99">
                    <a class="btn btn-primary" ng-class="{'disabled': adding}" ui-ladda="adding && addingId == product.sku">
                      <i class="fa fa-shopping-cart"></i> <span ng-bind-html="'BTN_ADD_CART' | translate | unsafe"></span>
                    </a>
                  </div>
                </form>

              </div>
            </div>

          </aside>

          <tabset>
            <tab heading="Summary">
              <div ng-bind-html="product[session.language=='en_US'?'description':'description_'+session.language] | unsafe"><span ng-bind-html="'SUMMARY_CONTENT' | translate | unsafe"></span></div>
            </tab>
            <tab heading="Ingredients">
              <div ng-bind-html="product[session.language=='en_US'?'ingredients':'ingredients_'+session.language] | unsafe"><span ng-bind-html="'INGREDIENTS_CONT' | translate | unsafe"></span></div>
            </tab>
            <tab heading="Usage">
              <div ng-bind-html="product[session.language=='en_US'?'usage':'usage_'+session.language] | unsafe"><span ng-bind-html="'USAGE_CONTENT' | translate | unsafe"></span></div>
            </tab>
          </tabset>

          <div class="store-item-detail-stats">
            <label ng-if="product.type == 'product'" class="store-item-size">{{product.quantity}}</label>
            <hr>
            <div class="store-group-colors" ng-if="product.type == 'group'">
                <p><span ng-repeat="productdetail in product.contains">
                    <a class="store-group-colors-swatch"
                      ng-class="{'active': selectedProduct.sku==productdetail.product.sku}"
                      ng-click="categoryClicked($index); showhide(productdetail.product.sku)">
                      <img ng-src="{{getImagePath(productdetail.product.images[0].imagePath)}}" onError="this.onerror=null;this.src='/img/product_placeholder.gif';">
                    </a>
                </span></p>
                <p class="hidden"><select ng-model="selectedProduct.sku" ng-change="showhide(selectedProduct.sku); categoryClicked(-1)">
                    <option value='{{productdetail.product.sku}}' ng-repeat="productdetail in product.contains">{{getTranslated(productdetail.product).name}}</option>
                </select></p>

                <div class="store-dropdown btn-group" ng-model="selectedProduct.sku" dropdown is-open="status.isopen">
                  <button type="button" class="btn dropdown-toggle"><img ng-src="{{getImagePath(selectedProduct.images[0].imagePath)}}" width="24" onError="this.onerror=null;this.src='/img/product_placeholder.gif';"> {{getTranslated(selectedproduct).name}} &nbsp;&nbsp;<span class="caret"></span></button>
                  <ul class="dropdown-menu" role="menu">
                    <li id="{{productdetail.product.sku}}" ng-repeat="productdetail in product.contains">
                      <a href="" ng-click="showhide(productdetail.product.sku); categoryClicked(-1)" ng-class="{'active': selectedProduct.sku==productdetail.product.sku}"><img ng-src="{{getImagePath(productdetail.product.images[0].imagePath)}}" width="24" onError="this.onerror=null;this.src='/img/product_placeholder.gif';"> {{getTranslated(productdetail.product).name}}</a>
                    </li>
                  </ul>
                </div><!-- /color dropdown -->

                <p class="itemsleep"><span ng-bind-html="'ITEM' | translate | unsafe"></span> #{{selectedProduct.sku}} - {{getTranslated(selectedProduct).name}}</p>
                <p class="pricesleep">${{selectedProduct.currentPrice.price}}</p>
            </div>
            <p class="store-item-sku" ng-if="product.type != 'group'">
              <span ng-bind-html="'ITEM' | translate | unsafe"></span> #{{product.sku}} - {{getTranslated(product).name}}
            </p>
            <p class="store-item-price">

              <span ng-repeat="detailprice in product.currentPrice">
                <span ng-if="detailprice.type==2" class="item-price-sale">
                  ${{detailprice.price}}
                </span>
                <span ng-if="detailprice.type==1" class="item-price-strike">
                  ${{detailprice.price}}
                </span>
              </span>
              <span ng-if="product.currentPrice.price">
                <span class="item-price">
                  ${{product.currentPrice.price}}
                </span>
              </span>

            </p>
          </div>

          <div class="store-item-detail-actions">
            <p><form role="form" class="form-inline store-item-add">
              <div class="form-group">
                <label for="qty12345"><span ng-bind-html="'QTY' | translate | unsafe"></span>:</label>
                <input type="number" class="form-control qty-input" id="qty12345" placeholder="1" value="1" min="1" max="99" ng-model="quantities[product.sku]" ng-if="product.type != 'group'">
                <input type="number" class="form-control qty-input" id="qty12345-group" placeholder="1" value="1" min="1" max="99" ng-model="quantities[selectedProduct.sku]" ng-if="product.type == 'group'">
              </div>
            </form></p>
            <p ng-if="product.type == 'product' || (product.type == 'kit' && product.kitGroups.length == 0)">
              <a class="btn btn-primary btn-lg ladda-button" ng-class="{'disabled': adding}" ui-ladda="adding && addingId == product.sku" data-style="expand-right" ng-click="addToCart(product)">
                <i class="fa fa-shopping-cart"></i> <span ng-bind-html="'BTN_ADD_CART' | translate | unsafe"></span>
              </a>
            </p>
            <p ng-if="product.type == 'group'">
              <a class="btn btn-primary btn-lg ladda-button" ng-class="{'disabled': adding}" ui-ladda="adding && addingId == product.sku" data-style="expand-right" ng-click="addToCartGroup(selectedProduct.sku)">
                <i class="fa fa-shopping-cart"></i> <span ng-bind-html="'BTN_ADD_CART' | translate | unsafe"></span>
              </a>
            </p>
            <p ng-if="product.type == 'kit' && product.kitGroups.length > 0">
              <a class="btn btn-primary btn-lg ladda-button" ng-class="{'disabled': adding}" ui-ladda="adding && addingId == product.sku" data-style="expand-right" ng-click="configureKit()">
                <i class="fa fa-cogs"></i> <span ng-bind-html="'BTN_CONFIGURE' | translate | unsafe"></span>
              </a>
            </p>
          </div>

        </div><!--/span-->
        </div>
      </section><!--/row-->
      <!-- /Item Detail Section -->

      <!-- Related Products Section -->
      <section class="row store-section" ng-if="product.youMayAlsoLike.length > 0">
        <div class="col-lg-12">
          <h2><span ng-bind-html="'TIT_MAY_ALSO_LK' | translate | unsafe"></span></h2>
        </div>

        <div ng-repeat="relatedproduct in product.youMayAlsoLike" class="col-xs-6 col-sm-4 col-md-3 col-lg-3 store-item related">
          <div class="store-item-wrapper">
            <a ng-href="{{STORE_BASE_URL}}/products/{{relatedproduct.product.sku}}#top">
              <span class="responsive-container img-responsive">
                <img class="responsive-container img-responsive" ng-src="{{getImagePath(relatedproduct.product.images[0].imagePath)}}">
              </span>
            </a>
            <div class="store-item-info">
              <p class="store-item-title"><a href="itemdetail.html">{{getTranslated(relatedproduct.product).name}}</a></p>
            </div>
          </div><!--/store-item-wrapper-->
        </div><!--/span-->

      </section>
      <!-- /Related Products Section -->

      <!-- Recently Viewed Section -->
      <section class="row store-section" ng-controller="RecentlyViewedController">
        <div ng-if="recentlyViewedProducts.length > 0 && !(recentlyViewedProducts.length == 1 && recentlyViewedProducts[0].sku == product.sku)">
          <div class="col-lg-12">
            <h2><span ng-bind-html="'TIT_REC_VIEWED' | translate | unsafe"></span></h2>
          </div>

          <div ng-repeat="viewedProduct in recentlyViewedProducts" class="col-xs-6 col-sm-4 col-md-3 col-lg-3 store-item related" ng-show="viewedProduct.sku != product.sku && viewedProduct.sku != product.sku">
            <div class="store-item-wrapper" ng-if="viewedProduct.type!='group'">
              <a ng-href="{{STORE_BASE_URL}}/products/{{viewedProduct.sku}}#top">
                <span class="responsive-container img-responsive">
                  <img class="responsive-container img-responsive" ng-src="{{getImagePath(viewedProduct.images[0].imagePath)}}" onError="this.onerror=null;this.src='/img/product_placeholder.gif';">
                </span>
              </a>
              <div class="store-item-info">
                <p class="store-item-title"><a ng-href="{{STORE_BASE_URL}}/products/{{viewedProduct.sku}}#top">{{getTranslated(viewedProduct).name}}</a></p>
              </div>
            </div><!--/store-item-wrapper-->
            <div class="store-item-wrapper" ng-if="viewedProduct.type=='group'">
              <a ng-href="{{STORE_BASE_URL}}/products/{{viewedProduct.sku}}#top"><img class="img-responsive" ng-src="{{getImagePath(viewedProduct.images[0].imagePath)}}" onError="this.onerror=null;this.src='/img/product_placeholder.gif';"></a>
              <div class="store-item-info">
                <p class="store-item-title"><a ng-href="{{STORE_BASE_URL}}/products/{{viewedProduct.sku}}#top">{{getTranslated(viewedProduct).name}}</a></p>
              </div>
            </div><!--/store-item-wrapper-->
          </div><!--/span-->
        </div>
      </section>
      <!-- /Recently Viewed Section -->

<!-- Loading -->
  <div class="loader" ng-show="loading"></div>
<!-- /Loading -->
