
        <!-- Product -->
        <article class="ccol-xs-12 col-sm-6 col-md-4 col-lg-4 store-item" ng-repeat="product in products">

          <div class="store-item-wrapper">
            <a ng-href="#/products/{{product.itemnumber}}"><img class="img-responsive" src="/{{product.images.path}}"></a>
            <div class="store-item-info">
              <p class="store-item-sku">Item #{{product.itemnumber}}</p>
              <p class="store-item-title"><a ng-href="#/products/{{product.itemnumber}}">{{product.productname}}</a></p>
              <p class="store-item-price">

                <span ng-repeat="detailprice in product.pricing" ng-if="detailprice.pricetype == 'retail'" class="item-price">
                  ${{detailprice.price}}
                </span>
                <span ng-repeat="detailprice in product.pricing" ng-if="!detailprice.pricetype == 'retail'" class="item-price">
                  ${{detailprice.price}}
                </span>
                <!-- this doesn't work with multiple prices -->

                &nbsp;&nbsp;<span class="item-measure">{{product.sellingquantity}}</span>
              </p>
            </div>
            <p><form name="product{{product.itemnumber}}" role="form" class="form-inline store-item-add">
              <div class="form-group">
                <label for="qty3">qty:</label>
                <input type="integer" class="form-control qty-input" id="qty3" placeholder="1" ng-model="quantities[product.itemnumber]">
              </div>
            </form></p>
            <p><a class="btn btn-primary" ng-click="addToCart(product)"><i class="fa fa-shopping-cart"></i> Add to Cart</a></p>
          </div><!--/store-item-wrapper-->

        </article>
        <!-- /Product -->

<!-- Loading -->
  <div class="loader" ng-show="loading"></div>
<!-- /Loading -->

