        <div class="ccol-xs-12 col-sm-12 col-md-12 col-lg-12" ng-cloak ng-if="(products | filter:searchFunction).length == 0">No products matched search:&nbsp;&nbsp;<b><i>{{query}}</i></b></div>
          
        <!-- Product -->
        <article class="ccol-xs-12 col-sm-6 col-md-4 col-lg-4 store-item" ng-repeat="product in filteredProduct = (products | filter:searchFunction | orderBy:'productname')" ng-if="product.productflag.isgroupproduct !=1">
            
          <div class="store-item-wrapper" ng-if="product.itemnumber!=''">
            <a ng-href="#/products/{{product.itemnumber}}#top"><img class="img-responsive" ng-src="{{getImagePath(product.images.path)}}"></a>
            <div class="store-item-info">
              <p class="store-item-sku">Item #{{product.itemnumber}}</p>
              <p class="store-item-title"><a ng-href="#/products/{{product.itemnumber}}#top">{{product.productname}}</a></p>
              <p class="store-item-price">

              <span ng-repeat="detailprice in product.pricing.detailprice">
                <span ng-if="detailprice.pricetype=='sale'" class="item-price-sale">
                  ${{detailprice.price}}
                  <span class="brand-font saleflag">On Sale!</span>
                </span>
                <span ng-if="detailprice.pricetype=='retail'" class="item-price-strike">
                  ${{detailprice.price}}
                </span>
              </span>
              <span ng-if="product.pricing.detailprice.price">
                <span class="item-price">
                  ${{product.pricing.detailprice.price}}
                </span>
              </span>

                &nbsp;&nbsp;<span class="item-measure">{{product.sellingquantity}}</span>
              </p>
            </div>
            <!-- <p><form name="product{{product.itemnumber}}" role="form" class="form-inline store-item-add">
              <div class="form-group">
                <label for="qty3">qty:</label>
                <input type="integer" class="form-control qty-input" id="qty3" placeholder="1" ng-model="quantities[product.itemnumber]">
              </div>
            </form></p> -->
            <p ng-if="product.productflag.type == 'product'">
              <a class="btn btn-primary primary-cta ladda-button" ui-ladda="loading" data-style="expand-right" ng-click="loading = true; addToCart(product)">
                <i class="fa fa-shopping-cart"></i> Add to Cart
              </a>
            </p>
            <p ng-if="product.productflag.type == 'kit'">
              <a class="btn btn-primary primary-cta" ng-href="#/products/{{product.itemnumber}}#top">
                <i class="fa fa-cogs"></i> Configure Offer
              </a>
            </p>
          </div><!--/store-item-wrapper-->
          
          
          
          
          
          <div class="store-item-wrapper" ng-if="product.groupid">
            <a ng-href="#/products/{{product.groupid}}#top"><img class="img-responsive" ng-src="{{getImagePath(product.images.path)}}"></a>
            <div class="store-item-info">
              <p class="store-item-sku">&nbsp; <!-- leave empty for UI --></p>
              <p class="store-item-title"><a ng-href="#/products/{{product.groupid}}#top">{{product.productname}}</a></p>
              <p class="store-item-price">
                &nbsp;&nbsp;<span class="item-measure">{{product.sellingquantity}}</span>
              </p>
            </div>
            <p>
              <a class="btn btn-primary primary-cta" ng-href="#/products/{{product.groupid}}#top">
                <i class="fa fa-th"></i> Browse Colors
              </a>
            </p>
          </div><!--/store-item-wrapper-->

        </article>
        <!-- /Product -->

<!-- Loading -->
  <div class="loader" ng-show="loading"></div>
<!-- /Loading -->

