

      <!-- Item Detail Section -->
      <section class="row store-section">

        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
          <div class="text-center item-image-wrapper">
            <small class="pull-left">Images</small>
            <small class="pull-right item-image-pager">
              <a href="#"><i class="fa fa-caret-left fa-2x"></i></a>
              <sup>1 of 1</sup>
              <a href="#"><i class="fa fa-caret-right fa-2x"></i></a>
            </small>
            <a href="#" class="image-zoom">
              <img class="img-responsive" ng-src="/{{product.images.path}}">
              <small><i class="fa fa-search-plus"></i> View Larger</small>
            </a>
          </div>
        </div>

        <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">

          <div class="store-item-detail-info">

          <tabset>
            <tab heading="Summary">
              <div ng-bind-html="product.marketingdescription | unsafe">Summary content</div>
            </tab>
            <tab heading="Ingredients">
              <div ng-bind-html="product.ingredients | unsafe">Ingredients content</div>
            </tab>
            <tab heading="Usage">
              <div ng-bind-html="product.usage | unsafe">Usage content</div>
            </tab>
          </tabset>

          <div class="store-item-detail-stats">
            <label ng-if="product.productflag.type != 'kit'" class="store-item-size">{{product.sellingquantity}}</label>
            <hr>
            <div class="store-group-colors" ng-if="product.groupid">
                <p><span ng-repeat="productdetail in product.productskus.productdetail"
                      ng-init="isActive = false">
                    <a
                      ng-class="{'': !isActive, 'active': isActive}"
                      ng-click="isActive = !isActive; showhide(productdetail.itemnumber)">
                      <img ng-src="{{productdetail.images.path}}" >
                    </a>
                </span></p>
                <p class="itemsleep">Item #{{selectedProduct.itemnumber}}</p>
                <p class="pricesleep">${{selectedProduct.pricing.detailprice.price}}</p>

                <select ng-model="selectedProduct.itemnumber" ng-change="showhide(selectedProduct.itemnumber)">
                    <option value='{{productdetail.itemnumber}}' ng-repeat="productdetail in product.productskus.productdetail">{{productdetail.productname}}</option>
                </select>
            </div>
            <p class="store-item-sku" ng-if="product.productflag.type != 'group'">Item #{{product.itemnumber}}</p>
            <p class="store-item-price">

              <span ng-repeat="detailprice in product.pricing.detailprice">
                <span ng-if="detailprice.pricetype=='sale'" class="item-price-sale">
                  ${{detailprice.price}}
                </span>
                <span ng-if="detailprice.pricetype=='retail'" class="item-price-strike">
                  ${{detailprice.price}}
                </span>
              </span>
              <span ng-if="product.pricing.detailprice.price">
                <span class="item-price">
                  ${{product.pricing.detailprice.price}}
                </span>
              </span>

            </p>
          </div>

          <div class="store-item-detail-actions">
            <p><form role="form" class="form-inline store-item-add">
              <div class="form-group">
                <label for="qty12345">qty:</label>
                <input type="integer" class="form-control qty-input" id="qty12345" placeholder="1" value="1" ng-model="quantities[product.itemnumber]" ng-if="product.productflag.type != 'group'">
                <input type="integer" class="form-control qty-input" id="qty12345-group" placeholder="1" value="1" ng-model="quantities[selectedProduct.itemnumber]" ng-if="product.productflag.type == 'group'">
              </div>
            </form></p>
            <p ng-if="product.productflag.type == 'product'">
              <a class="btn btn-primary btn-lg" ng-click="addToCart(product)">
                <i class="fa fa-shopping-cart"></i> Add to Cart
              </a>
            </p>
            <p ng-if="product.productflag.type == 'group'">
              <a class="btn btn-primary btn-lg" ng-click="addToCartGroup(selectedProduct.itemnumber)">
                <i class="fa fa-shopping-cart"></i> Add to Cart
              </a>
            </p>
            <p ng-if="product.productflag.type == 'kit'">
              <a class="btn btn-primary btn-lg" ng-href="#/products/{{product.itemnumber}}">
                <i class="fa fa-cogs"></i> Configure
              </a>
            </p>
          </div>

          <div class="store-item-social">
            <ul class="list-inline">
              <li><a href="#" class="text-muted">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a></li>
              <li><a href="#" class="text-muted">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a></li>
              <li><a href="#" class="text-muted">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-pinterest fa-2x"></i>
                </span>
              </a></li>
              <li><a href="#" class="text-muted">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                </span>
              </a></li>
            </ul>
          </div>

        </div><!--/span-->

      </section><!--/row-->
      <!-- /Item Detail Section -->

      <!-- Recently Viewed Section -->
      <section class="row store-section" ng-controller="RecentlyViewedController">
        <div class="col-lg-12">
          <h2>Recently Viewed</h2>
        </div>


        <div ng-repeat="viewedProduct in products.productdetail" class="col-xs-6 col-sm-4 col-md-3 col-lg-3 store-item related">
          <div class="store-item-wrapper">
            <a ng-href="#/products/{{viewedProduct.itemnumber}}#top"><img class="img-responsive" ng-src="{{viewedProduct.path}}"></a>
            <div class="store-item-info">
              <p class="store-item-title"><a ng-href="#/products/{{viewedProduct.itemnumber}}#top">{{viewedProduct.productname}}</a></p>
            </div>
          </div><!--/store-item-wrapper-->
        </div><!--/span-->
        
      </section>
      <!-- /Recently Viewed Section -->

      <!-- Related Products Section -->
      <section class="row store-section" ng-if="product.relatedproducts.productdetail">
        <div class="col-lg-12">
          <h2>You May Also Like</h2>
        </div>

        <div ng-repeat="relatedproduct in product.relatedproducts.productdetail" class="col-xs-6 col-sm-4 col-md-3 col-lg-3 store-item related">
          <div class="store-item-wrapper">
            <a ng-href="#/products/{{relatedproduct.itemnumber}}#top"><img class="img-responsive" ng-src="{{relatedproduct.path}}"></a>
            <div class="store-item-info">
              <p class="store-item-title"><a href="itemdetail.html">{{relatedproduct.productname}}</a></p>
            </div>
          </div><!--/store-item-wrapper-->
        </div><!--/span-->

      </section>
      <!-- /Related Products Section -->

<!-- Loading -->
  <div class="loader" ng-show="loading"></div>
<!-- /Loading -->
