
<div class="modal-header">
  <button type="button" class="close" ng-click="close()">&times;</button>
  <h4 class="modal-title"><span ng-bind-html="'CREDITCARD_EDIT_TITLE' | translate | unsafe"></span> <span class="text-muted italic" ng-bind-html="'CREDITCARD_EDIT_TITLE_DESC' | translate | unsafe"></span></h4>
</div>

<div class="modal-body queue-modal-body">

  <div ng-if="saveError" ng-class="has-error">{{saveError}}</div>

  <form name="editCardForm" class="form-horizontal" role="form" novalidate>

  <div class="form-group" ng-class="{ 'has-error' : editCardForm.cardName.$invalid && (editCardForm.cardName.$touched || editCardForm.cardName.$dirty) }">
    <label for=" " class="col-md-3 control-label"><span ng-bind-html="'IN_NAME_CARD' | translate |unsafe"></span></label>
    <div class="col-sm-5 col-lg-5">
      <input ng-model="creditCard.name" ng-minlength="3" name="cardName" type="text" class="form-control" placeholder=" " required>
      <span ng-show="editCardForm.cardName.$error.minlength" class="help-block" ng-class="{ 'text-danger' : editCardForm.cardName.$invalid && (editCardForm.cardName.$touched || $dirty) }" ng-bind-html="'NAME_ON_CARD_ERR' | translate | unsafe"></span>
    </div>
  </div>

  <div class="form-group" ng-class="{ 'has-error' : editCardForm.number.$invalid && (editCardForm.number.$touched || editCardForm.number.$dirty) }">
    <label for=" " class="col-md-3 control-label"><span ng-bind-html="'IN_CARD_NUMBER' | translate |unsafe"></span></label>
    <div class="col-sm-5 col-lg-5">
      <input ng-model="creditCard.card" data-ng-blur="visited=true" ng-minlength="13" ng-maxlength="16" maxlength="16" name="number" type="text" class="form-control" id=" " placeholder="XXXX XXXX XXXX {{creditCard.lastFour}}" data-ui-validate=" 'isValidCard($value)' " required>
      <span ng-show="visited && (editCardForm.number.$error.minlength || editCardForm.number.$error.validator)" class="help-block" ng-class="{ 'text-danger' : editCardForm.number.$invalid && (editCardForm.number.$touched || editCardForm.number.$dirty) }">
        <span ng-bind-html="'INVALID-CARD-NUMBER' | translate | unsafe"></span>
      </span>
    </div>
    <div class="col-sm-4 col-lg-4" ng-model="cardType" ng-show="!editCardForm.number.$error.minlength && !editCardForm.number.$error.validator">
      <img class="img-responsive cardImg" ng-src="{{ CDN_URL + '/img/visa.png' }}" ng-show="creditCard.cardType=='Visa'">
      <img class="img-responsive cardImg" ng-src="{{ CDN_URL + '/img/mastercard.png' }}" ng-show="creditCard.cardType=='MasterCard'">
      <img class="img-responsive cardImg" ng-src="{{ CDN_URL + '/img/discover.png' }}" ng-show="creditCard.cardType=='Discover Card'">
      <img class="img-responsive cardImg" ng-src="{{ CDN_URL + '/img/americanexpress.png' }}" ng-show="creditCard.cardType=='American Express'">
    </div>
  </div>
  <div class="form-group">
    <label for=" " class="col-md-3 control-label"><span ng-bind-html="'IN_EXPIRATION' | translate | unsafe"></span></label>

    <div class="col-sm-6" ng-class="{ 'has-error' : (invalidExpiration || editCardForm.expMonth.$invalid || editCardForm.expYear.$invalid) && ((editCardForm.expMonth.$touched || editCardForm.expMonth.$touched) && (editCardForm.expYear.$touched || editCardForm.expYear.$dirty)) }">
      <div class="row">
        <div class="col-xs-4 col-sm-4 col-med-4">
          <input ng-model="creditCard.expMonth" name="expMonth" type="text" class="form-control col-sm-1" ui-mask="99" placeholder="MM" required>
        </div>
        <div class="col-xs-1">
          <label class="control-label">/</label>
        </div>
        <div class="col-xs-5 col-sm-5 col-med-5">
          <input ng-model="creditCard.expYear" name="expYear" type="text" class="form-control col-sm-3" ui-mask="9999" placeholder="YYYY" required>
        </div>
      </div>
      <span ng-show="(invalidExpiration || editCardForm.expMonth.$invalid || editCardForm.expYear.$invalid) && ((editCardForm.expMonth.$touched || editCardForm.expMonth.$dirty) && (editCardForm.expYear.$touched || editCardForm.expYear.$dirty))" class="help-block text-danger" ng-bind-html="'INVALID_CC_EXPIRATION' | translate | unsafe"></span>
    </div>
  </div>
  <div class="form-group">
    <label for=" " class="col-md-3 control-label"><span ng-bind-html="'IN_SECURITY_CODE' | translate | unsafe"></span></label>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-xs-4 col-sm-4 col-med-2" ng-class="{ 'has-error' : editCardForm.cvv.$invalid && (editCardForm.cvv.$touched || editCardForm.cvv.$dirty) }">
          <input ng-model="creditCard.cvv" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" ng-pattern="/^[0-9]{3,4}$/" ng-minlength="3" ng-maxlength="4" maxlength="4" name="cvv" type="text" class="form-control col-sm-1 hide-arrows" placeholder="&bull;&bull;&bull;" required />
          <span ng-show="editCardForm.cvv.$invalid && (editCardForm.cvv.$touched || editCardForm.cvv.$dirty)" class="help-block" ng-class="{ 'text-danger' : editCardForm.cvv.$invalid && (editCardForm.cvv.$touched || editCardForm.cvv.$dirty) }" ng-bind-html="'CVV-INVALID' | translate | unsafe"></span>
        </div>
        <div class="col-xs-8 col-sm-8 col-med-8">
          <a popover="{{ 'CVV-POPOVER-CONTENT' | translate | unsafe }}" popover-title="{{ 'CVV-POPOVER-TITLE' | translate | unsafe }}" href="" tabindex="-1" popover-trigger="hover"><i class="fa fa-info-circle"></i>
            <span ng-bind-html="'WHATS-THIS' | translate | unsafe"></span>
          </a>
        </div>
      </div>
    </div>
  </div>

  </form>

</div>

<div class="modal-footer">
  <div class="col-lg-6 col-md-6 col-sm-6">
    <span class="text-muted pull-left"></span>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6">
    <button ng-click="close()" class="btn btn-link">
      <span ng-bind-html="'BTN_CANCEL' | translate | unsafe"></span>
    </button>
    <button ng-click="save()" class="btn btn-primary" ng-disabled="editCardForm.$invalid || processing" ng-class="{ 'processing' : processing }">
      <span ng-bind-html="'BTN-SAVE-CHANGES' | translate | unsafe"></span>
    </button>
  </div>
</div>
