<section class="row store-checkout container" ng-controller="CheckoutController">

  <wizard name="checkoutWizard" hide-indicators="false" on-finish="finished()" current-step="checkout.currentStep">

  <!--current step: {{checkout.currentStep}}-->

    <!-- sign in -->
    <wz-step title="Start">

      <div id="signin" class="col-sm-12">

        <div class="col-md-offset-3">
          <h1 class="checkouth1">Sign in to complete your order</h1>
        </div>
        <!--valid={{signInForm.$valid}}-->
        <form name="signInForm" class="form-horizontal" role="form">
            <div class="form-group">
              <label for="inputEmail3" class="col-md-3 control-label">Email Address</label>
              <div class="col-sm-6">
                <input name="loginEmail" ng-model="loginEmail" ng-change="checkoutUpdated()" type="email" class="form-control" id="inputEmail3" placeholder="Email" tabindex="1" required>
                <!--valid={{signInForm.loginEmail.$valid}}-->
              </div>
            </div>

            <div class="form-group">
              <label for="inputPassword3" class="col-md-3 control-label">Password</label>
              <div class="col-sm-4">
                <input name="loginPassword" ng-model="loginPassword" ng-change="checkoutUpdated()" type="password" class="form-control" id="inputPassword3" placeholder="Password" tabindex="2" required>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-offset-3 col-sm-9">
                <div class="radio">
                  <label>
                    <input name="customerStatus" ng-model="checkout.customerStatus" ng-change="checkoutUpdated()" type="radio" id="optionsRadios1" value="new">
                    I am a new customer
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input name="customerStatus" ng-model="checkout.customerStatus" ng-change="checkoutUpdated()" type="radio" id="optionsRadios2" value="existing">
                    I am an existing customer
                  </label>
                </div>

                <!--customerStatus={{checkout.customerStatus}}-->
                <div class="row"><div class="col-sm-6"><hr></div></div>

                <div ng-if="loginError" class="alert-danger">Invalid username or password.</div>

                <div class="checkbox">
                  <label>
                    <input name="keepMeSignedIn" ng-model="checkout.keepMeSignedIn" ng-change="checkoutUpdated()" type="checkbox" checked> Keep me signed in &nbsp;&nbsp;
                    <a popover="Placeholder text" popover-title="Keep me signed in" href=""><i class="fa fa-info-circle"></i> More Info</a>
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-offset-3 col-sm-9">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                  <button type="submit" class="btn btn-primary btn-lg" tabindex="3" ng-click="loginOrCreateUser(loginEmail, loginPassword)" ng-disabled="!signInForm.$valid">Continue to Secure Checkout &nbsp;<i class="fa fa-caret-right"></i></button>

                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-offset-3 col-sm-9">
                <div class="row"><div class="col-sm-6"><hr></div></div>
                <p><a href="/checkout?step=Shipping">Checkout as guest</a></p>
                <p><a href="" onclick="$('#forgot').css('display','block'); $('#signin').css('display','none');">I forgot my password</a></p>
                <p><a href="">I have a new email address</a></p>
              </div>
            </div>
        </form>
      </div><!--/span-->
      
      <div id="forgot" class="col-sm-12" style="display: none;">

        <div class="col-md-offset-3">
          <h1 class="checkouth1">Forgot Your Password</h1>
        </div>
        <!--valid={{signInForm.$valid}}-->
        <form name="forgotPassword" class="form-horizontal" role="form">
            <div class="form-group">
              <label for="inputEmail3" class="col-md-3 control-label">Email Address</label>
              <div class="col-sm-6">
                <input name="loginEmail2" ng-model="loginEmail2" ng-change="checkoutUpdated()" type="email" class="form-control" id="inputEmail3" placeholder="Email" tabindex="1" required>
                <!--valid={{signInForm.loginEmail.$valid}}-->
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-offset-3 col-sm-9">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                  <button type="submit" class="btn btn-primary btn-lg" tabindex="3" onclick="$('#forgot').css('display','none'); $('#thanks').css('display','block')" ng-disabled="!forgotPassword.$valid">Reset Password &nbsp;<i class="fa fa-caret-right"></i></button>

                </div>
              </div>
            </div>
        </form>
      </div><!--/span-->
      
      
      <div id="thanks" class="col-sm-12" style="display: none;">

        <div class="col-md-offset-3">
          <h1 class="checkouth1">Thank You!</h1>
        </div>
        <!--valid={{signInForm.$valid}}-->
        <form name="" class="form-horizontal" role="form">
            

<!--            <div class="form-group">
              <label for="inputPassword3" class="col-md-3 control-label">Password</label>
              <div class="col-sm-4">
                <input name="loginPassword" ng-model="loginPassword" ng-change="checkoutUpdated()" type="password" class="form-control" id="inputPassword3" placeholder="Password" tabindex="2" required>
              </div>
            </div>-->

            <div class="form-group">
              <div class="col-md-offset-3 col-sm-9">
                  <p>Please check your email and click on the link.</p>
                <div class="row"><div class="col-sm-6"><hr></div></div>
                <p><a href="">Resend Email</a></p>
                <p><a href="" onclick="$('#resetpass').css('display','block'); $('#thanks').css('display','none');">Reset password form (prototype only)</a></p>
                <p><a href="/cart">Back to cart</a></p>
              </div>
            </div>
        </form>
      </div><!--/span--> 
      
      
      <div id="resetpass" class="col-sm-12" style="display: none;">

        <div class="col-md-offset-3">
          <h1 class="checkouth1">Reset Password</h1>
        </div>
        <!--valid={{signInForm.$valid}}-->
        <form name="resetPassword" class="form-horizontal" role="form">
            

            <div class="form-group">
              <label for="inputPassword3" class="col-md-3 control-label">New Password</label>
              <div class="col-sm-4">
                <input name="newPassword" ng-model="newPassword" pw-check="newpassword2" ng-change="checkoutUpdated()" type="password" class="form-control" id="inputPassword3" placeholder="Password" tabindex="2" required>
              </div>
            </div>

            <div class="form-group">
              <label for="inputPassword3" class="col-md-3 control-label">Confirm New Password</label>
              <div class="col-sm-4">
                <input name="newPassword2" ng-model="newPassword2" ng-change="checkoutUpdated();" type="password" class="form-control" id="inputPassword3" placeholder="Confirm Password" tabindex="2" required>
              </div>
              <span class="error" ng-show="resetPassword.password.$error.pwmatch"> Passwords don't match. </span>
            </div>


            <div class="form-group">
              <div class="col-md-offset-3 col-sm-9">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                  <button type="submit" class="btn btn-primary btn-lg" tabindex="3" onclick="$('#resetpass').css('display','none');$('#signin').css('display','block')" ng-disabled="!resetPassword.$valid">Reset Password &nbsp;<i class="fa fa-caret-right"></i></button>

                </div>
              </div>
            </div>
        </form>
      </div><!--/span-->

    </wz-step>
    <wz-step title="Shipping">

      <div class="col-sm-12">

          <div class="col-md-offset-3">

            <h1 ng-if="checkout.customerStatus=='existing'">Choose a shipping address</h1>

            <div class="row" ng-if="checkout.customerStatus=='existing'">
              <div class="col-xs-6 col-lg-4 checkout-address" ng-repeat="addressData in existingCustomerData.addresses">
                <span class="address-name">{{addressData.name}}</span>
                <span class="address-street">{{addressData.address1}} {{addressData.address2}}</span>
                <span class="address-region">{{addressData.city}},   {{addressData.state}} {{addressData.zip}}</span>
                <span class="phone-number">{{addressData.phone}}</span>
                <div class="address-actions">
                  <a href=""><i class="fa fa-pencil-square-o"></i> Edit</a>
                  &nbsp;&nbsp;
                  <a href=""><i class="fa fa-times-circle"></i> Remove</a>
                </div>
                <a href="" class="btn btn-primary" wz-next ng-click="addToOrderObject('shipping',addressData);shippingSpeed()">Ship to this Address</a>
              </div><!-- /address -->
              
            </div>
            
            <div class="row" ng-if="checkout.customerStatus=='new'">
              <div class="col-xs-6 col-lg-4 checkout-address" ng-repeat="addressData in newCustomerData.addresses">
                <span class="address-name">{{addressData.name}}</span>
                <span class="address-street">{{addressData.address1}} {{addressData.address2}}</span>
                <span class="address-region">{{addressData.city}},   {{addressData.state}} {{addressData.zip}}</span>
                <span class="phone-number">{{addressData.phone}}</span>
                <div class="address-actions">
                  <a href=""><i class="fa fa-pencil-square-o"></i> Edit</a>
                  &nbsp;&nbsp;
                  <a href=""><i class="fa fa-times-circle"></i> Remove</a>
                </div>
                <a href="" class="btn btn-primary" wz-next ng-click="addToOrderObject('shipping',addressData); shippingSpeed()">Ship to this Address</a>
              </div><!-- /address -->
              
            </div>

            <hr ng-if="checkout.customerStatus=='existing'">
            <h2 class=" " ng-if="checkout.customerStatus=='existing'">Add a new address</h2>
            <h2 class=" " ng-if="checkout.customerStatus!='existing'">Enter your address</h2>

          </div><!-- /offset -->

          <form name="shippingForm" class="form-horizontal" role="form" novalidate>
            <div class="row form-group">
              <label for="shippingFullName" class="col-md-3 control-label">Full Name</label>
              <div class="col-sm-8 col-lg-6">
                <input name="fullName" ng-model="checkout.shipping.fullName" ng-change="checkoutUpdated()" type="text" class="form-control" id="shippingFullName" placeholder="" tabindex="1" required>
              </div>
            </div>

            <div class="row form-group">
              <label for="shippingAddress1" class="col-md-3 control-label">Address Line 1</label>
              <div class="col-sm-8 col-lg-6">
                <input name="address1" ng-model="checkout.shipping.address1" ng-change="checkoutUpdated()" type="text" class="form-control" id="shippingAddress1" placeholder="Street address, P.O. box, company name, c/o " tabindex="2" required>
              </div>
            </div>

            <div class="row form-group">
              <label for="shippingAddress2" class="col-md-3 control-label">Address Line 2</label>
              <div class="col-sm-8 col-lg-6">
                <input name="address2" ng-model="checkout.shipping.address2" ng-change="checkoutUpdated()" type="text" class="form-control" id="shippingAddress2" placeholder="Apartment, suite, unit, building, floor, etc. " tabindex="3">
              </div>
            </div>

            <div class="row form-group">
              <label for="shippingCity" class="col-md-3 control-label">City</label>
              <div class="col-sm-7 col-lg-5">
                <input name="city" ng-model="checkout.shipping.city" type="text" ng-change="checkoutUpdated()" class="form-control" id="shippingCity" placeholder=" " tabindex="4" required>
              </div>
            </div>

            <div class="row form-group">
              <label for="shippingStateProvinceRegion" class="col-md-3 control-label">State/Province/Region</label>
              <div class="col-sm-6 col-lg-4">
                <input name="stateProvinceRegion" ng-model="checkout.shipping.stateProvinceRegion" ng-change="checkoutUpdated()" type="text" class="form-control" id="shippingStateProvinceRegion" placeholder=" " tabindex="5" required>
              </div>
            </div>

            <div class="row form-group">
              <label for="shippingZipPostalCode" class="col-md-3 control-label">Zip/Postal Code</label>
              <div class="col-sm-5 col-lg-3">
                <input name="zipPostalCode" ng-model="checkout.shipping.zipPostalCode" ng-change="checkoutUpdated()" type="text" class="form-control" id="shippingZipPostalCode" placeholder=" " tabindex="6" required>
              </div>
            </div>

            <div class="row form-group">
              <label for="shippingCountry" class="col-md-3 control-label">Country</label>
              <div class="col-sm-6 col-lg-4">
                <select ng-init="option[0]" name="country" ng-model="checkout.shipping.country" ng-change="checkoutUpdated()" class="form-control" id="shippingCountry" tabindex="7">
                  <option ng-selected="1">United States</option>
                </select>
              </div>
            </div>

            <div class="row form-group" ng-class="{ 'has-error' : shippingForm.phoneNumber.$invalid && !shippingForm.phoneNumber.$pristine }">
              <label for="shippingPhoneNumber" class="col-md-3 control-label">Phone Number</label>
              <div class="col-sm-6 col-lg-4">
                <input name="phoneNumber" ng-model="checkout.shipping.phone" ng-minlength="10" ng-maxlength="13" maxlength="13" type="text" ng-pattern="/^\(?(\d{3})\)?[ .-]?(\d{3})[ .-]?(\d{4})$/" class="form-control" id="shippingPhoneNumber" placeholder=" " tabindex="8" required>
                <span ng-show="shippingForm.phoneNumber.$error.pattern" class="help-block" ng-class="{ 'text-danger' : shippingForm.phoneNumber.$invalid && !shippingForm.phoneNumber.$pristine }">Phone Number needs to be at least 10 numbers.</span>
              </div>
              <a popover="May be printed on shipping label to assist delivery." popover-title="Phone Number" href="" class="form-info-link"><i class="fa fa-info-circle"></i> More Info</a>
            </div>

            
            <div class="col-md-offset-3">

              <hr>
              <h2 class=" " style="display:inline-block">Delivery Preferences (optional)</h2>
              <a popover="Address Type (Optional) - This helps us select the best delivery method for your shipping address." popover-title="Phone Number" href="" class="form-info-link"><i class="fa fa-info-circle"></i> What's this?</a>

            </div> <!-- /offset -->
            

            <div class="row form-group">
              <label for="shippingAddressType" class="col-md-3 control-label">Address Type</label>
              <div class="col-sm-6 col-lg-4">
                <select name="addressType" ng-model="checkout.shipping.addressType" ng-change="checkoutUpdated()" class="form-control" id="shippingAddressType" tabindex="9">
                  <option value="">Select an Address Type</option>
                  <option value="apartment">Apartment</option>
                  <option value="condo">Condominium</option>
                  <option value="house">House</option>
                </select>
              </div>
            </div>

            <div class="row form-group">
              <label for="shippingSecurityAccessCode" class="col-md-3 control-label">Security Access Code</label>
              <div class="col-sm-6 col-lg-4">
                <input name="securityAccessCode" ng-model="checkout.shipping.securityAccessCode" type="text" class="form-control" id="shippingSecurityAccessCode" placeholder="For buildings or gated communities" tabindex="10">
              </div>
            </div>

            <div class="col-md-offset-3">

              <hr>

            </div> <!-- /offset -->
            
            <div class="row form-group">
              <div class="col-md-offset-3 col-sm-9">
                <button type="submit" class="btn btn-primary btn-lg" tabindex=" " ng-disabled="!shippingForm.$valid" ng-click="addAddress(checkout.shipping, 'shipping');shippingSpeed()">Ship to this address &nbsp;<i class="fa fa-caret-right"></i></button>
              </div>
            </div>
            
          </form>

      </div><!--/span-->

    </wz-step>
    <wz-step title="Payment">

      <div class="col-sm-12">

        <div class="col-md-offset-3" ng-if="checkout.customerStatus=='existing'">
            <h1>Select Payment Option 
              <span class="store-heading-description">
                You&rsquo;ll be able to review the order before being charged.
              </span>
            </h1>
          </div>

          <div class="col-md-offset-3" ng-if="checkout.customerStatus=='existing'">
            <div class="row">

              <div class="col-xs-6 col-lg-4" ng-repeat="ccData in existingCustomerData.creditCards">
                <div class="checkout-card clearfix" ng-class="{active: $first}">
                  <img src="http://placehold.it/46x30" class="pull-right">
                  <p class="card-number">
                      <span>&bull;&bull;&bull;&bull;</span>
                      <span>&bull;&bull;&bull;&bull;</span>
                      <span>&bull;&bull;&bull;&bull;</span>
                    <span>{{substr(ccData.cardNumber,-4,4)}}</span>
                  </p>
                  <p class="card-expiry pull-left">
                    <small>EXP:</small>
                    {{ccData.expMonth}}/{{substr(ccData.expYear,2,2)}}
                  </p>
                  <button class="btn btn-primary pull-right card-use-btn" wz-next ng-click="addToOrderObject('creditCard',ccData)">Use this Option <i class="fa fa-caret-right"></i></button>
                </div> 
                <div class="card-actions">
                  <a href=""><i class="fa fa-pencil-square-o"></i> Edit</a>
                  &nbsp;&nbsp;
                  <a href=""><i class="fa fa-times-circle"></i> Remove</a>
                </div>               
              </div><!-- /span -->
              
            </div>
          </div>
          
          <div class="col-md-offset-3" ng-if="checkout.customerStatus=='new'">
            <div class="row">

              <div class="col-xs-6 col-lg-4" ng-repeat="ccData in newCustomerData.creditCards" ng-if="newCustomerData.creditCards">
                <div class="checkout-card clearfix" ng-class="{active: $first}">
                  <img src="http://placehold.it/46x30" class="pull-right">
                  <p class="card-number">
                      <span>&bull;&bull;&bull;&bull;</span>
                      <span>&bull;&bull;&bull;&bull;</span>
                      <span>&bull;&bull;&bull;&bull;</span>
                    <span>{{substr(ccData.cardNumber,-4,4)}}</span>
                  </p>
                  <p class="card-expiry pull-left">
                    <small>EXP:</small>
                    {{ccData.expMonth}}/{{substr(ccData.expYear,2,2)}}
                  </p>
                  <button class="btn btn-primary pull-right card-use-btn" wz-next>Use this Option <i class="fa fa-caret-right"></i></button>
                </div> 
                <div class="card-actions">
                  <a href=""><i class="fa fa-pencil-square-o"></i> Edit</a>
                  &nbsp;&nbsp;
                  <a href=""><i class="fa fa-times-circle"></i> Remove</a>
                </div>               
              </div><!-- /span -->
              
            </div>
          </div>

        
          <div class="row">
            <div class="col-md-offset-3 col-lg-8">
              <hr ng-if="checkout.customerStatus=='existing'">
              <h2 class=" ">Add a new payment method</h2>
            </div>
          </div>
          <!--valid={{paymentForm.$valid}}-->
          <form name="paymentForm" class="form-horizontal" role="form" novalidate>

            <div class="form-group" ng-class="{ 'has-error' : paymentForm.cardName.$invalid && !paymentForm.cardName.$pristine }">
              <label for=" " class="col-md-3 control-label">Name on Card</label>
              <div class="col-sm-6 col-lg-4">
                <input ng-model="checkout.cardName" ng-minlength="3" name="cardName" type="text" class="form-control" placeholder=" " tabindex=" " required>
                <span ng-show="paymentForm.cardName.$error.minlength" class="help-block" ng-class="{ 'text-danger' : paymentForm.cardName.$invalid && !paymentForm.cardName.$pristine }">Name on card is too short.</span>
              </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : paymentForm.cardNumber.$invalid && !paymentForm.cardNumber.$pristine }">
              <label for=" " class="col-md-3 control-label">Card Number</label>
              <div class="col-sm-6 col-lg-4">
                <input ng-model="checkout.cardNumber" ng-minlength="13" ng-maxlength="16" maxlength="16" name="cardNumber" type="text" class="form-control" id=" " placeholder=" " tabindex=" " required>
                <span ng-show="paymentForm.cardNumber.$error.minlength" class="help-block" ng-class="{ 'text-danger' : paymentForm.cardNumber.$invalid && !paymentForm.cardNumber.$pristine }">Credit card needs to be at least 13 numbers.</span>
              </div>
            </div>
            <div class="form-group">
              <label for=" " class="col-md-3 control-label">Expiration</label>
              <div class="col-sm-5">
                <div class="row">
                  <div class="col-xs-4 col-sm-3 col-med-2" ng-class="{ 'has-error' : paymentForm.expMonth.$invalid && !paymentForm.expMonth.$pristine }">
                      <input ng-model="checkout.expMonth" ng-minlength="2" ng-maxlength="2" maxlength="2" name="expMonth" type="text" class="form-control col-sm-1" placeholder="MM" tabindex=" " required>
                  </div>
                  <div class="col-xs-1">
                    <label class="control-label">/</label>
                  </div>
                  <div class="col-xs-6 col-sm-4 col-med-3" ng-class="{ 'has-error' : paymentForm.expYear.$invalid && !paymentForm.expYear.$pristine }">
                    <input ng-model="checkout.expYear" ng-minlength="4" ng-maxlength="4" maxlength="4" name="expYear" type="text" class="form-control col-sm-3" placeholder="YYYY" tabindex=" " required>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : paymentForm.securityCode.$invalid && !paymentForm.securityCode.$pristine }">
              <label for=" " class="col-md-3 control-label">Security Code</label>
              <div class="col-sm-5">
                <div class="row">
                  <div class="col-xs-4 col-sm-3 col-med-2">
                    <input ng-model="checkout.securityCode" ng-minlength="3" ng-maxlength="4" maxlength="4" name="securityCode" type="password" class="form-control col-sm-1" placeholder="&bull;&bull;&bull;" tabindex=" " required>
                  </div>
                  <div class="col-xs-6 col-sm-4 col-med-3">
                    <a href="" class="form-info-link"><i class="fa fa-info-circle"></i> What's this?</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-offset-3 col-sm-9">
                <div class="checkbox">
                  <label>
                    <input ng-model="checkout.billSame" type="checkbox" checked> My billing &amp; shipping address are the same
                  </label>
                </div>
              </div>
            </div>
              
              
              
            <div class="cardAddressWrapper" ng-if="checkout.billSame==false">
              
              
                <div class="row form-group">
                  <label for="billingFullName" class="col-md-3 control-label">Full Name</label>
                  <div class="col-sm-8 col-lg-6">
                    <input name="fullName" ng-model="checkout.billing.fullName" ng-change="checkoutUpdated()" type="text" class="form-control" id="billingFullName" placeholder="" tabindex="1" required>
                  </div>
                </div>

                <div class="row form-group">
                  <label for="billingAddress1" class="col-md-3 control-label">Address Line 1</label>
                  <div class="col-sm-8 col-lg-6">
                    <input name="address1" ng-model="checkout.billing.address1" ng-change="checkoutUpdated()" type="text" class="form-control" id="billingAddress1" placeholder="Street address, P.O. box, company name, c/o " tabindex="2" required>
                  </div>
                </div>

                <div class="row form-group">
                  <label for="billingAddress2" class="col-md-3 control-label">Address Line 2</label>
                  <div class="col-sm-8 col-lg-6">
                    <input name="address2" ng-model="checkout.billing.address2" ng-change="checkoutUpdated()" type="text" class="form-control" id="billingAddress2" placeholder="Apartment, suite, unit, building, floor, etc. " tabindex="3">
                  </div>
                </div>

                <div class="row form-group">
                  <label for="billingCity" class="col-md-3 control-label">City</label>
                  <div class="col-sm-7 col-lg-5">
                    <input name="city" ng-model="checkout.billing.city" type="text" ng-change="checkoutUpdated()" class="form-control" id="billingCity" placeholder=" " tabindex="4" required>
                  </div>
                </div>

                <div class="row form-group">
                  <label for="billingStateProvinceRegion" class="col-md-3 control-label">State/Province/Region</label>
                  <div class="col-sm-6 col-lg-4">
                    <input name="billingProvinceRegion" ng-model="checkout.billing.stateProvinceRegion" ng-change="checkoutUpdated()" type="text" class="form-control" id="billingStateProvinceRegion" placeholder=" " tabindex="5" required>
                  </div>
                </div>

                <div class="row form-group">
                  <label for="billingZipPostalCode" class="col-md-3 control-label">Zip/Postal Code</label>
                  <div class="col-sm-5 col-lg-3">
                    <input name="billingzipPostalCode" ng-model="checkout.billing.zipPostalCode" ng-change="checkoutUpdated()" type="text" class="form-control" id="billingZipPostalCode" placeholder=" " tabindex="6" required>
                  </div>
                </div>

                <div class="row form-group">
                  <label for="billingCountry" class="col-md-3 control-label">Country</label>
                  <div class="col-sm-6 col-lg-4">
                    <select name="billingCountry" ng-model="checkout.billing.country" ng-change="checkoutUpdated()" class="form-control" id="billingCountry" tabindex="7" required>
                      <option ng-selected="1">United States</option>
                    </select>
                  </div>
                </div>

                <div class="row form-group" ng-class="{ 'has-error' : paymentForm.billingPhoneNumber.$invalid && !paymentForm.billingPhoneNumber.$pristine }">
                  <label for="billingPhoneNumber" class="col-md-3 control-label">Phone Number</label>
                  <div class="col-sm-6 col-lg-4">
                    <input name="billingPhoneNumber" ng-model="checkout.billing.phone" ng-minlength="10" ng-maxlength="12" maxlength="12" type="text" class="form-control" id="billingPhoneNumber" placeholder=" " tabindex="8" required>
                    <span ng-show="paymentForm.billingPhoneNumber.$error.minlength" class="help-block" ng-class="{ 'text-danger' : paymentForm.billingPhoneNumber.$invalid && !paymentForm.billingPhoneNumber.$pristine }">Phone Number needs to be at least 10 numbers.</span>
                  </div>
                  <a href="" class="form-info-link"><i class="fa fa-info-circle"></i> More Info</a>
                </div>


                <div class="col-md-offset-3">

                  <hr>
                  <h2 class=" " style="display:inline-block">Delivery Preferences (optional)</h2>
                  <a href="" class="form-info-link"><i class="fa fa-info-circle"></i> What's this?</a>

                </div> <!-- /offset -->


                <div class="row form-group">
                  <label for="billingAddressType" class="col-md-3 control-label">Address Type</label>
                  <div class="col-sm-6 col-lg-4">
                    <select name="billingAddressType" ng-model="checkout.billing.addressType" ng-change="checkoutUpdated()" class="form-control" id="billingAddressType" tabindex="9">
                      <option value="">Select an Address Type</option>
                      <option value="apartment">Apartment</option>
                      <option value="condo">Condominium</option>
                      <option value="house">House</option>
                    </select>
                  </div>
                </div>

                <div class="row form-group">
                  <label for="billingSecurityAccessCode" class="col-md-3 control-label">Security Access Code</label>
                  <div class="col-sm-6 col-lg-4">
                    <input name="billingSecurityAccessCode" ng-model="checkout.billing.securityAccessCode" type="text" class="form-control" id="billingSecurityAccessCode" placeholder="For buildings or gated communities" tabindex="10">
                  </div>
                </div>

                <div class="col-md-offset-3">

                  <hr>

                </div> <!-- /offset -->

<!--                <div class="row form-group">
                  <div class="col-md-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-primary btn-lg" tabindex=" " wz-next ng-disabled="!billingForm.$valid">Ship to this address &nbsp;<i class="fa fa-caret-right"></i></button>
                  </div>
                </div>-->
            </div>
        
            <div class="form-group">
              <div class="col-md-offset-3 col-sm-9">
                <button type="submit" ng-click="addCard(checkout); addAddress(checkout.billing, 'billing')" class="btn btn-primary btn-lg" tabindex=" " wz-next ng-disabled="!paymentForm.$valid">Add Card &nbsp;<i class="fa fa-caret-right"></i></button>
              </div>
            </div>
            
          </form>

      </div><!--/span-->

    </wz-step>
    <wz-step title="Review">

      <div class="col-sm-12">

        <div class="col-md-offset-3 col-lg-8">
            <h1>Review &amp; Confirm Order 
              <span class="store-heading-description">
                Clicking &ldquo;Place Order&ldquo; will charge your payment option in the ammount below.
              </span>
            </h1>
          </div>
          
          <div class="col-md-offset-3 col-lg-8">


            <div class="row">
                
                
               

              <div class="col-xs-6 col-lg-4" ng-if="orderObject.creditCard">
                <h3>Charging To:</h3>
                <div class="checkout-card clearfix active">
                  <img src="http://placehold.it/46x30" class="pull-right">
                  <p class="card-number">
                    <span>&bull;&bull;&bull;&bull;</span>
                    <span>&bull;&bull;&bull;&bull;</span>
                    <span>&bull;&bull;&bull;&bull;</span>
                    <span>{{substr(orderObject.creditCard.cardNumber,-4,4)}}</span>
                  </p>
                  <p class="card-expiry pull-left">
                    <small>EXP:</small>
                    {{orderObject.creditCard.expMonth}}/{{substr(orderObject.creditCard.expYear,2,2)}}
                  </p>
                  <a ng-href="/checkout?step=Payment" class="btn pull-right card-use-btn"><i class="fa fa-pencil-square-o"></i> Change Card</a>
                </div>              
              </div><!-- /card -->

              <div class="col-xs-6 col-lg-4 checkout-address" ng-if="orderObject.shipping">
                <h3>Shipping To:</h3>
                <span class="address-name">{{orderObject.shipping.name}}</span>
                <span class="address-street">{{orderObject.shipping.address1}} {{orderObject.shipping.address2}}</span>
                <span class="address-region">{{orderObject.shipping.city}}, {{orderObject.shipping.state}} {{orderObject.shipping.zip}}</span>
                <span class="phone-number">{{orderObject.shipping.phone}}</span>
                <span>Speed: {{shippingSpeed}}</span>
                <div class="address-actions">
                  <a ng-href="/checkout?step=Shipping"><i class="fa fa-pencil-square-o"></i> Change Address</a>
                </div>
              </div><!-- /address -->

              <div class="col-xs-6 col-lg-4 checkout-address" ng-if="orderObject.billing.name">
                <h3>Billing To:</h3>
                <span class="address-name">{{orderObject.billing.name}}</span>
                <span class="address-street">{{orderObject.billing.address1}} {{orderObject.billing.address2}}</span>
                <span class="address-region">{{orderObject.billing.city}}, {{orderObject.billing.state}} {{orderObject.billing.zip}}</span>
                <span class="phone-number">{{orderObject.billing.phone}}</span>
                <div class="address-actions">
                  <a ng-href="/checkout?step=Payment"><i class="fa fa-pencil-square-o"></i> Change Address</a>
                </div>
              </div><!-- /address -->           
              

              <div class="col-xs-6 col-lg-4 checkout-address" ng-if="!orderObject.billing.name">
                <h3>Billing To:</h3>
                <span class="address-name">{{orderObject.shipping.name}}</span>
                <span class="address-street">{{orderObject.shipping.address1}} {{orderObject.shipping.address2}}</span>
                <span class="address-region">{{orderObject.shipping.city}}, {{orderObject.shipping.state}} {{orderObject.shipping.zip}}</span>
                <span class="phone-number">{{orderObject.shipping.phone}}</span>
                <div class="address-actions">
                  <a ng-href="/checkout?step=Payment"><i class="fa fa-pencil-square-o"></i> Change Address</a>
                </div>
              </div><!-- /address -->

            </div><!-- /row -->

            <hr>



          


            <form class="form order-details" role="form" name="confirmForm">
              <a ng-href="/cart" class="pull-right" style="margin-top:10px"><i class="fa fa-pencil-square-o"></i> make changes</a>
              <h2 class="">Order Details</h2>
              <div class="form-group">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Qty</th>
                      <th>Description</th>
                      <th align="right">Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="product in products">
                      <td>{{product.quantity}}</td>
                      <td>
                        <p class="confirmation-description">
                          {{product.name}}
                        </p>
                      </td>
                      <td align="right">
                            <span ng-repeat="detailprice in product.pricing.detailprice">
                                <span ng-if="detailprice.pricetype=='sale'" class="item-price-sale">
                                  {{detailprice.price | currency}}
                                </span>
                                <span ng-if="detailprice.pricetype=='retail'" class="item-price-strike">
                                  ${{detailprice.price}}
                                </span>
                            </span>
                            <span ng-if="product.pricing.detailprice.price">
                                <span class="item-price">
                                  {{product.pricing.detailprice.price | currency}}
                                </span>
                            </span>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="3">
                        <p>Subtotal: {{total() | currency}}</p>
                        <p>Shipping: $15.00</p>
                        <p>Tax: 8.25%</p>
                        <p class="lead"><b>Total Charges: {{(total()* 1.0825) + 15 | currency}}</b></p>
                      </td>
                    </tr>
                  </tfoot>
                </table>

              </div>

              <div class="form-group text-right">
                <label class="checkbox-inline">
                    
                        <input type="checkbox" value="" ng-model="checkout.agree" required>
                    
                  I agree to the <a href="">Terms and Conditions</a>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                </label>
                <button type="button" class="btn btn-link pull-left" tabindex=" " ng-click="confirmAlert('Are you sure you\'d like to cancel your order?')">Cancel Order</button>
                <button type="submit" class="btn btn-primary btn-lg" tabindex=" " wz-next ng-disabled="!confirmForm.$valid">Place Order &nbsp;<i class="fa fa-caret-right"></i></button>
              </div>
            </form>
          </div>

      </div><!--/span-->

    </wz-step>
    <wz-step title="Finish">

      <div class="col-sm-12">

        <div class="col-md-offset-3 col-lg-8">
          <a href="" class="pull-right print-link"><i class="fa fa-print"></i> Print this page</a>
          <h1>Thank you!
                    <span class="store-heading-description">
                      We have received your order and will be processing it shortly.
                    </span>
                  </h1>
        </div>

        <div class="col-md-offset-3 col-lg-8">
          <h2 class="">Confirmation Number: <label style="color:black;">1234567890</label></h2>
          <hr>

          <form class="form order-details" role="form">
            <div class="form-group">
              <table class="table">
                <thead>
                  <tr>
                    <th>Qty</th>
                    <th>Description</th>
                    <th align="right">Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="product in products">
                      <td>{{product.quantity}}</td>
                      <td>
                        <p class="confirmation-description">
                          {{product.name}}
                        </p>
                      </td>
                      <td align="right">
                            <span ng-repeat="detailprice in product.pricing.detailprice">
                                <span ng-if="detailprice.pricetype=='sale'" class="item-price-sale">
                                  {{detailprice.price | currency}}
                                </span>
                                <span ng-if="detailprice.pricetype=='retail'" class="item-price-strike">
                                  ${{detailprice.price}}
                                </span>
                            </span>
                            <span ng-if="product.pricing.detailprice.price">
                                <span class="item-price">
                                  {{product.pricing.detailprice.price | currency}}
                                </span>
                            </span>
                      </td>
                    </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="3">
                      <p>Subtotal: {{total() | currency}}</p>
                        <p>Shipping: $15.00</p>
                        <p>Tax: 8.25%</p>
                        <p class="lead"><b class="text-success"><i class="fa fa-check"></i> Successfully Charged: {{(total()* 1.0825) + 15 | currency}}</b></p>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>

          </form>
          <h2 class="">How to track your order</h2>
          <hr>
          <p>Lorem Ipsum</p>

        </div>

      </div><!--/span-->

    </wz-step>
  </wizard>

</section><!--/row-->
