
<section class="store-checkout container">
  <wizard name="checkoutWizard" hide-indicators="false" on-finish="finished()" current-step="currentStep">
    <!--current step: {{checkout.currentStep}}-->
    <wz-step wz-title="Start" display-name="{{'WZ_START' | translate | unsafe}}">
      <ng-include src="'/partials/checkout/start.html'"/>
    </wz-step>
    <wz-step wz-title="Profile" display-name="{{'WZ_PROFILE' | translate | unsafe}}">
      <ng-include src="'/partials/checkout/profile.html'"/>
    </wz-step>
    <wz-step wz-title="Shipping" display-name="{{'WZ_SHIPPING' | translate | unsafe}}">
      <ng-include src="'/partials/checkout/shipping.html'"/>
    </wz-step>
    <wz-step wz-title="Payment" display-name="{{'WZ_PAYMENT' | translate | unsafe}}">
      <ng-include src="'/partials/checkout/payment.html'"/>
    </wz-step>
    <wz-step wz-title="Review" display-name="{{'WZ_REVIEW' | translate | unsafe}}">
      <ng-include src="'/partials/checkout/review.html'"/>
    </wz-step>
    <wz-step wz-title="Finish" display-name="{{'WZ_FINISH' | translate | unsafe}}">
      <ng-include src="'/partials/checkout/finish.html'"/>
    </wz-step>
  </wizard>
  <div ng-if="debug">
    <a ng-click="debugDumpProfile()">dump profile</a>
  </div>
  <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="false" id="myModal" style="display: block;">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title" id="mySmallModalLabel">Great News!</h4>
        </div>
        <div class="modal-body">
          As a New Consultant, you get FREE shipping when you place your first product order within the next 24 hours!
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
      $(function(){
          if(urlStep = 'Start') {
            $('#myModal').modal('show');
          } else if (urlStep ='Finish'){
            $('#myModal').modal('show');
          }
      });
  </script>
</section>