<section class="store-checkout container">

  <wizard name="checkoutWizard" hide-indicators="false" on-finish="finished()" current-step="currentStep">

  <!--current step: {{checkout.currentStep}}-->

    <!-- sign in -->
    <wz-step title="Start">
      <ng-include src="'/partials/checkout/start.html'"/>
    </wz-step>

    <wz-step title="Profile">
      <ng-include src="'/partials/checkout/profile.html'"/>
    </wz-step>

    <wz-step title="Shipping">
      <ng-include src="'/partials/checkout/shipping.html'"/>
    </wz-step>

    <wz-step title="Payment">
      <ng-include src="'/partials/checkout/payment.html'"/>
    </wz-step>

    <wz-step title="Review">
      <ng-include src="'/partials/checkout/review.html'"/>
    </wz-step>

    <wz-step title="Finish">
      <ng-include src="'/partials/checkout/finish.html'"/>
    </wz-step>
  </wizard>

</section><!--/row-->