
<div class="modal-header">
  <button type="button" class="close" ng-click="close()">&times;</button>
  <h4 class="modal-title"><span ng-bind-html="'OS-ADDRESS_CORRECTION_TITLE' | translate | unsafe"></span> <span class="text-muted italic" ng-bind-html="'OS-ADDRESS_CORRECTION_TITLE_DESC' | translate | unsafe"></span></h4>
</div>

<div class="modal-body queue-modal-body">
  <div class="col-md-offset-3">
    <h1><span ng-bind-html="'OS-EDIT-CONTACT-INFO' | translate | unsafe"></span></h1>
  </div>

  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <div ng-if="emailError" class="alert alert-danger" role="alert">
        <span>{{ emailError }}</span>
      </div>
    </div>
  </div>

  <form name="contactForm" class="form-horizontal" role="form" novalidate>

    <div class="form-group">
      <label for="firstName" class="col-md-3 control-label"><span ng-bind-html="'OS-NAME' | translate | unsafe"></span></label>
      <div class="col-sm-3" ng-class="{ 'has-error' : contactForm.firstName.$invalid && (contactForm.firstName.$touched || contactForm.firstName.$dirty) }">
        <input name="firstName" ng-pattern="/^[A-Za-z]'?[- a-zA-Z]+$/" ng-model="profile.firstName" class="form-control" id="firstName" placeholder="{{'CHECKOUT-FIRST-PLACEHOLDER' | translate | unsafe}}" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" required autofocus min="2" max="40">
      </div>
      <div class="col-sm-3" ng-class="{ 'has-error' : contactForm.lastName.$invalid && (contactForm.lastName.$touched || contactForm.lastName.$dirty) }">
        <input name="lastName" ng-pattern="/^[A-Za-z]'?[- a-zA-Z]+$/" ng-model="profile.lastName" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" class="form-control" id="lastName" placeholder="{{'CHECKOUT-LAST-PLACEHOLDER' | translate | unsafe}}" required min="2" max="40">
      </div>
    </div>

    <div class="row" ng-if="(contactForm.firstName.$invalid && (contactForm.firstName.$touched || contactForm.firstName.$dirty)) || (contactForm.lastName.$invalid && (contactForm.lastName.$touched || contactForm.lastName.$dirty))">
      <div class="col-md-3"></div>
      <div class="col-sm-9 has-error">
        <span ng-show="contactForm.firstName.$invalid && (contactForm.firstName.$touched || contactForm.firstName.$dirty)" class="help-block" ng-class="{ 'text-danger' : contactForm.firstName.$invalid }"><span ng-bind-html="'REQUIRE-FIRSTNAME-LENGTH' | translate | unsafe"></span></span>
        <span ng-show="contactForm.lastName.$invalid && (contactForm.lastName.$touched || contactForm.lastName.$dirty) && !(contactForm.firstName.$invalid && (contactForm.firstName.$touched || contactForm.firstName.$dirty))" class="help-block" ng-class="{ 'text-danger' : contactForm.lastName.$invalid }">
          <span ng-bind-html="'REQUIRE-LASTNAME-LENGTH' | translate | unsafe"></span>
        </span>
      </div>
    </div>

    <div class="form-group">
      <label for="loginEmail" class="col-md-3 control-label"><span ng-bind-html="'EMAIL_ADD' | translate | unsafe"></span></label>
      <div class="col-sm-6" ng-class="{ 'has-error' : contactForm.loginEmail.$invalid && (contactForm.loginEmail.$touched || contactForm.loginEmail.$dirty) }">
        <input name="loginEmail" ng-pattern="/[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/" ng-model="profile.loginEmail" type="email" class="form-control" id="loginEmail" placeholder="{{ 'EXAMPLE-EMAIL-PLACEHOLDER' | translate | unsafe }}" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" required>
        <span ng-show="contactForm.loginEmail.$invalid && (contactForm.loginEmail.$touched || contactForm.loginEmail.$dirty)" class="help-block" ng-class="{ 'text-danger' : contactForm.loginEmail.$invalid }"><span ng-bind-html="'REQUIRES-VALID-EMAIL-ADDRESS' | translate | unsafe"></span>.</span>
      </div>
    </div>

    <div class="form-group">
      <label for="phoneNumber" class="col-md-3 control-label"><span ng-bind-html="'PHONE-NUMBER' | translate | unsafe"></span></label>
      <div class="col-sm-4" ng-class="{ 'has-error' : contactForm.phoneNumber.$invalid && (contactForm.phoneNumber.$touched || contactForm.phoneNumber.$dirty) }">
        <input name="phoneNumber" type="tel" ui-mask="(999) 999-9999" ng-model="profile.phoneNumber" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" ng-minlength="13" class="form-control" id="phoneNumber" placeholder="(___) ___-____" required>
        <span ng-show="contactForm.phoneNumber.$invalid && (contactForm.phoneNumber.$touched || contactForm.phoneNumber.$dirty)" class="help-block" ng-class="{ 'text-danger' : contactForm.phoneNumber.$invalid && (contactForm.phoneNumber.$touched || signInForm.phoneNumber.$dirty) }">
          <span ng-bind-html="'INVALID-TELEPHONE-NUMBER' | translate | unsafe"></span>.
        </span>
      </div>
    </div>

  </form>
</div>

<div class="modal-footer">
  <div class="col-lg-6 col-md-6 col-sm-6">
    <span class="text-muted pull-left"></span>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6">
    <button ng-click="close()" class="btn btn-link">
      <span ng-bind-html="'BTN_CANCEL' | translate | unsafe"></span>
    </button>
    <button ng-click="save()" class="btn btn-primary" ng-disabled="!contactForm.$valid">
      <span ng-bind-html="'BTN_SAVE' | translate | unsafe"></span>
    </button>
  </div>
</div>
