<div class="col-sm-12">

  <div class="col-md-offset-3 col-lg-8">
    <a href="" class="pull-right print-link"><i class="fa fa-print"></i> Print this page</a>
    <h1>Thank you!
        <span class="store-heading-description">
          We have received your order and will be processing it shortly.
        </span>
    </h1>
  </div>

  <div class="col-md-offset-3 col-lg-8">
    <h2 class="">Confirmation Number: <label style="color:black;">{{confirmation.orderId}}</label></h2>
    <h3 class="">Consultant ID: <label style="color:black;">{{confirmation.consultantId}}</label></h3>
    <hr>

    <form class="form order-details" role="form">
      <div class="form-group">
        <table class="table">
          <thead>
          <tr>
            <th>Qty</th>
            <th>Description</th>
            <th align="right">Price</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="item in items">
            <td>{{item.quantity}}</td>
            <td>
              <p class="confirmation-description">
                {{item.name}}
              </p>
            </td>
            <td align="right">
              <!--<span ng-repeat="detailprice in item.product.pricing.detailprice">-->
              <!--<span ng-if="detailprice.pricetype=='sale'" class="item-price-sale">-->
              <!--{{detailprice.price | currency}}-->
              <!--</span>-->
              <!--<span ng-if="detailprice.pricetype=='retail'" class="item-price-strike">-->
              <!--${{detailprice.price}}-->
              <!--</span>-->
              <!--</span>-->
              <!--<span ng-if="item.product.pricing.detailprice.price">-->
              <!--<span class="item-price">-->
              <!--{{item.product.pricing.detailprice.price | currency}}-->
              <!--</span>-->
              <!--</span>-->
                            <span ng-repeat="detailprice in item.product.prices[0]">
                              <span ng-if="detailprice.typeId==2" class="item-price-sale">
                                {{detailprice.price | currency}}
                              </span>
                              <span ng-if="detailprice.typeId==1" class="item-price-strike">
                                {{detailprice.price | currency}}
                              </span>
                            </span>
                            <span ng-if="item.product.prices[0].price">
                              <span class="item-price">
                                {{item.product.prices[0].price | currency}}
                              </span>
                            </span>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="3">
              <p>Subtotal: {{total() | currency}}</p>
              <p>Shipping: $12.00</p>
              <p>Tax: 8.25%</p>
              <p class="lead"><b class="text-success"><i class="fa fa-check"></i> Successfully Charged: {{(total()* 1.0825) + 12 | currency}}</b></p>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>

    </form>
    <h2 class="">How to track your order</h2>
    <hr>
    <p>Lorem Ipsum</p>

  </div>

</div><!--/span-->