<div id="final" class="col-lg-offset-1 col-lg-10">
  <div class="row">
    <div class="col-md-8 text-left">
      <h1>¡FELICITACIONES!
        <span class="store-heading-description">
          ¡Ya eres una Consultora de JAFRA y vas en camino a vivir la vida que so&ntilde;aste!
        </span>
      </h1>
    </div>
    <div class="col-md-4 text-right print-link">
      <a href="" onClick="window.print();"><i class="fa fa-print"></i> Imprimir</a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-8 text-left">
      <h3 class="color-red">Tu No. (ID) de Consultora es: <label class="color-purple HelveticaNeueLTStd-BdCn">{{confirmation.consultantId}}</label></h3>
      <p>Portal de la Consultora: <a class="biggify color-red HelveticaNeueLTStd-BdCn">jafrabiz.com</a></p>
      <p>Contraseña: (Últimos 4 dígitos de tu seguro seguro social)</p>
    </div>
    <div class="col-md-4">
      <div class="jafrabiz-well text-center">
        <p ng-if="confirmation.sponsor.id">Tu Patrocinadora JAFRA es:<br />#{{confirmation.sponsor.id}} <b class="biggify color-purple HelveticaNeueLTStd-BdCn">{{confirmation.sponsor.firstName}} {{confirmation.sponsor.lastName}}</b></p>
        <p ng-if="!confirmation.sponsor.id">Se te asignará una Patrocinadora de JAFRA dentro de los próximos 2 días hábiles.</p>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <h2 class="">No. de Confirmación del Pedido: <label class="color-black">{{confirmation.orderId}}</label></h2>
    <span class="store-heading-description">La información para darle seguimiento a tu pedido te llegará por correo electrónico una vez que el pedido se haya enviado.</span>
    <form class="form order-details" role="form">
      <div class="form-group">
        <table class="table">
          <thead>
            <tr>
              <th>Cant</th>
              <th>Descripción</th>
              <th align="right">Precio</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in cart">
              <td>{{ item.quantity }}</td>
              <td>
                <p class="confirmation-description">
                  {{ item.product.name }}
                </p>
              </td>
              <td align="right">
                <span ng-repeat="detailprice in item.product.prices[0]">
                  <span ng-if="detailprice.typeId==2" class="item-price-sale">
                    {{ detailprice.price | currency}}
                  </span>
                  <span ng-if="detailprice.typeId==1" class="item-price-strike">
                    {{detailprice.price | currency}}
                  </span>
                </span>
                <span ng-if="item.product.prices[0].price">
                  <span class="item-price">
                    {{item.product.prices[0].price | currency}}
                  </span>
                </span>
              </td>
            </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="3">
              <p>Subtotal: {{salesTaxInfo.SubTotal | currency}}</p>
              <p>Envío: {{salesTaxInfo.SH | currency}}</p>
              <p>Impuesto ({{salesTaxInfo.TaxRate}}%): {{ salesTaxInfo.TaxAmount | currency }}</p>
              <p class="lead"><b class="text-success"><i class="fa fa-check"></i> Cargo Aprobado: {{salesTaxInfo.Total | currency}}</b></p>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </form>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <div class="text-center">
        <h3>1. Edifica tu Negocio</h3>
        <p>Visita <a href="http://jafrabiz.com" target="_blank">jafrabiz.com</a> y la Conexión de la Consultora</p>
        <ul class="text-left">
            <li>Haz pedidos</li>
            <li>Haz pagos</li>
            <li>Administra tu cuenta</li>
            <li>Obtén Capacitación</li>
            <li>Recibe Alertas y Noticias de la Compañía</li>
        </ul>
        <p><a href="http://pages.exacttarget.com/opt-in-sms-es" target="_blank">Inscríbete para recibir mensajes de Texto de JAFRA</a></p>
        <a class="btn btn-primary HelveticaNeueLTStd-BdCn btn-med" role="button" href="http://jafrabiz.com">VISITA JAFRABIZ.COM</a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="text-center">
        <h3>2. Inscríbete en una de las Opciones de Pago</h3>
        <p>DEBES seleccionar una opción para que puedas recibir tus bonos, comisiones e incentivos.</p>
        <p><a href="https://cardholder.globalcashcard.com/c/jafra" class="biggify color-red HelveticaNeueLTStd-BdCn"><i class="fa fa-credit-card"></i> TARJETA DE DÉBITO MASTERCARD</a><br />
          En la página principal de la Conexión de la Consultora, haz clic en Enlaces Rápidos.</p>
        <p>o</p>
        <p><a href="http://downloads.jafrausa.com/pdfs/es/2012/news/apr/2012_DirectDepositAgrForm_es.pdf" class="biggify color-red HelveticaNeueLTStd-BdCn"><i class="fa fa-usd"></i> DEPÓSITO DIRECTO</a><br />
          en tu cuenta bancaria.<br />Si no seleccionas una opcíon de pago, se enviarán cheques por correo.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="text-center">
        <h3>3. ¿Necesitas Ayuda?</h3>
        <p>Llame a tu Consultura o Líder cualquier duda o reciba ayuda del equipo de Relaciones con Consultantes (CRT)</p>
        <p><a href="tel:1800852372" class="biggify color-red HelveticaNeueLTStd-BdCn"><i class="fa fa-phone"></i> 1-800-852-3728</a></p>
        <p>o email a</p>
        <p><a href="mailto:crt@jafra.com" class="biggify color-red HelveticaNeueLTStd-BdCn"><i class="fa fa-envelope-o"></i> crt@jafra.com</a></p>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <div class="text-left">
        <img src="/img/november-brochure-es.jpg" class="pull-left" style="padding: 0px 10px;" width="135px"/>
        <h3>Folleto de Temporada</h3>
        <p>Una versión digital de nuestro folleto de la temporada está ya disponible.</p>
        <a class="btn btn-primary HelveticaNeueLTStd-BdCn btn-med" role="button" href="http://virtualopportunity.jafrausa.com/flipbooks/2014/Nov/2014-s6-brochure-es" target="_blank">Ver Folleto</a>
      </div>
    </div>
    <div class="col-md-5 col-md-offset-1">
      <div class="text-left">
        <img src="/img/productcatalog-brochure-es.jpg" class="pull-left" style="padding: 0px 10px;" width="135px"/>
        <h3>Catálogo de Productos</h3>
        <p>Más herramientas de ventas incluyendo nuestro catálogo en línea</p>
        <a class="btn btn-primary HelveticaNeueLTStd-BdCn btn-med" role="button" href="http://virtualopportunity.jafrausa.com/flipbooks/2014/sep/2014-wf-catalog-es" target="_blank">Ver Folleto</a>
      </div>
    </div>
  </div>
  <hr>
  <div class="row hidden-print">
    <a class="pull-right" href="" onclick="printDiv('agreement-content');"><i class="fa fa-print"></i> &nbsp;Imprimir</a>
    <h4 id="myModalLabel" class="modal-title text-center"><span ng-bind-html="'CONSULTANT-AGREEMENT-TITLE' | translate | unsafe"></span></h4>
    <div class="agreement-content" id="agreement-content">
        <!--consultant agreement goes here-->
        <div ng-if="session.language" ng-include="'/partials/consultant-agreement-'+session.language+'.html'"></div>
    </div>
  </div>
</div>