
<div class="col-lg-offset-1 col-lg-10">
  <a href="" class="pull-right print-link" onClick="window.print();"><i class="fa fa-print"></i>
    <span ng-bind-html="'BTN_PRINT_PAGE' | translate | unsafe"></span>
  </a>

  <h1><span ng-bind-html="'ORDER-CONFIRMATION-TITLE' | translate | unsafe"></span>
    <span class="store-heading-description">
      <span ng-bind-html="'ORDER-CONFIRMATION-WILL-RECEIVE-EMAIL' | translate | unsafe"></span>.
    </span>
  </h1>

  <h2 class=""><span ng-bind-html="'ORDER-CONFIRMATION-ORDER-NUMBER' | translate | unsafe"></span>: <label style="color:black;">{{ confirmation.orderId }}</label></h2>

  <form class="form order-details" role="form">
    <div class="form-group">
      <table class="table">
        <thead>
        <tr>
          <th><span ng-bind-html="'QTY' | translate | unsafe"></span></th>
          <th><span ng-bind-html="'DESCRIPTION' | translate | unsafe"></span></th>
          <th align="right"><span ng-bind-html="'CART_PRICE' | translate | unsafe"></span></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in cart">
          <td>{{ item.quantity }}</td>
          <td>
            <p class="confirmation-description">
              <span ng-bind-html="session.language=='en_US' ? item.product.name : item.product.name_es_US | unsafe"></span>
            </p>
          </td>
          <td align="right">
              <span ng-repeat="detailprice in item.product.currentPrice">
                <span ng-if="detailprice.typeId == 2" class="item-price-sale">
                  {{ detailprice.price | currency }}
                </span>
                <span ng-if="detailprice.typeId==1" class="item-price-strike">
                  {{ detailprice.price | currency }}
                </span>
              </span>
              <span ng-if="item.product.currentPrice.price">
                <span class="item-price">
                  {{ item.product.currentPrice.price | currency }}
                </span>
              </span>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="3">
            <p><span ng-bind-html="'SUBTOTAL' | translate | unsafe"></span>: {{ salesTaxInfo.SubTotal | currency }}</p>
            <p><span ng-bind-html="'SHIPPING' | translate | unsafe"></span>: {{ salesTaxInfo.SH | currency }}</p>
            <p><span ng-bind-html="'TAX' | translate | unsafe"></span>: ({{ salesTaxInfo.TaxRate}}%): {{ salesTaxInfo.TaxAmount | currency }}</p>
            <p class="lead"><b><span ng-bind-html="'TOTAL_CHARGES' | translate | unsafe"></span>: {{ salesTaxInfo.Total | currency }}</b></p>
          </td>
        </tr>
        </tfoot>
      </table>

    </div>

  </form>

  <hr />

  <!-- order details -->
  <div class="row">
    <!-- card -->
    <div class="col-sm-3 col-lg-3" ng-if="profile.card">
      <h3><span ng-bind-html="'PAY_TIT1' | translate | unsafe"></span></h3>
      <div class="checkout-card clearfix active">
        <span class="pull-left">{{ profile.card.name }}</span>
        <img class="pull-right img-responsive cardImg" src="/img/visa.png" ng-show="profile.card.cardType=='Visa'">
        <img class="pull-right img-responsive cardImg" src="/img/mastercard.png" ng-show="profile.card.cardType=='MasterCard'">
        <img class="pull-right img-responsive cardImg" src="/img/discover.png" ng-show="profile.card.cardType=='Discover Card'">
        <img class="pull-right img-responsive cardImg" src="/img/americanexpress.png" ng-show="profile.card.cardType=='American Express'">
        <p class="card-number">
          <span>&bull;&bull;&bull;&bull;</span>
          <span>&bull;&bull;&bull;&bull;</span>
          <span>&bull;&bull;&bull;&bull;</span>
          <span>{{profile.card.lastFour}}</span>
        </p>
        <p class="card-expiry pull-left">
          <small>EXP:</small>
          {{profile.card.expMonth}}/{{profile.card.expYear|substr:2:2}}
        </p>
      </div>
    </div><!-- /card -->
    <!-- shipping card -->
    <div class="col-sm-3 col-lg-3 checkout-address" ng-if="profile.shipping">
      <h3><span ng-bind-html="'PAY_TIT2' | translate | unsafe"></span></h3>
      <span ng-if="!isOnlineSponsoring">{{ profile.shipping.name || namePlaceholder }}</span>
      <span ng-if="isOnlineSponsoring" class="address-businessCO">{{ profile.shipping.businessCO }}</span>
      <span class="address-street">{{profile.shipping.address1}}</span>
      <span class="address-street">{{profile.shipping.address2}}</span>
      <span class="address-region">{{profile.shipping.city}}, {{profile.shipping.state}} {{ profile.shipping.zip }}</span>
      <span class="phone-number" ng-if="!isOnlineSponsoring">{{profile.shipping.phone}}</span>
      <span ng-if="!isOnlineSponsoring"><span ng-bind-html="'SHIPPING-CARRIER' | translate | unsafe"></span>: {{ salesTaxInfo.Carrier || 'UPS' }}</span>
    </div><!-- /address -->
    <!-- billing card -->
    <div class="col-xs-3 col-lg-3 checkout-address">
      <h3><span ng-bind-html="'PAY_TIT3' | translate | unsafe"></span></h3>
      <span class="address-businessCO">{{ profile.billing.name || namePlaceholder }}</span>
      <span class="address-businessCO">{{profile.billing.businessCO}}</span>
      <span class="address-street">{{profile.billing.address1}}</span>
      <span class="address-street">{{profile.billing.address2}}</span>
      <span class="address-region">{{profile.billing.city}}, {{profile.billing.state}} {{profile.billing.zip }}</span>
      <span class="phone-number" ng-if="!isOnlineSponsoring">{{profile.billing.phone}}</span>
    </div><!-- /address -->
  </div><!-- /row / end review info -->

  <hr />

  <h2 class=""><span ng-bind-html="'TIT_TRACK_ORDER' | translate | unsafe"></span></h2>
  <hr>
  <p><span ng-bind-html="'ORDER-CONFIRMATION-DETAILS-AFTER-SHIPPING' | translate | unsafe"></span>.</p>
</div>
