
<div class='modal-header'>
  <button type='button' class='close' ng-click='close()'>&times;</button>
  <h4 class='modal-title'>Look Up Sponsor</h4>
</div>

<div class='modal-body queue-modal-body'>
  <div class='col-md-offset-3'>
    <h1>Look Up Sponsor</h1>
  </div>
  <div class='row'>
    <div class='col-sm-3 col-md-3'></div>
    <div class='col-sm-6 col-md-6'>
      <div ng-if='searchError' class='alert alert-danger' role='alert'>
        <span>{{ searchError }}</span>
      </div>
    </div>
  </div>
  <form name='sponsorByZipForm' class='form-horizontal' role='form' novalidate>
    <div class='form-group'>
      <label for='zip' class='col-md-3 control-label'>By Zip</label>
      <div class='col-sm-3' ng-class="{ 'has-error' : sponsorByZipForm.zip.$invalid && (sponsorByZipForm.zip.$touched || sponsorByZipForm.zip.$dirty) }">
        <input name='zip' class='form-control' id='zip' ng-pattern='/(^\d{5}$)|(^\d{5}-\d{4}$)/' ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" required ng-model='zip' tabindex='0' />
      </div>
    </div>
    <div class='form-group'>
      <div class='col-sm-3 col-md-3'></div>
      <div class='col-sm-6 col-md-6'>
        <button ng-click='searchByZip()' ng-disabled='sponsorByZipForm.$invalid' class='btn btn-primary' tabindex='1'>Lookup By Zip Code</button>
      </div>
    </div>
  </form>
  <div class='row'>
    <div class='col-sm-3 col-md-3 text-right'>- OR -</div>
  </div>
  <form name='sponsorByNameForm' class='form-horizontal' role='form' novalidate>
    <div class='form-group'>
      <label for='firstName' class='col-md-3 control-label'>By Sponsor Name</label>
      <div class='col-sm-3' ng-class="{ 'has-error' : sponsorByNameForm.firstName.$invalid && (sponsorByNameForm.firstName.$touched || sponsorByNameForm.firstName.$dirty) }">
        <input name='firstName' ng-pattern="/^[A-Za-z]'?[- a-zA-Z]+$/" ng-model='firstName' class='form-control' id='firstName' ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" min='2' max='40' required placeholder="{{ 'CHECKOUT-FIRST-PLACEHOLDER' | translate | unsafe }}" tabindex='2' />
      </div>
      <div class='col-sm-3' ng-class="{ 'has-error' : sponsorByNameForm.lastName.$invalid && (sponsorByNameForm.lastName.$touched || sponsorByNameForm.lastName.$dirty) }">
        <input name='lastName' ng-pattern="/^[A-Za-z]'?[- a-zA-Z]+$/" ng-model='lastName' ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" class='form-control' id='lastName' min='2' max='40' required placeholder="{{ 'CHECKOUT-LAST-PLACEHOLDER' | translate | unsafe }}" tabindex='3' />
      </div>
    </div>
    <div class='row' ng-if='(sponsorByNameForm.firstName.$invalid && (sponsorByNameForm.firstName.$touched || sponsorByNameForm.firstName.$dirty)) || (sponsorByNameForm.lastName.$invalid && (searchForSponsorForm.lastName.$touched || searchForSponsorForm.lastName.$dirty))'>
      <div class='col-md-3'></div>
      <div class='col-sm-9 has-error'>
        <span ng-show='sponsorByNameForm.firstName.$invalid && (sponsorByNameForm.firstName.$touched || sponsorByNameForm.firstName.$dirty)' class='help-block' ng-class="{ 'text-danger' : searchForSponsorForm.firstName.$invalid }">
          <span ng-bind-html="'REQUIRE-FIRSTNAME-LENGTH' | translate | unsafe"></span>
        </span>
        <span ng-show='sponsorByNameForm.lastName.$invalid && (sponsorByNameForm.lastName.$touched || sponsorByNameForm.lastName.$dirty) && !(sponsorByNameForm.firstName.$invalid && (searchForSponsorForm.firstName.$touched || searchForSponsorForm.firstName.$dirty))' class='help-block' ng-class="{ 'text-danger' : searchForSponsorForm.lastName.$invalid }">
          <span ng-bind-html="'REQUIRE-LASTNAME-LENGTH' | translate | unsafe"></span>
        </span>
      </div>
    </div>
    <div class='form-group'>
      <div class='col-sm-3 col-md-3'></div>
      <div class='col-sm-6 col-md-6'>
        <button ng-click='searchByName()' ng-disabled='sponsorByNameForm.$invalid' class='btn btn-primary' tabindex='4'>Lookup by Name</button>
      </div>
    </div>
  </form>
  <div id='lookupResults' class='container-responsive'>
    <table class='table table-striped table-responsive'>
      <tr>
        <th>Sponsor Name</th>
        <th>Sponsor ID</th>
        <th>City</th>
        <th>Action</th>
      </tr>
      <tr ng-repeat='sponsor in sponsors'>
        <td>{{ sponsor.firstName + ' ' + sponsor.lastName }}</td>
        <td>{{ sponsor.id }}</td>
        <td>{{ sponsor.city || sponsor.zip }}</td>
        <td><a ng-click='selectSponsor(sponsor.id)'>Select</a></td>
      </tr>
    </table>
  </div>
</div>

<div class='modal-footer'>
  <div class='col-lg-6 col-md-6 col-sm-6'>
    <span class='text-muted pull-left'></span>
  </div>
  <div class='col-lg-6 col-md-6 col-sm-6'>
    <button ng-click='close()' class='btn btn-link'>
      <span ng-bind-html="'BTN_CANCEL' | translate | unsafe"></span>
    </button>
  </div>
</div>
