<div class="col-sm-12">

<div class="col-md-offset-3">
  <h1><span ng-bind-html="'TIT_PAY_OPTION' | translate |unsafe"></span>
              <span class="store-heading-description" ng-bind-html="'PAY_OPTION_DES' | translate | unsafe">
                
              </span>
  </h1>
</div>

<div class="col-md-offset-3" ng-if="profile.customerStatus=='existing'">
  <div class="row">

    <div class="col-xs-6 col-lg-4" ng-repeat="ccData in session.client.creditCards">
      <div class="checkout-card clearfix" ng-class="{active: $first}">
        <span class="pull-left">{{ccData.name}}</span>
        <img class="pull-right img-responsive cardImg" src="/img/visa.png" ng-show="ccData.cardType=='Visa'">
        <img class="pull-right img-responsive cardImg" src="/img/mastercard.png" ng-show="ccData.cardType=='MasterCard'">
        <img class="pull-right img-responsive cardImg" src="/img/discover.png" ng-show="ccData.cardType=='Discover Card'">
        <img class="pull-right img-responsive cardImg" src="/img/americanexpress.png" ng-show="ccData.cardType=='American Express'">
        <p class="card-number">
          <span>&bull;&bull;&bull;&bull;</span>
          <span>&bull;&bull;&bull;&bull;</span>
          <span>&bull;&bull;&bull;&bull;</span>
          <span>{{ccData.lastFour|substr}}</span>
        </p>
        <p class="card-expiry pull-left">
          <small>EXP:</small>
          {{ccData.expMonth}}/{{ccData.expYear|substr:2:2}}
        </p>
        <button class="btn btn-primary pull-right card-use-btn" ng-click="selectCardAndContinue(ccData)"><span ng-bind-html="'SELECT-OPTION-BUTTON' | translate | unsafe"></span> <i class="fa fa-caret-right"></i></button>
      </div>
      <div class="card-actions">
        <a ng-click="editCreditCard(ccData)" class="card-use-btn"><i class="fa fa-pencil-square-o"></i> <span ng-bind-html="'Edit' | translate | unsafe"></span></a>
        &nbsp;&nbsp;
        <a ng-click="removeCreditCard(ccData.id)"><i class="fa fa-times-circle"></i> <span ng-bind-html="'Remove' | translate | unsafe"></span></a>
      </div>
    </div><!-- /span -->

  </div>
</div>

<div class="row" ng-if="profile.customerStatus=='existing'">
  <div class="col-md-offset-3 col-lg-8">
    <hr>
    <h2 class=" "><span ng-bind-html="'ENTER-PAYMENT-INFORMATION' | translate | unsafe"></span></h2>
  </div>
</div>
<!--valid={{paymentForm.$valid}}-->
<form name="paymentForm" class="form-horizontal" role="form" novalidate>

<!-- CARD INFO -->
<div class="form-group" ng-class="{ 'has-error' : paymentForm.cardName.$invalid && !paymentForm.cardName.$pristine }">
  <label for=" " class="col-md-3 control-label"><span ng-bind-html="'IN_NAME_CARD' | translate |unsafe"></span></label>
  <div class="col-sm-6 col-lg-4">
    <input ng-model="profile.newCard.name" ng-pattern="/^[A-Za-z]'?[- a-zA-Z]+$/" ng-minlength="3" name="cardName" type="text" class="form-control" placeholder=" " required>
    <span ng-show="paymentForm.cardName.$error.minlength && paymentForm.cardName.$dirty" class="help-block" ng-class="{ 'text-danger' : paymentForm.cardName.$invalid }"><span ng-bind-html="'NAME_ON_CARD_ERR' | translate | unsafe"></span></span>
    <span ng-show="paymentForm.cardName.$error.pattern && paymentForm.cardName.$dirty" class="help-block" ng-class="{ 'text-danger' : paymentForm.cardName.$invalid }"><span ng-bind-html="'NAME_ON_CARD_INVALID_ERR' | translate | unsafe"></span></span>
    <!--valid={{paymentForm.cardName.$valid}}-->
  </div>
</div>

<div class="form-group" ng-class="{ 'has-error' : paymentForm.number.$invalid && !paymentForm.number.$pristine }">
  <label for=" " class="col-md-3 control-label"><span ng-bind-html="'IN_CARD_NUMBER' | translate |unsafe"></span></label>
  <div class="col-sm-6 col-lg-4">
    <input ng-model="profile.newCard.card" data-ng-blur="visited=true" ng-minlength="13" ng-maxlength="16" maxlength="16" name="number" type="text" class="form-control" id=" " placeholder=" " data-ui-validate=" 'isValidCard($value)' " required>
    <span ng-show="visited && (paymentForm.number.$error.minlength || paymentForm.number.$error.validator)" class="help-block" ng-class="{ 'text-danger' : paymentForm.number.$invalid && !paymentForm.number.$pristine }"><span ng-bind-html="'INVALID-CARD-NUMBER' | translate | unsafe"></span></span>
    <!--valid={{paymentForm.number.$valid}}-->
  </div>
  <div class="col-sm-4 col-lg-4" ng-model="cardType" ng-show="!paymentForm.number.$error.minlength && !paymentForm.number.$error.validator">
    <img class="img-responsive cardImg" src="/img/visa.png" ng-show="profile.newCard.cardType=='Visa'">
    <img class="img-responsive cardImg" src="/img/mastercard.png" ng-show="profile.newCard.cardType=='MasterCard'">
    <img class="img-responsive cardImg" src="/img/discover.png" ng-show="profile.newCard.cardType=='Discover Card'">
    <img class="img-responsive cardImg" src="/img/americanexpress.png" ng-show="profile.newCard.cardType=='American Express'">
  </div>
</div>
<div class="form-group">
  <label for=" " class="col-md-3 control-label"><span ng-bind-html="'IN_EXPIRATION' | translate | unsafe"></span></label>
  <div class="col-sm-5" ng-class="{ 'has-error' : (invalidExpiration || paymentForm.expMonth.$invalid || paymentForm.expYear.$invalid) && !paymentForm.expMonth.$pristine && !paymentForm.expYear.$pristine }">
    <div class="row">
      <div class="col-xs-4 col-sm-3 col-med-2">
        <input ng-model="profile.newCard.expMonth" name="expMonth" type="text" class="form-control col-sm-1" ui-mask="99" placeholder="MM" required>
        <!--valid={{paymentForm.expMonth.$valid}}-->
      </div>
      <div class="col-xs-1">
        <label class="control-label">/</label>
      </div>
      <div class="col-xs-6 col-sm-4 col-med-3">
        <input ng-model="profile.newCard.expYear" name="expYear" type="text" class="form-control col-sm-3" ui-mask="9999" placeholder="{{ 'YEAR-PLACEHOLDER' | translate }}" required>
        <!--valid={{paymentForm.expYear.$valid}}-->
      </div>
    </div>
    <span ng-show="(invalidExpiration || paymentForm.expMonth.$invalid || paymentForm.expYear.$invalid) && !paymentForm.expMonth.$pristine && !paymentForm.expYear.$pristine" class="help-block text-danger" ng-bind-html="'INVALID_CC_EXPIRATION' | translate | unsafe"></span>
  </div>
</div>
<div class="form-group" ng-class="{ 'has-error' : paymentForm.cvv.$invalid && paymentForm.cvv.$dirty }">
  <label for=" " class="col-md-3 control-label"><span ng-bind-html="'IN_SECURITY_CODE' | translate | unsafe"></span></label>
  <div class="col-sm-5">
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-med-2">
        <input ng-model="profile.newCard.cvv" ng-pattern="/^[0-9]+$/" ng-minlength="3" ng-maxlength="4" maxlength="4" name="cvv" type="number" limit-to="4" class="form-control col-sm-1 hide-arrows" placeholder="&bull;&bull;&bull;" required />
        <span ng-show="paymentForm.cvv.$invalid && paymentForm.cvv.$dirty" class="help-block" ng-class="{ 'text-danger' : paymentForm.cvv.$invalid }"><span ng-bind-html="'NUMBERS-ONLY-SHORT' | translate | unsafe"></span></span>
        <!--valid={{paymentForm.cvv.$valid}}-->
      </div>
      <div class="col-xs-6 col-sm-4 col-med-3">
        <a popover="3-4 digit number located on your credit card" popover-title="Security Code/CVV2" href="" tabindex="-1" popover-trigger="hover"><i class="fa fa-info-circle"></i> <span ng-bind-html="'WHATS-THIS' | translate | unsafe"></span></a>
      </div>
    </div>
  </div>
</div>

<!-- BILLING SAME -->
<div class="form-group">
  <div class="col-md-offset-3 col-sm-9">
    <div class="checkbox">
      <label>
        <input name="billSame" data-ng-init="profile.billSame=true" ng-model="profile.billSame" type="checkbox" tabindex="-2" checked="checked"> <span ng-bind-html="'IN_BILL_SHIP_SAME' | translate | unsafe"></span>
        <!--valid={{paymentForm.billSame.$valid}}-->
      </label>
    </div>
  </div>
</div>

<!-- BILLING -->

<div class="cardAddressWrapper" ng-if="profile.billSame==false">

  <div class="row form-group" ng-if="!isOnlineSponsoring">
    <label for="billingFullName" class="col-md-3 control-label"><span ng-bind-html="'IN_FULL_NAME' | translate | unsafe"></span></label>
    <div class="col-sm-8 col-lg-6">
      <input id="billingFullName" name="name" ng-model="profile.newBillingAddress.name" type="text" class="form-control" placeholder="" required>
    </div>
  </div>

  <div class="row form-group">
    <label for="billingBusinessCO" class="col-md-3 control-label"><span ng-bind-html="'IN_BUSINESS_CO' | translate | unsafe"></span></label>
    <div class="col-sm-8 col-lg-6">
      <input id="billingBusinessCO" name="name" ng-model="profile.newBillingAddress.businessCO" type="text" class="form-control" placeholder="Business Name, c/o Someone, etc." autocomplete="off">
    </div>
  </div>

  <div class="row form-group">
    <label for="billingAddress1" class="col-md-3 control-label"><span ng-bind-html="'IN_ADD_LINE1' | translate | unsafe"></span></label>
    <div class="col-sm-8 col-lg-6">
      <input name="address1" ng-model="profile.newBillingAddress.address1" type="text" class="form-control" id="billingAddress1" placeholder="{{ 'IN_ADD_LINE1_DES' | translate }} " required>
    </div>
  </div>

  <div class="row form-group">
    <label for="billingAddress2" class="col-md-3 control-label"><span ng-bind-html="'IN_ADD_LINE2' | translate | unsafe"></span></label>
    <div class="col-sm-8 col-lg-6">
      <input name="address2" ng-model="profile.newBillingAddress.address2" type="text" class="form-control" id="billingAddress2" placeholder="{{ 'IN_ADD_LINE2_DES' | translate }} " >
    </div>
  </div>

  <div class="row form-group">
    <label for="billingCity" class="col-md-3 control-label"><span ng-bind-html="'IN_CITY' | translate | unsafe"></span></label>
    <div class="col-sm-7 col-lg-5">
      <input name="city" ng-model="profile.newBillingAddress.city" type="text" class="form-control" id="billingCity" placeholder=" " required>
    </div>
  </div>

  <div class="row form-group">
    <label for="billingStateProvinceRegion" class="col-md-3 control-label"><span ng-bind-html="'IN_STATE' | translate | unsafe"></span></label>
    <!-- TO-DO: Fix CSS width of form control -->
    <div class="col-sm-5 col-lg-3">
        <div class="">
          <select id="billingStateProvinceRegion" name="state" ng-model="profile.newBillingAddress.state" class="form-control" >
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
            <option value="CO">Colorado</option>
            <option value="CT">Connecticut</option>
            <option value="DE">Delaware</option>
            <option value="DC">District Of Columbia</option>
            <option value="FL">Florida</option>
            <option value="GA">Georgia</option>
            <option value="HI">Hawaii</option>
            <option value="ID">Idaho</option>
            <option value="IL">Illinois</option>
            <option value="IN">Indiana</option>
            <option value="IA">Iowa</option>
            <option value="KS">Kansas</option>
            <option value="KY">Kentucky</option>
            <option value="LA">Louisiana</option>
            <option value="ME">Maine</option>
            <option value="MD">Maryland</option>
            <option value="MA">Massachusetts</option>
            <option value="MI">Michigan</option>
            <option value="MN">Minnesota</option>
            <option value="MS">Mississippi</option>
            <option value="MO">Missouri</option>
            <option value="MT">Montana</option>
            <option value="NE">Nebraska</option>
            <option value="NV">Nevada</option>
            <option value="NH">New Hampshire</option>
            <option value="NJ">New Jersey</option>
            <option value="NM">New Mexico</option>
            <option value="NY">New York</option>
            <option value="NC">North Carolina</option>
            <option value="ND">North Dakota</option>
            <option value="OH">Ohio</option>
            <option value="OK">Oklahoma</option>
            <option value="OR">Oregon</option>
            <option value="PA">Pennsylvania</option>
            <option value="PR">Puerto Rico</option>
            <option value="RI">Rhode Island</option>
            <option value="SC">South Carolina</option>
            <option value="SD">South Dakota</option>
            <option value="TN">Tennessee</option>
            <option value="TX">Texas</option>
            <option value="UT">Utah</option>
            <option value="VT">Vermont</option>
            <option value="VI">Virgin Islands</option>
            <option value="VA">Virginia</option>
            <option value="WA">Washington</option>
            <option value="WV">West Virginia</option>
            <option value="WI">Wisconsin</option>
            <option value="WY">Wyoming</option>
          </select>
        </div>

      <!-- Removed for now to add the Select tag for 50 states -->
      <!--input id="shippingStateProvinceRegion" name="stateProvinceRegion" ng-model="profile.newShippingAddress.stateProvinceRegion" type="text" class="form-control" placeholder=" " required-->
    </div>
    <!--div class="col-sm-6 col-lg-4">
      <input name="billingProvinceRegion" ng-model="profile.newBillingAddress.stateProvinceRegion" type="text" class="form-control" id="billingStateProvinceRegion" placeholder=" " required>
    </div-->
  </div>

  <div class="row form-group">
    <label for="billingZipPostalCode" class="col-md-3 control-label"><span ng-bind-html="'IN_ZIP' | translate | unsafe"></span></label>
    <div class="col-sm-5 col-lg-3">
      <input name="billingzipPostalCode" ng-model="profile.newBillingAddress.zip" type="text" class="form-control" id="billingZipPostalCode" placeholder=" " required>
    </div>
  </div>

  <div class="row form-group">
    <label for="billingCountry" class="col-md-3 control-label"><span ng-bind-html="'IN_COUNTRY' | translate | unsafe"></span></label>
    <div class="col-sm-5 col-lg-3">
      <select id="billingCountry" name="billingCountry" data-ng-init="profile.newBillingAddress.country='US'" ng-model="profile.newBillingAddress.country" class="form-control" >
        <option ng-selected="true" value="US" ng-bind-html="'COUNTRY-US' | translate | unsafe"></option>
      </select>
    </div>
  </div>

  <div class="row form-group" ng-if="!isOnlineSponsoring"  ng-class="{ 'has-error' : paymentForm.phoneNumber.$invalid && !paymentForm.phoneNumber.$pristine }">
    <label for="billingPhoneNumber" class="col-md-3 control-label"><span ng-bind-html="'PHONE-NUMBER' | translate | unsafe"></span></label>
    <div class="col-sm-6 col-lg-4">
      <input id="billingPhoneNumber" name="phoneNumber" ng-model="profile.newBillingAddress.phone" type="text" ui-mask="(999) 999-9999" placeholder="(xxx) xxx-xxxx" class="form-control">
      <span ng-show="paymentForm.phoneNumber.$error.pattern" class="help-block" ng-class="{ 'text-danger' : paymentForm.phoneNumber.$invalid && !paymentForm.phoneNumber.$pristine }"><span ng-bind-html="'PHONE-NUMBER-WRONG' | translate | unsafe"></span></span>
    </div>
    <a popover="{{'PHONE-NUMBER-DES' | translate | unsafe}}" popover-title="{{'PHONE-NUMBER' | translate | unsafe}}" href="" class="form-info-link"><i class="fa fa-info-circle"></i> <span ng-bind-html="'MORE-INFO' | translate | unsafe"></span></a>
  </div>


  <div class="col-md-offset-3">
    <hr>
  </div> <!-- /offset -->
</div>

<div class="form-group">
  <div class="col-md-offset-3 col-sm-9">
    <div class="error" ng-show="billingAddressError && !profile.billSame" ng-bind="billingAddressError"></div>
      <button type="button" ng-click="addPaymentMethod()" class="btn btn-primary btn-lg" ng-disabled="!paymentForm.$valid || invalidExpiration"><span ng-bind-html="'BTN_SAVE_PAYMENT' | translate | unsafe"></span> &nbsp;<i class="fa fa-caret-right"></i></button>
  </div>
</div>

</form>

</div><!--/span-->
