<div class="col-sm-12">

<div class="col-md-offset-3">
  <h1><span ng-bind-html="'TIT_PAY_OPTION' | translate |unsafe"></span>
        <span class="store-heading-description" ng-bind-html="'PAY_OPTION_DES' | translate | unsafe"></span>
  </h1>
</div>

<div class="col-md-offset-3" ng-if="profile.customerStatus=='existing'">
  <div class="row">

    <div class="col-xs-6 col-lg-4" ng-repeat="ccData in client.creditCards">
      <div class="checkout-card clearfix" ng-class="{active: $first}">
        <img src="/img/46x30" class="pull-right">

        <p class="card-number">
          <span>&bull;&bull;&bull;&bull;</span>
          <span>&bull;&bull;&bull;&bull;</span>
          <span>&bull;&bull;&bull;&bull;</span>
          <span>{{substr(ccData.lastFour)}}</span>
        </p>

        <p class="card-expiry pull-left">
          <small>EXP:</small>
          {{ccData.expMonth}}/{{substr(ccData.expYear,2,2)}}
        </p>
        <button class="btn btn-primary pull-right card-use-btn" wz-next ng-click="addCard(ccData)">
          Use this Option <i class="fa fa-caret-right"></i></button>
      </div>
      <div class="card-actions">
        <a href=""><i class="fa fa-pencil-square-o"></i> Edit</a>
        &nbsp;&nbsp;
        <a href=""><i class="fa fa-times-circle"></i> Remove</a>
      </div>
    </div>
    <!-- /span -->

  </div>
</div>

<div class="row" ng-if="profile.customerStatus=='existing'">
  <div class="col-md-offset-3 col-lg-8">
    <hr>
    <h2 class=" ">Enter Payment Information</h2>
  </div>
</div>
<!--valid={{paymentForm.$valid}}-->
<form name="paymentForm" class="form-horizontal" role="form" novalidate>

<!-- CARD INFO -->
<div class="form-group" ng-class="{ 'has-error' : paymentForm.cardName.$invalid && !paymentForm.cardName.$pristine }">
  <label for=" " class="col-md-3 control-label"><span ng-bind-html="'IN_NAME_CARD' | translate |unsafe"></span></label>

  <div class="col-sm-6 col-lg-4">
    <input ng-model="profile.newCard.name" ng-minlength="3" name="cardName" type="text" class="form-control" placeholder=" " required>
    <span ng-show="paymentForm.cardName.$error.minlength" class="help-block" ng-class="{ 'text-danger' : paymentForm.cardName.$invalid && !paymentForm.cardName.$pristine }" ng-bind-html="'NAME_ON_CARD_ERR' | translate | unsafe"></span>
    <!--valid={{paymentForm.cardName.$valid}}-->
  </div>
</div>

<div class="form-group" ng-class="{ 'has-error' : paymentForm.number.$invalid && !paymentForm.number.$pristine }">
  <label for=" " class="col-md-3 control-label"><span ng-bind-html="'IN_CARD_NUMBER' | translate |unsafe"></span></label>

  <div class="col-sm-6 col-lg-4">
    <input ng-model="profile.newCard.card" data-ng-blur="visited=true" ng-minlength="13" ng-maxlength="16" maxlength="16" name="number" type="text" class="form-control" id=" " placeholder=" " data-ui-validate=" 'isValidCard($value)' " required>
    <span ng-show="visited && (paymentForm.number.$error.minlength || paymentForm.number.$error.validator)" class="help-block" ng-class="{ 'text-danger' : paymentForm.number.$invalid && !paymentForm.number.$pristine }">Invalid credit card number</span>
    <!--valid={{paymentForm.number.$valid}}-->
  </div>
  <div class="col-sm-4 col-lg-4" ng-model="cardType" ng-show="!paymentForm.number.$error.minlength && !paymentForm.number.$error.validator">
    <img class="img-responsive cardImg" src="/img/visa.png" ng-show="profile.newCard.cardType=='Visa'">
    <img class="img-responsive cardImg" src="/img/mastercard.png" ng-show="profile.newCard.cardType=='MasterCard'">
    <img class="img-responsive cardImg" src="/img/discover.png" ng-show="profile.newCard.cardType=='Discover Card'">
    <img class="img-responsive cardImg" src="/img/americanexpress.png" ng-show="profile.newCard.cardType=='American Express'">
  </div>
</div>
<div class="form-group">
  <label for=" " class="col-md-3 control-label"><span ng-bind-html="'IN_EXPIRATION' | translate | unsafe"></span></label>

  <div class="col-sm-5" ng-class="{ 'has-error' : (invalidExpiration || paymentForm.expMonth.$invalid || paymentForm.expYear.$invalid) && !paymentForm.expMonth.$pristine && !paymentForm.expYear.$pristine }">
    <div class="row">
      <div class="col-xs-4 col-sm-3 col-med-2">
        <input ng-model="profile.newCard.expMonth" name="expMonth" type="text" class="form-control col-sm-1" ui-mask="99" placeholder="MM" required>
        <!--valid={{paymentForm.expMonth.$valid}}-->
      </div>
      <div class="col-xs-1">
        <label class="control-label">/</label>
      </div>
      <div class="col-xs-6 col-sm-4 col-med-3">
        <input ng-model="profile.newCard.expYear" name="expYear" type="text" class="form-control col-sm-3" ui-mask="9999" placeholder="YYYY" required>
        <!--valid={{paymentForm.expYear.$valid}}-->
      </div>
    </div>
    <span ng-show="(invalidExpiration || paymentForm.expMonth.$invalid || paymentForm.expYear.$invalid) && !paymentForm.expMonth.$pristine && !paymentForm.expYear.$pristine" class="help-block text-danger" ng-bind-html="'INVALID_CC_EXPIRATION' | translate | unsafe"></span>
  </div>
</div>
<div class="form-group" ng-class="{ 'has-error' : paymentForm.cvv.$invalid && !paymentForm.cvv.$pristine }">
  <label for=" " class="col-md-3 control-label"><span ng-bind-html="'IN_SECURITY_CODE' | translate | unsafe"></span></label>

  <div class="col-sm-5">
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-med-2">
        <input ng-model="profile.newCard.cvv" ng-minlength="3" ng-maxlength="4" maxlength="4" name="cvv" type="number" class="form-control col-sm-1" placeholder="&bull;&bull;&bull;" required>
        <!--valid={{paymentForm.cvv.$valid}}-->
      </div>
      <div class="col-xs-6 col-sm-4 col-med-3">
        <a popover="3-4 digit number located on your credit card" popover-title="Security Code/CVV2" href="" tabindex="-1"><i class="fa fa-info-circle"></i>
          What's this?</a>
      </div>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="col-md-offset-3 col-sm-9">
    <div class="error" ng-show="billingAddressError && !profile.billSame" ng-bind="billingAddressError"></div>
    <button type="button" ng-click="updatePaymentMethod()" class="btn btn-primary btn-lg" ng-disabled="!paymentForm.$valid || invalidExpiration">
      Update Payment Information &nbsp;<i class="fa fa-caret-right"></i>
    </button>
  </div>
</div>

</form>

</div><!--/span-->
