  <div id="profile" class="col-sm-12">

    <div class="col-md-offset-3">
      <h1 class="checkouth1">Complete Your JAFRA Consultant Profile</h1>
    </div>
    <!-- SPACER --> <p><br></p> <!-- REPLACE WITH CSS FROM UI DESIGN ITERATIONS BEFORE LAUNCH -->
    <!--valid={{signInForm.$valid}}-->
    <form name="profileForm" class="form-horizontal" role="form">

      <div class="form-group">
        <label class="col-md-3 control-label">Contact Info</label>
        <div class="col-sm-9 col-md-5">
          <div class="well">
            <h3><span ng-bind="profile.firstName"></span> <span ng-bind="profile.lastName"></span></h3>
            <p><b ng-bind="profile.loginEmail"></b></p>
            <p>{{profile.phoneNumber|phone}}</p>
            <a href="#" wz-prev><i class="fa fa-pencil-square-o"></i> Edit</a>
          </div>
        </div>
        <div class="col-md-offset-3 col-sm-9">
          <div class="row"><div class="col-sm-8"><hr></div></div>
        </div>
      </div>

      <div class="form-group">
        <label for=" " class="col-md-3 control-label">Sponsor ID</label>
        <div class="col-md-4">
          <input autofocus="" type="text" class="form-control" type="number" ng-model="profile.sponsorId" placeholder="#-digit ID of your JAFRA Consultant Sponsor">
          <span class="help-block"><small>If you shop with a JAFRA Consultant, enter their ID above. Otherwise, leave blank.</small></span>
        </div>
      </div>

      <div class="form-group">
        <label for=" " class="col-md-3 control-label">Date of Birth</label>
        <div class="col-xs-4 col-md-4">
          <input type="text" class="form-control" ui-mask="99/99/9999" placeholder="MM/DD/YYYY" ng-model="profile.dob" required>
        </div>
        <div class="col-md-offset-3 col-sm-9">
          <span class="help-block"><small>You must be 18 or older to join.</small></span>
        </div>
      </div>

      <div class="form-group">
        <label for=" " class="col-md-3 control-label">SSN</label>
        <div class="col-md-3">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"><!-- lock icon --></i></span>
            <input type="text" class="form-control" ui-mask="999 - 99 - 9999" placeholder="xxx - xx - xxxx" ng-model="profile.ssn" required>
          </div>
          <span class="help-block"><small>A U.S. Social Security Number is required to receive payment checks.</small></span>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-3 col-sm-9">
          <a href="" wz-next ng-disabled="!profileForm.$valid" class="btn btn-primary btn-lg">Continue to Shipping &nbsp;<i class="fa fa-caret-right"></i></a>
        </div>
      </div>
    </form>

  </div>
