  <div id="profile" class="col-sm-12">

    <div class="col-md-offset-3">
      <h1 class="checkouth1">Complete Your JAFRA Consultant Profile</h1>
    </div>
    <!-- SPACER --> <p><br></p> <!-- REPLACE WITH CSS FROM UI DESIGN ITERATIONS BEFORE LAUNCH -->
    <!--valid={{signInForm.$valid}}-->
    <form name="profileForm" class="form-horizontal" role="form">

      <div class="form-group">
        <label class="col-md-3 control-label">Contact Info</label>
        <div class="col-sm-9 col-md-5">
          <div class="well">
            <h3><span ng-bind="profile.firstName"></span> <span ng-bind="profile.lastName"></span></h3>
            <p><b ng-bind="profile.loginEmail"></b></p>
            <p>{{profile.phoneNumber|phone}}</p>
            <a href="#" wz-prev><i class="fa fa-pencil-square-o"></i> Edit</a>
          </div>
        </div>
        <div class="col-md-offset-3 col-sm-9">
          <div class="row"><div class="col-sm-8"><hr></div></div>
        </div>
      </div>

      <div class="form-group">
        <label for=" " class="col-md-3 control-label">Your SSN</label>
        <div class="col-md-3">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"><!-- lock icon --></i></span>
            <input type="text" class="form-control" ui-mask="999 - 99 - 9999" placeholder="xxx - xx - xxxx" ng-model="profile.ssn" required>
          </div>
          <span class="help-block"><small>A U.S. Social Security Number is required to receive payment checks.</small></span>
        </div>
      </div>

      <div class="form-group">
        <label for=" " class="col-md-3 control-label">Your Date of Birth</label>
        <div class="col-xs-4 col-md-3" ng-class="{ 'has-error' : profileForm.dob.$invalid && !profileForm.dob.$pristine }">
          <input type="number" class="form-control" ui-mask="99/99/9999" placeholder="MM/DD/YYYY" ng-model="profile.dob" required>
        </div>
        <div class="col-md-offset-3 col-sm-9">
          <span class="help-block"><small>You must be 18 or older to join.</small></span>
        </div>
        <div class="col-md-offset-3 col-sm-9">
          <div class="row"><div class="col-sm-8"><hr></div></div>
        </div>
      </div>

      <div class="form-group">
        <label for=" " class="col-md-3 control-label">Sponsor ID (optional)</label>
        <div class="col-md-4" ng-class="{ 'has-error' : profileForm.sponsorId.$invalid && !profileForm.sponsorId.$pristine }">
          <input autofocus="" name="sponsorId" type="number" class="form-control" ng-pattern="/^[0-9]*$/" ng-model="profile.sponsorId" placeholder="#-digit ID of your JAFRA Consultant Sponsor">
          <span ng-show="profileForm.sponsorId.$invalid && !profileForm.sponsorId.$pristine" class="help-block" ng-class="{ 'text-danger' : profileForm.sponsorId.$invalid }">Must only contain numbers</span>
          <span ng-show="profileForm.sponsorId.$pristine" class="help-block"><small>If you shop with a JAFRA Consultant, enter their ID above. Otherwise, leave blank.</small></span>
        </div>
        <div class="col-md-offset-3 col-sm-9">
          <div class="row"><div class="col-sm-8"><hr></div></div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-3 col-sm-9">
          <a href="" wz-next ng-disabled="!profileForm.$valid" class="btn btn-primary btn-lg">Continue to Shipping &nbsp;<i class="fa fa-caret-right"></i></a>
        </div>
      </div>
    </form>

  
  <div aria-hidden="false" aria-labelledby="myModalLabel" role="dialog" id="agreement_modal" class="modal fade in" style="display: block;">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 id="myModalLabel" class="modal-title text-center">JAFRA Independent Consultant Agreement</h4>
          </div>
          <div class="modal-body">
            <div class="agreement-content">
              <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dignissim, nibh at pulvinar ornare, nisl mauris maximus nulla, at bibendum metus arcu sed orci. Morbi convallis eu dolor vitae ultricies. Mauris a porttitor tortor, id pellentesque enim. Sed odio sem, placerat eu lorem a, auctor porta enim. Vestibulum egestas, felis a dictum elementum, arcu purus elementum tellus, vel auctor elit diam ac orci. Suspendisse sollicitudin ipsum quis eros rutrum, vel gravida sapien pulvinar. Duis mattis ultricies hendrerit. Phasellus augue libero, tincidunt sit amet tortor non, mollis euismod urna. Cras erat sapien, malesuada eu enim et, bibendum luctus neque. Pellentesque eget euismod sapien. Pellentesque malesuada mauris viverra, placerat ligula id, condimentum nibh. Mauris sed rhoncus lacus, et lacinia erat. Phasellus ultricies ut felis rutrum elementum. Nulla nec ultrices quam. Donec quis congue nisi, quis placerat quam.
              </p>
              <p>
              Aliquam condimentum, tortor mollis efficitur rhoncus, elit felis laoreet lectus, sed bibendum mi urna sed dui. Quisque vitae elit id nulla posuere pretium. Integer feugiat, neque vitae vestibulum convallis, quam diam feugiat nisl, a aliquet velit nunc at turpis. Cras euismod molestie scelerisque. Integer vestibulum, mauris sit amet pretium dignissim, ligula lorem mollis felis, posuere lobortis odio mi vitae dolor. Donec tempus magna nec tellus aliquet, ultrices malesuada ante volutpat. Donec imperdiet odio ut erat suscipit, sed ornare felis ultricies. Duis iaculis odio eget eros facilisis, sed cursus arcu viverra. Proin aliquam tempus vulputate.
              </p>
              <p>
              Sed ornare ante eget nunc sodales vestibulum. Nulla at ultricies elit. Etiam fermentum, justo sit amet elementum suscipit, ex quam fermentum enim, a luctus eros elit vitae tellus. Aliquam condimentum urna vitae ipsum finibus, quis porta augue convallis. Integer gravida dapibus ipsum non rhoncus. Maecenas efficitur semper nisi nec ornare. Donec vulputate consequat augue vitae vulputate. Donec elementum elit tellus, at egestas libero pretium sit amet. Maecenas tempus, orci cursus ornare mollis, est magna ultricies nisi, sed mattis lectus arcu id mi. Morbi id diam eu mauris suscipit ultricies at et mi. Donec quis eros ex. Maecenas iaculis ipsum eget tincidunt dapibus. Maecenas et diam ac neque egestas tempus.
              </p>
              <p>
              Nulla tincidunt diam tellus, vel lacinia ligula sollicitudin id. Curabitur accumsan ipsum eu velit sollicitudin fermentum. Sed ultrices augue et erat bibendum, at bibendum nunc cursus. Aenean suscipit sapien quis eleifend molestie. Ut non ex vel erat pulvinar vehicula ut sit amet mi. Integer at orci ac nunc maximus porttitor tincidunt at orci. Nam sit amet faucibus lorem. Curabitur eget lectus arcu. Vivamus id condimentum augue. Fusce neque justo, viverra eu libero quis, ultricies tincidunt ipsum.
              </p>
              <p>
              Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis id pretium metus, eget scelerisque odio. Pellentesque id nisl condimentum massa luctus auctor. Proin porta justo at hendrerit efficitur. Mauris vel euismod sapien, nec fringilla ante. Nulla bibendum quis metus nec consectetur. Quisque vulputate dui quis nisi tempor bibendum. Suspendisse potenti.
              </p>
              <p><b>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dignissim, nibh at pulvinar ornare, nisl mauris maximus nulla, at bibendum metus arcu sed orci. Morbi convallis eu dolor vitae ultricies. Mauris a porttitor tortor, id pellentesque enim. Sed odio sem, placerat eu lorem a, auctor porta enim. Vestibulum egestas, felis a dictum elementum, arcu purus elementum tellus, vel auctor elit diam ac orci. Suspendisse sollicitudin ipsum quis eros rutrum, vel gravida sapien pulvinar. Duis mattis ultricies hendrerit. Phasellus augue libero, tincidunt sit amet tortor non, mollis euismod urna. Cras erat sapien, malesuada eu enim et, bibendum luctus neque. Pellentesque eget euismod sapien. Pellentesque malesuada mauris viverra, placerat ligula id, condimentum nibh. Mauris sed rhoncus lacus, et lacinia erat. Phasellus ultricies ut felis rutrum elementum. Nulla nec ultrices quam. Donec quis congue nisi, quis placerat quam.</b>
              </p>
              <p>
              Aliquam condimentum, tortor mollis efficitur rhoncus, elit felis laoreet lectus, sed bibendum mi urna sed dui. Quisque vitae elit id nulla posuere pretium. Integer feugiat, neque vitae vestibulum convallis, quam diam feugiat nisl, a aliquet velit nunc at turpis. Cras euismod molestie scelerisque. Integer vestibulum, mauris sit amet pretium dignissim, ligula lorem mollis felis, posuere lobortis odio mi vitae dolor. Donec tempus magna nec tellus aliquet, ultrices malesuada ante volutpat. Donec imperdiet odio ut erat suscipit, sed ornare felis ultricies. Duis iaculis odio eget eros facilisis, sed cursus arcu viverra. Proin aliquam tempus vulputate.
              </p>
              <p>
              Sed ornare ante eget nunc sodales vestibulum. Nulla at ultricies elit. Etiam fermentum, justo sit amet elementum suscipit, ex quam fermentum enim, a luctus eros elit vitae tellus. Aliquam condimentum urna vitae ipsum finibus, quis porta augue convallis. Integer gravida dapibus ipsum non rhoncus. Maecenas efficitur semper nisi nec ornare. Donec vulputate consequat augue vitae vulputate. Donec elementum elit tellus, at egestas libero pretium sit amet. Maecenas tempus, orci cursus ornare mollis, est magna ultricies nisi, sed mattis lectus arcu id mi. Morbi id diam eu mauris suscipit ultricies at et mi. Donec quis eros ex. Maecenas iaculis ipsum eget tincidunt dapibus. Maecenas et diam ac neque egestas tempus.
              </p>
              <p>
              Nulla tincidunt diam tellus, vel lacinia ligula sollicitudin id. Curabitur accumsan ipsum eu velit sollicitudin fermentum. Sed ultrices augue et erat bibendum, at bibendum nunc cursus. Aenean suscipit sapien quis eleifend molestie. Ut non ex vel erat pulvinar vehicula ut sit amet mi. Integer at orci ac nunc maximus porttitor tincidunt at orci. Nam sit amet faucibus lorem. Curabitur eget lectus arcu. Vivamus id condimentum augue. Fusce neque justo, viverra eu libero quis, ultricies tincidunt ipsum.
              </p>
              <p>
              Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis id pretium metus, eget scelerisque odio. Pellentesque id nisl condimentum massa luctus auctor. Proin porta justo at hendrerit efficitur. Mauris vel euismod sapien, nec fringilla ante. Nulla bibendum quis metus nec consectetur. Quisque vulputate dui quis nisi tempor bibendum. Suspendisse potenti.
              </p>
            </div>
          </div>
          <div class="modal-footer">
            <a onclick="" href="/join/">I do not agree</a>
            <button ng-click="checkout.agree = true" data-dismiss="modal" class="btn btn-primary btn-lg" type="button" id="agreement_agree" disabled="" onclick="$('#agreement_modal').css('display','none;');">I agree &nbsp;<i class="fa fa-caret-right"></i></button>
            <p class="pull-left form-control-static"><small>You must read the entire agreement (scroll down) before you can continue.</small></p> 
          </div>
        </div>
      </div>
    </div>
    <script>
      $(function(){ 
          $('.agreement-content').on('scroll', function() {
              if($(this).scrollTop() + $(this).innerHeight() >= this.scrollHeight) {
                  $('#agreement_agree').removeAttr('disabled');
              }
          })
      });
    </script>
    
