  <div id="profile" class="col-sm-12">

    <div class="col-md-offset-3">
      <h1 class="checkouth1">
        Payee Profile &amp; Sponsor
        <span class="store-heading-description">
          We&rsquo;ll need a some information to send your payment checks.
        </span>
      </h1>
    </div>

    <!--valid={{signInForm.$valid}}-->
    <form name="profileForm" class="form-horizontal" role="form">

      <div class="form-group">
        <label class="col-md-3 control-label">Contact Info</label>
        <div class="col-sm-9 col-md-5">
          <div class="well contact-info-well">
            <h3><span ng-bind="profile.firstName"></span> <span ng-bind="profile.lastName"></span></h3>
            <p><b ng-bind="profile.loginEmail"></b></p>
            <p>{{profile.phoneNumber|phone}}</p>
            <a href="#" wz-prev><i class="fa fa-pencil-square-o"></i> Edit</a>
          </div>
        </div>
        <div class="col-md-offset-3 col-sm-9">
          <div class="row"><div class="col-sm-8"><hr></div></div>
        </div>
        <div class="col-md-offset-3 col-sm-9">
          <div class="row">
            <div class="col-sm-6">
              <div ng-if="profileSSNError" class="alert alert-danger" role="alert">Unable to create profile.  Please contact Jafra support for further assistance.</div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for=" " class="col-md-3 control-label">Your SSN</label>
        <div class="col-md-3">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"><!-- lock icon --></i></span>
            <input type="text" class="form-control" ui-mask="999 - 99 - 9999" placeholder="xxx - xx - xxxx" ng-model="profile.ssn" required>
          </div>
          <span class="help-block"><small>A U.S. Social Security Number is required to receive payment checks.</small></span>
        </div>
      </div>

      <div class="form-group">
        <label for=" " class="col-md-3 control-label">Your Date of Birth</label>
        <div class="col-xs-4 col-md-3" ng-class="{ 'has-error' : invalidDOB }">
          <input type="tel" class="form-control" ui-mask="99/99/9999" placeholder="MM/DD/YYYY" ng-model="profile.dob" ng-blur="verifyAge()">
        </div>
        <div class="col-md-offset-3 col-sm-9">  
          <span class="help-block"><small ng-class="{ 'text-danger' : invalidDOB }">You must be 18 or older to join.</small></span>
        </div>
        <div class="col-md-offset-3 col-sm-9">
          <div class="row"><div class="col-sm-8"><hr></div></div>
        </div>
      </div>

      <div class="form-group">
        <label for=" " class="col-md-3 control-label">Sponsor ID (optional)</label>
        <div class="col-md-4" ng-class="{ 'has-error' : profileForm.sponsorId.$invalid && !profileForm.sponsorId.$pristine }">
          <input autofocus="" name="sponsorId" type="number" class="form-control" ng-pattern="/^[0-9]*$/" ng-model="profile.sponsorId" placeholder="#-digit ID of your JAFRA Consultant Sponsor">
          <span ng-show="profileForm.sponsorId.$invalid && !profileForm.sponsorId.$pristine" class="help-block" ng-class="{ 'text-danger' : profileForm.sponsorId.$invalid }">Must only contain numbers</span>
          <span class="help-block"><small>If you shop with a JAFRA Consultant, enter their ID above. Otherwise, leave blank.</small></span>
        </div>
        <div class="col-md-offset-3 col-sm-9">
          <div class="row"><div class="col-sm-8"><hr></div></div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-3 col-sm-9">
          <a href="" ng-click="validateProfileAndContinue()" ng-disabled="!profileForm.$valid || invalidDOB" class="btn btn-primary btn-lg">Continue to Shipping &nbsp;<i class="fa fa-caret-right"></i></a>
        </div>
      </div>
    </form>

  
  <div aria-hidden="false" aria-labelledby="myModalLabel" role="dialog" id="agreement_modal" class="modal fade in" style="display: block;">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <a class="pull-right" href="" onClick="printDiv('print');" ><i class="fa fa-print"></i> &nbsp;Print</a>
            <h4 id="myModalLabel" class="modal-title text-center">JAFRA Independent Consultant Agreement</h4>
          </div>
          <div class="modal-body">
            <div class="agreement-content" id="print">
              <p>
              JAFRA Cosmetics International, Inc. (“JAFRA”), with its principal place of business located at 2451 Townsgate Road, Westlake
				Village, CA 91361, agrees to sell to the Independent JAFRA Consultant, who has consented to and entered this Agreement
				(“Consultant”), its line of cosmetics and other products; and the Consultant agrees to purchase such cosmetics and other
				products from JAFRA under the terms and conditions of this Agreement. </p>
              <p>
              <strong>1. Consultant Kit.</strong>
				The Consultant submits full payment for the Consultant Kit to JAFRA upon execution and submission of
				this Agreement to JAFRA. The Consultant may return the Consultant Kit and its undisturbed contents within 30 days for a full
				refund by submitting a signed written request to JAFRA for return authorization. Consultant Kit refunds will be made directly to
				the Consultant. In the event the Consultant returns the Consultant Kit, this Agreement is terminated. </p>
              <p>
              <strong>2. Payment Terms.</strong>
				The Consultant agrees to pay JAFRA for the merchandise in accordance with JAFRA’s payment terms and
				credit policy as published and amended from time to time. JAFRA shall have no obligation to fulfill any future orders should
				the Consultant fail to pay for any previous orders or if there is any outstanding amount due to JAFRA. In addition, JAFRA shall
				have the right to withhold the payment of all or part of any discount, commission, awards, incentives or other monies due to
				the Consultant and/or the right to set off any monies that may be due or payable to JAFRA by the Consultant against any such
				payment of discount, commission, awards, incentives or other monies due to the Consultant. The Consultant agrees to be
				liable to JAFRA for any additional costs incurred recovering any overdue amount from the Consultant including attorney fees
				and court costs incurred by JAFRA. </p>
              <p>
              <strong>3. Buyback Policy.</strong>
				If this Agreement is terminated at any time, JAFRA will repurchase currently marketable inventory at 90%
				of the Consultant’s original net cost less appropriate set-offs and legal claims, if any. All other product returns shall be governed
				by JAFRA’s general product return policy currently in effect, which policy may be amended from time to time. </p>
              <p>
              <strong>4. Method of Sale.</strong>
				The Consultant recognizes the importance of putting forth best efforts in servicing clients and in creating
				and maintaining the goodwill of clients toward JAFRA. It is understood that JAFRA products are to be sold through the
				Consultant only to the ultimate consumer. The Consultant agrees that JAFRA products will not be sold or marketed in any
				retail environment, swap meets, “eBay” or other electronic forums, Farmers Market or website not authorized by JAFRA.
				The Consultant further agrees that at any demonstration or sales meeting where JAFRA products, JAFRA program or career
				opportunities are presented, no other products, opportunities, programs or services will be presented or offered. The Consultant
				agrees to make only those product claims that are specifically set out for each product in materials supplied by JAFRA. </p>
              <p><strong>5. Incorporation by Reference.</strong>
				This Agreement, the information herein, JAFRA’s Compensation Plan online document,
				<strong>the JAFRA Independent Consultant Policies and Procedures</strong>
				, online terms and conditions and all related polices including updates
				and amendments thereto contain and constitute the entire Agreement between the parties, and supersede and terminate all
				prior agreements and arrangements, if any, whether written, oral, or implied between JAFRA and the Consultant. </p>
              <p>
              <strong>6. No Authority.</strong>
				The 			Consultant acknowledges that the Consultant has no authority to bind or obligate JAFRA in any way. </p>
              <p>
              <strong>7. Independence.</strong>
				The Consultant is an independent contractor and not a JAFRA employee for any purpose, including, but
				not limited to benefits and relevant taxes. The Consultant shall not have the power to represent or bind JAFRA in any way.
				EACH OF THE PARTIES SHALL ACT IN ALL MATTERS RELATING TO THIS AGREEMENT AS AN INDEPENDENT PARTY AND
				NOTHING HEREIN SHALL CONSTITUTE ANY OF THEM AS AN AGENT OR PRINCIPAL OR PARTNER OR EMPLOYEE OF
				THE OTHER PARTY. THE RELATIONSHIP BETWEEN THE CONSULTANT AND JAFRA SHALL NOT BE CONSIDERED TO BE A
				RELATIONSHIP BETWEEN AN AGENT AND A PRINCIPAL OR A PARTNERSHIP. </p>
              <p>
              <strong>8. Recognition.</strong>
				From time to time, JAFRA will be recognizing Consultants, their sales results and their earnings in JAFRA
				publications. If the Consultant does not want this information published, please notify JAFRA in writing, at the above address. </p>
              <p>
              <strong>9. Compensation.</strong>
				Consultant may receive from JAFRA compensation, recognition and benefits as set forth in the
				“Compensation Plan” online document. Any compensation, recognition or benefits earned will be conditioned upon compliance
				with the terms of the Compensation Plan, this Agreement, the JAFRA Independent Consultant Policies and Procedures,
				maintenance of good credit standing with JAFRA, and other applicable JAFRA policies and procedures as they now exist or
				may be modified in the future at JAFRA’s sole discretion. The standards and criteria for participation in the Compensation
				Plan as well as entitlement to and formula for, payment of compensation may be modified in JAFRA’s sole discretion with, any
				such modification becoming effective immediately upon publication of such modification in the “Compensation Plan” online
				document on the internet at www.jafrabiz.com. </p>
              <p>
              <strong>10. Copyright Materials.</strong>
				Consultant may not copy or reproduce in any manner any JAFRA copyrighted materials without
				the prior written approval of JAFRA, nor use such materials in any manner which, in the sole judgment of JAFRA, would be
				injurious to, or tend to impair, JAFRA’s rights therein. </p>
              <p>
              <strong>11. Confidential Information.</strong>
				Consultant understands that selling techniques, sales data, names, addresses, telephone
				numbers, performance qualities or similar information relating Consultants whether prepared by JAFRA or by others from
				records relating to the business, are confidential business information. Consultant will not use or disclose to any person,
				company or other entity any such confidential business information or trade secrets obtained while a Consultant, other than for
				use in promoting the JAFRA business. The provisions of this Section are applicable while this Agreement is in effect and for a
				period of three (3) years following its termination. </p>
              <p>
              <strong>12. Soliciting.</strong>
				Furthermore, Consultant shall not, on her own behalf or on behalf of any other person, company or entity, solicit
				directly or indirectly any Consultant or in any manner attempt to induce any JAFRA Consultant to enroll or register with another
				direct selling venue or to violate or terminate their business relationship or agreement with JAFRA. The provisions of this
				Section are applicable while this Agreement is in effect and for a period of three (3) years following its termination. </p>
              <p>
              <strong>13. Use of Trademarks, Trade Names, Etc.</strong>
				Consultant agrees that the name JAFRA, and all JAFRA trademarks or trade
				names, (for example: Adorisse, Time Protector, etc.) are the exclusive property rights of JAFRA and may not be used in or
				on any type of advertising or promotional matter, whether written or oral, or other materials, without prior written consent.
				Consultant agrees to discontinue any use of any trademark, trade name or copyrighted material owned by JAFRA upon receipt
				of written notice from JAFRA that, in the judgment of JAFRA, such use will in any way interfere with or damage JAFRA’s rights
				in, or the goodwill associated with, such trademarks, trade names and copyrights. </p>
              <p>
              <strong>14. Tax and Business Responsibilities.</strong>
				Consultant agrees to independently file all income or other tax forms and obtain all
				business or other licenses required for the conduct of her business. Consultant shall assume full responsibility for collecting,
				paying and bearing any taxes on goods sold that are taxable. </p>
              <p>
              <strong>15. Modification.</strong>
				Except as otherwise provided herein, this Agreement may not be amended or modified, unless validly
				consented to electronically or signed in writing by the Consultant and a duly authorized representative of JAFRA. </p>
              <p>
              <strong>16. Effective Date and Termination.</strong>
				This Agreement shall be effective upon date of acceptance by JAFRA; and shall
				automatically terminate in the instance the Consultant does not place a retail product order with JAFRA in any period
				exceeding 12 consecutive months. Additionally, either party shall have the right to terminate this Agreement with or without
				cause upon giving five (5) days written notice to the other. Termination by either party shall be without liability for any claim by
				the other party because of such termination, except for liabilities for balances due JAFRA. </p>
              <p>
              <strong>17. Effects of Termination.</strong>
				Upon termination, all Consultant’s rights and privileges under this Agreement shall end, including
				but not limited to any right to any, commissions, travel incentives, prizes, gifts or any other compensation from JAFRA.
				Consultant shall immediately discontinue all use of any of JAFRA’s trademarks, trade names, copyrighted or confidential
				materials which are authorized for use, and redeliver to JAFRA such printed materials or other items as JAFRA may direct, in
				order to effect such termination and discontinuance. </p>
              <p>
              <strong>18. Governing law; Severability.</strong>
				This Agreement shall be governed by, and interpreted in accordance with, the laws of
				California. If any provision of this Agreement is determined to be invalid or unenforceable under applicable law, all remaining
				provisions shall continue in full force and effect. </p>
              <p>
              <strong>19. Notice.</strong>
				Any notice required or permitted under this Agreement will be deemed duly delivered by JAFRA when published
				on the web at www.jafrabiz.com, or by either party when given in writing and forwarded by mail, postage prepaid, addressed
				to the party to whom it is to be given at the address shown herein, or such other address as may be designated by Consultant
				and JAFRA. Consultant will notify JAFRA of any change of address. </p>
              <p>
              <strong>20. No Waiver.</strong>
				No waiver, express or implied, or failure by JAFRA to insist on the Consultant’s prompt performance or
				observance of any covenant or condition contained in this Agreement, will be deemed to be a waiver of any succeeding breach
				of the same or any other covenant or condition. </p>
              <p>
              <strong>21. Compliance with Laws.</strong>
				Consultant is responsible for complying with all applicable laws, including filing all income or
				other tax forms and obtaining all business or other licenses required; and shall not engage in any activity which may bring
				either themselves for JAFRA into disrepute. </p>
              <p>
              <strong>22. Indemnification.</strong>
				The Consultant also agrees to indemnify JAFRA against all loss, liability costs, damages, attorneys’ fees
				and expenses whatsoever, which JAFRA may sustain or incur by reason of extending such credit, in making any investigation
				on account thereof, in prosecuting or defending any action which may be brought in connection therewith, or in enforcing any
				of the agreements herein contained. The Consultant understands and acknowledges that JAFRA, after having reviewed the
				information supplied by Consultant, shall have the absolute right to decline to extend such credit. </p>
              <p>
              <strong>23. Acceptance.</strong>
				This Agreement is subject to acceptance by JAFRA at its corporate headquarters in Westlake Village, California. </p>
              <p>
              <strong>24. No Assignment.</strong>
				This Agreement is entered into on a personal basis and neither this Agreement nor any of the rights or
				obligations of the Consultant arising under this Agreement may be assigned or transferred without prior written consent of JAFRA. </p>
              <p>
              <strong>25. Website / Advertisement.</strong>
				Consultant shall not own or operate a website or advertise on any website other than a website
				approved, authorized or sponsored by JAFRA. </p>
              <p>
              <strong>26. Price and Product Availability.</strong>
				JAFRA reserves the right to change the prices at which it offers products for sale and the
				range of products offered without prior notice. </p>
              <p>
              <strong>27. Force Majeure.</strong>
				JAFRA shall not be liable in damages for any delay or default in performing hereunder if such delay or
				default is caused by conditions beyond its control including, but not limited to Acts of God, Government restrictions, wars,
				insurrections and/or any other cause beyond the reasonable control of JAFRA. </p>
              <p>
              <strong>Important: The terms and conditions listed above become part of a legally binding contract once you agree to this
	Agreement. Please read them carefully!</strong> </p>
			  <p><center>PLEASE MAKE A COPY FOR YOUR RECORDS.<br />
				WELCOME TO JAFRA!</center></p>
            </div>
          </div>
          <div class="modal-footer">
            <a onclick="" href="/join/">I do not agree</a>&nbsp;&nbsp;
            &nbsp;&nbsp;
            <button ng-click="checkout.agree = true" data-dismiss="modal" class="btn btn-primary btn-lg" type="button" id="agreement_agree" disabled="" onclick="$('#agreement_modal').css('display','none;');">I agree &nbsp;<i class="fa fa-caret-right"></i></button>
            <p class="pull-left form-control-static"><small>You must read the entire agreement (scroll down) before you can continue.</small></p> 
          </div>
        </div>
      </div>
    </div>
    <script>
      $(function(){ 
          $('.agreement-content').on('scroll', function() {
              if($(this).scrollTop() + $(this).innerHeight() >= (this.scrollHeight - 20)) {
                  $('#agreement_agree').removeAttr('disabled');
              }
          })
      });
      function printDiv(divName) {
	     var printContents = document.getElementById(divName).innerHTML;
	     var originalContents = document.body.innerHTML;
	
	     document.body.innerHTML = printContents;
	
	     window.print();
	
	     document.body.innerHTML = originalContents;
	}
    </script>
    
