
<div class="container">

  <div class="col-md-offset-1 col-md-10">
    <h1><span ng-bind-html="'REVIEW-CONFIRM-ORDER' | translate | unsafe"></span>
      <span class="store-heading-description" ng-bind-html="'CHECK_INST_PAY' | translate | unsafe">
        
      </span>
    </h1>
    
    <div class="row">
      <div class="col-sm-6">
        <div ng-if="orderError" class="alert alert-danger" role="alert" ng-bind="orderError"></div>
      </div>
    </div>
  </div>

  <div class="col-md-offset-1 col-md-10">
  <form class="form order-details" role="form" name="confirmForm">
      <a ng-href="{{STORE_BASE_URL}}/cart" ng-if="!isOnlineSponsoring" class="pull-right" style="margin-top:10px"><i class="fa fa-pencil-square-o"></i> <span ng-bind-html="'BTN_MAKE_CHANGES' | translate | unsafe"></span></a>
      <div class="form-group">
        <table class="table">
          <thead>
          <tr>
            <th ng-bind-html="'CART_QTY' | translate | unsafe">Qty</th>
            <th ng-bind-html="'CART_DESCRIPTION' | translate | unsafe">Description</th>
            <th align="right" ng-bind-html="'CART_PRICE' | translate | unsafe">Price</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="item in cart">
            <td>{{item.quantity}}</td>
            <td>
              <p class="confirmation-description">
                <div ng-if="!isOnlineSponsoring">
                  <span ng-bind-html="getTranslated(item.product).name | unsafe"></span>
                </div>
                <li class="dropdown" ng-if="isOnlineSponsoring">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span ng-bind-html="session.language=='en_US' ? item.product.name : item.product.name_es_US | unsafe"></span> <span ng-bind-html="'CHANGE-KIT-PARENS' | translate | unsafe"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a ng-click="selectProduct('19634')"><span ng-bind-html="'OS-KIT-PRODUCT1-NAME' | translate |unsafe"></span> (<span ng-bind-html="'LAN01' | translate |unsafe"></span>)</a></li>
                    <li><a ng-click="selectProduct('19635')"><span ng-bind-html="'OS-KIT-PRODUCT1-NAME' | translate |unsafe"></span> (<span ng-bind-html="'LAN02' | translate |unsafe"></span>)</a></li>
                    <li><a ng-click="selectProduct('19822')"><span ng-bind-html="'OS-KIT-PRODUCT2-NAME' | translate |unsafe"></span> (<span ng-bind-html="'LAN01' | translate |unsafe"></span>)</a></li>
                    <li><a ng-click="selectProduct('19823')"><span ng-bind-html="'OS-KIT-PRODUCT2-NAME' | translate |unsafe"></span> (<span ng-bind-html="'LAN02' | translate |unsafe"></span>)</a></li>
                  </ul>
                </li>
              </p>
            </td>
            <td align="right">
              <!--<span ng-repeat="detailprice in item.product.pricing.detailprice">-->
              <!--<span ng-if="detailprice.pricetype=='sale'" class="item-price-sale">-->
              <!--{{detailprice.price | currency}}-->
              <!--</span>-->
              <!--<span ng-if="detailprice.pricetype=='retail'" class="item-price-strike">-->
              <!--${{detailprice.price}}-->
              <!--</span>-->
              <!--</span>-->
              <!--<span ng-if="product.pricing.detailprice.price">-->
              <!--<span class="item-price">-->
              <!--{{item.product.pricing.detailprice.price | currency}}-->
              <!--</span>-->
              <!--</span>-->
              <span ng-repeat="detailprice in item.product.currentPrice">
                <span ng-if="detailprice.typeId==2" class="item-price-sale">
                  {{detailprice.price | currency}}
                </span>
                <span ng-if="detailprice.typeId==1" class="item-price-strike">
                  {{detailprice.price | currency}}
                </span>
              </span>
              <span ng-if="item.product.currentPrice.price">
                <span class="item-price">
                  {{item.product.currentPrice.price | currency}}
                </span>
              </span>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="3">
              <p><span ng-bind-html="'CART_SUBTOTAL' | translate | unsafe"></span>: {{ salesTaxInfo.SubTotal | currency }}</p>
              <p><span ng-bind-html="'CART_SHIPPING' | translate | unsafe"></span>: {{ salesTaxInfo.SH | currency }}</p>
              <p><span ng-bind-html="'CART_TAX' | translate | unsafe"></span> -  {{ salesTaxInfo.TaxRate }}%: {{ salesTaxInfo.TaxAmount | currency }} 
              </p>
              <p class="lead"><b><span ng-bind-html="'TOTAL_CHARGES' | translate | unsafe"></span>: {{ salesTaxInfo.Total | currency }}</b></p>
            </td>
          </tr>
          </tfoot>
        </table>

      </div>

	<hr>

  <div class="form-group text-right">
        <label class="checkbox-inline">

          <input type="checkbox" value="" ng-model="profile.agree" required>

          <span ng-bind-html="'IN_AGREE' | translate | unsafe"></span> <a href="" data-toggle="modal" data-target=".bs-terms-modal-lg"><span ng-bind-html="'BTN_IN_AGREE' | translate | unsafe"></span></a>
          &nbsp;&nbsp;&nbsp;&nbsp;
        </label>
        <button ng-if="!isOnlineSponsoring" type="button" class="btn-link pull-left" ng-click="confirmAlert('Are you sure you\'d like to cancel your order?')"><span ng-bind-html="'BTN_CANCEL_ORDER' | translate | unsafe"></span></button>
        <button type="button" class="btn btn-primary btn-lg" ng-click="processOrder()" ng-disabled="!confirmForm.$valid || processingOrder"><span ng-bind-html="'BTN_PLACE_ORDER' | translate | unsafe"></span> &nbsp;<i class="fa fa-caret-right"></i></button>
      </div>

    </form>

       <hr>

    
    <div class="row">

      <div class="col-sm-3 col-lg-3" ng-if="isOnlineSponsoring">
        <h3><span ng-bind-html="'CONTACT-INFO-LABEL' | translate | unsafe"></span></h3>
        <div>
          <div class="well contact-info-well">
            <h3><span ng-bind="profile.firstName"></span> <span ng-bind="profile.lastName"></span></h3>
            <p><b ng-bind="profile.loginEmail"></b></p>
            <p>{{profile.phoneNumber|phone}}</p>
            <a href=" " ng-click="editContactInfo()" class="pull-left">
              <i class="fa fa-pencil-square-o"></i>
              <span ng-bind-html="'EDIT' | translate | unsafe">Edit</span>
            </a>
          </div>
        </div>
      </div>

      <!-- CARD -->
      <div class="col-sm-3 col-lg-3" ng-if="profile.card">
        <h3><span ng-bind-html="'PAY_TIT1' | translate | unsafe"></span></h3>
        <div class="checkout-card clearfix active">
          <span class="pull-left">{{profile.card.name}}</span>
          <img class="pull-right img-responsive cardImg" src="/img/visa.png" ng-show="profile.card.cardType=='Visa'">
          <img class="pull-right img-responsive cardImg" src="/img/mastercard.png" ng-show="profile.card.cardType=='MasterCard'">
          <img class="pull-right img-responsive cardImg" src="/img/discover.png" ng-show="profile.card.cardType=='Discover Card'">
          <img class="pull-right img-responsive cardImg" src="/img/americanexpress.png" ng-show="profile.card.cardType=='American Express'">
          <p class="card-number">
            <span>&bull;&bull;&bull;&bull;</span>
            <span>&bull;&bull;&bull;&bull;</span>
            <span>&bull;&bull;&bull;&bull;</span>
            <span>{{profile.card.lastFour}}</span>
          </p>
          <p class="card-expiry pull-left">
            <small>EXP:</small>
            {{profile.card.expMonth}}/{{profile.card.expYear|substr:2:2}}
          </p>
          <a href=" " data-toggle="modal" data-target=".bs-example-modal-charging" ng-click="resetCard()" class="pull-right card-use-btn"><i class="fa fa-pencil-square-o"></i> <span ng-bind-html="'EDIT' | translate | unsafe"></span></a>
        </div>
      </div><!-- /card -->

      <!-- Charging To MODAL window -->
      <div class="modal fade bs-example-modal-charging"  role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel"><span ng-bind-html="'PAY_TIT1' | translate | unsafe"></span></h4>
            </div>
            <div class="modal-body row">
              <ng-include src="'/partials/checkout/payment-edit-modal.html'"/>
            </div>
          </div>
        </div>
      </div>

      <!-- Shipping card -->
      <div class="col-sm-3 col-lg-3 checkout-address" ng-if="profile.shipping">
        <h3><span ng-bind-html="'PAY_TIT2' | translate | unsafe"></span></h3>
        <span class="address-businessCO">{{profile.shipping.businessCO}}</span>
        <span class="address-street">{{profile.shipping.address1}}</span>
        <span class="address-street">{{profile.shipping.address2}}</span>
        <span class="address-region">{{profile.shipping.city}}, {{profile.shipping.state}} {{profile.shipping.zip}}</span>
        <span class="phone-number" ng-if="!isOnlineSponsoring">{{profile.shipping.phone}}</span>
        <span ng-if="!isOnlineSponsoring"><span ng-bind-html="'SHIPPING-CARRIER' | translate | unsafe"></span>: {{salesTaxInfo.shippingCarrier}}</span>
        <div class="address-actions">
          <a href ng-click="editAddress(addressData.id)" class="pull-left"><i class="fa fa-pencil-square-o"></i> <span ng-bind-html="'EDIT' | translate | unsafe"></span></a>
        </div>
      </div><!-- /address -->

      <!-- Shipping To MODAL window -->
      <div class="modal fade bs-example-modal-lg-shipping" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"><span ng-bind-html="'BTN_CLOSE' | translate | unsafe"></span></span></button>
              <h4 class="modal-title" id="myModalLabel"><span ng-bind-html="'PAY_TIT2' | translate | unsafe"></span></h4>
            </div>
            <div class="modal-body row">
              <!--<ng-include src="'/partials/checkout/shipping-edit-modal.html'"/>-->
            </div>
          </div>
        </div>
      </div>

      <!-- Billing card -->
      <div class="col-xs-3 col-lg-3 checkout-address">
        <h3><span ng-bind-html="'PAY_TIT3' | translate | unsafe"></span></h3>
        <span class="address-businessCO">{{profile.billing.businessCO}}</span>
        <span class="address-street">{{profile.billing.address1}}</span>
        <span class="address-street">{{profile.billing.address2}}</span>
        <span class="address-region">{{profile.billing.city}}, {{profile.billing.state}} {{profile.billing.zip}}</span>
        <span class="phone-number" ng-if="!isOnlineSponsoring">{{profile.billing.phone}}</span>
        <div class="address-actions">
          <a href ng-click="editAddress(addressData.id)" class="pull-left"><i class="fa fa-pencil-square-o"></i> <span ng-bind-html="'EDIT' | translate | unsafe"></span></a>
        </div>
      </div><!-- /address -->

      <!-- Billing To MODAL window -->
      <div class="modal fade bs-example-modal-lg-billing"  role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"><span ng-bind-html="'BTN_CLOSE' | translate | unsafe"></span></span></button>
              <h4 class="modal-title" id="myModalLabel"><span ng-bind-html="'PAY_TIT3' | translate | unsafe"></span>:</h4>
            </div>
            <div class="modal-body row">
              <ng-include src="'/partials/checkout/billing-edit-modal.html'"/>
            </div>
          </div>
        </div>
      </div>

    </div><!-- /row -->

  </div>

</div><!--/span-->
