<div class="container">
    
  <div class="col-md-10 col-md-offset-1 alert-container">
    <div ng-if="orderError" class="alert alert-danger" role="alert" ng-bind="orderError"></div>
  </div>
  <!--QNC-->
  <div id="upsell" class="encapsulated col-md-10 col-md-offset-1">
    <!--QNC progress bar-->
      <div class="encapsulated-content">        
        <h1 class="encapsulated-title"><span>{{ 'QNC-ENCAPSULATED-TITLE' | translate }}</span></h1>
        <p>{{ 'QNC-ENCAPSULATED-PARAGRAPH1' | translate }}</p>
        <p>{{ 'QNC-ENCAPSULATED-PARAGRAPH2' | translate }}</p>
        <p>{{ 'QNC-ENCAPSULATED-PARAGRAPH3' | translate }}</p>
        
      </div>
      <div class="encapsulated-progress">
        <p class="pull-left com-label">30%</p>
        <p class="pull-right com-label">50%</p>
        <!-- <div class="clear-both"></div> -->
        <div class="progress clear-both">
          <div class="progress-bar progress-bar-custom" style="min-width: 2em; width: {{ getQncProgressPercent() }}%;">
            <div ng-if='salesTaxInfo'>
              <div ng-show='((300 - salesTaxInfo.SubTotal) > 0)'>
                ${{ salesTaxInfo.SubTotal }}
              </div>
              <div ng-show='((300 - salesTaxInfo.SubTotal) <= 0)'>
                {{ 'QNC-QUALIFIED' | translate }}
              </div>
            </div>
          </div>
           <div class="progress-bar progress-bar-remainder" style="width: {{ 100 - getQncProgressPercent() }}%">
            &nbsp;{{ getUntilNextLevel() | currency }} {{ 'QNC-UNTIL-NEXT-LEVEL' | translate }}
          </div>
        </div>
        <p class="pull-left"><strong>$0</strong></p>
        <p class="pull-right"><strong>$300</strong></p>
        <!-- <div class="clear-both"></div> -->
      </div>
    <div id="panel-1" class="" ng-show="!profile.qnc">
      <button type="button" id="yes-order" class="btn btn-primary btn-lg center-block" ng-click="toggleQnc(1)">
        <span>{{ 'QNC-GET-QUALIFIED' | translate }}</span>
      </button>
    </div>

    <!-- ADD-ON KIT SELECTION -->

    <div class="clear-both"></div>
    <div id="panel-2" class="clearfix" ng-show="profile.qnc">
      <div class="col-md-5">
        <div class="kit-box">
          <img ng-if="session.language == 'en_US'" class='img-responsive center-block' ng-src='{{ CDN_URL }}/img/19982_fragrance_pack_en.jpg' />
          <img ng-if="session.language == 'es_US'" class='img-responsive center-block' ng-src='{{ CDN_URL }}/img/19982_fragrance_pack_es.jpg' />
          <h3>{{ 'QNC-FRAGRANCE-PACK' | translate }}</h3>
          <div ng-show="isInCart('19982')">
            <span class="product-price"><small>{{ 'QNC-ONLY' | translate }}<br></small> $300</span>
            <button type="button" class="btn btn-primary btn-lg" ng-click="removeQncProduct('19982')" analytics-on="click" analytics-event="In-Page Buy $300 Fragrance Pack" analytics-category="Buttons">
            {{ 'QNC-ADDED' | translate }} <i class="fa fa-check"></i>
            </button>
          </div>
          <div ng-show="!isInCart('19982')">
            <span class="product-price"><small>{{ 'QNC-ONLY' | translate }}<br></small> $300</span>
            <button type="button" class="btn btn-primary btn-lg" ng-click="selectQncProduct('19982')" analytics-on="click" analytics-event="In-Page Buy $300 Fragrance Pack" analytics-category="Buttons">
            {{ 'QNC-ADD' | translate }} <i class="fa fa-square-o"></i>
            </button>
          </div>
          <br />
          <p class="color-gold HelveticaNeueLTStd-BdCn kit-desc">
            <span>{{ 'QNC-SAVE' | translate }} 41%</span>
          </p>
          <p class="HelveticaNeueLTStd-Th kit-value ng-binding">{{ 'QNC-OVER-X-RETAIL-VALUE' | translate:'{ value: 511 }' }}</p>
          <p>{{ 'QNC-AVAILABLE-IN' | translate }}</p>
          <a href="" class="seemore more-link more-link-alt collapsed" data-toggle="collapse" data-target="#fragrancepack-details" ng-bind-html="'KIT-DETAILS-TOGGLE' | translate | unsafe"></a>
          <div id="fragrancepack-details" class="collapse">
            <p>
              <ul>
                <li ng-repeat="component in qncProducts[0].contains">
                  <span>{{ component.product.name }}</span>
                </li>
              </ul>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="kit-box">
          <img ng-if="session.language == 'en_US'" class='img-responsive center-block' ng-src='{{ CDN_URL }}/img/19985_skin_care_pack_en.jpg' />
          <img ng-if="session.language == 'es_US'" class='img-responsive center-block' ng-src='{{ CDN_URL }}/img/19985_skin_care_pack_es.jpg' />
          <h3>{{ 'QNC-SKIN-CARE-PACK' | translate }}</h3>
          <div ng-show="isInCart('19985')">
            <span class="product-price"><small>{{ 'QNC-ONLY' | translate }}<br></small> $300</span>
            <button type="button" class="btn btn-primary btn-lg" ng-click="removeQncProduct('19985')" analytics-on="click" analytics-event="In-Page Buy $300 Fragrance Pack" analytics-category="Buttons">
            {{ 'QNC-ADDED' | translate }} <i class="fa fa-check"></i>
            </button>
          </div>
          <div ng-show="!isInCart('19985')">
            <span class="product-price"><small>{{ 'QNC-ONLY' | translate }}<br></small> $300</span>
            <button type="button" class="btn btn-primary btn-lg" ng-click="selectQncProduct('19985')" analytics-on="click" analytics-event="In-Page Buy $300 Fragrance Pack" analytics-category="Buttons">
            {{ 'QNC-ADD' | translate }} <i class="fa fa-square-o"></i>
            </button>
          </div>
          <br />
          <p class="color-gold HelveticaNeueLTStd-BdCn kit-desc">
            <span>{{ 'QNC-SAVE' | translate }} 41%</span>
          </p>
          <p class="HelveticaNeueLTStd-Th kit-value ng-binding">{{ 'QNC-OVER-X-RETAIL-VALUE' | translate:'{ value: 496 }' }}</p>
          <p>{{ 'QNC-AVAILABLE-IN' | translate }}</p>
          <a href="" class="seemore more-link more-link-alt collapsed" data-toggle="collapse" data-target="#skincarepack-details" ng-bind-html="'KIT-DETAILS-TOGGLE' | translate | unsafe"></a>
          <div id="skincarepack-details" class="collapse">
            <p>
              <ul>
                <li ng-repeat="component in qncProducts[1].contains">
                  <span>{{component.product.name}}</span>
                </li>
              </ul>
            </p>
          </div>
        </div><!-- end kit box-->
      </div>
    </div>
  </div>

  <div class="col-md-offset-1 col-md-10">
    <h1><span ng-bind-html="'REVIEW-CONFIRM-ORDER' | translate | unsafe"></span>
      <span class="store-heading-description" ng-bind-html="'CHECK_INST_PAY' | translate | unsafe">
      </span>
    </h1>
    <form class="form order-details" role="form" name="confirmForm">
      <a ng-href="{{STORE_BASE_URL}}/cart" ng-if="!isOnlineSponsoring" class="pull-right" style="margin-top:10px"><i class="fa fa-pencil-square-o"></i> <span ng-bind-html="'BTN_MAKE_CHANGES' | translate | unsafe"></span></a>
      <div class="form-group">
        <table class="table">
          <thead>
          <tr>
            <th ng-bind-html="'CART_QTY' | translate | unsafe"></th>
            <th ng-bind-html="'CART_DESCRIPTION' | translate | unsafe"></th>
            <th align="right" ng-bind-html="'CART_PRICE' | translate | unsafe"></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="item in cart">
            <td>{{item.quantity}}</td>
            <td>
              <p class="confirmation-description">
                <!--CD-->
                <div ng-if="!isOnlineSponsoring">
                  <span ng-bind-html="getTranslated(item.product).name | unsafe"></span>
                </div>
                <!--online sponsoring-->
                <div ng-if="isOnlineSponsoring && $first">
                    <li class="dropdown" ng-if="isOnlineSponsoring">
                      <a class="dropdown-toggle" data-toggle="dropdown" dropdown-toggle><span ng-bind-html="session.language=='en_US' ? item.product.name : item.product.name_es_US | unsafe"></span> <span ng-bind-html="'CHANGE-KIT-PARENS' | translate | unsafe"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a ng-click="selectProduct('20494')"><span ng-bind-html="'OS-KIT-PRODUCT1-NAME' | translate |unsafe"></span> (<span ng-bind-html="'LAN01' | translate |unsafe"></span>)</a></li>
                        <li><a ng-click="selectProduct('20495')"><span ng-bind-html="'OS-KIT-PRODUCT1-NAME' | translate |unsafe"></span> (<span ng-bind-html="'LAN02' | translate |unsafe"></span>)</a></li>
                        <li><a ng-click="selectProduct('20498')"><span ng-bind-html="'OS-KIT-PRODUCT2-NAME' | translate |unsafe"></span> (<span ng-bind-html="'LAN01' | translate |unsafe"></span>)</a></li>
                        <li><a ng-click="selectProduct('20499')"><span ng-bind-html="'OS-KIT-PRODUCT2-NAME' | translate |unsafe"></span> (<span ng-bind-html="'LAN02' | translate |unsafe"></span>)</a></li>
                      </ul>
                    </li>
                </div>
                <!--online sponsoring QNC products-->
                <div ng-if="isOnlineSponsoring && !$first">
                  <span ng-bind-html="session.language=='en_US' ? item.product.name : item.product.name_es_US | unsafe"></span>
                  <a ng-click="removeQncProduct(item.sku)">({{ 'REMOVE' | translate }})</a>
                </div>
              </p>
            </td>
            <td align="right">
              <span ng-repeat="detailprice in item.product.currentPrice">
                <span ng-if="detailprice.typeId==2" class="item-price-sale">
                  {{detailprice.price | currency}}
                </span>
                <span ng-if="detailprice.typeId==1" class="item-price-strike">
                  {{detailprice.price | currency}}
                </span>
              </span>
              <span ng-if="item.product.currentPrice.price">
                <span class="item-price">
                  {{item.product.currentPrice.price | currency}}
                </span>
              </span>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="2">
              <div ng-if="isOnlineSponsoring" class="promo_free_shipping text-center">
                <span ng-bind-html="'OS-CHECKOUT-FREESHIPPING-PROMO-TITLE' | translate | unsafe"></span>
                <p ng-bind-html="'OS-CHECKOUT-FREESHIPPING-PROMO-PARAGRAPH' | translate | unsafe"></p>
              </div>
            </td>
            <td colspan="1" width="50%">
              <p><span ng-bind-html="'CART_SUBTOTAL' | translate | unsafe"></span>: {{ salesTaxInfo.SubTotal | currency }}</p>
              <p><span ng-bind-html="'CART_SHIPPING' | translate | unsafe"></span>: {{ salesTaxInfo.SH | currency }}</p>
              <p><span ng-bind-html="'CART_TAX' | translate | unsafe"></span>: ({{ salesTaxInfo.TaxRate}}%): {{ salesTaxInfo.TaxAmount | currency }}</p>
              </p>
              <p class="lead"><b><span ng-bind-html="'TOTAL_CHARGES' | translate | unsafe"></span>: {{ salesTaxInfo.Total | currency }}</b></p>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>

	<hr>

  <div class="form-group text-right">
        <label class="checkbox-inline">

          <input type="checkbox" value="" ng-model="profile.agree" required>

          <span ng-bind-html="'IN_AGREE' | translate | unsafe"></span> <a href="" data-toggle="modal" data-target=".bs-terms-modal-lg"><span ng-bind-html="'BTN_IN_AGREE' | translate | unsafe"></span></a>
          <span ng-if="isOnlineSponsoring">&nbsp;&amp;&nbsp;</span><a ng-if="isOnlineSponsoring" href="" data-toggle="modal" data-target=".agreement-modal-lg"><span ng-bind-html="'CONSULTANT-AGREEMENT-TITLE' | translate | unsafe"></span></a>
          &nbsp;&nbsp;&nbsp;&nbsp;
        </label>
        <button ng-if="!isOnlineSponsoring" type="button" class="btn-link pull-left" ng-disabled="processing" ng-click="confirmAlert('Are you sure you\'d like to cancel your order?')">
          <span ng-bind-html="'BTN_CANCEL_ORDER' | translate | unsafe"></span>
        </button>
        <button type="button" class="btn btn-primary btn-lg" ng-class="{ 'processing' : processing }" ng-click="processOrder()" ng-disabled="!confirmForm.$valid || processingOrder || processing">
          <span ng-bind-html="'BTN_PLACE_ORDER' | translate | unsafe"></span> &nbsp;<i class="fa fa-caret-right"></i>
        </button>
      </div>

    </form>

    <hr />

    <!-- order details -->
    <div class="row">
      <div class="col-sm-3 col-lg-3" ng-if="isOnlineSponsoring">
        <h3><span ng-bind-html="'CONTACT-INFO-LABEL' | translate | unsafe"></span></h3>
        <div>
          <div class="well contact-info-well">
            <h3><span ng-bind="profile.firstName"></span> <span ng-bind="profile.lastName"></span></h3>
            <p><b ng-bind="profile.loginEmail"></b></p>
            <p>{{profile.phoneNumber|phone}}</p>
            <a ng-if="isOnlineSponsoring" href ng-click="editContactInfo()" class="pull-left">
              <i class="fa fa-pencil-square-o"></i>
              <span ng-bind-html="'EDIT' | translate | unsafe">Edit</span>
            </a>
          </div>
        </div>
      </div>
      <!-- card -->
      <div class="col-sm-4 col-lg-3" ng-if="profile.card">
        <h3><span ng-bind-html="'PAY_TIT1' | translate | unsafe"></span></h3>
        <div class="checkout-card clearfix active">
          <span class="pull-left">{{profile.card.name}}</span>
          <img class="pull-right img-responsive cardImg" ng-src="{{ CDN_URL + '/img/visa.png' }}" ng-show="profile.card.cardType=='Visa'">
          <img class="pull-right img-responsive cardImg" ng-src="{{ CDN_URL + '/img/mastercard.png' }}" ng-show="profile.card.cardType=='MasterCard'">
          <img class="pull-right img-responsive cardImg" ng-src="{{ CDN_URL + '/img/discover.png' }}" ng-show="profile.card.cardType=='Discover Card'">
          <img class="pull-right img-responsive cardImg" ng-src="{{ CDN_URL + '/img/americanexpress.png' }}" ng-show="profile.card.cardType=='American Express'">
          <p class="card-number">
            <span>&bull;&bull;&bull;&bull;</span>
            <span>&bull;&bull;&bull;&bull;</span>
            <span>&bull;&bull;&bull;&bull;</span>
            <span>{{profile.card.lastFour}}</span>
          </p>
          <p class="card-expiry pull-left">
            <small>EXP:</small>
            {{profile.card.expMonth}}/{{profile.card.expYear|substr:2:2}}
          </p>
          <a ng-if="isOnlineSponsoring" ng-click="editCreditCard(profile.card)" class="pull-right card-use-btn"><i class="fa fa-pencil-square-o"></i> <span ng-bind-html="'EDIT' | translate | unsafe"></span></a>
          <a ng-if="!isOnlineSponsoring" ng-click="modifyPayment()" class="pull-right card-use-btn"><i class="fa fa-pencil-square-o"></i> <span ng-bind-html="'CHANGE' | translate | unsafe"></span></a>
        </div>
      </div><!-- /card -->
      <!-- shipping card -->
      <div class="col-sm-3 col-lg-3 checkout-address" ng-if="profile.shipping">
        <h3><span ng-bind-html="'PAY_TIT2' | translate | unsafe"></span></h3>
        <span ng-if="!isOnlineSponsoring">{{ profile.shipping.name || namePlaceholder }}</span>
        <span ng-if="isOnlineSponsoring" class="address-businessCO">{{ profile.shipping.businessCO }}</span>
        <span class="address-street">{{profile.shipping.address1}}</span>
        <span class="address-street">{{profile.shipping.address2}}</span>
        <span class="address-region">{{profile.shipping.city}}, {{profile.shipping.state}} {{ profile.shipping.zip }}</span>
        <span class="phone-number" ng-if="!isOnlineSponsoring">{{profile.shipping.phone}}</span>
        <span ng-if="!isOnlineSponsoring"><span ng-bind-html="'SHIPPING-CARRIER' | translate | unsafe"></span>: {{ salesTaxInfo.Carrier || 'UPS' }}</span>
        <div class="address-actions">
          <a href ng-click="editAddress(profile.shipping, 'shipping')" class="pull-left"><i class="fa fa-pencil-square-o"></i> <span ng-bind-html="'EDIT' | translate | unsafe"></span></a>
        </div>
      </div><!-- /address -->
      <!-- billing card -->
      <div class="col-sm-3 col-lg-3 checkout-address">
        <h3><span ng-bind-html="'PAY_TIT3' | translate | unsafe"></span></h3>
        <span class="address-businessCo">{{ profile.billing.name || namePlaceholder }}</span>
        <span class="address-businessCO">{{profile.billing.businessCO}}</span>
        <span class="address-street">{{profile.billing.address1}}</span>
        <span class="address-street">{{profile.billing.address2}}</span>
        <span class="address-region">{{profile.billing.city}}, {{profile.billing.state}} {{profile.billing.zip }}</span>
        <span class="phone-number" ng-if="!isOnlineSponsoring">{{profile.billing.phone}}</span>
        <div class="address-actions">
          <a href ng-click="editAddress(profile.billing, 'billing')" class="pull-left"><i class="fa fa-pencil-square-o"></i> <span ng-bind-html="'EDIT' | translate | unsafe"></span></a>
        </div>
      </div><!-- /address -->
    </div><!-- /row / end review info --> 

  </div>

</div><!--/span-->

  <div aria-hidden="false" aria-labelledby="myModalLabel" role="dialog" id="agreement_modal" class="modal fade in" style="display: none;">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <a class="pull-right" href="" onClick="printDiv('agreement-content');" ><i class="fa fa-print"></i> &nbsp;<span ng-bind-html="'CONSULTANT-AGREEMENT-PRINT' | translate | unsafe"></span></a>
            <h4 id="myModalLabel" class="modal-title text-center"><span ng-bind-html="'CONSULTANT-AGREEMENT-TITLE' | translate | unsafe"></span></h4>
          </div>
          <div class="modal-body">
            <div class="agreement-content" id="agreement-content">
              <div ng-if="session.language" ng-include="'/partials/consultant-agreement-'+session.language+'.html'"></div>
            </div>
          </div>
          <div class="modal-footer">
            <a onclick="" href="/join/"><span ng-bind-html="'CONSULTANT-AGREEMENT-DONT-AGREE' | translate | unsafe"></span></a>&nbsp;&nbsp;
            &nbsp;&nbsp;
            <button ng-click="profile.agree = true" data-dismiss="modal" class="btn btn-primary btn-lg" type="button" id="agreement_agree" disabled="1" onclick="$('#agreement_modal').css('display','none;');"><span ng-bind-html="'CONSULTANT-AGREEMENT-AGREE' | translate | unsafe"></span> &nbsp;<i class="fa fa-caret-right"></i></button>
            <p class="pull-left form-control-static"><small><span ng-bind-html="'CONSULTANT-AGREEMENT-NOTE' | translate | unsafe"></span></small></p>
          </div>
        </div>
      </div>
    </div>
    
    <script>
      $(function () { 
        $('.agreement-content').on('scroll', function() {      
          if ($(this).scrollTop() + $(this).innerHeight() >= (this.scrollHeight - 20)) {
            $('#agreement_agree').removeAttr('disabled');
          }
        });  
      });
    </script>
