<div class="modal-header">
  <button type="button" class="close" aria-hidden="true" ng-click="close()">&times;</button>
  <h4 class="modal-title">Choose Shipping Speed</h4>
</div>
<div class="modal-body shipping-speed-modal-body clearfix">
    <p>
       Choose your shipping speed:<br />
       {{profile.shipping.name}}, {{profile.shipping.address1}} {{profile.shipping.address2}}, {{profile.shipping.city}},
       {{profile.shipping.stateProvinceRegion}}, {{profile.shipping.zipPostalCode}}, <span ng-bind-html="'COUNTRY-US' | translate | unsafe"></span>
    </p>
    <form role="form" name="shippingSpeed">
    <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios1" ng-model="checkout.shippingSpeed" value="Standard" checked>
          Standard (3-5 Business Days)
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios2" ng-model="checkout.shippingSpeed" value="Two Day">
          Two-Day (2 Business Days)
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios3" ng-model="checkout.shippingSpeed" value="Expedited">
          Expedited (1-3 Business Days)
        </label>
      </div>
    <div class="pull-left"><a href="" ng-click="close()">Back</a></div>    
    <div class="pull-right"><button class="btn btn-primary btn-lg" ng-click="close();">Continue &nbsp;<i class="fa fa-caret-right"></i></button></div>
    </form>
</div>