<div class="col-sm-12">

  <div class="col-md-offset-3">

    <h1 ng-if="session.client.addresses.length > 0"><span ng-bind-html="'CHOOSE-SHIPPING-ADDRESS' | translate | unsafe"></span></h1>
    <h1 ng-if="session.client.addresses == null || session.client.addresses.length == 0"><span ng-bind-html="'OS-SHIPPING-TITLE' | translate | unsafe"></span></h1>

    <div class="row" ng-if="!isOnlineSponsoring">
      <div class="col-xs-6 col-lg-4 checkout-address" ng-repeat="addressData in session.client.addresses">
        <span class="address-name">{{addressData.name}}</span>
        <span class="address-street">{{addressData.address1}} {{addressData.address2}}</span>
        <span class="address-region">{{addressData.city}}, {{addressData.state}} {{addressData.zip}}</span>
        <span class="phone-number">{{addressData.phone}}</span>
        <div class="address-actions">
          <a ng-click="editAddress(addressData.id)"><i class="fa fa-pencil-square-o"></i> <span ng-bind-html="'EDIT' | translate | unsafe"></span></a>
          &nbsp;&nbsp;
          <a ng-click="removeAddress(addressData.id)"><i class="fa fa-times-circle"></i> <span ng-bind-html="'REMOVE' | translate | unsafe"></span></a>
        </div>
        <a class="btn btn-primary" ng-click="selectShippingAddressAndContinue(addressData)"><span ng-bind-html="'BTN_SHIP_ADD' | translate | unsafe"></span></a>
      </div><!-- /address -->

    </div>

    <!--<hr ng-if="profile.customerStatus=='existing'">-->
  </div><!-- /offset -->

    <ng-include src="'/partials/checkout/shipping-form-include.html'"/>

    <div class="col-md-offset-3">

      <hr>

    </div> <!-- /offset -->

    <div class="row form-group">
      <div class="col-md-offset-3 col-sm-9">
        <div class="error" ng-show="shippingAddressError" ng-bind="shippingAddressError"></div>

        <button type="button" class="btn btn-primary btn-lg" ng-disabled="!shippingForm.$valid" ng-click="addShippingAddressAndContinue(profile.newShippingAddress)"><span ng-bind-html="'BTN_SHIP_ADD' | translate | unsafe"></span> &nbsp;<i class="fa fa-caret-right"></i></button>

       <!-- FIXME  <p><br><br><br><br><a href="" data-toggle="modal" data-target="#shippingModal">Show shipping verification modal (example only)</a></p> -->
      </div>
    </div>

  </form>

</div><!--/span-->
