
<div class="streamline-checkout"> <!-- style override wrapper for streamlined checkout -->

<ng-form name='parentForm'>

  <!-- CLIENT DIRECT INFO: NOT SIGNED IN: OPTION TO SIGN-IN OR CREATE NEW-->
  <div ng-if="!isOnlineSponsoring && !loggedIn()" id="signin" class="col-sm-12">

  <div class="col-md-offset-3" style="padding-top:30px">

    <p ng-if="profile.customerStatus == 'new'" style="font-size: 1.5em;">
      <b class="control-label" ng-bind-html="'ALREADY-A-CUSTOMER' | translate | unsafe"></b>
      <a href="" ng-mousedown="profile.customerStatus = 'existing'" class="checkout-link" style="color:#c3002f"><b ng-bind-html="'SIGN-IN-ALREADY-A-CUSTOMER' | translate | unsafe"></b></a>.
    </p>

    <p ng-if="profile.customerStatus == 'existing'" style="font-size: 1.5em;">
      <b><span ng-bind-html="'NOT-YET-A-CUSTOMER' | translate | unsafe"></span></b>
      <a href="" ng-click="profile.customerStatus = 'new'" class="checkout-link" style="color:#c3002f"><span ng-bind-html="'CREATE-ACCOUNT' | translate | unsafe"></span></a>.
    </p>

    <div class="row">
      <div class="col-sm-6">
        <hr>
      </div>
    </div>

    <h1 class="checkouth1" style="margin-top:0" ng-if="profile.customerStatus == 'existing' && !isOnlineSponsoring">
      <span ng-bind-html="'SIGN-IN-ALREADY-A-CUSTOMER' | translate | unsafe"></span></h1>

    <h1 class="checkouth1" style="margin-top:0" ng-if="profile.customerStatus == 'new' && !isOnlineSponsoring">
      <span ng-bind-html="'CREATE-ACCOUNT' | translate | unsafe"></span></h1>

    <div class="row">
      <div class="col-sm-6">
        <div ng-if="loginError" class="alert alert-danger" role="alert" data-ng-bind-html="loginError"></div>
        <div ng-if="emailError" class="alert alert-danger" role="alert">
          <span>{{ emailError }}</span>
        </div>
      </div>
    </div>
  </div>

  <form name="signInForm" class="form-horizontal" role="form">
    <div class="form-group" ng-if="profile.customerStatus == 'new' || isOnlineSponsoring">
      <label for="firstName" class="col-md-3 control-label"><span ng-bind-html="'OS-NAME' | translate | unsafe"></span></label>

      <div class="col-sm-3" ng-class="{ 'has-error' : signInForm.firstName.$invalid && (signInForm.firstName.$touched || signInForm.firstName.$dirty) }">
        <input name="firstName" ng-pattern="/^[A-Za-z]'?[- a-zA-Z]+$/" ng-model="profile.firstName" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" class="form-control" id="firstName" placeholder="{{'CHECKOUT-FIRST-PLACEHOLDER' | translate | unsafe}}" required="isOnlineSponsoring" autofocus="" maxlength="40" tabindex='1' />
        <span ng-show="signInForm.firstName.$invalid && (signInForm.firstName.$touched || signInForm.firstName.$dirty)" class="help-block" ng-class="{ 'text-danger' : signInForm.firstName.$invalid }"><span ng-bind-html="'REQUIRE-FIRSTNAME-LENGTH' | translate | unsafe"></span></span>
      </div>
      <div class="col-sm-3" ng-class="{ 'has-error' : signInForm.lastName.$invalid && (signInForm.lastName.$dirty || signInForm.lastName.$touched) }">
        <input name="lastName" ng-pattern="/^[A-Za-z]'?[- a-zA-Z]+$/" ng-model="profile.lastName" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" class="form-control" id="lastName" placeholder="{{'CHECKOUT-LAST-PLACEHOLDER' | translate | unsafe}}" required="isOnlineSponsoring" maxlength="40" tabindex='2' />
        <span ng-show="signInForm.lastName.$invalid && (signInForm.lastName.$dirty || signInForm.lastName.$touched)" class="help-block" ng-class="{ 'text-danger' : signInForm.lastName.$invalid }"><span ng-bind-html="'REQUIRE-LASTNAME-LENGTH' | translate | unsafe"></span></span>
      </div>
    </div>

    <div class="form-group">
      <label for="loginEmail" class="col-md-3 control-label"><span ng-bind-html="'EMAIL_ADD' | translate | unsafe"></span></label>

      <div class="col-sm-6" ng-class="{ 'has-error' : signInForm.loginEmail.$invalid && (signInForm.loginEmail.$dirty || signInForm.loginEmail.$touched) }">
        <input name="loginEmail" ng-pattern="/[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/" ng-model="profile.loginEmail" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" type="email" class="form-control" id="loginEmail" placeholder="{{ 'EXAMPLE-EMAIL-PLACEHOLDER' | translate | unsafe }}" required tabindex='3' />
        <span ng-show="signInForm.loginEmail.$invalid && (signInForm.loginEmail.$dirty || signInForm.loginEmail.$touched)" class="help-block" ng-class="{ 'text-danger' : signInForm.loginEmail.$invalid }">
          <span ng-bind-html="'REQUIRES-VALID-EMAIL-ADDRESS' | translate | unsafe"></span>.
        </span>
      </div>
    </div>

    <div class="form-group" ng-if="isOnlineSponsoring">
      <label for="phoneNumber" class="col-md-3 control-label"><span ng-bind-html="'PHONE-NUMBER' | translate | unsafe"></span></label>

      <div class="col-sm-3" ng-class="{ 'has-error' :  signInForm.phoneNumber.$invalid && (signInForm.phoneNumber.$dirty || signInForm.phoneNumber.$touched) }">
        <input name="phoneNumber" type="tel" ui-mask="(999) 999-9999" ng-model="profile.phoneNumber" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" ng-minlength="13" class="form-control" id="phoneNumber" placeholder="(___) ___-____" required tabindex='4' />
        <span ng-show="signInForm.phoneNumber.$invalid && (signInForm.phoneNumber.$dirty || signInForm.phoneNumber.$touched)" class="help-block" ng-class="{ 'text-danger' : signInForm.phoneNumber.$invalid && (signInForm.phoneNumber.$touched || signInForm.phoneNumber.$dirty) }"><span ng-bind-html="'INVALID-TELEPHONE-NUMBER' | translate | unsafe"></span>.</span>
      </div>
    </div>

    <div class="form-group" ng-if="!isOnlineSponsoring">
      <label for="inputPassword3" class="col-md-3 control-label"><span ng-bind-html="'PASSWORD' | translate | unsafe"></span></label>

      <div class="col-sm-4" ng-class="{ 'has-error' : signInForm.loginPassword.$dirty && signInForm.loginPassword.$invalid }">
        <input name="loginPassword" ng-model="profile.loginPassword" type="password" class="form-control" id="inputPassword3" placeholder="{{ 'EXAMPLE-PASSWORD-PLACEHOLDER' | translate | unsafe }}" ng-minlength="8" minlength="8" required tabindex='5' />
        <span ng-show="signInForm.loginPassword.$invalid && (signInForm.loginPassword.$touched || signInForm.loginPassword.$dirty)" class="help-block" ng-class="{ 'text-danger' : signInForm.loginPassword.$dirty && signInForm.loginPassword.$invalid }">
          <span ng-bind-html="'INVALID-PASSWORD-LENGTH' | translate | unsafe"></span>.
        </span>
      </div>
    </div>

    <div class="form-group" ng-if="!isOnlineSponsoring && profile.customerStatus !== 'existing'">
      <label for="inputPassword4" class="col-md-3 control-label"><span ng-bind-html="'PASSWORD_VERIFY' | translate | unsafe"></span></label>

      <div class="col-sm-4" ng-class="{ 'has-error' : signInForm.loginPasswordVerify.$invalid && (signInForm.loginPasswordVerify.$touched || signInForm.loginPasswordVerify.$dirty) }">
        <input name="loginPasswordVerify" ng-model="profile.loginPasswordVerify" type="password" class="form-control" id="inputPassword4" placeholder="{{ 'EXAMPLE-PASSWORD-PLACEHOLDER-VERIFY' | translate | unsafe }}" data-ui-validate="'$value == profile.loginPassword'" required tabindex='6' />
        <span ng-show="signInForm.loginPasswordVerify.$invalid && (signInForm.loginPasswordVerify.$touched || signInForm.loginPasswordVerify.$dirty) && profile.loginPassword !== profile.loginPasswordVerify" class="help-block" ng-class="{ 'text-danger' : profile.loginPassword !== profile.loginPasswordVerify }">
          <span ng-bind-html="'PASSWORDS-DONT-MATCH' | translate | unsafe"></span>
        </span>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-3 col-sm-9">
        <div class="row">
          <div class="col-sm-8">
            <hr>
          </div>
        </div>
        <p ng-if="profile.customerStatus == 'new'">
          <small ng-bind-html="'OS-START-PRIVACY-AGREE' | translate | unsafe"></small>
          <small>
            <a href ng-bind-html="'OS-START-PRIVACY-AGREE-2' | translate | unsafe" data-toggle="modal" data-target=".bs-privacy-modal-lg"></a>
          </small>
          <small ng-bind-html="'OS-START-PRIVACY-AGREE-3' | translate | unsafe" class="ng-binding"></small>
        </p>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <button ng-if="!isOnlineSponsoring" type="button" class="btn btn-primary btn-lg" ng-class="{ 'processing' : processing }" ng-click="loginOrCreateUser()" ng-disabled="!signInForm.$valid || processing">
            <span ng-show="profile.customerStatus == 'new'" ng-bind-html="'CREATE-ACCOUNT' | translate | unsafe"></span>
            <span ng-show="profile.customerStatus == 'existing'" ng-bind-html="'SIGN-IN-ALREADY-A-CUSTOMER' | translate | unsafe"></span>
            &nbsp;<i class="fa fa-caret-right"></i>
          </button>
          <button ng-if="isOnlineSponsoring" type="button" class="btn btn-primary btn-lg" ng-class="{ 'processing' : processing }" ng-click="validateEmailAndContinue(profile.loginEmail)" ng-disabled="!signInForm.$valid || processing">
            <span ng-bind-html="'BTN_CONTINUE' | translate | unsafe"></span>
            &nbsp;<i class="fa fa-caret-right"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="form-group" ng-if="!isOnlineSponsoring">
      <div class="col-md-offset-3 col-sm-9">
        <div class="row">
          <div class="col-sm-6">
            <hr>
          </div>
        </div>
        <p ng-if="profile.customerStatus == 'existing'">
          <a href="" ng-click="forgotPassword()"><span ng-bind-html="'I-FORGOT-MY-PASSWORD' | translate | unsafe"></span></a><br><br>
        </p>
      </div>
    </div>
  </form>
  </div>

  <!-- ONLINE SPONSORING WORKS!-->
  <div ng-if="isOnlineSponsoring" id="signin" class="col-sm-12">
  <div class="col-md-offset-3">
    <h1 class="checkouth1" ng-if="profile.customerStatus == 'existing' && !isOnlineSponsoring">
      <span ng-bind-html="'SIGN-IN-ALREADY-A-CUSTOMER' | translate | unsafe"></span></h1>

    <h1 class="checkouth1" ng-if="profile.customerStatus == 'new' && !isOnlineSponsoring">
      <span ng-bind-html="'CREATE-ACCOUNT' | translate | unsafe"></span></h1>

    <h1 class="checkouth1" ng-if="isOnlineSponsoring">
      <span ng-bind-html="'OS-START-TITLE' | translate | unsafe"></span>
      <span class="store-heading-description">
        <span ng-bind-html="'OS-START-TAG' | translate | unsafe"></span>
      </span>
    </h1>

    <div id='errors-container' class="row">
      <div class="col-sm-6">
        <div ng-if="loginError" class="alert alert-danger" role="alert" data-ng-bind-html="loginError"></div>
        <div ng-if="emailError" class="alert alert-danger" role="alert">
          <span>{{ emailError }}</span>
        </div>
        <div ng-if="profileSSNErrorDuplicate" class="alert alert-danger" role="alert">
          <span>{{ 'SSN-DUPLICATE' | translate }}</span>
        </div>
        <div ng-if="profileSSNErrorInvalid" class="alert alert-danger" role="alert">
          <span>{{ 'SSN-INVALID' | translate }}</span>
        </div>
      </div>
    </div>

  </div>

  <form name="signInForm" class="form-horizontal" role="form">

    <div class="form-group" ng-if="!isOnlineSponsoring">
      <div class="col-md-offset-3 col-sm-9">
        <div class="row">
          <div class="col-sm-6">
            <hr>
          </div>
        </div>
        <p ng-if="profile.customerStatus == 'new'" style="font-size: 1.5em;">
          <b class="control-label" ng-bind-html="'ALREADY-A-CUSTOMER' | translate | unsafe"></b>
          <a href="" ng-mousedown="profile.customerStatus = 'existing'" class="checkout-link"><b ng-bind-html="'SIGN-IN-ALREADY-A-CUSTOMER' | translate | unsafe"></b></a>.
        </p>

        <p ng-if="profile.customerStatus == 'existing'" style="font-size: 1.5em;">
          <b><span ng-bind-html="'NOT-YET-A-CUSTOMER' | translate | unsafe"></span></b>
          <a href="" ng-click="profile.customerStatus = 'new'" class="checkout-link"><span ng-bind-html="'CREATE-ACCOUNT' | translate | unsafe"></span></a>.
        </p>
      </div>
    </div>

    <div class="form-group" ng-if="profile.customerStatus == 'new' || isOnlineSponsoring">
      <label for="firstName" class="col-md-3 control-label"><span ng-bind-html="'OS-NAME' | translate | unsafe"></span></label>

      <div class="col-sm-3" ng-class="{ 'has-error' : signInForm.firstName.$invalid && (signInForm.firstName.$touched || signInForm.firstName.$dirty) }">
        <input name="firstName" ng-pattern="/^[A-Za-z]'?[- a-zA-Z]+$/" ng-model="profile.firstName" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" class="form-control" id="firstName" placeholder="{{'CHECKOUT-FIRST-PLACEHOLDER' | translate | unsafe}}" required="isOnlineSponsoring" autofocus="" maxlength="40" tabindex='7' />
        <span ng-show="signInForm.firstName.$invalid && (signInForm.firstName.$touched || signInForm.firstName.$dirty)" class="help-block" ng-class="{ 'text-danger' : signInForm.firstName.$invalid }"><span ng-bind-html="'REQUIRE-FIRSTNAME-LENGTH' | translate | unsafe"></span></span>
      </div>
      <div class="col-sm-3" ng-class="{ 'has-error' : signInForm.lastName.$invalid && (signInForm.lastName.$dirty || signInForm.lastName.$touched) }">
        <input name="lastName" ng-pattern="/^[A-Za-z]'?[- a-zA-Z]+$/" ng-model="profile.lastName" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" class="form-control" id="lastName" placeholder="{{'CHECKOUT-LAST-PLACEHOLDER' | translate | unsafe}}" required="isOnlineSponsoring" maxlength="40" tabindex='8' />
        <span ng-show="signInForm.lastName.$invalid && (signInForm.lastName.$dirty || signInForm.lastName.$touched)" class="help-block" ng-class="{ 'text-danger' : signInForm.lastName.$invalid }"><span ng-bind-html="'REQUIRE-LASTNAME-LENGTH' | translate | unsafe"></span></span>
      </div>
    </div>

    <div class="form-group">
      <label for="loginEmail" class="col-md-3 control-label"><span ng-bind-html="'EMAIL_ADD' | translate | unsafe"></span></label>

      <div class="col-sm-6" ng-class="{ 'has-error' : signInForm.loginEmail.$invalid && (signInForm.loginEmail.$dirty || signInForm.loginEmail.$touched) }">
        <input name="loginEmail" ng-pattern="/[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/" ng-model="profile.loginEmail" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" type="email" class="form-control" id="loginEmail" placeholder="{{ 'EXAMPLE-EMAIL-PLACEHOLDER' | translate | unsafe }}" required tabindex='9' />
        <span ng-show="signInForm.loginEmail.$invalid && (signInForm.loginEmail.$dirty || signInForm.loginEmail.$touched)" class="help-block" ng-class="{ 'text-danger' : signInForm.loginEmail.$invalid }">
          <span ng-bind-html="'REQUIRES-VALID-EMAIL-ADDRESS' | translate | unsafe"></span>.
        </span>
      </div>
    </div>

    <div class="form-group" ng-if="isOnlineSponsoring">
      <label for="phoneNumber" class="col-md-3 control-label"><span ng-bind-html="'PHONE-NUMBER' | translate | unsafe"></span></label>

      <div class="col-sm-3" ng-class="{ 'has-error' :  signInForm.phoneNumber.$invalid && (signInForm.phoneNumber.$dirty || signInForm.phoneNumber.$touched) }">
        <input name="phoneNumber" type="tel" ui-mask="(999) 999-9999" ng-model="profile.phoneNumber" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" ng-minlength="10" class="form-control" id="phoneNumber" placeholder="(___) ___-____" required tabindex='10' />
        <span ng-show="signInForm.phoneNumber.$invalid && (signInForm.phoneNumber.$dirty || signInForm.phoneNumber.$touched)" class="help-block" ng-class="{ 'text-danger' : signInForm.phoneNumber.$invalid && (signInForm.phoneNumber.$touched || signInForm.phoneNumber.$dirty) }"><span ng-bind-html="'INVALID-TELEPHONE-NUMBER' | translate | unsafe"></span>.</span>
      </div>
    </div>

    <div class="form-group" ng-if="!isOnlineSponsoring">
      <label for="inputPassword3" class="col-md-3 control-label"><span ng-bind-html="'PASSWORD' | translate | unsafe"></span></label>

      <div class="col-sm-4" ng-class="{ 'has-error' : signInForm.loginPassword.$dirty && signInForm.loginPassword.$invalid }">
        <input name="loginPassword" ng-model="profile.loginPassword" type="password" class="form-control" id="inputPassword3" placeholder="{{ 'EXAMPLE-PASSWORD-PLACEHOLDER' | translate | unsafe }}" ng-minlength="8" minlength="8" required tabindex='11' />
        <span ng-show="signInForm.loginPassword.$invalid && (signInForm.loginPassword.$touched || signInForm.loginPassword.$dirty)" class="help-block" ng-class="{ 'text-danger' : signInForm.loginPassword.$dirty && signInForm.loginPassword.$invalid }">
          <span ng-bind-html="'INVALID-PASSWORD-LENGTH' | translate | unsafe"></span>.
        </span>
      </div>
    </div>

    <div class="form-group" ng-if="!isOnlineSponsoring && profile.customerStatus !== 'existing'">
      <label for="inputPassword4" class="col-md-3 control-label"><span ng-bind-html="'PASSWORD_VERIFY' | translate | unsafe"></span></label>

      <div class="col-sm-4" ng-class="{ 'has-error' : signInForm.loginPasswordVerify.$invalid && (signInForm.loginPasswordVerify.$touched || signInForm.loginPasswordVerify.$dirty) }">
        <input name="loginPasswordVerify" ng-model="profile.loginPasswordVerify" type="password" class="form-control" id="inputPassword4" placeholder="{{ 'EXAMPLE-PASSWORD-PLACEHOLDER-VERIFY' | translate | unsafe }}" data-ui-validate="'$value == profile.loginPassword'" required tabindex='12' />
        <span ng-show="signInForm.loginPasswordVerify.$invalid && (signInForm.loginPasswordVerify.$touched || signInForm.loginPasswordVerify.$dirty) && profile.loginPassword !== profile.loginPasswordVerify" class="help-block" ng-class="{ 'text-danger' : profile.loginPassword !== profile.loginPasswordVerify }">
          <span ng-bind-html="'PASSWORDS-DONT-MATCH' | translate | unsafe"></span>
        </span>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-3 col-sm-9">
        <div class="row" ng-if="!isOnlineSponsoring">
          <div class="col-sm-8">
            <hr>
          </div>
        </div>
        <p ng-if="!isOnlineSponsoring">
          <small ng-bind-html="'OS-START-PRIVACY-AGREE' | translate | unsafe"></small>
          <small>
            <a href ng-bind-html="'OS-START-PRIVACY-AGREE-2' | translate | unsafe" data-toggle="modal" data-target=".bs-privacy-modal-lg"></a>
            <small ng-bind-html="'OS-START-PRIVACY-AGREE-3' | translate | unsafe" class="ng-binding"></small>
        </p>
        <div class="input-group">
          <span ng-if="!isOnlineSponsoring" class="input-group-addon"><i class="fa fa-lock"></i></span>
          <button ng-if="!isOnlineSponsoring" type="button" class="btn btn-primary btn-lg" ng-class="{ 'processing' : processing }" ng-click="loginOrCreateUser()" ng-disabled="!signInForm.$valid || processing">
            <span ng-show="profile.customerStatus == 'new'" ng-bind-html="'CREATE-ACCOUNT' | translate | unsafe"></span>
            <span ng-show="profile.customerStatus == 'existing'" ng-bind-html="'SIGN-IN-ALREADY-A-CUSTOMER' | translate | unsafe"></span>
            &nbsp;<i class="fa fa-caret-right"></i>
          </button>
          <!-- <button ng-if="isOnlineSponsoring" type="button" class="btn btn-primary btn-lg" ng-class="{ 'processing' : processing }" ng-click="validateEmailAndContinue(profile.loginEmail)" ng-disabled="!signInForm.$valid || processing">
            <span ng-bind-html="'BTN_CONTINUE' | translate | unsafe"></span> &nbsp;<i class="fa fa-caret-right"></i>
          </button> -->
        </div>
      </div>
    </div>

    <div class="form-group" ng-if="!isOnlineSponsoring">
      <div class="col-md-offset-3 col-sm-9">
        <div class="row">
          <div class="col-sm-6">
            <hr>
          </div>
        </div>
        <p ng-if="profile.customerStatus == 'existing'">
          <a href="" ng-click="forgotPassword()"><span ng-bind-html="'I-FORGOT-MY-PASSWORD' | translate | unsafe"></span></a><br><br>
        </p>
      </div>
    </div>

  </form>
  </div>

  <div ng-if="isOnlineSponsoring" id="profile" class="col-sm-12">


  <!--valid={{signInForm.$valid}}-->
  <form name="profileForm" class="form-horizontal" role="form">


    <div class="form-group">
      <label class="col-md-3 control-label"><span ng-bind-html="'SSN-LABEL' | translate | unsafe"></span></label>

      <div class="col-md-3">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <input id='profileSSN' name="ssn" type="text" class="form-control" ui-mask="999 - 99 - 9999" placeholder="xxx - xx - xxxx" ng-model="profile.ssn" required autofocus tabindex='13' />
        </div>
        <span class="help-block"><small><span ng-bind-html="'SSN-NOTE' | translate | unsafe"></span>
        </small></span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3 control-label"><span ng-bind-html="'DOB-LABEL' | translate | unsafe"></span></label>
      <div class="col-md-3" ng-class="{ 'has-error' : (profileForm.dob.$touched || profileForm.dob.$dirty) && (profile.dob.$invalid || invalidDOB) }">
        <input type="tel" name="dob" class="form-control" ui-mask="99/99/9999" placeholder="{{ 'DOB-PLACEHOLDER' | translate }}" ng-model="profile.dob" tabindex='99' required>
      </div>
      <div class="col-md-offset-3 col-sm-9">
        <span class="help-block"><small ng-class="{ 'text-danger' : (profileForm.dob.$touched || profileForm.dob.$dirty) && (profile.dob.$invalid || invalidDOB) }">
          <span ng-bind-html="'DOB-NOTE' | translate | unsafe"></span></small>
        </span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3 control-label"><span ng-bind-html="'SPONSOR-ID-LABEL' | translate | unsafe"></span></label>
      <div class="col-md-4" ng-class="{ 'has-error' : profileForm.sponsorId.$invalid && (profileForm.sponsorId.$touched || profileForm.sponsorId.$dirty) }">
        <input name="sponsorId" type="text" class="form-control" ng-model="profile.sponsorId" ng-pattern="/^[0-9]+$/" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" placeholder="{{ 'SPONSOR-ID-PLACEHOLDER' | translate }}" tabindex='100'>
        <span ng-show="profileForm.sponsorId.$invalid && (profileForm.sponsorId.$touched || profileForm.sponsorId.$dirty)" class="help-block" ng-class="{ 'text-danger' : profileForm.sponsorId.$invalid && (profileForm.sponsorId.$touched || profileForm.sponsorId.$dirty) }">
          <span ng-bind-html="'CONSULTANT-PROFILE-INVALID-SPONSORID' | translate | unsafe"></span>
        </span>
        <span class="help-block"><small>
        <span ng-bind-html="'SPONSOR-ID-NOTE' | translate | unsafe"></span></small></span>
      </div>
    </div>

  </form>
  </div>

  <!-- OS PROFILE END-->

  <!-- OS KIT SELECTION-->

  <!-- <div class="col-md-12" ng-if="isOnlineSponsoring && fromLead == true"> -->
<div class="col-md-12" ng-if="isOnlineSponsoring">
  <div class="col-md-offset-3">
    <h1><span ng-bind-html="'OS-KIT-MODAL-TITLE' | translate | unsafe"></span></h1>
  </div>
  <div class="col-md-offset-3">

    <div class="row">
      <div class="col-md-5">
        <div class="kit-box" ng-class="cart[0].sku == 20494 || cart[0].sku == 20495 ? 'active' : ''">
            <img ng-click="updateSku('royal')" class="img-responsive" src="/img/99kit-2x.jpg"/>
            
          <h3 ng-bind-html="'OS-KIT-PRODUCT1-NAME' | translate | unsafe"></h3>
          <div ng-if="cart[0].sku == 20494 || cart[0].sku == 20495">
              <span class="product-price"><small>Only<br></small> $99</span>

                  <button ng-if="cart[0].sku == 20494 || cart[0].sku == 20495" type="button" class="btn btn-primary btn-lg" analytics-on="click" analytics-event="In-Page Buy $99" analytics-category="Buttons">
                            Selected <i class="fa fa-check"></i>
                    </button>
        </div>
        <div ng-if="cart[0].sku != 20494 && cart[0].sku != 20495">
            <span class="product-price"><small>Only<br></small> $99</span>
              <button type="button" class="btn btn-primary btn-lg" ng-click="updateSku('royal')" analytics-on="click" analytics-event="In-Page Buy $99" analytics-category="Buttons">
                  Select <i class="fa fa-square-o"></i>
              </button>
          </div>
          
          <div class="dropdown">
            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
              <span ng-if="kitSelectorLanguage == 'english'">English</span>
              <span ng-if="kitSelectorLanguage == 'spanish'">Spanish</span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation" ng-click="updateSku('20494')" ><a role="menuitem" tabindex="-1" href="#">ENGLISH</a></li>
                <li role="presentation" ng-click="updateSku('20495')" ><a role="menuitem" tabindex="-1" href="#">SPANISH</a></li>
              </ul>
          </div>
          
          
          
          
          
          
          <p class="color-gold HelveticaNeueLTStd-BdCn kit-desc">
            <span ng-bind-html="'OS-KIT-PRODUCT1-TITLE1' | translate | unsafe"></span>
            <span ng-bind-html="'OS-KIT-PRODUCT1-TITLE2' | translate | unsafe"></span>
          </p>

          <p class="HelveticaNeueLTStd-Th kit-value" ng-bind-html="'OS-KIT-PRODUCT1-VALUE' | translate | unsafe"></p>

          <p ng-bind-html="'OS-KIT-PRODUCT1-TAG' | translate | unsafe"></p>
          

<!--          <div ng-if="session.language == 'en_US'" class="product-action">
            <span class="product-price"><small>Only<br></small> $99</span>
            <button type="button" class="btn btn-primary btn-lg" ng-click="updateSku('20494')" analytics-on="click" analytics-event="In-Page Buy $99" analytics-category="Buttons">
              Buy
              <small>(english)</small>
            </button>
            <a data-target="#" ng-click="updateSku('20495')" class="color-red text-left text-underline" style="display:block; margin-top:10px;">Buy
              $99 kit in spanish</a>
          </div>
          <div ng-if="session.language == 'es_US'" class="product-action">
            <span class="product-price"><small>Sólo<br></small> $99</span>
            <button type="button" class="btn btn-primary btn-lg" ng-click="updateSku('20495')" analytics-on="click" analytics-event="In-Page Buy $99" analytics-category="Buttons">
              Cómpralo
              <small>(español)</small>
            </button>
            <a href="" ng-click="updateSku('20494')" class="color-red text-left" style="display:block; margin-top:10px;">Compra
              el Kit de $99 en Inglés</a>
          </div> -->



          <a href="" class="seemore more-link more-link-alt collapsed" data-toggle="collapse" data-target="#royalkit-details" ng-bind-html="'KIT-DETAILS-TOGGLE' | translate | unsafe"></a>

          <div id="royalkit-details" class="collapse">
            <p ng-bind-html="'OS-KIT-PRODUCT1-DESCRIPTION' | translate | unsafe"></p>
          </div>
        </div>
      </div>
      
      <div class="col-md-5">

        <div class="kit-box" ng-class="cart[0].sku == 20498 || cart[0].sku == 20499 ? 'active' : ''">
          <img ng-click="updateSku('special')" class="img-responsive" style="padding: 0 20px;" src="/img/49kit-2x.jpg"/>
          <h3 ng-bind-html="'OS-KIT-PRODUCT2-NAME' | translate | unsafe"></h3>

          <div ng-if="cart[0].sku != 20498 && cart[0].sku != 20499">
              <span class="product-price"><small>Only<br></small> $49</span>
              <button type="button" class="btn btn-primary btn-lg" ng-click="updateSku('special')" analytics-on="click" analytics-event="In-Page Buy $99" analytics-category="Buttons">
                  Select <i class="fa fa-square-o"></i>
              </button>
          </div>
          <div ng-if="cart[0].sku == 20498 || cart[0].sku == 20499">
              <span class="product-price"><small>Only<br></small> $49</span>
              <button type="button" class="btn btn-primary btn-lg" analytics-on="click" analytics-event="In-Page Buy $99" analytics-category="Buttons">
              Selected <i class="fa fa-check"></i>
              </button>
          </div>


          <div class="dropdown">
            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
              <span ng-if="kitSelectorLanguage == 'english'">English</span>
              <span ng-if="kitSelectorLanguage == 'spanish'">Spanish</span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation" ng-click="updateSku('20498')" ><a role="menuitem" tabindex="-1" href="#">ENGLISH</a></li>
                <li role="presentation" ng-click="updateSku('20499')" ><a role="menuitem" tabindex="-1" href="#">SPANISH</a></li>
              </ul>
          </div>
          
          

          <p class="color-gold HelveticaNeueLTStd-BdCn kit-desc">
            <span ng-bind-html="'OS-KIT-PRODUCT2-TITLE1' | translate | unsafe"></span>
            <span ng-bind-html="'OS-KIT-PRODUCT2-TITLE2' | translate | unsafe"></span>
          </p>

          <p class="HelveticaNeueLTStd-Th kit-value" ng-bind-html="'OS-KIT-PRODUCT2-VALUE' | translate | unsafe"></p>

          <p ng-bind-html="'OS-KIT-PRODUCT2-TAG' | translate | unsafe"></p>
          

          <!-- <div ng-if="session.language == 'en_US'" class="product-action">
            <span class="product-price"><small>Only<br></small> $49</span>
            <button type="button" class="btn btn-primary btn-lg" ng-click="updateSku('20498')" analytics-on="click" analytics-event="In-Page Buy $49" analytics-category="Buttons">
              Buy
              <small>(english)</small>
            </button>
            <a data-target="#" ng-click="updateSku('20499')" class="color-red text-left" style="display:block;margin-top:10px;">Buy
              $49 kit in spanish</a>
          </div>
          <div ng-if="session.language == 'es_US'" class="product-action">
            <span class="product-price"><small>Sólo<br></small> $49</span>
            <button type="button" class="btn btn-primary btn-lg" ng-click="updateSku('20499')" analytics-on="click" analytics-event="In-Page Buy $49" analytics-category="Buttons">
              Cómpralo
              <small>(español)</small>
            </button>
            <a href="" ng-click="updateSku('20498')" class="color-red text-left" style="display:block;margin-top:10px;">Compra
              el Kit de $49 en inglés</a>
          </div> -->

          <a href="" class="seemore more-link more-link-alt collapsed" data-toggle="collapse" data-target="#specialkit-details" ng-bind-html="'KIT-DETAILS-TOGGLE' | translate | unsafe"></a>

          <div id="specialkit-details" class="collapse">
            <p ng-bind-html="'OS-KIT-PRODUCT2-DESCRIPTION' | translate | unsafe"></p>
          </div>
        </div>

      </div>
    </div>
  </div>
  </div>

  <!-- OS KIT END-->

  <!-- SHIPPING -->
  <!-- <pre>{{profile}}</pre> -->

  <div class="col-sm-12" ng-if="isOnlineSponsoring || loggedIn()">
  <div class="col-md-offset-3">
    <h1 ng-if="!isOnlineSponsoring && session.client.addresses.length > 0"><span ng-bind-html="'CHOOSE-SHIPPING-ADDRESS' | translate | unsafe"></span></h1>
    <h1 ng-if="isOnlineSponsoring || session.client.addresses.length == 0"><span ng-bind-html="'OS-SHIPPING-TITLE' | translate | unsafe"></span></h1>
  </div>
  <div class="row">
    <div class="col-md-offset-3 col-md-7" ng-if="!isOnlineSponsoring && session.client.addresses.length > 0">
      <div class="checkout-address" ng-repeat="addressData in session.client.addresses">
        <div class="address-block clearfix" ng-class="profile.shipping.id == addressData.id ? 'selectedShipping' : ''">
          <div class="address-info col-md-5">
            <span class="address-name block">{{ addressData.name || (session.client.firstName + " " + session.client.lastName) }}</span>
            <span class="address-street block">{{ addressData.address1 }} {{ addressData.address2 }}</span>
            <span class="address-region block">{{ addressData.city }}, {{ addressData.state }} {{ addressData.zip }}</span>
            <span class="phone-number block">{{ addressData.phone | phone }}</span>
          </div>
          <div class="address-actions col-md-7 text-right">
            <a class="btn btn-link" ng-click="editAddress(addressData)"><i class="fa fa-pencil-square-o"></i>
              <span ng-bind-html="'EDIT' | translate | unsafe"></span></a>
            <a class="btn btn-link" ng-click="removeAddress(addressData.id)"><i class="fa fa-times-circle"></i>
              <span ng-bind-html="'REMOVE' | translate | unsafe"></span></a>
            <button type="button" class="btn btn-primary" ng-disabled="processing" ng-click="selectShippingAddressAndContinue(addressData)">
              <span ng-bind-html="'GEO_CHOOSE' | translate | unsafe"></span>
            </button>
          </div>
        </div>
        
      </div>
      <!-- /address -->
    </div>
  </div>
  <!-- /offset -->

  <div ng-show="!isOnlineSponsoring && session.client.addresses.length > 0" class="col-md-offset-3">
    <a class="addnew" ng-click="showNewShipping()">+ <span ng-bind-html="'ADD-SHIPPING' | translate | unsafe"></span></a>
  </div>
  <ng-include ng-if="isOnlineSponsoring || profile.shipping == null" src="'/partials/checkout/shipping-form-include.html'"></ng-include>

  <div class="col-md-offset-3">
    <hr>
  </div>

  </form>
  </div>

  <div ng-if='!isProduction && !isStaging' class='row'>
    <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6 col-md-offset-3'>
      <h1>{{ 'NOTIFICATIONS-TITLE' | translate }}</h1>
    </div>
    <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6 col-md-offset-3'>
      <div class='form-group'>
        <div class='checkbox'>
          <label>
            <input name='sms' ng-model='profile.notificationPreferences.sms' type='checkbox' tabindex='0' />
            {{ 'NOTIFICATIONS-SMS' | translate }}
          </label>
        </div>
      </div>
      <div class='form-group'>
        <div class='checkbox'>
          <label>
            <input name='email' ng-model='profile.notificationPreferences.email' type='checkbox' tabindex='1' />
            {{ 'NOTIFICATIONS-EMAIL' | translate }}
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-offset-3">
    <hr>
  </div>

  <div class="col-sm-12" ng-if="isOnlineSponsoring || loggedIn()">

  <div class="col-md-offset-3">
    <h1 ng-show="!isOnlineSponsoring && session.client.creditCards.length > 0">
      <span ng-bind-html="'TIT_PAY_OPTION' | translate | unsafe"></span>
      <span class="store-heading-description" ng-bind-html="'PAY_OPTION_DES' | translate | unsafe"></span>
    </h1>

    <h1 ng-show="isOnlineSponsoring ||  session.client.creditCards.length == 0">
      <span ng-bind-html="'ENTER-PAYMENT-INFO' | translate | unsafe"></span>
      <span class="store-heading-description" ng-bind-html="'PAY_OPTION_DES' | translate | unsafe"></span>
    </h1>
  </div>

  <div class="col-md-offset-3" ng-if="!isOnlineSponsoring && session.client.creditCards.length > 0">
    <div class="row">
      <div class="col-xs-6 col-lg-4" ng-repeat="ccData in session.client.creditCards">
        <div class="checkout-card clearfix" ng-class="{active: ((ccData.id == profile.card.id))}">
          <span class="pull-left">{{ccData.name}}</span>
          <img class="pull-right img-responsive cardImg" src="/img/visa.png" ng-show="ccData.cardType=='Visa'">
          <img class="pull-right img-responsive cardImg" src="/img/mastercard.png" ng-show="ccData.cardType=='MasterCard'">
          <img class="pull-right img-responsive cardImg" src="/img/discover.png" ng-show="ccData.cardType=='Discover Card'">
          <img class="pull-right img-responsive cardImg" src="/img/americanexpress.png" ng-show="ccData.cardType=='American Express'">

          <p class="card-number">
            <span>&bull;&bull;&bull;&bull;</span>
            <span>&bull;&bull;&bull;&bull;</span>
            <span>&bull;&bull;&bull;&bull;</span>
            <span>{{ccData.lastFour|substr}}</span>
          </p>

          <p class="card-expiry pull-left">
            <small>EXP:</small>
            {{ccData.expMonth}}/{{ccData.expYear|substr:2:2}}
          </p>
          <button class="btn btn-primary pull-right card-use-btn" ng-disabled="processing" ng-click="selectCardAndContinue(ccData)">
            <span ng-bind-html="'SELECT-OPTION-BUTTON' | translate | unsafe"></span>
            <i class="fa fa-caret-right"></i>
          </button>
        </div>
        <div class="card-actions">
          <a ng-click="removeCreditCard(ccData.id)"><i class="fa fa-times-circle"></i>
            <span ng-bind-html="'Remove' | translate | unsafe"></span></a>
        </div>
      </div>
      <!-- /span -->
    </div>
  </div>


  <div class="row" ng-if="!isOnlineSponsoring && session.client.creditCards.length > 0">

    <div class="col-md-offset-3">
        <a class="addnew" ng-click="showNewPayment()">+ <span ng-bind-html="'ADD-NEW-PAYMENT-METHOD' | translate | unsafe"></span></a>
    </div>
  </div>

  <div class="row" ng-if="isOnlineSponsoring || profile.card.id == null">
    
    <form name="paymentForm" class="form-horizontal" role="form">

      <!-- CARD INFO -->
      <div class="form-group" ng-class="{ 'has-error' : paymentForm.cardName.$invalid && (paymentForm.cardName.$touched || paymentForm.cardName.$dirty) }">
        <label for=" " class="col-md-3 control-label"><span ng-bind-html="'IN_NAME_CARD' | translate |unsafe"></span></label>

        <div class="col-sm-6 col-lg-4">
          <input ng-model="profile.newCard.name" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" ng-pattern="/^[A-Za-z]'?[- a-zA-Z]+$/" ng-minlength="3" name="cardName" type="text" class="form-control" placeholder=" " required tabindex='109' />
          <span ng-show="paymentForm.cardName.$error.minlength && (paymentForm.cardName.$touched || paymentForm.cardName.$dirty)" class="help-block" ng-class="{ 'text-danger' : paymentForm.cardName.$invalid }"><span ng-bind-html="'NAME_ON_CARD_ERR' | translate | unsafe"></span></span>
          <span ng-show="paymentForm.cardName.$invalid && (paymentForm.cardName.$touched || paymentForm.cardName.$dirty)" class="help-block" ng-class="{ 'text-danger' : paymentForm.cardName.$invalid }"><span ng-bind-html="'NAME_ON_CARD_INVALID_ERR' | translate | unsafe"></span></span>
        </div>
      </div>

      <div class="form-group" ng-class="{ 'has-error' : paymentForm.number.$invalid && (paymentForm.number.$touched || paymentForm.number.$dirty) }">
        <label for=" " class="col-md-3 control-label"><span ng-bind-html="'IN_CARD_NUMBER' | translate |unsafe"></span></label>

        <div class="col-sm-6 col-lg-4">
          <input ng-model="profile.newCard.card" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" data-ng-blur="visited=true" ng-minlength="13" ng-maxlength="16" maxlength="16" name="number" type="text" class="form-control" id=" " placeholder=" " data-ui-validate=" 'isValidCard($value)' " required tabindex='110' />
          <span ng-show="visited && (paymentForm.number.$error.minlength || paymentForm.number.$error.validator)" class="help-block" ng-class="{ 'text-danger' : paymentForm.number.$invalid && (paymentForm.number.$touched || paymentForm.number.$dirty) }"><span ng-bind-html="'INVALID-CARD-NUMBER' | translate | unsafe"></span></span>
        </div>
        <div class="col-sm-3 col-lg-4" ng-model="cardType" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" ng-show="!paymentForm.number.$error.minlength && !paymentForm.number.$error.validator">
          <img class="img-responsive cardImg" src="/img/visa.png" ng-show="profile.newCard.cardType=='Visa'">
          <img class="img-responsive cardImg" src="/img/mastercard.png" ng-show="profile.newCard.cardType=='MasterCard'">
          <img class="img-responsive cardImg" src="/img/discover.png" ng-show="profile.newCard.cardType=='Discover Card'">
          <img class="img-responsive cardImg" src="/img/americanexpress.png" ng-show="profile.newCard.cardType=='American Express'">
        </div>
      </div>
      <div class="form-group">
        <label for=" " class="col-md-3 control-label"><span ng-bind-html="'IN_EXPIRATION' | translate | unsafe"></span></label>

        <div class="col-sm-5" ng-class="{ 'has-error' : (invalidExpiration || paymentForm.expMonth.$invalid || paymentForm.expYear.$invalid) && (paymentForm.expMonth.$touched || paymentForm.expMonth.$dirty) && (paymentForm.expYear.$touched || paymentForm.expYear.$dirty) }">
          <div class="row">
            <div class="col-xs-4 col-sm-3 col-med-2">
              <input ng-model="profile.newCard.expMonth" name="expMonth" type="text" class="form-control col-sm-1" ui-mask="99" placeholder="MM" required tabindex='111' />
              <!--valid={{paymentForm.expMonth.$valid}}-->
            </div>
            <div class="col-xs-1">
              <label class="control-label">/</label>
            </div>
            <div class="col-xs-6 col-sm-4 col-med-3">
              <input ng-model="profile.newCard.expYear" name="expYear" type="text" class="form-control col-sm-3" ui-mask="9999" placeholder="{{ 'YEAR-PLACEHOLDER' | translate }}" required tabindex='112' />
              <!--valid={{paymentForm.expYear.$valid}}-->
            </div>
          </div>
          <span ng-show="(invalidExpiration || paymentForm.expMonth.$invalid || paymentForm.expYear.$invalid) && (paymentForm.expMonth.$touched || paymentForm.expMonth.$dirty) && (paymentForm.expYear.$touched || paymentForm.expYear.$dirty)" class="help-block text-danger" ng-bind-html="'INVALID_CC_EXPIRATION' | translate | unsafe"></span>
        </div>
      </div>
      <div class="form-group">
        <label for=" " class="col-md-3 control-label"><span ng-bind-html="'IN_SECURITY_CODE' | translate | unsafe"></span></label>

        <div class="col-sm-5">
          <div class="row">
            <div class="col-xs-4 col-sm-4 col-med-2" ng-class="{ 'has-error' : paymentForm.cvv.$invalid && (paymentForm.cvv.$touched || paymentForm.cvv.$dirty) }">
              <input ng-model="profile.newCard.cvv" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" ng-pattern="/^[0-9]{3,4}$/" ng-minlength="3" ng-maxlength="4" maxlength="4" name="cvv" type="text" class="form-control col-sm-1 hide-arrows" placeholder="&bull;&bull;&bull;" required tabindex='113' />
              <span ng-show="paymentForm.cvv.$invalid && (paymentForm.cvv.$touched || paymentForm.cvv.$dirty)" class="help-block" ng-class="{ 'text-danger' : paymentForm.cvv.$invalid && (paymentForm.cvv.$touched || paymentForm.cvv.$dirty) }" ng-bind-html="'CVV-INVALID' | translate | unsafe"></span>
            </div>
            <div class="col-xs-6 col-sm-4 col-med-3">
              <a popover="{{'CVV-POPOVER-CONTENT' | translate | unsafe}}" popover-title="{{'CVV-POPOVER-TITLE' | translate | unsafe}}" popover-trigger="hover" href="" tabindex="-1"><i class="fa fa-info-circle"></i>
                <span ng-bind-html="'WHATS-THIS' | translate | unsafe"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <!-- BILLING -->
  <div class="cardAddressWrapper" ng-if="profile.billSame==false">

    <div class="col-md-offset-3">
      <h1 ng-if="!isOnlineSponsoring && session.client.addresses.length > 0">
      <span ng-bind-html="'OS-BILLING-TITLE' | translate | unsafe"></span></h1>
      <h1 ng-if="isOnlineSponsoring || session.client.addresses.length == 0">
        <span ng-bind-html="'OS-BILLING-TITLE' | translate | unsafe"></span>
      </h1>
    </div>
    <div class="row">
      <div class="col-md-offset-3 col-md-7" ng-if="!isOnlineSponsoring && session.client.addresses.length > 0">
        <div class="checkout-address" ng-repeat="addressData in session.client.addresses">
          <div class="address-block" ng-class="profile.billing.id == addressData.id ? 'selectedShipping' : ''">
            <div class="address-info col-md-5">
              <span class="address-name block">{{ addressData.name || (session.client.firstName + " " + session.client.lastName) }}</span>
              <span class="address-street block">{{ addressData.address1 }} {{ addressData.address2 }}</span>
              <span class="address-region block">{{ addressData.city }}, {{ addressData.state }} {{ addressData.zip }}</span>
              <span class="phone-number block">{{ addressData.phone | phone }}</span>
            </div>
            <div class="address-actions col-md-7 text-right">
              <a class="btn btn-link" ng-click="editAddress(addressData)"><i class="fa fa-pencil-square-o"></i>
                <span ng-bind-html="'EDIT' | translate | unsafe"></span></a>
              <a class="btn btn-link" ng-click="removeAddress(addressData.id)"><i class="fa fa-times-circle"></i>
                <span ng-bind-html="'REMOVE' | translate | unsafe"></span></a>
              <button type="button" class="btn btn-primary" ng-disabled="processing" ng-click="selectBillingAddressAndContinue(addressData)">
                <span ng-bind-html="'BTN_BILL_ADD' | translate | unsafe"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    
    </div>
    <!-- /offset -->

  <div ng-if="isOnlineSponsoring || profile.billing == null">

    <div class="row form-group" ng-if="!isOnlineSponsoring">
      <label for="billingFullName" class="col-md-3 control-label"><span ng-bind-html="'IN_FULL_NAME' | translate | unsafe"></span></label>

      <div class="col-sm-8 col-lg-6">
        <input id="billingFullName" name="name" ng-model="profile.newBillingAddress.name" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" type="text" class="form-control" placeholder="{{ namePlaceholder }}" />
      </div>
    </div>

    <div class="row form-group" ng-if="isOnlineSponsoring">
      <label for="billingBusinessCO" class="col-md-3 control-label"><span ng-bind-html="'IN_BUSINESS_CO' | translate | unsafe"></span></label>
      <div class="col-sm-8 col-lg-6">
        <input id="billingBusinessCO" name="name" ng-model="profile.newBillingAddress.businessCO" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" type="text" class="form-control" placeholder="Business Name, c/o Someone, etc." autocomplete='off' ui-keydown="{ 'tab':'blurCompanyField($event)' }" />
      </div>
    </div>

    <div class="row form-group">
      <label for="billingAddress1" class="col-md-3 control-label"><span ng-bind-html="'IN_ADD_LINE1' | translate | unsafe"></span></label>

      <div class="col-sm-8 col-lg-6">
        <input name="address1" ng-model="profile.newBillingAddress.address1" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" ng-maxlength="40" maxlength="40" type="text" class="form-control" id="billingAddress1" placeholder="{{ 'IN_ADD_LINE1_DES' | translate }}" required tabindex='114' />
      </div>
    </div>

    <div class="row form-group">
      <label for="billingAddress2" class="col-md-3 control-label"><span ng-bind-html="'IN_ADD_LINE2' | translate | unsafe"></span></label>

      <div class="col-sm-8 col-lg-6">
        <input name="address2" ng-model="profile.newBillingAddress.address2" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" ng-maxlength="40" maxlength="40" type="text" class="form-control" id="billingAddress2" placeholder="{{ 'IN_ADD_LINE2_DES' | translate }} " tabindex='115' />
      </div>
    </div>

    <div class="row form-group">
      <label for="billingCity" class="col-md-3 control-label"><span ng-bind-html="'IN_CITY' | translate | unsafe"></span></label>

      <div class="col-sm-7 col-lg-5">
        <input name="city" ng-model="profile.newBillingAddress.city" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" type="text" class="form-control" id="billingCity" placeholder=" " required tabindex='116' />
      </div>
    </div>

    <div class="row form-group">
      <label for="billingStateProvinceRegion" class="col-md-3 control-label"><span ng-bind-html="'IN_STATE' | translate | unsafe"></span></label>
      <!-- TO-DO: Fix CSS width of form control -->
      <div class="col-sm-5 col-lg-3">
        <div class="">
          <select id="billingStateProvinceRegion" name="state" ng-model="profile.newBillingAddress.state" class="form-control" tabindex='117'>
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
            <option value="CO">Colorado</option>
            <option value="CT">Connecticut</option>
            <option value="DE">Delaware</option>
            <option value="DC">District Of Columbia</option>
            <option value="FL">Florida</option>
            <option value="GA">Georgia</option>
            <option value="HI">Hawaii</option>
            <option value="ID">Idaho</option>
            <option value="IL">Illinois</option>
            <option value="IN">Indiana</option>
            <option value="IA">Iowa</option>
            <option value="KS">Kansas</option>
            <option value="KY">Kentucky</option>
            <option value="LA">Louisiana</option>
            <option value="ME">Maine</option>
            <option value="MD">Maryland</option>
            <option value="MA">Massachusetts</option>
            <option value="MI">Michigan</option>
            <option value="MN">Minnesota</option>
            <option value="MS">Mississippi</option>
            <option value="MO">Missouri</option>
            <option value="MT">Montana</option>
            <option value="NE">Nebraska</option>
            <option value="NV">Nevada</option>
            <option value="NH">New Hampshire</option>
            <option value="NJ">New Jersey</option>
            <option value="NM">New Mexico</option>
            <option value="NY">New York</option>
            <option value="NC">North Carolina</option>
            <option value="ND">North Dakota</option>
            <option value="OH">Ohio</option>
            <option value="OK">Oklahoma</option>
            <option value="OR">Oregon</option>
            <option value="PA">Pennsylvania</option>
            <option value="PR">Puerto Rico</option>
            <option value="RI">Rhode Island</option>
            <option value="SC">South Carolina</option>
            <option value="SD">South Dakota</option>
            <option value="TN">Tennessee</option>
            <option value="TX">Texas</option>
            <option value="UT">Utah</option>
            <option value="VT">Vermont</option>
            <option value="VI">Virgin Islands</option>
            <option value="VA">Virginia</option>
            <option value="WA">Washington</option>
            <option value="WV">West Virginia</option>
            <option value="WI">Wisconsin</option>
            <option value="WY">Wyoming</option>
          </select>
        </div>

        <!-- Removed for now to add the Select tag for 50 states -->
        <!--input id="shippingStateProvinceRegion" name="stateProvinceRegion" ng-model="profile.newShippingAddress.stateProvinceRegion" type="text" class="form-control" placeholder=" " required-->
      </div>
      <!--div class="col-sm-6 col-lg-4">
        <input name="billingProvinceRegion" ng-model="profile.newBillingAddress.stateProvinceRegion" type="text" class="form-control" id="billingStateProvinceRegion" placeholder=" " required>
      </div-->
    </div>

    <div class="row form-group">
      <label for="billingZipPostalCode" class="col-md-3 control-label"><span ng-bind-html="'IN_ZIP' | translate | unsafe"></span></label>

      <div class="col-sm-5 col-lg-3">
        <input name="billingzipPostalCode" ng-model="profile.newBillingAddress.zip" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" type="text" class="form-control" id="billingZipPostalCode" placeholder=" " required tabindex='118' />
      </div>
    </div>

    <div class="row form-group">
      <label for="billingCountry" class="col-md-3 control-label"><span ng-bind-html="'IN_COUNTRY' | translate | unsafe"></span></label>

      <div class="col-sm-5 col-lg-3">
        <select id="billingCountry" name="billingCountry" data-ng-init="profile.newBillingAddress.country='US'" ng-model="profile.newBillingAddress.country" class="form-control" tabindex='119'>
          <option ng-selected="true" value="US" ng-bind-html="'COUNTRY-US' | translate | unsafe"></option>
        </select>
      </div>
    </div>

    <div class="row form-group" ng-if="!isOnlineSponsoring" ng-class="{ 'has-error' : paymentForm.phoneNumber.$invalid && (paymentForm.phoneNumber.$touched || paymentForm.phoneNumber.$dirty) }">
      <label for="billingPhoneNumber" class="col-md-3 control-label"><span ng-bind-html="'PHONE-NUMBER' | translate | unsafe"></span></label>

      <div class="col-sm-6 col-lg-4">
        <input id="billingPhoneNumber" name="phoneNumber" ng-model="profile.newBillingAddress.phone" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" type="text" ui-mask="(999) 999-9999" placeholder="(xxx) xxx-xxxx" class="form-control" tabindex='120' />
        <span ng-show="paymentForm.phoneNumber.$error.pattern" class="help-block" ng-class="{ 'text-danger' : paymentForm.phoneNumber.$invalid && (paymentForm.phoneNumber.$touched || paymentForm.phoneNumber.$dirty) }"><span ng-bind-html="'PHONE-NUMBER-WRONG' | translate | unsafe"></span></span>
      </div>
      <a popover="{{'PHONE-NUMBER-DES' | translate | unsafe}}" popover-title="{{'PHONE-NUMBER' | translate | unsafe}}" href="" class="form-info-link"><i class="fa fa-info-circle"></i>
        <span ng-bind-html="'MORE-INFO' | translate | unsafe"></span>
      </a>
    </div>
  </div>

  </div>

  <!-- BILLING SAME -->
  <div class="row">
    <div class="form-group">
      <div class="col-md-offset-3 col-sm-9">
        <div class="checkbox">
          <label>
            <input name="billSame" data-ng-init="profile.billSame=true" ng-model="profile.billSame" ng-change="billSameChanged(profile.billSame)" type="checkbox" tabindex="-2" checked="checked">
            <span ng-bind-html="'IN_BILL_SHIP_SAME' | translate | unsafe"></span>
            <!--valid={{paymentForm.billSame.$valid}}-->
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <div class="col-md-offset-3 col-sm-9">
        <button type="button" ng-disabled="isOnlineSponsoring && (profile.ssn == null || parentForm.$invalid)" ng-click="validateStartAndReview(profile.loginEmail)" class="btn btn-primary btn-lg" ng-class="{ 'processing' : processing }">
          <!-- <span ng-bind-html="'BTN_SAVE_PAYMENT' | translate | unsafe"></span> &nbsp;<i class="fa fa-caret-right"></i> -->
          <!-- (!forms.shippingForm.$valid || processing) -->
          <span ng-bind-html="'BTN_CONTINUE' | translate | unsafe">CONTINUE</span> &nbsp;<i class="fa fa-caret-right"></i>
        </button>
      </div>
    </div>
  </div>
  <!-- <pre>{{profile}}</pre> -->
  </div><!--/span-->

</ng-form>

</div> <!-- end style override wrapper for streamlined checkout -->
