<div id="signin" class="col-sm-12">

  <div class="col-md-offset-3">
    <h1 class="checkouth1" ng-if="profile.customerStatus == 'existing' && !isOnlineSponsoring">Sign in</h1>
    <h1 class="checkouth1" ng-if="profile.customerStatus == 'new' && !isOnlineSponsoring">Create an Account</h1>
    <h1 class="checkouth1" ng-if="isOnlineSponsoring">
      {{ 'OS-START-TITLE' | translate }}
      <span class="store-heading-description">
        {{ 'OS-START-TAG' | translate }}
      </span>
    </h1>
    <div class="row">
      <div class="col-sm-6">
        <div ng-if="loginError" class="alert alert-danger" role="alert">Invalid username or password. Please Try again.</div>
        <div ng-if="emailError" class="alert alert-danger" role="alert">Invalid email address.</div>
      </div>
    </div>
  </div>
  <!--valid={{signInForm.$valid}}-->
  <form name="signInForm" class="form-horizontal" role="form">

    <div class="form-group" ng-if="profile.customerStatus == 'new' || isOnlineSponsoring">
      <label for="firstName" class="col-md-3 control-label">{{ 'OS-NAME' | translate }}</label>
      <div class="col-sm-3" ng-class="{ 'has-error' : signInForm.firstName.$invalid && !signInForm.firstName.$pristine }">
        <input name="firstName" ng-pattern="/^[A-Za-z]'?[- a-zA-Z]+$/" ng-model="profile.firstName" class="form-control" id="firstName" placeholder="First" required="isOnlineSponsoring" autofocus="" maxlength="40">
        <span ng-show="signInForm.firstName.$invalid && !signInForm.firstName.$pristine" class="help-block" ng-class="{ 'text-danger' : signInForm.firstName.$invalid }">Must contain 2-40 letters.</span>
        <!--valid={{signInForm.firstName.$valid}}-->
      </div>
      <div class="col-sm-3" ng-class="{ 'has-error' : signInForm.lastName.$invalid && !signInForm.lastName.$pristine }">
        <input name="lastName" ng-pattern="/^[A-Za-z]'?[- a-zA-Z]+$/" ng-model="profile.lastName" class="form-control" id="lastName" placeholder="Last" required="isOnlineSponsoring" maxlength="40">
        <span ng-show="signInForm.lastName.$invalid && !signInForm.lastName.$pristine" class="help-block" ng-class="{ 'text-danger' : signInForm.lastName.$invalid }">Must contain 2-40 letters.</span>
        <!--valid={{signInForm.lastName.$valid}}-->
      </div>
    </div>

    <div class="form-group">
      <label for="loginEmail" class="col-md-3 control-label">{{ 'EMAIL_ADD' | translate }}</label>
      <div class="col-sm-6" ng-class="{ 'has-error' : signInForm.loginEmail.$invalid && !signInForm.loginEmail.$pristine }">
        <input name="loginEmail" ng-pattern="/[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/" ng-model="profile.loginEmail" type="email" class="form-control" id="loginEmail" placeholder="example@gmail.com" required>
        <span ng-show="signInForm.loginEmail.$invalid && !signInForm.loginEmail.$pristine" class="help-block" ng-class="{ 'text-danger' : signInForm.loginEmail.$invalid }">Must be a valid email address.</span>
        <!--valid={{signInForm.loginEmail.$valid}}-->
      </div>
    </div>

    <div class="form-group" ng-if="isOnlineSponsoring">
      <label for="phoneNumber" class="col-md-3 control-label">{{ 'IN_PHONE' | translate }}</label>
      <div class="col-sm-3">
        <input name="phoneNumber" type="tel" ui-mask="(999) 999-9999" ng-model="profile.phoneNumber" class="form-control" id="phoneNumber" placeholder="(___) ___-____" required>
        <!--valid={{signInForm.phoneNumber.$valid}}-->
      </div>
    </div>

    <div class="form-group" ng-if="!isOnlineSponsoring">
      <label for="inputPassword3" class="col-md-3 control-label">Password</label>
      <div class="col-sm-4">
        <input name="loginPassword" ng-model="profile.loginPassword" type="password" class="form-control" id="inputPassword3" placeholder="Password" required>
        <!--valid={{signInForm.loginPassword.$valid}}-->
      </div>
    </div>
    <!--valid={{signInForm.customerStatus.$valid}}-->

    <div class="form-group">
      <div class="col-md-offset-3 col-sm-9">
        <div class="row"><div class="col-sm-8"><hr></div></div>
        <p><small ng-bind-html="'OS-START-PRIVACY-AGREE' | translate | unsafe"></small></p>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <button ng-if="profile.customerStatus == 'existing' && !isOnlineSponsoring" type="button" class="btn btn-primary btn-lg" ng-click="loginOrCreateUser()" ng-disabled="!signInForm.$valid">Sign In &nbsp;<i class="fa fa-caret-right"></i></button>
          <button ng-if="profile.customerStatus == 'new' && !isOnlineSponsoring" type="button" class="btn btn-primary btn-lg" ng-click="loginOrCreateUser()" ng-disabled="!signInForm.$valid">Create Account &nbsp;<i class="fa fa-caret-right"></i></button>
          <button ng-if="isOnlineSponsoring" type="button" class="btn btn-primary btn-lg" ng-click="validateEmailAndContinue(profile.loginEmail)" ng-disabled="!signInForm.$valid">{{ 'BTN_CONTINUE' | translate }} &nbsp;<i class="fa fa-caret-right"></i></button>
        </div>
      </div>
    </div>

    <div class="form-group" ng-if="!isOnlineSponsoring">
      <div class="col-md-offset-3 col-sm-9">
        <div class="row"><div class="col-sm-6"><hr></div></div>
        <p><a ng-href="{{APP_BASE_URL}}/checkout?step=Shipping">Checkout as guest</a></p>
        <p ng-if="profile.customerStatus == 'existing'"><a href="" onclick="$('#forgot').css('display','block'); $('#signin').css('display','none');">I forgot my password</a></p>
        <p><br><p>
        <p ng-if="profile.customerStatus == 'new'">Already a customer? <a href="" ng-click="profile.customerStatus = 'existing'">Sign In</a>.</p>
        <p ng-if="profile.customerStatus == 'existing'">Not yet a customer? <a href="" ng-click="profile.customerStatus = 'new'">Create Account</a>.</p>
      </div>
    </div>
  </form>
</div><!--/span-->

<div id="forgot" class="col-sm-12" style="display: none;" ng-if="!isOnlineSponsoring">

  <div class="col-md-offset-3">
    <h1 class="checkouth1">Forgot Your Password</h1>
  </div>
  <!--valid={{signInForm.$valid}}-->
  <form name="forgotPassword" class="form-horizontal" role="form">
    <div class="form-group">
      <label for="inputEmail3" class="col-md-3 control-label">Email Address</label>
      <div class="col-sm-6">
        <input name="loginEmail2" ng-model="loginEmail2" type="email" class="form-control" id="inputEmail3" placeholder="Email" required>
        <!--valid={{signInForm.loginEmail.$valid}}-->
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-3 col-sm-9">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <button type="button" class="btn btn-primary btn-lg" onclick="$('#forgot').css('display','none'); $('#thanks').css('display','block')" ng-disabled="!forgotPassword.$valid">Reset Password &nbsp;<i class="fa fa-caret-right"></i></button>

        </div>
      </div>
    </div>
  </form>
</div><!--/span-->

<div id="thanks" class="col-sm-12" style="display: none;">

  <div class="col-md-offset-3">
    <h1 class="checkouth1">Thank You!</h1>
  </div>
  <!--valid={{signInForm.$valid}}-->
  <form name="" class="form-horizontal" role="form">


    <!--            <div class="form-group">
                  <label for="inputPassword3" class="col-md-3 control-label">Password</label>
                  <div class="col-sm-4">
                    <input name="loginPassword" ng-model="loginPassword" type="password" class="form-control" id="inputPassword3" placeholder="Password" required>
                  </div>
                </div>-->

    <div class="form-group">
      <div class="col-md-offset-3 col-sm-9">
        <p>Please check your email and click on the link.</p>
        <div class="row"><div class="col-sm-6"><hr></div></div>
        <p><a href="">Resend Email</a></p>
        <p><a href="" onclick="$('#resetpass').css('display','block'); $('#thanks').css('display','none');">Reset password form (prototype only)</a></p>
        <p><a ng-href="{{STORE_BASE_URL}}/cart">Back to cart</a></p>
      </div>
    </div>
  </form>
</div><!--/span-->

<div id="resetpass" class="col-sm-12" style="display: none;">

  <div class="col-md-offset-3">
    <h1 class="checkouth1">Reset Password</h1>
  </div>
  <!--valid={{signInForm.$valid}}-->
  <form name="resetPassword" class="form-horizontal" role="form">
    <div class="form-group">
      <label for="newPassword" class="col-md-3 control-label">New Password</label>
      <div class="col-sm-4">
        <input name="newPassword" ng-model="newPassword" pw-check="newpassword2" type="password" class="form-control" id="newPassword" placeholder="Password" required>
      </div>
    </div>

    <div class="form-group">
      <label for="newPassword2" class="col-md-3 control-label">Confirm New Password</label>
      <div class="col-sm-4">
        <input name="newPassword2" ng-model="newPassword2" ng-change="checkoutUpdated();" type="password" class="form-control" id="newPassword2" placeholder="Confirm Password" required>
      </div>
      <span class="error" ng-show="resetPassword.password.$error.pwmatch"> Passwords don't match. </span>
    </div>

    <div class="form-group">
      <div class="col-md-offset-3 col-sm-9">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <button type="button" class="btn btn-primary btn-lg" onclick="$('#resetpass').css('display','none');$('#signin').css('display','block')" ng-disabled="!resetPassword.$valid">Reset Password &nbsp;<i class="fa fa-caret-right"></i></button>

        </div>
      </div>
    </div>
  </form>
</div><!--/span-->
