.navbar-brand {
  height: 50px;
}

/* custom fonts */

.HelveticaNeueLTStd-Th { 
  font-family: HelveticaNeueLTStd-Th;
  font-weight: normal;
  font-style: normal;
}
.HelveticaNeueLTStd-Md { 
  font-family: HelveticaNeueLTStd-Md;
  font-weight: normal;
  font-style: normal;
}
.DidotLTPro-Roman { 
  font-family: DidotLTPro-Roman;
  font-weight: normal;
  font-style: normal;
}
.DidotLTPro-Italic { 
  font-family: DidotLTPro-Italic;
  font-weight: normal;
  font-style: normal;
}
.HelveticaNeueLTStd-BdCn { 
  font-family: HelveticaNeueLTStd-BdCn;
  font-weight: normal;
  font-style: normal;
}

/* end custom fonts */


html,body {
  height: 100%;
}
body {
  padding-top: 50px;
  padding-bottom: 20px;
  position: relative; /* needed for scrollspy */
}
body.landing-page {
  font-size: 16px;
  line-height: 1.2;
}

a.watch-video-link{
  color: #877650;
  float: right;
  font-weight: bold;
}
a.watch-video-link:hover {
  color: #b51a8a;
  text-decoration: none;
}

a.watch-video-link span.glyphicon-play {
color: #482365;
}

.btn {
/*font-size: 1.2em;
padding: 0.5em 1.5em;*/
background: #c52033;
/*opacity: 0.7;*/
text-transform: uppercase;
font-weight: bold;
/*letter-spacing: 0.2em;*/
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: DidotLTPro-Roman, serif;
  font-weight: 400;
  color: #2a2a2a;
}
#content {
  background-color: #ededed;
  width: 100%;
}
.contact-description{
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.faqs-item .faqs-item-question a{
  color: 
  line-height: 0.5;
}
.footer-links{
  background-color: rgb(131,104,137);;
  padding: 2em;
}
.footer-links a {
  font-size: 18px;
  color: #fff;
}
/*this is to allow Placeholder text fade to lighter shade of grey text when input box is selected */
input:focus::-webkit-input-placeholder {
    color: #e1e1e1;
}
/* Firefox < 19 */
input:focus:-moz-placeholder {
    color: #e1e1e1;
}
/* Firefox > 19 */
input:focus::-moz-placeholder {
    color: #e1e1e1;
}
/* Internet Explorer 10 */
input:focus:-ms-input-placeholder {
    color: #e1e1e1;
}

#logo img {
  max-width: 70px;
}
.navbar-default .navbar-nav>li>a {
  color:#fff;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
color: #fff;
border-radius: 0px;
background-color: #c52033;
}
.navbar-joinstyle {
background-color: #1cc3d6;
border-radius: 0px;
}


.well {
  background-color: #f5f5f5;
}
.product-highlighter {
  border: 5px solid #AA7F9E;
  position: relative;
  background-color: #E9E8E9;
}
#pagenav {
  margin-bottom: 0;
  background: none;
  border-bottom: 1px solid #53366C;
  margin-top: -50px;
  background: #53366C;
}

#pagenav.affix {
  position: fixed;
  top: 0;
  width: 100%;
  margin-top: 0;
  z-index: 100;
}
#pagenav .navbar-default .navbar-nav>.active>a, 
#pagenav .navbar-default .navbar-nav>.active>a:hover, 
#pagenav .navbar-default .navbar-nav>.active>a:focus {
  background: none;
}
.jumbotron {
/*  padding-top: 20vh;
  padding-bottom: 20vh;*/
  background: url(/img/model_2.jpg);/*url(/img/herobg-1920x1080.jpg);*/
  background-size: cover;
  background-position: 40% top;
}
@media (min-width:768px) {
    .jumbotron {
        padding-top: 60px;
        padding-bottom: 60px;
    };
}

@media (min-width:992px) {
    .jumbotron {
        padding-top: 100px;
        padding-bottom: 100px;
    };
}

@media (min-width:1200px) {
    .jumbotron {
        padding-top: 180px;
        padding-bottom: 180px;
    };
}
.jumbotron .btn {
  font-size: 1.2em;
}
#jumbo-title{
background: rgba(255, 255, 255, 0.3);
line-height: 0.8;
}
#jumbo-description {
background: rgba(72, 35, 101, 0.5);
color: #fff;
font-family: myriad pro;
padding: 20px;
}
.jumbo-videobg {
  background: none;
  height: 100%;
}

/*section#why_jafra_products, section#why_jafra_lifestyle, section#why_jafra_rewards, section#why_jafra_testimonials, section#royal_starter_kit, section#skincare_starter_kit, section#faqs{
  background-color: #fff;
  margin-right: 0px;
  margin-left: 0px;
}*/

.subcontainer, .subsection {
  background: #fff;
}
.subcontainer {
  position: relative;
}
.subcontainer:before {
  content:" ";
  display: block;
  position: absolute;
  bottom: -18px;
  width: 120%;
  height: 18px;
  left: -10%;
  background: -webkit-radial-gradient(50% -3%, ellipse cover, rgba(00, 00, 00, 0.25), rgba(97, 97, 97, 0.0) 40%);
  background:      radial-gradient(ellipse at 50% -3%, rgba(00, 00, 00, 0.25), rgba(97, 97, 97, 0.0) 40%);
}

section#why_jafra_products {
  background: #e0dbcf;
}

section#why_jafra_lifestyle {
  background: #cac0d3;
}

section#why_jafra_rewards {
  background: #faebe6;
}

section#why_jafra_testimonials {
  /*background: #ededed; -- body background color -- */
}

section h3.hero-header-title {
font-size: 4.5em;
font-family: HelveticaNeueLTStd-BdCn;
font-weight: normal;
font-style: normal;
line-height: 0.9;
color: #8B7B5B;
}

section h3.hero-header-title span.serif-title {
font-family: DidotLTPro-Italic;
font-weight: normal;
font-style: normal;
color: #482365;
}

.testimonial .media-heading {
margin: 8px 0 5px;
}
/* more links */
.more-link, .more-link.collapsed {
  color: #877650;
  font-family: HelveticaNeueLTStd-Md;
  font-size: 13px;
  display: inline-block;
  position: relative;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  margin-top: 50px;
}
.more-link:hover, .more-link:active, a.collapsed  {
  color: #b51a8a;
  text-decoration: none;
}
.more-link:after {
  content: " ";
  display: block;
  position: absolute;
  z-index: 9999;
  top: -26px;
  right: -38px;
  width: 33px;
  height: 33px;
  background: url(/img/plus-icon2x.png);
  background-size: 100% 100%;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.more-link:after, .more-link:active:after {
  -moz-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.more-link.collapsed:after {
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.social-media-icons a  i.fa{
  color: #333;
}

span#live {
  color: #6A5077;
  font-size: 102px; /*TODO: to later refactor to mobile/tablet sizes*/
}
span#thelife {
color: #A08B6A;
}
span#you {
  color: #A08B6A;
line-height: 0.8;
}
span#imagine {
  color: #6B517C;
font-size: 75px;
line-height: 0.8;
}

.starter_kits-price{
  font-family: DidotLTPro-Roman;
  font-weight: normal;
  font-style: normal;
  font-size: 10em;
  color: #53366C;
line-height: 0.8em;
}
.starter_kits-label_title{
  font-family: HelveticaNeueLTStd-BdCn;
  font-weight: normal;
  font-style: normal;
font-size: 2.65em;
color: #58585A;
line-height: 0.8em;
}
.starter_kits-retail_value{
  font-family: DidotLTPro-Italic;
  font-weight: normal;
  font-style: normal;
font-size: 2em;
color: #C32337;
line-height: 0.8em;
}

.agreement-content {
  border: 1px solid #f5f5f5;
  box-shadow: inset 0 0 15px 0 rgba(0,0,0,.2);
  padding: 20px;
  max-height: 400px;
  overflow: scroll;
}
.why-section-title{
  text-align: center;
  font-family: DidotLTPro-Roman;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  font-size: 64px;
  color: #482365;
}
/* join jafra page nav styles */ 
.join_nav  > li > a
{
	text-shadow:none; 
	margin:5px; 
	border-radius: 0px;
	padding: 5px 16px;
}

.join_nav  > li > a:hover , .join_nav  > li > a:focus
{
	background-color:#c52033 !important; 
	color:#fff !important;
} 
.navbar-language > li > a
{
	text-shadow:none; 
	margin:5px;
	border-radius: 0px; 
	
}
.navbar-language > li > a:hover , .navbar-language > li > a:hover
{
	text-shadow:none; 
	margin:5px;
	border-radius: 0px; 
	background-color:#c52033 !important; 
	color:#fff !important;
}
.navbar-language  .dropdown-menu > li > a
{
	color: #aa73b1 !important;
}

