.navbar-brand {
  height: 50px;
}

/* custom fonts */

.HelveticaNeueLTStd-Th { 
  font-family: HelveticaNeueLTStd-Th;
  font-weight: normal;
  font-style: normal;
}
.HelveticaNeueLTStd-Md { 
  font-family: HelveticaNeueLTStd-Md;
  font-weight: normal;
  font-style: normal;
}
.DidotLTPro-Roman { 
  font-family: DidotLTPro-Roman;
  font-weight: normal;
  font-style: normal;
}
.DidotLTPro-Italic { 
  font-family: DidotLTPro-Italic;
  font-weight: normal;
  font-style: normal;
}
.HelveticaNeueLTStd-BdCn { 
  font-family: HelveticaNeueLTStd-BdCn;
  font-weight: normal;
  font-style: normal;
}

/* end custom fonts */


html,body {
  height: 100%;
}
body {
  padding-top: 50px;
  position: relative; /* needed for scrollspy */
}
body.landing-page {
  font-size: 16px;
  line-height: 1.2;
}

body.join .nav .open>a.language_dropdown, .nav .open>a.language_dropdown:hover, .nav .open>a.language_dropdown:focus {
background-color: #c52033;
border-color: #c52033;
}
a.watch-video-link{
  color: #877650;
  float: right;
  font-weight: bold;
}
a.watch-video-link:hover {
  color: #b51a8a;
  text-decoration: none;
}

a.watch-video-link span.glyphicon-play {
color: #482365;
}

.btn {
/*font-size: 1.2em;
padding: 0.5em 1.5em;*/
background: #c52033;
/*opacity: 0.7;*/
text-transform: uppercase;
font-weight: normal;/*bold;*/
/*letter-spacing: 0.2em;*/
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: DidotLTPro-Roman, serif;
  font-weight: 400;
  color: #482365;
}
#content {
  background-color: #ededed;
  width: 100%;
}
.contact-description{
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.footer-links{
  background-color: rgb(131,104,137);;
  padding: 2em;
}
.footer-links a {
  font-size: 18px;
  color: #fff;
}
/*this is to allow Placeholder text fade to lighter shade of grey text when input box is selected */
input:focus::-webkit-input-placeholder {
    color: #e1e1e1;
}
/* Firefox < 19 */
input:focus:-moz-placeholder {
    color: #e1e1e1;
}
/* Firefox > 19 */
input:focus::-moz-placeholder {
    color: #e1e1e1;
}
/* Internet Explorer 10 */
input:focus:-ms-input-placeholder {
    color: #e1e1e1;
}

#logo img {
  max-width: 70px;
}
ul.modal_lists {
list-style-type: none;
padding-left: 0px;
}
.navbar-default .navbar-nav>li>a {
  color:#fff;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
color: #fff;
border-radius: 0px;
background-color: #c52033;
}
.navbar-joinstyle {
background-color: #1cc3d6;
border-radius: 0px;
}
.navbar-toggle,
.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus,
.navbar-nav>li.active>a {
  margin-right: 15px;
}
.navbar-toggle,
.navbar-toggle:hover,
.navbar-toggle:focus {
  background: transparent;
  border: none;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}


.well {
  background:none;
  border:none;
  box-shadow:none;
}

.thanks-well {min-height: 20px;
padding: 19px;
margin-bottom: 20px;
background-color: #f5f5f5;
border: 1px solid #e3e3e3;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
.product-action {
/*margin-top: 1.5em;*/
}
.product-highlighter {
  border: 5px solid #AA7F9E;
  position: relative;
  background-color: #E9E8E9;
}
#pagenav {
  margin-bottom: 0;
  background: none;
  border-bottom: 1px solid #53366C;
  margin-top: -50px;
  background: #53366C;
}

#pagenav.affix {
  position: fixed;
  top: 0;
  width: 100%;
  margin-top: 0;
  z-index: 100;
}
#pagenav .navbar-default .navbar-nav>.active>a, 
#pagenav .navbar-default .navbar-nav>.active>a:hover, 
#pagenav .navbar-default .navbar-nav>.active>a:focus {
  background: none;
}
.jumbotron {
/*  padding-top: 20vh;
  padding-bottom: 20vh;*/
  background: #fff url(/img/model_2.jpg);/*url(/img/herobg-1920x1080.jpg);*/
  background-size: cover;
  background-position: 40% top;
}
.jumbotron .btn {
  font-size: 1.2em;
  background-blend-mode: multiply;
}
.jumbo-title{
background: rgba(255, 255, 255, 0.3);
line-height: 0.8;
}
.jumbo-description {
background: rgba(72, 35, 101, 0.5);
color: #fff;
/*font-family: HelveticaNeueLTStd-Th;*/
padding: 20px;
background-blend-mode: multiply;
}
.jumbo-title-span-1 {
  color: #6A5077;
  font-size: 102px; 
}
.jumbo-title-span-2 {
  color: #A08B6A;
}
.jumbo-title-span-3 {
  color: #A08B6A;
  line-height: 0.8;
}
.jumbo-title-span-4 {
  color: #6B517C;
  font-size: 75px;
  line-height: 0.8;
}
.jumbo-videobg {
  background: none;
  height: 100%;
}

/*section#why_jafra_products, section#why_jafra_lifestyle, section#why_jafra_rewards, section#why_jafra_testimonials, section#royal_starter_kit, section#skincare_starter_kit, section#faqs{
  background-color: #fff;
  margin-right: 0px;
  margin-left: 0px;
}*/

.subsection {
  margin-bottom: 55px;
}

.subcontainer, .subsection {
  background: #fff;
}
.subcontainer {
  position: relative;
}
.subcontainer:before {
  content:" ";
  display: block;
  position: absolute;
  bottom: -18px;
  width: 120%;
  height: 18px;
  left: -10%;
  background: -webkit-radial-gradient(50% -3%, ellipse cover, rgba(00, 00, 00, 0.25), rgba(97, 97, 97, 0.0) 40%);
  background:      radial-gradient(ellipse at 50% -3%, rgba(00, 00, 00, 0.25), rgba(97, 97, 97, 0.0) 40%);
}
.subcontainer .row {
  margin-left: -30px;
  margin-right: -30px;
}

.section-copy {
  padding: 0 15px 30px 30px;
}

section#why_jafra_products {
  background: #e0dbcf;
}

section#why_jafra_lifestyle {
  background: #cac0d3;
}

section#why_jafra_rewards {
  background: #faebe6;
}

section#why_jafra_testimonials {
  background: transparent;  /* -- body background color -- */
}

section h3.hero-header-title {
font-size: 81px;
font-family: HelveticaNeueLTStd-BdCn;
font-weight: normal;
font-style: normal;
line-height: 0.9;
color: #8B7B5B;
letter-spacing: 0.0589em;
}

section h3.hero-header-title span.serif-title, span.serif-title-alt {
font-size: 55px;
font-family: DidotLTPro-Italic;
font-weight: normal;
font-style: normal;
color: #482365;
letter-spacing: normal;
}

span.serif-title-alt {
  color: #8B7B5B;
  font-size: 42px;
  display: block;
  line-height: 44px;
}
.testimonials {
  width: 80%;
}
.testimonial {
  padding: 0 40px 40px;
}
.testimonial .media-heading {
margin: 8px 0 5px;
}
/* more links */
.more-link, .more-link.collapsed {
  display: inline-block;
  position: relative;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  margin-top: 50px;
  margin-right: 50px;
}
.more-link span {
  color: #877650;
  /*font-family: HelveticaNeueLTStd-Md;
  font-size: 13px;*/
}
.more-link:hover, .more-link:active, a.collapsed  {
  color: #b51a8a;
  text-decoration: none;
}
.more-link:after {
  content: " ";
  display: block;
  position: absolute;
  z-index: 99;
  top: -26px;
  right: -38px;
  width: 33px;
  height: 33px;
  background: url(/img/plus-icon2x.png);
  background-size: 100% 100%;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.more-link:after, .more-link:active:after {
  -moz-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.more-link.collapsed:after {
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.faqs-item .faqs-item-question a {
  color: #421F5D;
  display: block;
  margin-top: 30px;
  margin-right: 0;
  padding: 0 50px 0 0;
  font-size: 24px;
  line-height: 1.4;
}
.faqs-item .faqs-item-question a:after {
  top: 0;
  right: 10px;
}

.social-media-icons a  i.fa{
  color: #aa73b1;
}
.starter_kits-title {
margin-top: 10px;
line-height: 1.2em;
}
.starter_kits-price{
  font-family: DidotLTPro-Roman;
  font-weight: normal;
  font-style: normal;
  font-size: 10em;
  color: #53366C;
line-height: 1.2em; /*0.8em;*/
}
.modal_starter_kits-price{
  font-size: 6em;
}
.starter_kits-label_title{
  font-family: HelveticaNeueLTStd-BdCn;
  font-weight: normal;
  font-style: normal;
font-size: 2.65em;
color: #58585A;
line-height: 0.8em;
}
.starter_kits-retail_value{
  font-family: DidotLTPro-Italic;
  font-weight: normal;
  font-style: normal;
font-size: 2em;
color: #C32337;
line-height: 2em; /*0.8em;*/
}

.agreement-content {
  border: 1px solid #f5f5f5;
  box-shadow: inset 0 0 15px 0 rgba(0,0,0,.2);
  padding: 20px;
  max-height: 400px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
}
.section-title{
  text-align: center;
  font-family: DidotLTPro-Roman;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  font-size: 64px;
  color: #482365;
}

.cardImg 
{
	max-height:40px; 
	float:left; 
}

/* join jafra page nav styles */ 
.join_nav  > li > a
{
	text-shadow:none; 
	margin:5px; 
	border-radius: 0px;
	padding: 5px 16px;
}

.join_nav  > li > a:hover , .join_nav  > li > a:focus
{
	background-color:#c52033 !important; 
	color:#fff !important;
} 
.navbar-language > li > a
{
	text-shadow:none; 
	margin:5px;
	border-radius: 0px; 
	
}
.navbar-language > li > a:hover , .navbar-language > li > a:hover
{
	text-shadow:none; 
	margin:5px;
	border-radius: 0px; 
	background-color:#c52033 !important; 
	color:#fff !important;
}
.navbar-language  .dropdown-menu > li > a
{
	color: #aa73b1 ;
}

.navbar-language  .dropdown-menu > li > a:hover
{
	color: #000 ;
	background:#FAEBE6; 
}

.kit-select > li > a
{
	color: #aa73b1 ;
	font-weight:bold; 
}
.kit-select > li > a:hover
{
	background:#FAEBE6;
}
.dropdown-menu > .contact-description 
{
	color: #aa73b1 !important;
	font-weight:normal; 
  text-align: center;
}
.dropdown_jafra {
width: 200px;
}
 .navbar-language > .open > a,  .navbar-language > .open > a:hover,  .navbar-language > .open > a:focus 
{
    background-color: #c52033 !important;
    color: #fff !important;
}

.navbar-language .dropdown-menu 
{
margin-right:5px; 
min-width:131px;
}

.contact-header
{
	min-width:120px; 
}
.contact-header .social_dropdown
{
    max-width: 200px;/* 100px;*/
    margin-left:30px; 
}
.contact-info-well {
padding-top: 5px;
}
.spacer{
	height:55px;
	width:100%;
}

.join #content.checkout {
  background: #fff;
  margin-top: 50px;
}

.join li.active a{
  background-image: none!important;
}


.glyphicon-chevron-right:before 
{
     content: " ";
       
       display:block;
       
       background:url('/img/right-angle-icon2x.png') center center no-repeat;
       background-size: contain;
       
      width:30px;
       height:50px;
}
.glyphicon-chevron-left:before 
{
   content: " ";
      
       display:block;
       
       background:url('/img/lef-angle-icon2x.png') center center no-repeat;
       background-size: contain;
      
       width:30px;
       height:50px;
      }
      
.carousel-control.right
{
  background-image:none; 
}

.carousel .left
{
  background: none;
  pointer-events: none;
}

.carousel .left .glyphicon {
  display: none;
}
.carousel .right {
  cursor: pointer;
}
.carousel-control 
{
  opacity:.5 ; 
  text-decoration:none; 
  outline:0 none; 
  color:#fff;   

}

/*
 * Join Styles
 */

#ctavid{
  padding:22px 2px 0px 36px;
}
.why-section-title{
  text-align:center;
  color:#472264!important;
}
#lipsticksmear{
  position: absolute;
  left: -84px;
  bottom: 70px;
}
#pastelpatches {
  position: absolute;
  top: -46px;
  right: -106px;
}
#liner_black {
  position: absolute;
  right: -60px; 
  top: -50px;
}
.start_inside{
	width:50%; 
	float:left;
padding: 20px;
}
.steps-indicator {
  top: 0;
}
.store-checkout h1 {
  margin-top: 80px;
}

.store-checkout input[type=number]::-webkit-inner-spin-button,
.store-checkout input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body.incheckout .navbar-fixed-top, 
body.incheckout #pagenav.affix {
    min-height: 50px !important;
    position: relative !important;
    top: auto !important;
}
body.incheckout {
    margin: 0 !important;
    padding-top: 0 !important;
}
.whats_inside_button{
	float:right;
}
@media (max-width:990px) {
	.prod_more_link
	{
		text-align:left; 
	}
}

/*  ------ RESPONSIVE BREAKPOINTS ------  */

/* Extra-Small screens like handheld devices (iPhone/Android/etc) */
@media (max-width:400px) {
    .jumbo-title-span-1 {
      font-size: 50px; 
    }
    .jumbo-title-span-2 {
      font-size: 34px;
    }
    .jumbo-title-span-3 {
    }
    .jumbo-title-span-4 {
      font-size: 37px;
    }
    .jumbo-videobg {
      background: none;
      height: 100%;
    }
    p.jumbo-description {
      font-size: 14px;
    }
    
    .jumbotron p.jumboget {
    text-align: center;
    }
    .section-title {
        font-size: 30px;
    }

    .btn-lg, .btn-group-lg > .btn 
    {
     font-size:12px; 
    }
    
    .checkout-card .btn 
    {
      font-size:8px; 
    }
    span.serif-title {
      font-size: 28px;
    }
    section h3.hero-header-title {
      font-size: 43px;
    }
    span.serif-title-alt {
      font-size: 33px;
      line-height: 36px;
    }
      
  	.start_inside{
  		width:100%; 
  	}
    ul.menu_language li a {
      color: #fff;
    }
    
	.social-media-icons .fa{
		font-size:30px;
		text-align:center;
	}
	.contact-header .social_dropdown{
		width:100%;
		max-width: 100%;
	}
	
	.whats_inside_button{
		float:none;
	}

}
@media (min-width:400px) and (max-width:767px) {
	.jumbo-title-span-1 {
	    font-size: 85px;
	}
	.jumbo-title-span-4 {
	    font-size: 60px;
	}
    ul.menu_language li a {
      color: #fff;
    }
	.social-media-icons .fa{
		font-size:30px;
		text-align:center;
	}
	.contact-header .social_dropdown{
		width:100%;
		max-width: 100%;
	}
	footer .nav .open>a{
		background-color:#53366C!important;
	}
}
@media (max-width: 767px) {
    .navbar-fixed-top, #pagenav.affix {
        min-height: 50px;
        position: relative;
        top: auto;
    }
    /*.navbar-collapse {
        max-height: none;
    }*/
    body {
        margin: 0;
        padding-top: 0;
        -webkit-overflow-scrolling: touch;
    }	
    .start_inside{
		width:100%; 
	}
	footer .navbar-nav .open .dropdown-menu{
		background-color:#53366C!important;
	}
}

/* Small screens like netbooks and tablets (iPad/iPad mini/etc) */
@media (min-width:768px) {
	
    .jumbotron {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    footer .navbar-nav{
        margin: 0 auto;
        display: table;
        table-layout: fixed;
        float:none;
    }
	.jumbo-title-span-1 {
	    font-size: 85px;
	}
	.jumbo-title-span-4 {
	    font-size: 60px;
	}
}

/* Medium screens like laptops and smaller desktop monitors */
@media (min-width:992px) {
    .jumbotron {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

/* Large screens like HDTVs and modern desktop monitors */
@media (min-width:1200px) {
    .jumbotron {
        padding-top: 180px;
        padding-bottom: 180px;
    }
}
@media (min-width:900px) and (max-width:1200px){
	#lipsticksmear{
		left:-120px;
	}
  span.your_call {
    font-size: 65px;
  }
  span.product-title1 {
    line-height: 0.6 !important;
    font-size: 30px !important;
  }
  span.product-title2 {
    font-size: 40px !important;
  }
  h3.royal_starter_titles {
    line-height: 0.5 !important;
  }
  h3.starter_kits-price {
    font-size: 5em;
  }
  h3.skincare_header_title {
    margin-top: -39px;
    height: 86px;
  }
  h3.skincare_price {
    height: 77px;
  }
  body.es p.precio_al_publico{
    font-size: 1.9em;
  }
}

