/* style-dk.css */

a:link { text-decoration: none; } /* internet explorer is dumb */

/* beauty of jafra section */
.timeline-photo {
	max-width: 192px;
	margin-top: -84px;
}
.timeline-photo img {
	border-radius: 50%;
	border: 4px solid #c2c2c2;
}
.timeline-description {
	width: 50%;
	margin: 0 auto !important;
	margin-top: 26px !important;
}
.legacy_wrapper {
	height: 20px;
	margin-top: 20px;
}
#more_freedom {
	margin-top: 20px;
}
.hero-header-title-freedom_flexibility {
	text-transform: uppercase;
}
section#freedom_flexibility .section-copy_bound_box,
section#freedom_flexibility div.subcontainer {
	background: none;
	border-color: #460d66;
}
.freedom_flexibility_description {
	font-size: 22px;
	line-height: 1.6em;
	color: #787878;
}
.freedom_flexibility_description b {
	font-weight: normal;
	color: #222;
}
#freedom_flexibility {
	background-image: url(/img/worldmap_bg.jpg);
	background-repeat: no-repeat;
	background-position: 50% 200px;
	background-size: 1260px;
	margin-top: 40px;
}
#freedom_flexibility .more-link {
	margin-bottom: 25px
}
section#freedom_flexibility.expanded .more-link {
	margin-bottom: 0px;
}

section#freedom_flexibility div.subcontainer {
	margin-bottom: -1px;
}
section#freedom_flexibility.expanded div.subcontainer {
	margin-bottom: 50px;
}

/* products section */
section#why_jafra_products #more_products {
	background-size: 931px;
	background-position: 254px 60%;
}
section#why_jafra_products {
	z-index: 1;
}

/* testimonials section */
#why_jafra_testimonials .subcontainer {
	background: none;
	border: 1px solid #460d66;
	border-top-color: #ededed;
	margin-top: -1px;
}


/* dains helpers */
.padbottom { padding-bottom: 30px; }
.padtop { padding-top: 30px; }
.padleft { padding-left: 30px; }
.padright { padding-right: 30px; }