.navbar-brand {
  height: 50px;
}

/* custom fonts */

.HelveticaNeueLTStd-Th { 
  font-family: HelveticaNeueLTStd-Th;
  font-weight: normal;
  font-style: normal;
}
.HelveticaNeueLTStd-Md { 
  font-family: HelveticaNeueLTStd-Md;
  font-weight: normal;
  font-style: normal;
}
.DidotLTPro-Roman { 
  font-family: DidotLTPro-Roman;
  font-weight: normal;
  font-style: normal;
}
.DidotLTPro-Italic { 
  font-family: DidotLTPro-Italic;
  font-weight: normal;
  font-style: normal;
}
.HelveticaNeueLTStd-BdCn { 
  font-family: HelveticaNeueLTStd-BdCn;
  font-weight: normal;
  font-style: normal;
}

/* end custom fonts */


html,body {
  height: 100%;
}
body {
  padding-top: 50px;
  padding-bottom: 20px;
  position: relative; /* needed for scrollspy */
}
body.landing-page {
  font-size: 16px;
  line-height: 1.2;
}

a.watch-video-link{
  color: #877650;
  float: right;
  font-weight: bold;
}
a.watch-video-link:hover {
  color: #b51a8a;
  text-decoration: none;
}

a.watch-video-link span.glyphicon-play {
color: #482365;
}

.btn {
font-size: 0.9em;
padding: 0.3em 1em;
background: #c52033;
opacity: 0.7;
text-transform: uppercase;
font-weight: bold;
letter-spacing: 0.25em;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: DidotLTPro-Roman, serif;
  font-weight: 400;
  color: #2a2a2a;
}
video#bgvid {
  position: fixed; right: 0; top: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background: url(/img/polina.jpg) no-repeat;
  background-size: cover;
}
#content {
  background-color: #ededed;
  width: 100%;
}
.contact-description{
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

/*this is to allow Placeholder text fade to lighter shade of grey text when input box is selected */
input:focus::-webkit-input-placeholder {
    color: #e1e1e1;
}
/* Firefox < 19 */
input:focus:-moz-placeholder {
    color: #e1e1e1;
}
/* Firefox > 19 */
input:focus::-moz-placeholder {
    color: #e1e1e1;
}
/* Internet Explorer 10 */
input:focus:-ms-input-placeholder {
    color: #e1e1e1;
}

#logo img {
  max-width: 70px;
}
.navbar-default .navbar-nav>li>a {
  color:#fff;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
color: #fff;
border-radius: 0px;
/* border: 3px solid #c52033;*/
background-color: #c52033;
}
.navbar-joinstyle {
background-color: #1cc3d6;
border-radius: 0px;
}
.well {
  background-color: #f5f5f5;
}
.product-highlighter {
  border: 5px solid #AA7F9E;
  position: relative;
  background-color: #E9E8E9;
}
#pagenav {
  margin-bottom: 0;
  background: none;
  border-bottom: 1px solid #53366C;
  margin-top: -50px;
  background: #53366C;
}

#pagenav.affix {
  position: fixed;
  top: 0;
  width: 100%;
  margin-top: 0;
  z-index: 100;
}
#pagenav .navbar-default .navbar-nav>.active>a, 
#pagenav .navbar-default .navbar-nav>.active>a:hover, 
#pagenav .navbar-default .navbar-nav>.active>a:focus {
  background: none;
}
.jumbotron {
  padding-top: 180px;
  padding-bottom: 180px;
/*  padding-top: 20vh;
  padding-bottom: 20vh;*/
  background: url(/img/model_2.jpg);/*url(/img/herobg-1920x1080.jpg);*/
  background-size: cover;
}
#jumbo-title{
background: rgba(255, 255, 255, 0.3);
}
#jumbo-description {
background: rgba(72, 35, 101, 0.5);
color: #fff;
font-family: myriad pro;
padding: 20px;
}
.jumbo-videobg {
  background: none;
  height: 100%;
}

/*section#why_jafra_products, section#why_jafra_lifestyle, section#why_jafra_rewards, section#why_jafra_testimonials, section#royal_starter_kit, section#skincare_starter_kit, section#faqs{
  background-color: #fff;
  margin-right: 0px;
  margin-left: 0px;
}*/

.subcontainer, .subsection {
  background: #fff;
}
.subcontainer {
  position: relative;
}
.subcontainer:before {
  content:" ";
  display: block;
  position: absolute;
  bottom: -18px;
  width: 120%;
  height: 18px;
  left: -10%;
  background: -webkit-radial-gradient(50% -3%, ellipse cover, rgba(00, 00, 00, 0.25), rgba(97, 97, 97, 0.0) 40%);
  background:      radial-gradient(ellipse at 50% -3%, rgba(00, 00, 00, 0.25), rgba(97, 97, 97, 0.0) 40%);
}

section#why_jafra_products {
  background: #e0dbcf;
}

section#why_jafra_lifestyle {
  background: #cac0d3;
}

section#why_jafra_rewards {
  background: #faebe6;
}

section#why_jafra_testimonials {
  /*background: #ededed; -- body background color -- */
}

section h3.hero-header-title {
  font-size: 4.5em;
  font-weight: bold;
}

section h3.hero-header-title span.serif-title {
  font-family: Georgia, serif;
  font-weight: normal !important;
  text-transform: lowercase;
}

section a.more-link{
  color: #877650;
  float: right;
  font-weight: bold;
}
section a.more-link:hover {
  color: #b51a8a;
  text-decoration: none;
}

section a.more-link span.glyphicon-plus {
color: #482365;
}


span#live {
  color: #6A5077;
  font-size: 102px; /*TODO: to later refactor to mobile/tablet sizes*/
}
span#you {
  color: #A08B6A;
line-height: 0.8;
}
span#imagine {
  color: #6B517C;
font-size: 75px;
line-height: 0.8;
}


.agreement-content {
  border: 1px solid #f5f5f5;
  box-shadow: inset 0 0 15px 0 rgba(0,0,0,.2);
  padding: 20px;
  max-height: 400px;
  overflow: scroll;
}